.article-title {
  margin: 24px 0 0;

  @include tablet-up {
    margin: 30px 0 0;
  }
}

.article-title__overline {
  margin: 0 0 1px;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .5px;
  color: $color-accentuation-red;
  display: block;

  @include tablet-up {
    margin: 0 0 3px;
  }
}

.article-title__text {
  margin: 1px 0 13px;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: .2px;

  font-weight: 400;
  font-family: $font-regular;
  font-feature-settings: "salt";
  color: $color-text-default;
  display: block;

  @include tablet-up {
    margin: 3px 0 18px;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: .2px;
  }
}
