.article-author {
  margin: 16px 0;

  @include smartphone {
    margin: 8px 0;
  }
}

.article-author--short {
  margin-top: 36px;
  @include article-text-padding;

  @include smartphone {
    margin-top: 30px;
  }
}

.article-author__name {
  margin: 0;
  font-family: $font-regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .5px;
  color: $color-text-default;
}

.article-author--short .article-author__name {
  font-family: $font-light;
}

.article-author__date {
  margin: 0;
  font-family: $font-system;
  font-size: 12px;
  line-height: 16px;
  color: $color-text-light;
}

.article-author__date-update {
  display: block;
}
