@import "../../variables";
@import "../../mixins";

.article-author {
  display: block;
  margin: 17px 0 26px;

  @include tablet-up {
    margin: 22px 0 20px;
  }
}

.article-author__name {
  margin: 0;
  font-family: $font-regular;
  @include fontSize(14);
  color: $color-srf-warmgrey-1100;
}

.article-author__date {
  display: block; /* OVERRIDE CRITICAL CSS */
  min-height: 16px;
  margin: 0;
  font-family: $font-regular;
  @include fontSize(12);
  line-height: $secondary-line-height-ratio;
  color: $color-srf-warmgrey-800;
}

.article-author__date-update {
  display: block;
  min-height: 16px;
}

.article-author__shimmer {
  display: none; /* OVERRIDE CRITICAL CSS */
}

.article-author--short {
  margin-top: 30px;
  @include article-text-padding;

  @include tablet-up {
    margin-top: 36px;
  }

  .article-author__name {
    font-family: $font-light;
  }
}
