<h1 class="article-title">
    <span class="article-title__overline">{{ articleHeader.kicker }}</span>
    <span class="h-offscreen" aria-hidden="true" role="presentation"> - </span>
    <span class="article-title__text">{{ articleHeader.title }}</span>
</h1>
