.article-title {
  margin: 12px 0 8px;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: .2px;

  font-weight: 400;
  font-family: $font-regular;
  color: $color-text-default;

  @include tablet-up {
    margin: 16px 0 12px;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: .2px;
  }
}

.article-title__overline {
  margin: 24px 0 12px;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .5px;
  color: $color-accentuation-red;
  display: block;

  @include tablet-up {
    margin: 32px 0 16px;
  }
}
