@import "../../variables";
@import "../../mixins";

.article-title {
  margin: (24px - $breadcrumb-touch-area-expansion) 0 0;

  @include tablet-up {
    margin: (30px - $breadcrumb-touch-area-expansion) 0 0;
  }
}

.article-title__overline {
  margin: 0 0 1px;
  font-family: $font-regular;
  @include fontSize(14);
  color: $color-accentuation-red;
  display: block;

  @include tablet-up {
    margin: 0 0 3px;
    @include fontSize(16);
  }
}

.article-title__text {
  margin: 1px 0 13px;
  @include fontSize(32);
  line-height: 40px;

  font-weight: 400;
  font-family: $font-regular;
  font-feature-settings: "salt";
  color: $color-text-default;
  display: block;

  @include tablet-up {
    margin: 3px 0 18px;
    @include fontSize(36);
    line-height: 43px;
  }
}
