<div class="article-author">
    <p class="article-author__name"><span class="h-offscreen">{{ 'Autor: ' }}</span>{{ articleAuthor.name }}</p>
    <p class="article-author__date">
        <time datetime="2017-10-22 19:33">Sonntag, 22.10.2017, 19:33&nbsp;Uhr</time>
        <time class="article-author__date-update" datetime="2017-10-22 20:53">Aktualisiert um 20:53&nbsp;Uhr</time>
    </p>
</div>