<h1 class="article-title">
    <p class="article-title__overline">{{ articleHeader.kicker }}</p>
    <span class="h-offscreen" aria-hidden="true"> - </span>
    <span class="article-title__font-stylistic">{{ articleHeader.title }}</span>
</h1>
