@import '../../variables';
@import '../../mixins';

.content-heading {
  margin: 32px 0 12px;
  font-family: $font-medium;
  @include fontSize(24);
  line-height: $emphasize-line-height-ratio;
  color: $color-srf-warmgrey-1100;

  @include article-text-padding;

  @include smartphone {
    margin: 24px 0 12px;
    @include fontSize(22);
    line-height: $secondary-line-height-ratio;
  }
}

.content-heading--table-heading {
  @include fontSize(20);
  line-height: $secondary-line-height-ratio;

  @include smartphone {
    @include fontSize(18);
    line-height: $default-line-height-ratio;
  }
}

.content-heading--box-title {
  margin: 0;
  padding: 0;
  font-family: $font-medium;
  @include fontSize(18);

  @include tablet-up {
    @include fontSize(20);
  }
}
