@import "../../variables";
@import "../../mixins";

.infoline {
  font-family: $font-regular;
  @include fontSize(12);
  line-height: $emphasize-line-height-ratio;
  color: $color-text-light;
  margin: 8px 0;
  padding: 0;
}

.infoline--nospacing {
  margin: 0;
}

.infoline-source {
  text-transform: uppercase;
}
