@import "../../variables";
@import "../../mixins";

.person-details {
  flex: 1 1 auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 0 12px;
}

.person-details__name,
.person-details__function {
  margin: 0;
  font-family: $font-regular;
  line-height: $emphasize-line-height-ratio;
}

.person-details__name {
  @include fontSize(14);
  color: $color-srf-warmgrey-1100;
}

.person-details__function {
  @include fontSize(12);
  color: $color-srf-warmgrey-800;
}
