.tooltip {
  position: relative;
  display: inline-block;
  padding: 6px 8px;

  font-family: $font-regular;
  @include fontSize(12);
  line-height: $secondary-line-height-ratio;

  box-shadow: $shadow-elevation2;
  border-radius: 2px;
  background-color: $color-srf-neutral-white;
  white-space: nowrap;
}

.tooltip-arrow {
  position: absolute;
  background-color: $color-srf-neutral-white;
  left: 50%;
  bottom: -3px;
  margin-left: -4px;

  border: 4px solid $color-srf-neutral-white;
  border-color: transparent transparent $color-srf-neutral-white $color-srf-neutral-white;

  box-shadow: -2px 2px 2px 0 $color-srf-neutral-blacka18;

  transform: rotate(-45deg);
}
