.chart {
  width: 100%;
  height: 437px;
  background-color: rgba(235,235,229,1);

  &.line {
    height: 700px;
  }

  &.pie {
    height: 600px;
  }
}

.chart__container {
  margin: 32px 0;
  background-color: rgba(245,245,242,1);

  @include smartphone {
    margin: 24px 0;
  }
}

.amcharts-legend-div {
  font-weight: 700;
}

.amcharts-legend-value {
  font-weight: 400;
}
