{# TODO: move scripts! #}
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>

<figure class="chart__container">
    <div id="chartdiv__id--column" class="chart" data-src="../../assets/demo/chart-data-column.json"></div>
    {% include 'atoms-media-caption-with-image' %}
</figure>

<figure class="chart__container">
    <div id="chartdiv__id--pie" class="chart" data-src="../../assets/demo/chart-data-pie.json"></div>
    {% include 'atoms-media-caption' %}
</figure>

<figure class="chart__container">
    <div id="chartdiv__id--line" class="chart" data-src="../../assets/demo/chart-data-line.json"></div>
    {% include 'atoms-media-caption-with-image' %}
</figure>