.chart {
  background-image: radial-gradient(circle farthest-corner, #faf0e1, #ddd6cc);
  width: 100%;
  height: 437px;

  &.line {
    height: 700px;
  }

  &.pie {
    height: 600px;
  }
}

.chart__container {
  margin: 32px 0;

  @include smartphone {
    margin: 24px 0;
  }
}

.amcharts-legend-div {
  font-weight: 700;
}

.amcharts-legend-value {
  font-weight: 400;
}
