@import "../../variables";


.media-window-container--video-gallery {
  position: relative;
  margin: 24px 0;
  padding: 0 20px 12px;
  background-color: $color-srf-warmgrey-25;

  @include smartphone {
    overflow: hidden;
  }

  @include tablet-up {
    margin: 32px 0;
    padding: 0 64px 12px;
  }

  @include desktop-up {
    padding: 0 62px 12px;
  }

  &.media-window--playing {
    .media-window::after { // dreieckli
      border-bottom: solid 10px $color-srf-warmgrey-25;
    }
  }
}

.media-window { // fullwidth
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: -24px;
  margin-left: -24px;
  background-color: $color-srf-neutral-1000;
  outline: none;

  @include fullwidth-container;
}

.media-window__player {
  height: 0; // initial ...
  visibility: hidden;
  opacity: 0;
  transition: height 0.3s linear; // no easing here so that this animation is in sync with the js positioning animation
}

.media-window__close {
  display: none;
}

.media-window--playing {
  position: relative;

  .media-window { // fullwidth
    &::after { // dreieckli
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
      border-bottom: solid 10px $color-srf-neutral-white;
    }
  }

  .media-window__close { // [x]
    position: absolute;
    width: 20px;
    height: 20px;
    top: 16px;
    // smartphone:
    right: 12px;
    background: transparent url("../img/close-sprite.svg") no-repeat;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: block;
    z-index: 1;

    // increasing the touch area of the button
    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
    }

    @include tablet-up {
      top: 20px;
      right: calc(50% - 328px);
      background-size: 20px;
    }

    @include desktop-up {
      top: 24px;
      right: 24px;
    }

    &:hover,
    &:active,
    &:focus {
      outline: none;
      background-position: 0 -24px;
      @include tablet-up {
        background-position: 0 -30px;
      }
    }
  }

  .media-window__player { // player container
    height: 448px;

    @include smartphone {
      height: calc(56.25vw + 90px);
      width: 100%;
    }

    @include desktop-wide {
      height: 492px;
    }
  }

  iframe { // the player
    @include smartphone {
      padding: 48px 0 42px;
    }

    @include tablet-up {
      top: 0;
      width: 656px;
      height: calc(100% - 80px);
      margin: 56px auto 24px;
    }
    @include desktop-up {
      width: 712px;
      height: calc(100% - 48px);
      margin: 24px auto;
    }
    @include desktop-wide {
      width: 790px;
    }
  }
}

.media-window__player--visible {
  visibility: visible;
  opacity: 1; // safari doesn't get visibility !!
}
