@import "../../variables";
@import "../../mixins";

.blockquote {
  margin: 32px 0;
  @include fontSize(22);

  font-family: $font-serif;
  color: $color-srf-warmgrey-1100;

  @include article-text-padding;

  @include tablet-up {
    margin: 48px 0;
    @include fontSize(24);
  }
}

.blockquote--article-indentation {
  @include article-element-indentation;
}

.blockquote__quote {
  display: inline-block;
}

.blockquote__text::after {
  content: '\00a0»';
  color: $color-srf-red-600;
}

.blockquote__text::before {
  content: '«\00a0';
  color: $color-srf-red-600;
}

.blockquote__author {
  margin-top: 12px;

  display: block;
  font-family: $font-regular;
  @include fontSize(14);
  color: $color-srf-warmgrey-1100;

  @include tablet-up {
    margin-top: 8px;
  }
}
.blockquote__function {
  font-family: $font-regular;
  @include fontSize(12);
  line-height: $secondary-line-height-ratio;
  color: $color-srf-warmgrey-800;
  display: block;
}
