@import "../../variables";

.blockquote {
  margin: 32px 0;
  font-size: 22px;

  font-family: $font-serif;
  letter-spacing: .3px;
  color: $color-text-default;

  @include article-text-padding;

  @include tablet-up {
    margin: 48px 0;
    font-size: 24px;
  }
}

.blockquote--article-indentation {
  @include article-element-indentation;
}

.blockquote__quote {
  display: inline-block;
}

.blockquote__text::after {
  content: '\00a0»';
  color: $color-accentuation-red;
}

.blockquote__text::before {
  content: '«\00a0';
  color: $color-accentuation-red;
}

.blockquote__author {
  margin-top: 12px;

  display: block;
  font-family: $font-regular;
  font-size: 14px;
  letter-spacing: .5px;
  color: $color-text-default;

  @include tablet-up {
    margin-top: 8px;
  }
}
.blockquote__function {
  font-family: $font-system;
  font-size: 12px;
  line-height: 16px;
  color: $color-text-light;
  display: block;
}
