<a class="article-video__link" href="{{ video.player_url }}/srf/popup?urn={{ video.urn }}&autoplay=true" role="link">
    <figure class="article-video {{ styleModifierMain }}">
        {% include 'molecules-video-image-figure' with { 'styleModifier': styleModifier, 'images': [images[2]] } %}
        {% include 'molecules-media-caption-video' with { 'styleModifier': styleModifier } %}
    </figure>
</a>
