{% if 'RelatedEpisodes' in styleModifier %}
    <div class="article-video__wrapper">
        {% include 'atoms-image' with {
            'styleModifier': styleModifier,
            'alt': 'Video «' ~ video.title ~ '» abspielen',
            'sizes': '100vw',
            'image': {
                'sources': video.img_srcset
            },
            'src': video.img_src
        } %}

        {% include 'atoms-play-icon' with { 'media': 'video' } %}
    </div>
{% else %}
    <figure class="image-figure {{ styleModifier }}">
        {% include 'atoms-image' with {
            'styleModifier': styleModifier == 'video--playing' ? 'article-video__player' : '',
            'alt': 'Video «' ~ video.title ~ '» abspielen',
            'sizes': '100vw',
            'image': {
                'sources': video.img_srcset
            },
            'src': video.img_src
        } %}

        {% include 'molecules-play-icon-with-runtime' with { 'media': 'video', 'runtime': video.length } %}
    </figure>
{% endif %}
