@import "../../variables";
@import "../../mixins";

/* smaller devices treat embed components like full-width containers */
.carousel-container {
  /* overwrite in component; components in loading state have a grey background */
  background-color: $color-srf-warmgrey-100;
  @include smartphone {
    width: 100%;
    position: relative;
  }
}

.carousel-title {
  font-family: $font-medium;
  @include fontSize(18);
  margin: 24px 0 -16px; // carrousels already have a top-margin of 24px
  padding: 0 $article-offset;

  @include tablet-up {
    @include fontSize(20);
    margin: 32px 0 -20px; // carrousels already have a top-margin of 32px
  }
}

.carousel {
  position: relative;
  width: 100%;
  max-width: none; /* OVERRIDE CRITICAL CSS */
  background-color: $color-srf-warmgrey-25;
  overflow: hidden;
  margin: 32px 0;

  @include smartphone {
    margin: 24px 0;
  }

  .image-figure {
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
  }

  .image-figure__image {
    background-color: $color-srf-neutral-black;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: contain;
    min-width: 100%;
    width: 1px;
  }

  .image {
    background: $color-srf-neutral-blacka80;
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-top: 75%;
    }
  }

  .slick-disabled {
    display: none !important; // hide from screenreader // TODO: There is a better way!
  }

  .slick-track {
    display: flex;
    flex-direction: row;
  }
}


.carousel-container--fullwidth-element {
  position: relative;
  overflow: hidden;
  background-color: $color-srf-neutral-1000;
  &.carousel-container--initialized {
    height: auto;
    padding-top: 0;
    &::after {
      display: block;
    }
  }

  &::after {
    content: '';
    z-index: 0;
    position: absolute;
    top: 547px;
    right: 0;
    left: 0;
    height: 512px;
    background-color: $color-srf-warmgrey-25;
  }

  .carousel {
    max-width: 1023px;
    margin: 0 auto;
    z-index: 1;
    @include desktop-up {
      max-width: 728px;
    }
  }
}

.carousel__item {
  position: relative;
  float: left;

  &:focus {
    outline: none;
  }
}

.carousel__link--prev,
.carousel__link--next {
  position: absolute;
  height: 64px;
  width: 40px;
  top: 37.5vw;
  transform: translate(0, -50%);
  padding: 0; // reset default button style
  background-color: transparent; // reset default button style
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 24px;
  border: 8px solid transparent;
  display: block;
  box-sizing: content-box;
  cursor: pointer; // reset default button style
  // z-index: 100;
  transition: background-color .2s ease;
  -moz-background-clip: content;
  -webkit-background-clip: content;
  background-clip: content-box;

  @include tablet-up {
    top: 50%;
    width: 56px;
    height: 96px;
    margin-top: -48px;
    background-size: 28px;
  }
  @include desktop-up {
    top: 267px;
  }
  &:hover {
    background-color: $color-srf-neutral-blacka48;
  }

  &:active {
    background-color: $color-srf-neutral-blacka80;
  }

  &.untouched {
    background-color: transparent;
  }
}

.carousel__link--prev {
  left: 0;
  background-image: url('../../../assets/img/carousel/previous.svg');
  border-radius: 0 15px 15px 0;
  border-width: 12px 12px 12px 0; // <= kompromiss: schoene runde ecken UND extended touch area :(
  z-index: 1; // so the thing is visible "behind" the gallery
}

.carousel__link--next {
  right: 0;
  background-image: url('../../../assets/img/carousel/next.svg');
  border-radius: 15px 0 0 15px;
  border-width: 12px 0 12px 12px; // kompromiss :)

  &.carousel__link--waggle {
    @include sickAnimation {
      animation: waggleRightAnimation 1.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      animation-iteration-count: infinite;
    }
  }
}
