@import "../../variables";
@import "../../breakpoints";
@import "../../mixins";

.sharing-bar {
  margin-top: 26px;
  margin-bottom: 24px;
  width: 100%;
  background-color: transparent;
  text-align: center;

  @include tablet-up {
    margin-top: 24px;
    margin-bottom: 32px;
  }
}

.sharing-bar__container {
  padding: 0 10px;
  background-color: $color-bg-card;
  margin: 0 auto;
  display: inline-block;
  position: relative;

  @include smartphone {
    padding: 0 12px;
  }
}

.sharing-bar__summary {
  @include fontSize(12);
  font-family: $font-regular;
  line-height: $secondary-line-height-ratio;
  text-align: center;
  color: $color-text-light;

  b {
    color: rgba(34,33,29,1);
  }

}

.sharing-bar__button {
  // 48px x 48px
  width: 40px;
  height: 40px;
  margin: 4px 6px;
  float: left;
  @include fontSize(10);
  font-family: $font-bold;
  line-height: $emphasize-line-height-ratio;
  text-align: center;
  color: rgba(34,33,29,1);
  border: none;

  // Make hover area circled so corners don't trigger mouseenter/hover
  border-radius: 50%;
  cursor: pointer;

  @include smartphone {
    margin: 4px;
  }
}

.sharing-bar__button:hover,
.sharing-bar__button:active,
.sharing-bar__button:focus {
  opacity: .84;
  outline: none;
  border: none;
  color: rgba(34,33,29,1);
}

.sharing-bar__button--facebook {
  background-image: url('../img/share/icon_share_facebook.svg');
}

.sharing-bar__button--twitter {
  background-image: url('../img/share/icon_share_twitter.svg');
}

.sharing-bar__button--whatsapp {
  display: none;
  background-image: url('../img/share/icon_share_whatsapp.svg');

  @include smartphone {
    display: inline-block;
  }
}

.sharing-bar__button--comment {
  background-image: url('../img/share/icon_share_comments.svg');
  line-height: 39px;
}

.sharing-bar__button--comment-android {
  line-height: 41px;
}

.sharing-bar__button--comment-zero {
  background-image: url('../img/share/icon_share_comments_zero.svg');
}
