<div class="sharing-bar">
    {% include 'atoms-horizontal-separator' with {'styleModifier': 'horizontal-separator--withcontent horizontal-separator--content-max-width'} %}
    <div class="sharing-bar__container">
        <div class="sharing-bar__button sharing-bar__button--facebook"
             data-tooltip-toggle="top"
             data-tooltip-content="Bei Facebook teilen"
             role="button" tabindex="0">
            <span class="h-offscreen">Bei Facebook teilen (externer Link, Popup)</span>
        </div>
        <div class="sharing-bar__button sharing-bar__button--twitter"
             data-tooltip-toggle="top"
             data-tooltip-content="Bei Twitter teilen"
             role="button" tabindex="0">
            <span class="h-offscreen">Bei Twitter teilen (externer Link, Popup)</span>
        </div>
        <div class="sharing-bar__button sharing-bar__button--whatsapp"
             data-tooltip-toggle="top"
             data-tooltip-content="Mit Whatsapp teilen"
             role="button" tabindex="0">
            <span class="h-offscreen">Mit Whatsapp teilen</span>
        </div>
        <div class="sharing-bar__button sharing-bar__button--comment"
             data-tooltip-toggle="top"
             data-tooltip-content="Kommentare anzeigen"
             role="button" tabindex="0">
            <span class="h-offscreen">Kommentare anzeigen</span>
        </div>
    </div>
    <div class="sharing-bar__summary">
        Dieser Artikel wurde <b>21</b>-mal geteilt
    </div>
</div>