<div class="sharing-bar">
    {% include 'atoms-horizontal-separator' with {'styleModifier': 'horizontal-separator--withcontent'} %}
    <div class="sharing-bar__container">
        <a class="sharing-bar__button sharing-bar__button--facebook"
             data-tooltip-toggle="top"
             data-tooltip-content="Bei Facebook teilen"
             role="link" tabindex="0">
            <span class="h-offscreen">Bei Facebook teilen (externer Link, Popup)</span>
        </a>
        <a class="sharing-bar__button sharing-bar__button--twitter"
             data-tooltip-toggle="top"
             data-tooltip-content="Bei Twitter teilen"
             role="link" tabindex="0">
            <span class="h-offscreen">Bei Twitter teilen (externer Link, Popup)</span>
        </a>
        <a class="sharing-bar__button sharing-bar__button--whatsapp"
             data-tooltip-toggle="top"
             data-tooltip-content="Mit Whatsapp teilen"
             role="link" tabindex="0">
            <span class="h-offscreen">Mit Whatsapp teilen</span>
        </a>
        <a class="sharing-bar__button sharing-bar__button--comment"
             data-tooltip-toggle="top"
             data-tooltip-content="Kommentare anzeigen"
             role="link" tabindex="0">
            <span class="h-offscreen">Kommentare anzeigen</span>
        </a>
    </div>
    <div class="sharing-bar__summary">
        Dieser Artikel wurde <b>21</b>-mal geteilt
    </div>
</div>