.rating-wrapper {
  margin: 32px 0;

  @include smartphone {
    margin: 24px 0;
  }

  .image-figure__image {
    background-color: #222222;
  }
}

.ratingstars {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position: relative
}

.ratingstars-list .ratingstars__star {
  cursor: pointer
}

.is-submitted .ratingstars-list .ratingstars__star {
  cursor: default;
  pointer-events: none
}

.ratingstars__elem {
  margin: 0;
  padding: 0;
  float: left
}

// overwrite
.ratingstars__elem::before {
  content: none
}

// overwrite
.ratingstars__checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1
}

.ratingstars__star {
  width: 45px;
  height: 45px;
  padding: 4px;
  fill: rgb(185, 183, 173);
  border-radius: 1em
}

.ratingstars__star:hover,
.ratingstars__star.is-hover {
  fill: rgb(159, 156, 144)
}

.star-half {
  fill-opacity: 0
}

.star-half.is-active {
  fill: rgb(34, 33, 29);
  fill-opacity: 1
}

.is-animated .ratingstars__star {
  animation: ratingAnime1 linear .4s; /* if you change animation duration, you should also change the delay in srf-ratings.js inside $elem.on('animationstart')… */
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  transform-style: preserve-3d;
}

.is-animated .ratingstars__star--1 {
  animation-name: ratingAnime1;
  animation-delay: .4s
}

.is-animated .ratingstars__star--2 {
  animation-name: ratingAnime2;
  animation-delay: .45s
}

.is-animated .ratingstars__star--3 {
  animation-name: ratingAnime3;
  animation-delay: .5s
}

.is-animated .ratingstars__star--4 {
  animation-name: ratingAnime4;
  animation-delay: .55s
}

.is-animated .ratingstars__star--5 {
  animation-name: ratingAnime5;
  animation-delay: .6s
}

.ratingstars__star.is-active {
  fill: rgb(201, 17, 37)
}

.resultWording {
  visibility: hidden;
  opacity: 0;
  font-size: 14px;
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  transition: all .4s linear .6s
}

.resultWording.is-animated {
  visibility: visible;
  opacity: 1
}

.ratings-wrapper {
  position: relative;
  background-color: $color-bg-box;
  padding: 18px 16px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  overflow: hidden
}

.ratings-wrapper .poll-option-label__title,
.ratings-wrapper .poll-option-label__description {
  margin-left: 0;
  flex: 1 0 auto;
}

.is-visible {
  .resultWording {
    opacity: 1;
    visibility: visible;
    transition: none;
  }
}