<style>
    .demo-grid {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .demo-grid > div {
        flex-basis: 32%;
        min-width: 320px;
    }
</style>


<h2>For all sports</h2>
<div class="demo-grid">
    <div>
        <h3>Pre-Live</h3>

        {% include 'molecules-scoreboard' with {
            "caption": "Spielstand",
            "competitorCaption": "Spieler/in",
            "competitors": [
                {
                    "name": "Nicole Prascovia Elikolani Valiente Scherzinger",
                    "emblem": "../../assets/demo/img/emblems/SUI.png",
                    "emblemAlt": "SUI"
                }, {
                    "name": "Pierre-Huegues Herbert",
                    "emblem": "../../assets/demo/img/emblems/FRA.png",
                    "emblemAlt": "FRA"
                },
            ]
        } %}
    </div>
</div>


<h2>Tennis</h2>
<div class="demo-grid">
    <div>
        <h3>Live</h3>

        {% include 'molecules-scoreboard' with {
            "caption": "Spielstand",
            "competitorCaption": "Spieler/in",
            "competitors": [
                {
                    "name": "Nicole Prascovia Elikolani Valiente Scherzinger",
                    "emblem": "../../assets/demo/img/emblems/SUI.png",
                    "emblemAlt": "SUI",
                    "scores": [
                        {
                            "value": 6,
                            "modifier": ""
                        }, {
                            "value": 6,
                            "modifier": "score--winner",
                            "supplementTitle": "Tie break points",
                            "supplementScore": 7
                        }, {
                            "value": 6,
                            "modifier": "score--live"
                        }
                    ]
                }, {
                    "name": "Pierre-Huegues Herbert",
                    "emblem": "../../assets/demo/img/emblems/FRA.png",
                    "emblemAlt": "FRA",
                    "scores": [
                        {
                            "value": 6,
                            "modifier": "score--winner"
                        }, {
                            "value": 6,
                            "modifier": "",
                            "supplementTitle": "Tie break points",
                            "supplementScore": 7
                        }, {
                            "value": 6,
                            "modifier": "score--winner score--live"
                        }
                    ]
                },
            ],
            "scoreTitles": [
                "1. Satz",
                "2. Satz",
                "3. Satz"
            ]
        } %}
    </div>
    <div>
        <h3>Post-Live</h3>
        {% include 'molecules-scoreboard' with {
            "caption": "Spielstand",
            "competitorCaption": "Spieler/in",
            "competitors": [
                {
                    "name": "Nicole Prascovia Elikolani Valiente Scherzinger",
                    "emblem": "../../assets/demo/img/emblems/SUI.png",
                    "emblemAlt": "SUI",
                    "modifier": "scoreboard__competitor--winner",
                    "scores": [
                        {
                            "value": 6,
                            "modifier": ""
                        }, {
                            "value": 6,
                            "modifier": "score--winner",
                            "supplementTitle": "Tie break points",
                            "supplementScore": 7
                        }, {
                            "value": 6,
                            "modifier": "score--winner"
                        }
                    ]
                }, {
                    "name": "Pierre-Huegues Herbert",
                    "emblem": "../../assets/demo/img/emblems/FRA.png",
                    "emblemAlt": "FRA",
                    "scores": [
                        {
                            "value": 6,
                            "modifier": "score--winner"
                        }, {
                            "value": 6,
                            "modifier": "",
                            "supplementTitle": "Tie break points",
                            "supplementScore": 7
                        }, {
                            "value": 6,
                            "modifier": ""
                        }
                    ]
                },
            ],
            "scoreTitles": [
                "1. Satz",
                "2. Satz",
                "3. Satz"
            ]
        } %}
    </div>
</div>

<br><br>

<h2>Ski alpin</h2>

<div class="demo-grid">
    <div>
        <h3>Live</h3>
        {% include 'molecules-scoreboard' with {
            "caption": "Führende Rennfahrer",
            "competitorCaption": "Rennfahrer",
            "competitors": [
                {
                    "name": "Lara Gut",
                    "emblem": "../../assets/demo/img/emblems/SUI.png",
                    "emblemAlt": "SUI",
                    "rank": "1.",
                    "scores": [
                        {
                            "value": "2:23.02",
                            "modifier": "score--live"
                        }
                    ]
                }, {
                    "name": "Mikaela Shiffrin",
                    "emblem": "../../assets/demo/img/emblems/USA.png",
                    "emblemAlt": "USA",
                    "rank": "2.",
                    "scores": [
                        {
                            "value": "+ 1.44",
                            "modifier": "score--live"
                        }
                    ]
                }, {
                    "name": "Marta Bassino",
                    "emblem": "../../assets/demo/img/emblems/ITA.png",
                    "emblemAlt": "ITA",
                    "rank": "3.",
                    "scores": [
                        {
                            "value": "+ 1.93",
                            "modifier": "score--live"
                        }
                    ]
                },
            ],
            "scoreTitles": [
                "Zeitmessung"
            ]
        } %}
    </div>
    <div>
        <h3>Post-Live</h3>
        {% include 'molecules-scoreboard' with {
            "caption": "Führende Rennfahrer",
            "competitorCaption": "Rennfahrer",
            "competitors": [
                {
                    "name": "Lara Gut",
                    "emblem": "../../assets/demo/img/emblems/SUI.png",
                    "emblemAlt": "SUI",
                    "modifier": "scoreboard__competitor--winner",
                    "rank": "1.",
                    "scores": [
                        {
                            "value": "2:23.02",
                            "modifier": "score--winner"
                        }
                    ]
                }, {
                    "name": "Mikaela Shiffrin",
                    "emblem": "../../assets/demo/img/emblems/USA.png",
                    "emblemAlt": "USA",
                    "rank": "2.",
                    "scores": [
                        {
                            "value": "+ 1.44",
                            "modifier": ""
                        }
                    ]
                }, {
                    "name": "Marta Bassino",
                    "emblem": "../../assets/demo/img/emblems/ITA.png",
                    "emblemAlt": "ITA",
                    "rank": "3.",
                    "scores": [
                        {
                            "value": "+ 1.93",
                            "modifier": ""
                        }
                    ]
                },
            ],
            "scoreTitles": [
                "Zeitmessung"
            ]
        } %}
    </div>
</div>
<br><br>

<h2>Formel 1</h2>
<div class="demo-grid">
    <div>
        <h3>Live</h3>
        {% include 'molecules-scoreboard' with {
            "caption": "Führende Rennfahrer",
            "competitorCaption": "Rennfahrer",
            "competitors": [
                {
                    "name": "Lewis Hamilton",
                    "emblem": "../../assets/demo/img/emblems/GBR.png",
                    "emblemAlt": "GBR",
                    "rank": "1.",
                    "scores": [
                        {
                            "value": "Runde 1",
                            "modifier": "score--live"
                        }
                    ]
                }, {
                    "name": "Max Verstappen",
                    "emblem": "../../assets/demo/img/emblems/NED.png",
                    "emblemAlt": "NED",
                    "rank": "2.",
                    "scores": [
                        {
                            "value": "+ 07.090",
                            "modifier": "score--live"
                        }
                    ]
                }, {
                    "name": "Kimi Räikkönen",
                    "emblem": "../../assets/demo/img/emblems/FIN.png",
                    "emblemAlt": "FIN",
                    "rank": "3.",
                    "scores": [
                        {
                            "value": "+ 25.888",
                            "modifier": "score--live"
                        }
                    ]
                },
            ],
            "scoreTitles": [
                "Zeitmessung"
            ]
        } %}
    </div>
    <div>
        <h3>Post-Live</h3>
        {% include 'molecules-scoreboard' with {
            "caption": "Führende Rennfahrer",
            "competitorCaption": "Rennfahrer",
            "competitors": [
                {
                    "name": "Lewis Hamilton",
                    "emblem": "../../assets/demo/img/emblems/GBR.png",
                    "emblemAlt": "GBR",
                    "modifier": "scoreboard__competitor--winner",
                    "rank": "1.",
                    "scores": [
                        {
                            "value": "1:30:11.385",
                            "modifier": "score--winner"
                        }
                    ]
                }, {
                    "name": "Max Verstappen",
                    "emblem": "../../assets/demo/img/emblems/NED.png",
                    "emblemAlt": "NED",
                    "rank": "2.",
                    "scores": [
                        {
                            "value": "+ 07.090",
                            "modifier": ""
                        }
                    ]
                }, {
                    "name": "Kimi Räikkönen",
                    "emblem": "../../assets/demo/img/emblems/FIN.png",
                    "emblemAlt": "FIN",
                    "rank": "3.",
                    "scores": [
                        {
                            "value": "+ 25.888",
                            "modifier": ""
                        }
                    ]
                },
            ],
            "scoreTitles": [
                "Zeitmessung"
            ]
        } %}
    </div>
</div>


<h2>Fussball</h2>
<div class="demo-grid">
    <div>
        <h3>Live</h3>
        {% include 'molecules-scoreboard' with {
            "caption": "Spielstand",
            "competitorCaption": "Mannschaft",
            "competitors": [
                {
                    "name": "Real Madrid",
                    "emblem": "../../assets/demo/img/emblems/5477_real.png",
                    "emblemAlt": "Real Madrid",
                    "scores": [
                        {
                            "value": "2",
                            "modifier": "score--live"
                        }
                    ]
                }, {
                    "name": "Atletico Madrid",
                    "emblem": "../../assets/demo/img/emblems/6072_atletico.png",
                    "emblemAlt": "Atletico Madrid",
                    "scores": [
                        {
                            "value": "2",
                            "modifier": "score--live"
                        }
                    ]
                }
            ],
            "scoreTitles": [
                "Resultat"
            ]
        } %}
    </div>
    <div>
        <h3>Post-Live</h3>
        {% include 'molecules-scoreboard' with {
            "caption": "Spielstand",
            "competitorCaption": "Mannschaft",
            "competitors": [
                {
                    "name": "Real Madrid",
                    "emblem": "../../assets/demo/img/emblems/5477_real.png",
                    "emblemAlt": "Real Madrid",
                    "modifier": "scoreboard__competitor--winner",
                    "scores": [
                        {
                            "value": "3",
                            "modifier": "score--winner"
                        }
                    ]
                }, {
                    "name": "Atletico Madrid",
                    "emblem": "../../assets/demo/img/emblems/6072_atletico.png",
                    "emblemAlt": "Atletico Madrid",
                    "scores": [
                        {
                            "value": "2",
                            "modifier": ""
                        }
                    ]
                }
            ],
            "scoreTitles": [
                "Resultat"
            ]
        } %}
    </div>
</div>

<h2>Eishockey</h2>
<div class="demo-grid">
    <div>
        <h3>Live</h3>
        {% include 'molecules-scoreboard' with {
            "caption": "Spielstand",
            "competitorCaption": "Mannschaft",
            "competitors": [
                {
                    "name": "ZSC Lions",
                    "emblem": "../../assets/demo/img/emblems/21_zsc.png",
                    "emblemAlt": "ZSC",
                    "scores": [
                        {
                            "value": "1",
                            "modifier": "score--live"
                        }
                    ]
                }, {
                    "name": "Lugano",
                    "emblem": "../../assets/demo/img/emblems/14_lugano.png",
                    "emblemAlt": "Lugano",
                    "scores": [
                        {
                            "value": "1",
                            "modifier": "score--live"
                        }
                    ]
                }
            ],
            "scoreTitles": [
                "Resultat"
            ]
        } %}
    </div>
    <div>
        <h3>Post-Live</h3>
        {% include 'molecules-scoreboard' with {
            "caption": "Spielstand",
            "competitorCaption": "Mannschaft",
            "competitors": [
                {
                    "name": "ZSC Lions",
                    "emblem": "../../assets/demo/img/emblems/21_zsc.png",
                    "emblemAlt": "ZSC",
                    "scores": [
                        {
                            "value": "1",
                            "modifier": ""
                        }
                    ]
                }, {
                    "name": "Lugano",
                    "emblem": "../../assets/demo/img/emblems/14_lugano.png",
                    "emblemAlt": "Lugano",
                    "modifier": "scoreboard__competitor--winner",
                    "scores": [
                        {
                            "value": "2",
                            "modifier": "score--winner"
                        }
                    ]
                }
            ],
            "scoreTitles": [
                "Resultat"
            ]
        } %}
    </div>
</div>
