<h2>Tennis</h2>
<table class="scoreboard">
    <caption class="h-offscreen">Spielstand</caption>
    <colgroup>
        <col class="scoreboard__legend-col">
        <col class="scoreboard__score-col">
        <col class="scoreboard__score-col">
        <col class="scoreboard__score-col scoreboard__score-col--live">
    </colgroup>
    <thead>
        <tr>
            <th scope="col" class="scoreboard-header">
                <span class="h-offscreen">Spieler/in</span>
            </th>
            <th scope="col" class="scoreboard-header">
                <span class="h-offscreen">1. Satz</span>
            </th>
            <th scope="col" class="scoreboard-header">
                <span class="h-offscreen">2. Satz</span>
            </th>
            <th scope="col" class="scoreboard-header">
                <span class="h-offscreen">3. Satz</span>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" class="scoreboard__competitor scoreboard__competitor--winner">
            <span class="scoreboard__competitor-mask"></span>
            <span class="scoreboard__competitor-name">
                <span class="scoreboard__emblem"><img alt="SUI" title="SUI" src="../../assets/demo/img/emblems/SUI.png"></span>
                Nicole Prascovia Elikolani Valiente Scherzinger
            </span>
        </th>
        <td>{% include 'atoms-score' with { "styleModifier": "" } %}</td>
        <td>{% include 'atoms-score--with-supplement' with { "styleModifier": "score--winner" } %}</td>
        <td>{% include 'atoms-score' with { "styleModifier": "score--live" } %}</td>
    </tr>
    <tr>
        <th scope="row" class="scoreboard__competitor">
            <span class="scoreboard__competitor-mask"></span>
            <span class="scoreboard__competitor-name">
                <span class="scoreboard__emblem"><img alt="FRA" title="FRA" src="../../assets/demo/img/emblems/FRA.png"></span>
                Pierre-Huegues Herbert
            </span>
        </th>
        <td>{% include 'atoms-score' with { "styleModifier": "score--winner" } %}</td>
        <td>{% include 'atoms-score--with-supplement' with { "styleModifier": "score--winner" } %}</td>
        <td>{% include 'atoms-score' with { "styleModifier": "score--live" } %}</td>
    </tr>
    </tbody>
</table>

<br><br>

<h2>Ski alpin</h2>


<table class="scoreboard">
    <caption class="h-offscreen">Führende Rennfahrer</caption>
    <colgroup>
        <col class="scoreboard__legend-col">
        <col class="scoreboard__score-col scoreboard__score-col--live">
    </colgroup>
    <thead>
    <tr>
        <th scope="col" class="scoreboard-header">
            <span class="h-offscreen">Rennfahrer</span>
        </th>
        <th scope="col" class="scoreboard-header">
            <span class="h-offscreen">Zeitmessung</span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" class="scoreboard__competitor scoreboard__competitor--winner">
            <span class="scoreboard__competitor-mask"></span>
            <span class="scoreboard__competitor-name">
                1. <span class="scoreboard__emblem"><img alt="SUI" title="SUI" src="../../assets/demo/img/emblems/SUI.png"></span>
                Lara Gut
            </span>
        </th>
        <td>{% include 'atoms-score' with { "styleModifier": "score--live", "scoreValue": "2:23.02" } %}</td>
    </tr>
    <tr>
        <th scope="row" class="scoreboard__competitor">
            <span class="scoreboard__competitor-mask"></span>
            <span class="scoreboard__competitor-name">
                2. <span class="scoreboard__emblem"><img alt="USA" title="USA" src="../../assets/demo/img/emblems/USA.png"></span>
                Mikaela Shiffrin
            </span>
        </th>
        <td>{% include 'atoms-score' with { "styleModifier": "score--live", "scoreValue": "+ 1.44" } %}</td>
    </tr>
    </tbody>
</table>

<br><br>

<h2>Formel 1</h2>

<table class="scoreboard">
    <caption class="h-offscreen">Führende Rennfahrer</caption>
    <colgroup>
        <col class="scoreboard__legend-col">
        <col class="scoreboard__score-col scoreboard__score-col--live">
    </colgroup>
    <thead>
    <tr>
        <th scope="col" class="scoreboard-header">
            <span class="h-offscreen">Rennfahrer</span>
        </th>
        <th scope="col" class="scoreboard-header">
            <span class="h-offscreen">Zeitmessung</span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" class="scoreboard__competitor scoreboard__competitor--winner">
            <span class="scoreboard__competitor-mask"></span>
            <span class="scoreboard__competitor-name">
                1. <span class="scoreboard__emblem"><img alt="GBR" title="GBR" src="../../assets/demo/img/emblems/GBR.png"></span>
                Lewis Hamilton
            </span>
        </th>
        <td>{% include 'atoms-score' with { "styleModifier": "score--live", "scoreValue": "Runde 1" } %}</td>
    </tr>
    <tr>
        <th scope="row" class="scoreboard__competitor">
            <span class="scoreboard__competitor-mask"></span>
            <span class="scoreboard__competitor-name">
                2. <span class="scoreboard__emblem"><img alt="NED" title="NED" src="../../assets/demo/img/emblems/NED.png"></span>
                Max Verstappen
            </span>
        </th>
        <td>{% include 'atoms-score' with { "styleModifier": "score--live", "scoreValue": "+ 07.090" } %}</td>
    </tr>
    <tr>
        <th scope="row" class="scoreboard__competitor">
            <span class="scoreboard__competitor-mask"></span>
            <span class="scoreboard__competitor-name">
                3. <span class="scoreboard__emblem"><img alt="FIN" title="FIN" src="../../assets/demo/img/emblems/FIN.png"></span>
                Kimi Räikkönen
            </span>
        </th>
        <td>{% include 'atoms-score' with { "styleModifier": "score--live", "scoreValue": "+ 25.888" } %}</td>
    </tr>
    </tbody>
</table>

<h2>Fussball</h2>

<table class="scoreboard">
    <caption class="h-offscreen">Spielstand</caption>
    <colgroup>
        <col class="scoreboard__legend-col">
        <col class="scoreboard__score-col scoreboard__score-col--live">
    </colgroup>
    <thead>
    <tr>
        <th scope="col" class="scoreboard-header">
            <span class="h-offscreen">Mannschaft</span>
        </th>
        <th scope="col" class="scoreboard-header">
            <span class="h-offscreen">Resultat</span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" class="scoreboard__competitor scoreboard__competitor--winner">
            <span class="scoreboard__competitor-mask"></span>
            <span class="scoreboard__competitor-name">
                <span class="scoreboard__emblem"><img alt="ZSC" title="ZSC" src="../../assets/demo/img/emblems/21_zsc.png"></span>
                Zürich
            </span>
        </th>
        <td>{% include 'atoms-score' with { "styleModifier": "score--live", "scoreValue": "2" } %}</td>
    </tr>
    <tr>
        <th scope="row" class="scoreboard__competitor">
            <span class="scoreboard__competitor-mask"></span>
            <span class="scoreboard__competitor-name">
                <span class="scoreboard__emblem"><img alt="Winterthur" title="Winterthur" src="../../assets/demo/img/emblems/SUI.png"></span></span>
                Winterthur
            </span>
        </th>
        <td>{% include 'atoms-score' with { "styleModifier": "score--live", "scoreValue": "2" } %}</td>
    </tr>
    </tbody>
</table>

<h2>Eishockey</h2>

<table class="scoreboard">
    <caption class="h-offscreen">Spielstand</caption>
    <colgroup>
        <col class="scoreboard__legend-col">
        <col class="scoreboard__score-col scoreboard__score-col--live">
    </colgroup>
    <thead>
    <tr>
        <th scope="col" class="scoreboard-header">
            <span class="h-offscreen">Mannschaft</span>
        </th>
        <th scope="col" class="scoreboard-header">
            <span class="h-offscreen">Resultat</span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" class="scoreboard__competitor scoreboard__competitor--winner">
            <span class="scoreboard__competitor-mask"></span>
            <span class="scoreboard__competitor-name">
                <span class="scoreboard__emblem"><img width="16" alt="SRB" title="SRB" src="https://cdn-csd.swisstxt.ch/images/geo/country/flag/small/SRB.png"></span>
                ZSC Lions
            </span>
        </th>
        <td>{% include 'atoms-score' with { "styleModifier": "score--live", "scoreValue": "1" } %}</td>
    </tr>
    <tr>
        <th scope="row" class="scoreboard__competitor">
            <span class="scoreboard__competitor-mask"></span>
            <span class="scoreboard__competitor-name">
                <span class="scoreboard__emblem"><img width="16" alt="LAT" title="LAT" src="https://cdn-csd.swisstxt.ch/images/geo/country/flag/small/LAT.png"></span>
                Lugano
            </span>
        </th>
        <td>{% include 'atoms-score' with { "styleModifier": "score--live", "scoreValue": "1" } %}</td>
    </tr>
    </tbody>
</table>