<style>
    .demo-grid {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .demo-grid > div {
        flex-basis: 32%;
        min-width: 320px;
    }
</style>


<h2>For all sports</h2>
<div class="demo-grid">
    <div>
        <h3>Pre-Live</h3>

        {% include 'molecules-scoreboard' with {
            "caption": "Spielstand",
            "competitorCaption": "Spieler/in",
            "competitors": [
                {
                    "name": "Nicole Prascovia Elikolani Valiente Scherzinger",
                    "emblem": "../../assets/demo/img/emblems/SUI.png",
                    "emblemAlt": "SUI"
                }, {
                    "name": "Pierre-Huegues Herbert",
                    "emblem": "../../assets/demo/img/emblems/FRA.png",
                    "emblemAlt": "FRA"
                },
            ]
        } %}
    </div>
</div>


<h2>Tennis</h2>
<div class="demo-grid">
    <div>
        <h3>Live</h3>

        {% include 'molecules-scoreboard' with {
            "caption": "Spielstand",
            "competitorCaption": "Spieler/in",
            "competitors": [
                {
                    "name": "Nicole Prascovia Elikolani Valiente Scherzinger",
                    "emblem": "../../assets/demo/img/emblems/SUI.png",
                    "emblemAlt": "SUI",
                    "scores": [
                        {
                            "value": 6,
                            "modifier": ""
                        }, {
                            "value": 6,
                            "modifier": "score--winner",
                            "supplementTitle": "Tie break points",
                            "supplementScore": 7
                        }, {
                            "value": 6,
                            "modifier": "score--live"
                        }
                    ]
                }, {
                    "name": "Pierre-Huegues Herbert",
                    "emblem": "../../assets/demo/img/emblems/FRA.png",
                    "emblemAlt": "FRA",
                    "scores": [
                        {
                            "value": 6,
                            "modifier": "score--winner"
                        }, {
                            "value": 6,
                            "modifier": "",
                            "supplementTitle": "Tie break points",
                            "supplementScore": 7
                        }, {
                            "value": 6,
                            "modifier": "score--winner score--live"
                        }
                    ]
                },
            ],
            "scoreTitles": [
                "1. Satz",
                "2. Satz",
                "3. Satz"
            ]
        } %}
    </div>
    <div>
        <h3>Post-Live</h3>
        {% include 'molecules-scoreboard' with {
            "caption": "Spielstand",
            "competitorCaption": "Spieler/in",
            "competitors": [
                {
                    "name": "Nicole Prascovia Elikolani Valiente Scherzinger",
                    "emblem": "../../assets/demo/img/emblems/SUI.png",
                    "emblemAlt": "SUI",
                    "modifier": "scoreboard__competitor--winner",
                    "scores": [
                        {
                            "value": 6,
                            "modifier": ""
                        }, {
                            "value": 6,
                            "modifier": "score--winner",
                            "supplementTitle": "Tie break points",
                            "supplementScore": 7
                        }, {
                            "value": 6,
                            "modifier": "score--winner"
                        }
                    ]
                }, {
                    "name": "Pierre-Huegues Herbert",
                    "emblem": "../../assets/demo/img/emblems/FRA.png",
                    "emblemAlt": "FRA",
                    "scores": [
                        {
                            "value": 6,
                            "modifier": "score--winner"
                        }, {
                            "value": 6,
                            "modifier": "",
                            "supplementTitle": "Tie break points",
                            "supplementScore": 7
                        }, {
                            "value": 6,
                            "modifier": ""
                        }
                    ]
                },
            ],
            "scoreTitles": [
                "1. Satz",
                "2. Satz",
                "3. Satz"
            ]
        } %}
    </div>
</div>

<br><br>

<h2>Ski alpin</h2>

<div class="demo-grid">
    <div>
        <h3>Live</h3>
        {% include 'molecules-scoreboard' with {
            "caption": "Führende Rennfahrer",
            "competitorCaption": "Rennfahrer",
            "competitors": [
                {
                    "name": "Lara Gut",
                    "emblem": "../../assets/demo/img/emblems/SUI.png",
                    "emblemAlt": "SUI",
                    "scores": [
                        {
                            "value": "2:23.02",
                            "modifier": "score--live"
                        }
                    ]
                }, {
                    "name": "Marta Bassino",
                    "emblem": "../../assets/demo/img/emblems/ITA.png",
                    "emblemAlt": "ITA",
                    "scores": [
                        {
                            "value": "+ 1.44",
                            "modifier": "score--live"
                        }
                    ]
                },
            ],
            "scoreTitles": [
                "Zeitmessung"
            ]
        } %}
    </div>
    <div>
        <h3>Post-Live</h3>
        {% include 'molecules-scoreboard' with {
            "caption": "Führende Rennfahrer",
            "competitorCaption": "Rennfahrer",
            "competitors": [
                {
                    "name": "Lara Gut",
                    "emblem": "../../assets/demo/img/emblems/SUI.png",
                    "emblemAlt": "SUI",
                    "modifier": "scoreboard__competitor--winner",
                    "scores": [
                        {
                            "value": "2:23.02",
                            "modifier": "score--winner"
                        }
                    ]
                }, {
                    "name": "Marta Bassino",
                    "emblem": "../../assets/demo/img/emblems/ITA.png",
                    "emblemAlt": "ITA",
                    "scores": [
                        {
                            "value": "+ 1.44",
                            "modifier": ""
                        }
                    ]
                },
            ],
            "scoreTitles": [
                "Zeitmessung"
            ]
        } %}
    </div>
</div>
<br><br>

<h2>Formel 1</h2>
<div class="demo-grid">
    <div>
        <h3>Live</h3>
        <table class="scoreboard">
            <caption class="h-offscreen">Führende Rennfahrer</caption>
            <thead class="h-offscreen">
                <tr>
                    <th scope="col">Rennfahrer</th>
                    <th scope="col">Zeitmessung</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="scoreboard__competitors">
                        <span class="scoreboard__competitor-mask"></span>
                        <span class="scoreboard__competitor-wrapper">
                            <span class="scoreboard__rank">1.</span>
                            <span class="scoreboard__emblem"><img alt="GBR" title="GBR"
                                                                  src="../../assets/demo/img/emblems/GBR.png"></span>
                            <span class="scoreboard__name">Lewis Hamilton</span>
                        </span>
                    </th>
                    <td class="scoreboard__score-live">{% include 'atoms-score' with { "styleModifier": "score--live", "scoreValue": "Runde 1" } %}</td>
                </tr>
                <tr>
                    <th scope="row" class="scoreboard__competitors">
                        <span class="scoreboard__competitor-mask"></span>
                        <span class="scoreboard__competitor-wrapper">
                            <span class="scoreboard__rank">2.</span>
                            <span class="scoreboard__emblem"><img alt="NED" title="NED"
                                                                  src="../../assets/demo/img/emblems/NED.png"></span>
                            <span class="scoreboard__name">Max Verstappen</span>
                        </span>
                    </th>
                    <td class="scoreboard__score-live">{% include 'atoms-score' with { "styleModifier": "score--live", "scoreValue": "+ 07.090" } %}</td>
                </tr>
                <tr>
                    <th scope="row" class="scoreboard__competitors">
                        <span class="scoreboard__competitor-mask"></span>
                        <span class="scoreboard__competitor-wrapper">
                            <span class="scoreboard__rank">3.</span>
                            <span class="scoreboard__emblem"><img alt="FIN" title="FIN"
                                                                  src="../../assets/demo/img/emblems/FIN.png"></span>
                            <span class="scoreboard__name">Kimi Räikkönen</span>
                        </span>
                    </th>
                    <td class="scoreboard__score-live">{% include 'atoms-score' with { "styleModifier": "score--live", "scoreValue": "+ 25.888" } %}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3>Post-Live</h3>
        <table class="scoreboard">
            <caption class="h-offscreen">Führende Rennfahrer</caption>
            <thead class="h-offscreen">
                <tr>
                    <th scope="col">Rennfahrer</th>
                    <th scope="col">Zeitmessung</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="scoreboard__competitors scoreboard__competitors--winner">
                        <span class="scoreboard__competitor-mask"></span>
                        <span class="scoreboard__competitor-wrapper">
                            <span class="scoreboard__rank">1.</span>
                            <span class="scoreboard__emblem"><img alt="GBR" title="GBR"
                                                                  src="../../assets/demo/img/emblems/GBR.png"></span>
                            <span class="scoreboard__name">Lewis Hamilton</span>
                        </span>
                    </th>
                    <td>{% include 'atoms-score' with { "styleModifier": "score--winner", "scoreValue": "1:30:11.385" } %}</td>
                </tr>
                <tr>
                    <th scope="row" class="scoreboard__competitors">
                        <span class="scoreboard__competitor-mask"></span>
                        <span class="scoreboard__competitor-wrapper">
                            <span class="scoreboard__rank">2.</span>
                            <span class="scoreboard__emblem"><img alt="NED" title="NED"
                                                                  src="../../assets/demo/img/emblems/NED.png"></span>
                            <span class="scoreboard__name">Max Verstappen</span>
                        </span>
                    </th>
                    <td>{% include 'atoms-score' with { "scoreValue": "+ 07.090" } %}</td>
                </tr>
                <tr>
                    <th scope="row" class="scoreboard__competitors">
                        <span class="scoreboard__competitor-mask"></span>
                        <span class="scoreboard__competitor-wrapper">
                            <span class="scoreboard__rank">3.</span>
                            <span class="scoreboard__emblem"><img alt="FIN" title="FIN"
                                                                  src="../../assets/demo/img/emblems/FIN.png"></span>
                            <span class="scoreboard__name">Kimi Räikkönen</span>
                        </span>
                    </th>
                    <td>{% include 'atoms-score' with { "scoreValue": "+ 25.888" } %}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<h2>Fussball</h2>
<div class="demo-grid">
    <div>
        <h3>Live</h3>
        <table class="scoreboard">
            <caption class="h-offscreen">Spielstand</caption>
            <thead class="h-offscreen">
                <tr>
                    <th scope="col">Mannschaft</th>
                    <th scope="col">Resultat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="scoreboard__competitors">
                        <span class="scoreboard__competitor-mask"></span>
                        <span class="scoreboard__competitor-wrapper">
                            <span class="scoreboard__emblem"><img alt="" src="../../assets/demo/img/emblems/5477_real.png"></span>
                            <span class="scoreboard__name">Real Madrid</span>
                        </span>
                    </th>
                    <td class="scoreboard__score-live">{% include 'atoms-score' with { "styleModifier": "score--live", "scoreValue": "2" } %}</td>
                </tr>
                <tr>
                    <th scope="row" class="scoreboard__competitors">
                        <span class="scoreboard__competitor-mask"></span>
                        <span class="scoreboard__competitor-wrapper">
                            <span class="scoreboard__emblem"><img alt=""
                                                                  src="../../assets/demo/img/emblems/6072_atletico.png"></span>
                            <span class="scoreboard__name">Atletico Madrid</span>
                        </span>
                    </th>
                    <td class="scoreboard__score-live">{% include 'atoms-score' with { "styleModifier": "score--live", "scoreValue": "2" } %}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3>Post-Live</h3>
        <table class="scoreboard">
            <caption class="h-offscreen">Spielstand</caption>
            <thead class="h-offscreen">
                <tr>
                    <th scope="col">Mannschaft</th>
                    <th scope="col">Resultat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="scoreboard__competitors scoreboard__competitors--winner">
                        <span class="scoreboard__competitor-mask"></span>
                        <span class="scoreboard__competitor-wrapper">
                            <span class="scoreboard__emblem"><img alt="" src="../../assets/demo/img/emblems/5477_real.png"></span>
                            <span class="scoreboard__name">Real Madrid</span>
                        </span>
                    </th>
                    <td>{% include 'atoms-score' with { "styleModifier": "score--winner", "scoreValue": "3" } %}</td>
                </tr>
                <tr>
                    <th scope="row" class="scoreboard__competitors">
                        <span class="scoreboard__competitor-mask"></span>
                        <span class="scoreboard__competitor-wrapper">
                            <span class="scoreboard__emblem"><img alt=""
                                                                  src="../../assets/demo/img/emblems/6072_atletico.png"></span>
                            <span class="scoreboard__name">Atletico Madrid</span>
                        </span>
                    </th>
                    <td>{% include 'atoms-score' with { "scoreValue": "2" } %}</td>
                </tr>
                </tbody>
        </table>
    </div>
</div>

<h2>Eishockey</h2>
<div class="demo-grid">
    <div>
        <h3>Live</h3>
        <table class="scoreboard">
            <caption class="h-offscreen">Spielstand</caption>
            <thead class="h-offscreen">
                <tr>
                    <th scope="col">Mannschaft</th>
                    <th scope="col">Resultat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="scoreboard__competitors">
                        <span class="scoreboard__competitor-mask"></span>
                        <span class="scoreboard__competitor-wrapper">
                            <span class="scoreboard__emblem"><img alt="ZSZ" title="ZSZ"
                                                                  src="../../assets/demo/img/emblems/21_zsc.png"></span>
                            <span class="scoreboard__name">ZSC Lions</span>
                        </span>
                    </th>
                    <td class="scoreboard__score-live">{% include 'atoms-score' with { "styleModifier": "score--live", "scoreValue": "1" } %}</td>
                </tr>
                <tr>
                    <th scope="row" class="scoreboard__competitors">
                        <span class="scoreboard__competitor-mask"></span>
                        <span class="scoreboard__competitor-wrapper">
                            <span class="scoreboard__emblem"><img alt="Lugano" title="Lugano"
                                                                  src="../../assets/demo/img/emblems/14_lugano.png"></span>
                            <span class="scoreboard__name">Lugano</span>
                        </span>
                    </th>
                    <td class="scoreboard__score-live">{% include 'atoms-score' with { "styleModifier": "score--live", "scoreValue": "1" } %}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3>Post-Live</h3>
        <table class="scoreboard">
            <caption class="h-offscreen">Spielstand</caption>
            <thead class="h-offscreen">
                <tr>
                    <th scope="col">Mannschaft</th>
                    <th scope="col">Resultat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="scoreboard__competitors">
                        <span class="scoreboard__competitor-mask"></span>
                        <span class="scoreboard__competitor-wrapper">
                            <span class="scoreboard__emblem"><img alt="ZSZ" title="ZSZ"
                                                                  src="../../assets/demo/img/emblems/21_zsc.png"></span>
                            <span class="scoreboard__name">ZSC Lions</span>
                        </span>
                    </th>
                    <td>{% include 'atoms-score' with { "scoreValue": "1" } %}</td>
                </tr>
                <tr>
                    <th scope="row" class="scoreboard__competitors scoreboard__competitors--winner">
                        <span class="scoreboard__competitor-mask"></span>
                        <span class="scoreboard__competitor-wrapper">
                            <span class="scoreboard__emblem"><img alt="Lugano" title="Lugano"
                                                                  src="../../assets/demo/img/emblems/14_lugano.png"></span>
                            <span class="scoreboard__name">Lugano</span>
                        </span>
                    </th>
                    <td>{% include 'atoms-score' with { "styleModifier": "score--winner", "scoreValue": "2" } %}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
