<table class="scoreboard">
    <caption class="h-offscreen">Spielstand</caption>
    <thead class="h-offscreen">
        <tr>
            <th scope="col">Spieler/in</th>
            <th scope="col">1. Satz</th>
            <th scope="col">2. Satz</th>
            <th scope="col">3. Satz</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" class="scoreboard__competitors">
                <span class="scoreboard__competitor-mask"></span>
                <span class="scoreboard__competitor-wrapper">
                    <span class="scoreboard__emblem"><img alt="SUI" title="SUI" src="../../assets/demo/img/emblems/SUI.png"></span>
                    <span class="scoreboard__name">Nicole Prascovia Elikolani Valiente Scherzinger</span>
                </span>
            </th>
            <td>{% include 'atoms-score' with { "styleModifier": "" } %}</td>
            <td>{% include 'atoms-score--with-supplement' with { "styleModifier": "score--winner" } %}</td>
            <td class="scoreboard__score-live">{% include 'atoms-score' with { "styleModifier": "score--live" } %}</td>
        </tr>
        <tr>
            <th scope="row" class="scoreboard__competitors">
                <span class="scoreboard__competitor-mask"></span>
                <span class="scoreboard__competitor-wrapper">
                    <span class="scoreboard__emblem"><img alt="FRA" title="FRA" src="../../assets/demo/img/emblems/FRA.png"></span>
                    <span class="scoreboard__name">Pierre-Huegues Herbert</span>
                </span>
            </th>
            <td>{% include 'atoms-score' with { "styleModifier": "score--winner" } %}</td>
            <td>{% include 'atoms-score--with-supplement' with { "styleModifier": "score--winner" } %}</td>
            <td class="scoreboard__score-live">{% include 'atoms-score' with { "styleModifier": "score--live" } %}</td>
        </tr>
    </tbody>
</table>
