<table class="scoreboard">
    <caption class="h-offscreen">Spielstand</caption>
    <colgroup>
        <col class="scoreboard__legend-col">
        <col class="scoreboard__score-col">
        <col class="scoreboard__score-col">
        <col class="scoreboard__score-col scoreboard__score-col--live">
    </colgroup>
    <thead>
        <tr>
            <th scope="col" class="scoreboard-header">
                <span class="h-offscreen">Spieler/in</span>
            </th>
            <th scope="col" class="scoreboard-header">
                <span class="h-offscreen">1. Satz</span>
            </th>
            <th scope="col" class="scoreboard-header">
                <span class="h-offscreen">2. Satz</span>
            </th>
            <th scope="col" class="scoreboard-header">
                <span class="h-offscreen">3. Satz</span>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" class="scoreboard__competitor scoreboard__competitor--winner">
            <span class="scoreboard__competitor-mask"></span>
            <span class="scoreboard__competitor-name">
                <span class="scoreboard__emblem"><img alt="SUI" title="SUI" src="../../assets/demo/img/emblems/SUI.png"></span>
                Nicole Prascovia Elikolani Valiente Scherzinger
            </span>
        </th>
        <td>{% include 'atoms-score' with { "styleModifier": "" } %}</td>
        <td>{% include 'atoms-score--with-supplement' with { "styleModifier": "score--winner" } %}</td>
        <td>{% include 'atoms-score' with { "styleModifier": "score--live" } %}</td>
    </tr>
    <tr>
        <th scope="row" class="scoreboard__competitor">
            <span class="scoreboard__competitor-mask"></span>
            <span class="scoreboard__competitor-name">
                <span class="scoreboard__emblem"><img alt="FRA" title="FRA" src="../../assets/demo/img/emblems/FRA.png"></span>
                Pierre-Huegues Herbert
            </span>
        </th>
        <td>{% include 'atoms-score' with { "styleModifier": "score--winner" } %}</td>
        <td>{% include 'atoms-score--with-supplement' with { "styleModifier": "score--winner" } %}</td>
        <td>{% include 'atoms-score' with { "styleModifier": "score--live" } %}</td>
    </tr>
    </tbody>
</table>