$scoreboard-col-padding-height: 6px;

.scoreboard {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  border-collapse: collapse;
  font-family: $font-regular;
  @include fontSize(14);
  letter-spacing: 0.4px;
  text-align: left;
  border-spacing: 0;
  padding: 3px 0;

  // if a browser supports @support but not grid, it's a very strange browser does not deserve our scoreboard 😤
  @supports not (display: grid) {
    display: none;
  }
}

.scoreboard__competitor {
  grid-column: 1;
  height: 18px;
  padding: 0 0 0 16px;
  overflow: hidden;
  position: relative;
  color: $color-srf-warmgrey-900;
  text-align: left;

  @include desktop-wide {
    padding-left: 24px;
  }
}

.scoreboard__competitor--winner {
  color: $color-srf-warmgrey-1100;
  font-family: $font-medium;
}

.scoreboard__competitor-mask {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px; // IE needs an absolute height
  background: linear-gradient(to right, $color-srf-warmgrey-10a00, $color-srf-warmgrey-10);
}

.scoreboard__competitor-wrapper {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 18px;
}

// first row's score is 6px higher (goes over border at the top)
.scoreboard__row-first {
  margin-top: -$scoreboard-col-padding-height;

  .score {
    padding-top: $scoreboard-col-padding-height;
    height: 24px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

// last row's score is 6px higher (goes over border at the bottom)
.scoreboard__row-last {
  margin-bottom: -$scoreboard-col-padding-height;

  .score {
    padding-bottom: $scoreboard-col-padding-height;
    height: 24px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

// scores have a white border between them. If there's only one, there's no border
.scoreboard__score {
  flex: 1 1 auto;
  border-right: 1px solid $color-srf-neutral-white;

  &.scoreboard__col-last {
    border-right: none;
  }
}

.scoreboard__rank {
  width: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 14px;
}

.scoreboard__emblem {
  width: 15px;
  margin-right: 6px;
  padding-bottom: 1px;
  vertical-align: baseline;
  flex-grow: 0;
  flex-shrink: 0;

  img {
    width: 15px;
    height: auto;
  }
}

.scoreboard__name {
  flex-grow: 1;
  line-height: $secondary-line-height-ratio;
}

.scoreboard__score-live.scoreboard__score-live {
  background-color: $color-srf-red-500;
}
