
$scoreboard-col-padding-height: 8px;

.scoreboard {
  width: 100%;
  border-collapse: collapse;
  font-family: $font-medium;
  font-size: 14px;
  letter-spacing: 0.4px;
  background-color: $color-bg-caption;
  text-align: left;
}

.scoreboard__legend-col {
  text-align: left;
  width: 100%;
}

.scoreboard__score-col {
  text-align: right;
  border-top: $scoreboard-col-padding-height solid $color-score-default;
  border-bottom: $scoreboard-col-padding-height solid $color-score-default;
  background-color: $color-score-default;
}

.scoreboard__score-col--live {
  border-top: $scoreboard-col-padding-height solid $color-score-live;
  border-bottom: $scoreboard-col-padding-height solid $color-score-live;
  background-color: $color-score-live;
}

.scoreboard__competitor {
  padding: 1px 0 1px 16px;
  overflow: hidden;
  position: relative;
  max-width: 20px;
  text-align: left;
}

.scoreboard__competitor-mask {
  position: absolute;
  right: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, rgba(245,245,242,0), rgba(245,245,242,1));
}

.scoreboard__competitor-name {
  display: block;
  white-space: nowrap;
}

.scoreboard__rank {
  padding: 0 6px 0 0;
}

.scoreboard__emblem {
  display: inline-block;
  padding: 0 6px 0 0;

  img {
    width: 15px;
    height: auto;
  }
}