<div class="polis-legend">
    <p class="polis-legend__title">{{ polis.legend_title }}</p>
    <ul class="polis-legend-scale">
        <li class="polis-legend-scale__element polis-legend-scale__element--edge res-100"></li>
        <li class="polis-legend-scale__element res-65"></li>
        <li class="polis-legend-scale__element res-60"></li>
        <li class="polis-legend-scale__element res-55"></li>
        <li class="polis-legend-scale__element res-50"></li>
        <li class="polis-legend-scale__element res-45"></li>
        <li class="polis-legend-scale__element res-40"></li>
        <li class="polis-legend-scale__element polis-legend-scale__element--edge res-0"></li>
    </ul>
    <ul class="polis-legend-numbers">
        <li class="polis-legend-numbers__element polis-legend-numbers__element--edge polis-legend-numbers__element--100">
            100
        </li>
        <li class="polis-legend-numbers__element">65</li>
        <li class="polis-legend-numbers__element">60</li>
        <li class="polis-legend-numbers__element">55</li>
        <li class="polis-legend-numbers__element">50</li>
        <li class="polis-legend-numbers__element">45</li>
        <li class="polis-legend-numbers__element">40</li>
        <li class="polis-legend-numbers__element">35</li>
        <li class="polis-legend-numbers__element polis-legend-numbers__element--edge polis-legend-numbers__element--zero">
            0
        </li>
    </ul>
</div>