
/* result colors red-blue */
$res-0: #8d0614;
$res-40: #c91024; // no
$res-45: #f1434a;
$res-50: #ff9193;
$res-55: #91ceff;
$res-60: #42a3f1;
$res-65: #1a7ac5; // yes
$res-100: #105082;
$yes-rel: #fff;
// default: #b9b7ac ???

$color-polis-yes: #1a7ac5;
$color-polis-no: $color-accentuation-red;

$color-polis-yes-text: #1667a7;
$color-polis-no-text: #af001d; // oder #9d0017 ???
// no txt: #af001d

.polis-container { // margins only :(
  margin: 24px 0 20px; // mobile
  @include tablet-up {
    margin: 32px 0 24px;
  }
}

.polis-map-container { // top part
  background-color: #f5f5f2;
  padding: 12px 16px;
}

.polis-map-container__title {
  font: 22px/28px $font-medium;
  letter-spacing: .3px;
  margin: 0;
}

.polis-map-container__info {
  font: 14px/20px $font-light;
  letter-spacing: .5px;
  color: #4e4d47;
  margin: 12px 0; // TODO!
}

.polis-map {
  position: relative;
  padding-bottom: 26px;
  margin: 0 0 2px;
  @include tablet-up {
    padding-bottom: 84px;
  }
  .chmap {
    fill: #b9b7ac;
  }
}

.res-0  { fill: $res-0; }
.res-40 { fill: $res-40; }
.res-45 { fill: $res-45; }
.res-50 { fill: $res-50; }
.res-55 { fill: $res-55; }
.res-60 { fill: $res-60; }
.res-65 { fill: $res-65; }
.res-100 { fill: $res-100; }

/* .res-0  { polygon, path { fill: $res-0; } }
.res-40 { polygon, path { fill: $res-40; } }
.res-45 { polygon, path { fill: $res-45;} }
.res-50 { polygon, path {fill: $res-50;} }
.res-55 { polygon, path {fill: $res-55;} }
.res-60 { polygon, path {fill: $res-60;} }
.res-65 { polygon, path {fill: $res-65;} }
.res-100 { polygon, path {fill: $res-100;} } */

//// result container (bars) ////
.polis-result-container { // ul
  margin: 0;
  padding: 0;
  display: table; // :/ (Standesstimmen)
  width: 100%;
}

.polis-result-title { // solo
  font: 12px/16px $font-system;
  margin: 8px 0 0;
  @include tablet-up {
    margin: 16px 0 0;
  }
}

.polis-result-title__time {
  color: #888579;
}

.polis-result { // li
  width: 50%;
  padding: 0;
  margin: 0;
  display: table-cell;
  &:before {
    content: none; // overwrite
  }
}

.polis-result--no {
  text-align: right;
}

.polis-result__title { // "internal"
  font: 12px/16px $font-medium;
  letter-spacing: .5px;
  margin: 12px 0 4px; // 0 0 4px;
}

.polis-result__title--yes {
  color: $color-polis-yes-text;
}

.polis-result__title--no {
  color: $color-polis-no;
}

.polis-result__text {
  font: 12px/16px $font-system;
  color: #888579;
  margin: 4px 0 0; /// TODO!
  white-space: nowrap;
}

.polis-result__bar {
  height: 16px;
  font: 12px/12px $font-regular;
  color: #fff;
  background-color: #6b6960;
  margin: 0;
  padding: 0;
  position: relative;
}

.polis-result__bar--main {
  height: 24px;
  font: 14px/16px $font-regular;
}

.polis-result__bar--yes {
  background-color: $color-polis-yes;
}

.polis-result__bar--no {
  background-color: $color-polis-no;
}

.polis-result-relativ {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0px, -50%);
  z-index: 1;
  padding: 0 8px; // mobile
  margin: 0;
}

.polis-result-relativ__number {
  font-weight: 700;
}

/// end result container ////
.polis-select-container {
  margin-top: 2px;
  padding: 16px;
  background-color: #f5f5f2;
  .menu-wrapper {
    padding: 16px 16px 0; // overwrite
  }
}

.polis-result-container--canton {
  overflow: hidden;
}

.polis-result-title--canton {
  margin: 12px 0 4px;
  @include tablet-up {
    margin: 16px 0 8px;
  }
}

/// here comes the zebra ///
.polis-district-container { // ul
  padding: 0;
  margin: 0;
}

.polis-district {
  &:before {
    content: none;
  }
  // overwrite
  width: 100%;
  font: 12px/16px $font-system; // all
  padding: 12px 16px;
  margin: 2px 0 0;
  text-align: right;
  display: inline-block;
  clear: both;

  background-color: #fafaf8;
  &:nth-child(even) {
    background-color: #f5f5f2;
  }
}

.polis-district__name {
  color: #4e4d47;
  font-weight: 500;
  letter-spacing: 0;
  float: left;
}

.polis-district__votes {
  color: #757266; // kontrast?!?
  font-weight: 300;
  letter-spacing: .2px;
  margin-left: 16px;
  @include tablet-up {
    margin-left: 64px
  }
}

.polis--yes {
  color: #145296;
  font-weight: 500;
}

.polis--no {
  color: #9d0017;
  font-weight: 500;
}

/// here goes the zebra ///

//// legend /////
.polis-legend {
  // margin: 12px 16px;
  @include tablet-up {
    position: absolute;
    width: 292px;
    right: 0;
    bottom: 0;
  }
}
.polis-legend__title {
  font: 12px/16px $font-system;
  color: #22211d;
  margin-bottom: 4px;
}
.polis-legend-numbers,
.polis-legend-scale {
  margin: 0;
  padding: 0;
}

.polis-legend-numbers__element,
.polis-legend-scale__element {
  &:before {
    content: none;
  }
  // overwrite
}

.polis-legend-numbers {
  font: 12px/16px $font-system;
  color: #888579;
}

.polis-legend-numbers__element {
  margin: 4px 0 0;
  text-align: center; // same
  width: 6.5%; // 6*6.5
  padding: 0;
  float: left;
}
.polis-legend-numbers__element--edge {
  width: 27.2%;
}
.polis-legend-numbers__element--100 {
  text-align: left;
}
.polis-legend-numbers__element--zero {
  text-align: right;
}

.polis-legend-scale {
  .res-0 {   background-color: $res-0;   }
  .res-40 {  background-color: $res-40;  }
  .res-45 {  background-color: $res-45;  }
  .res-50 {  background-color: $res-50;  }
  .res-55 {  background-color: $res-55;  }
  .res-60 {  background-color: $res-60;  }
  .res-65 {  background-color: $res-65;  }
  .res-100 { background-color: $res-100; }
}
.polis-legend-scale__element {
  height: 4px;
  margin: 0;
  // same
  width: 6.5%; // 6*6.5
  padding: 0;
  float: left;
}
.polis-legend-scale__element--edge {
  width: 30.5%; //+ 2*30.5 = 100
}

///// end legend /////
.polis-map__participation {
  font: 12px/16px $font-system;
  color: #888579;
  // margin: 0 16px 8px;
  @include tablet-up {
    position: absolute;
    bottom: 0;
    // margin: 16px;
  }
}

.polis-select-option--hide {
  display: none;
}