<div class="expandable js-expandable"
     data-event-source="Expandable Box"
     data-event-value="Title">

  <div class="expandable__header js-expandable--header" role="button" tabindex="0">
    {# Title (e.g. atom-content-heading) or most other things go here! #}

    <div class="expandable__expand-icon" role="presentation" aria-hidden="true">
      {% include 'atoms-expand-icon' with { 'styleModifier': 'expand-icon--accentuated' } %}
    </div>

    <div class="h-offscreen expandable__a11y-text--open">Box aufklappen</div>
    <div class="h-offscreen expandable__a11y-text--close">Box zuklappen</div>
  </div>

  <div class="expandable__body js-expandable--body">
    <div class="expandable__content">
      {# Content goes here! #}
    </div>

    {# Add a link outside the content but inside the body for maximum effect #}
    {% include 'atoms-block-link' with {'styleModifier': 'block-link--box'} %}
  </div>

</div>
