<div class="expandable-box js-expandable-box {{ styleModifier|default('') }}"
     data-event-source="Expandable Box"
     data-event-value="Title"
     {{ 'expandable-box--initially-open' in styleModifier ? 'data-initially-open' }}>

  <div class="expandable-box__header js-expandable-box--header" role="button" tabindex="0">
    {# Title (e.g. atom-content-heading) or most other things go here! #}
    {% include 'atoms-content-heading' with {'styleModifier': 'content-heading--box-title'} %}

    <div class="expandable-box__expand-icon">
      {% include 'atoms-expand-icon' with {
        'styleModifier': 'expand-icon--accentuated',
        'textOpen': 'Box aufklappen',
        'textClose': 'Box zuklappen'
      } %}
    </div>
  </div>

  {# The whole body will be collapsed/expanded #}
  <div class="expandable-box__body js-expandable-box--body">
    <div class="expandable-box__content">
      {# Content with padding goes here! #}
      <p>{{ person.description }}</p>
    </div>
    {# Content without padding goes here, e.g. a link  #}
  </div>

</div>
