
/*
 * MODAL THEME SETTINGS
 *
 * Theme settings are defined here at the modal level and not on the page level because the
 * change of a value of a css custom property triggers a style recalculation for _all_ of its children
 * @see https://twitter.com/jonikorpi/status/865283047368818688
 */

/* DEFAULTS */
.modal {
  --theme-color-background: linear-gradient(135deg, #{$color-srf-neutral-offwhite}, #{$color-srf-warmgrey-10});
  --theme-icon-filter: none;

  --theme-color-bg-search: #{$color-srf-neutral-offwhite};
  --theme-color-text-search: #{$color-srf-warmgrey-800};
  --theme-search-border: 1px solid #{$color-srf-neutral-blacka08};
  --theme-search-border-bottom: 0;

  --theme-hoverable-after-opacity: .6;
}

/* COMMON SETTINGS FOR ALL THEMES EXCEPT DEFAULT */
.modal.modal--theme-dark {
  --theme-color-background: linear-gradient(135deg, #{$color-srf-neutral-04}, #{$color-srf-neutral-04});
  --theme-icon-filter: invert(100%) contrast(600%);

  --theme-color-nav: #{$color-srf-neutral-white};
  --theme-color-active: #{$color-srf-neutral-white};
  --theme-color-nav-hover-text: #{$color-srf-neutral-white};

  --theme-color-bg-search: #{$color-srf-neutral-blacka20};
  --theme-color-text-search: #{$color-srf-neutral-white};
  --theme-search-border: 1px solid #{$color-srf-neutral-whitea12};
  --theme-search-border-bottom: var(--theme-search-border);

  --theme-hoverable-after-opacity: .684;
}
