
/*
 * MODAL THEME SETTINGS
 *
 * Theme settings are defined here at the modal level and not on the page level because the
 * change of a value of a css custom property triggers a style recalculation for _all_ of its children
 * @see https://twitter.com/jonikorpi/status/865283047368818688
 */

/* DEFAULTS */
.modal {
  --theme-color-background: linear-gradient(135deg, #fefefd, #fafaf8);
  --theme-icon-filter: none;

  --theme-color-bg-search: #fefefd;
  --theme-color-text-search: #{$color-text-light};
  --theme-search-border: 1px solid rgba(0,0,0,.08);
  --theme-search-border-bottom: 0;

  --theme-hoverable-after-opacity: .6;
}

/* COMMON SETTINGS FOR ALL THEMES EXCEPT DEFAULT */
.modal.modal--theme-dark {
  --theme-color-background: linear-gradient(135deg, #111111, #111111);
  --theme-icon-filter: invert(100%) contrast(600%);

  --theme-color-nav: #fff;
  --theme-color-active: #fff;
  --theme-color-nav-hover-text: #fff;

  --theme-color-bg-search: rgba(0,0,0,.2);
  --theme-color-text-search: #fff;
  --theme-search-border: 1px solid rgba(255,255,255,.12);
  --theme-search-border-bottom: var(--theme-search-border);

  --theme-hoverable-after-opacity: .684;
}
