<button data-modal-id="test-modal-1">Open Modal 1</button>
<br><br><br><br>
<button data-modal-id="test-modal-2" style="margin-left: 50vw">Open Modal 2</button>
<br><br><br><br><br><br><br><br>

{% embed 'organisms-modal-flyout'  with { 'styleModifier': 'js-modal', 'flyoutId': 'test-modal-1', 'flyoutTitle': 'Kontakt ins Studio' } %}
    {% block flyout_content %}
        {% embed 'molecules-menu-list' %}
            {% block list_content %}
                <li class="menu-list__item">
                    {% include 'atoms-menu-link' with {'styleModifier': '', 'text': 'Mail ins Studio', 'iconStyleModifier': 'svg-icon--outline-mail'} %}
                </li>
                <li class="menu-list__item">
                    {% include 'atoms-menu-link' with {'styleModifier': '', 'text': '0848 80 80 80', 'iconStyleModifier': 'svg-icon--outline-phone'} %}
                </li>
                <li class="menu-list__item">
                    {% include 'atoms-menu-link' with {'styleModifier': '', 'text': 'WhatsApp', 'iconStyleModifier': 'svg-icon--outline-whatsapp'} %}
                </li>
                <li class="menu-list__item">
                    {% include 'atoms-menu-link' with {'styleModifier': '', 'text': 'Kontaktformular', 'iconStyleModifier': 'svg-icon--outline-mail'} %}
                </li>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}

{% embed 'organisms-modal-flyout'  with { 'styleModifier': 'js-modal', 'flyoutId': 'test-modal-2', 'flyoutTitle': 'Kontakt ins Studio' } %}
    {% block flyout_content %}
        {% embed 'molecules-menu-list' %}
            {% block list_content %}
                <li class="menu-list__item">
                    {% include 'atoms-menu-link' with {'styleModifier': '', 'text': 'Mail ins Studio', 'iconStyleModifier': 'svg-icon--outline-mail'} %}
                </li>
                <li class="menu-list__item">
                    {% include 'atoms-menu-link' with {'styleModifier': '', 'text': '0848 80 80 80', 'iconStyleModifier': 'svg-icon--outline-phone'} %}
                </li>
                <li class="menu-list__item">
                    {% include 'atoms-menu-link' with {'styleModifier': '', 'text': 'WhatsApp', 'iconStyleModifier': 'svg-icon--outline-whatsapp'} %}
                </li>
                <li class="menu-list__item">
                    {% include 'atoms-menu-link' with {'styleModifier': '', 'text': 'Kontaktformular', 'iconStyleModifier': 'svg-icon--outline-mail'} %}
                </li>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}