<div class="modal">
  {# THIS WILL BE A ELEMENT TO IMPLEMENT GLOBALY
  <div class="modal__head l-main-wrapper">
    {% include 'molecules-search-header' %}
  </div>
  #}
  <div class="modal__body l-main-wrapper">
    {% include 'molecules-globalnav' %}
  </div>
</div>