{% embed "modal.twig" with {
    'id': 'modal-flyout',
    'animation': 'fade-in-out',
    'styleModifier': '',
    'title': 'Radio-TV-Flyout'
} %}
    {% block head %}
        <h1>Hier erscheint in Bälde das Radio-/TV-Flyout</h1>
    {% endblock %}

    {% block body %}{% endblock %}
{% endembed %}
