@import "modal-theme-settings";
@import "../../mixins";

$modal-z-index: 100;

.modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: $modal-z-index;
}

.modal__main-wrapper {
  /* fallback */
  background-image: linear-gradient(135deg, #{$color-srf-neutral-offwhite}, #{$color-srf-warmgrey-10});

  /* theme */
  @supports (--foo: bar) {
    background-image: var(--theme-color-background, linear-gradient(135deg, #{$color-srf-neutral-offwhite}, #{$color-srf-warmgrey-10}));
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: $shadow-elevation8;
  z-index: $modal-z-index;
  padding-bottom: 80px;

  @include smartphone {

    &::after {
      /* fallback */
      background-image: linear-gradient(135deg, #{$color-srf-neutral-offwhite}, #{$color-srf-warmgrey-10});

      /* theme */
      @supports (--foo: bar) {
        background-image: var(--theme-color-background, linear-gradient(135deg, #{$color-srf-neutral-offwhite}, #{$color-srf-warmgrey-10}));
      }

      /* Put it behind the modal so we fake a nice background */
      z-index: -1;

      position: fixed;
      bottom: -200px;
      left: 0;
      height: 400px;
      width: 100%;
      content: '';
    }
  }

  @include momentumScrolling;
}

.modal__main-wrapper--no-bg {
  background: #fff;
}

.modal__head,
.modal__content-wrapper {
  max-width: calc(#{$content-width} + 2 * 16px);
  margin: 0 auto;
  padding: 0 16px;

  @include tablet-up {
    max-width: calc(#{$content-width} + 2 * 32px);
    padding: 0 32px;
  }

  @include desktop-up {
    max-width: calc(#{$content-width} + 2 * 40px);
    padding: 0 40px;
  }
}

.modal__content-wrapper--no-spacing {
  @include smartphone {
    max-width: $content-width;
    padding: 0;
  }

  @include tablet-up {
    max-width: 100%;
    padding: 0;
  }
}

.modal__head {
  display: flex;
  justify-content: flex-end;

  .icon-button {
    padding: 12px;
  }

  @include smartphone {
    background-color: $color-srf-neutral-whitea92;
    padding: 0;
  }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeToGreyAnimation .2s ease-in-out forwards;
}

// mostly for demo purposes
.modal--open {
  display: block;
}

// In certain cases the overflow has to be visible, e.g. when the search results can be taller than the modal wrapper
.modal--allow-overflow {
  .modal__main-wrapper {
    overflow: visible;
  }
}

.modal--no-overlay {
  height: auto;

  .modal__overlay {
    display: none;
  }

  .modal__main-wrapper {
    &::after {
      display: none;
    }
  }
}

.modal--bottom {
  .modal__main-wrapper {
    top: auto;
    bottom: 0;
    overflow-y: auto;
  }

  .modal__content-wrapper {
    max-height: calc(100vh - 56px);
    overflow-y: visible;
  }
}
