{% embed "modal.twig" with {
    'id': 'modal-flyout',
    'animation': 'scale-from-origin',
    'styleModifier': '',
    'styleModifierModalWrapper': 'modal-main-wrapper--rtv'
} %}
    {% block content %}
        <span class="h-offscreen js-focus-target">Aktuelle Programme und Live-Streams</span>

        <div class="modal__head modal-wrapper">
          {% include 'molecules-search-header' with {'styleModifier': 'search-header--rtv'} %}
        </div>

        <div class="modal__body modal-wrapper">
          {% include 'molecules-rtv' with {'styleModifier': ''} %}
        </div>
    {% endblock %}
{% endembed %}
