<div class="modal">
  <div class="modal__head modal-wrapper">
    {% include 'molecules-search-header' %}
  </div>
  <div class="modal__body modal-wrapper">
    {% include 'molecules-globalnav' %}
  </div>
</div>