.modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 100;
}

.modal-main-wrapper {
  background-image: linear-gradient(135deg, #fefefd, #fafaf8);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.24),
              0 0 8px 0 rgba(0,0,0,.12);
  position: fixed;
  width: 100%;
  max-height: 100%;
  overflow: auto;
}

.modal-wrapper {
  max-width: calc(#{$content-width} + 2 * 16px);
  margin: 0 auto;
  padding: 0 16px;

  @include tablet-up {
    max-width: calc(#{$content-width} + 2 * 32px);
    padding: 0 32px;
  }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.12);
}

// mostly for demo purposes
.modal--open {
  display: block;
}
