<div class="modal">
  <div class="modal__head">
    {% include 'molecules-search-header' %}
  </div>
  <div class="modal__body l-main-wrapper">
    <ul class="globalnav" role="menu">
      <li class="globalnav-group">
        <ul class="globalnav-group__list globalnav-group__list--portals" role="group">
          <li class="globalnav-item"><a class="globalnav-link" href="#"><span class="globalnav-link__text">News</span></a></li>
          <li class="globalnav-item"><a class="globalnav-link" href="#"><span class="globalnav-link__text">Sport</span></a></li>
          <li class="globalnav-item"><a class="globalnav-link" href="#"><span class="globalnav-link__text">Meteo</span></a></li>
          <li class="globalnav-item"><a class="globalnav-link" href="#"><span class="globalnav-link__text">Kultur</span></a></li>
          <li class="globalnav-item"><a class="globalnav-link" href="#"><span class="globalnav-link__text">DOK</span></a></li>
        </ul>
      </li>
      <li class="globalnav-group">
        <ul class="globalnav-group__list" role="group">
          <li class="globalnav-item"><a class="globalnav-link" href="#"><span class="globalnav-link__text">Play SRF</span></a></li>
          <li class="globalnav-item"><a class="globalnav-link" href="#"><span class="globalnav-link__text">TV-Programm</span></a></li>
          <li class="globalnav-item"><a class="globalnav-link" href="#"><span class="globalnav-link__text">Sendungen A-Z</span></a></li>
          <li class="globalnav-item"><a class="globalnav-link" href="#"><span class="globalnav-link__text">Radio-Programm</span></a></li>
          <li class="globalnav-item"><a class="globalnav-link" href="#"><span class="globalnav-link__text">Podcasts</span></a></li>
          <li class="globalnav-item"><a class="globalnav-link" href="#"><span class="globalnav-link__text">Radiosender</span></a></li>
        </ul>
      </li>
      <li class="globalnav-group">
        <ul class="globalnav-group__list" role="group">
          <li class="globalnav-item"><a class="globalnav-link" href="#"><span class="globalnav-link__text">Verkehr</span></a></li>
          <li class="globalnav-item"><a class="globalnav-link" href="#"><span class="globalnav-link__text">Zambo</span></a></li>
          <li class="globalnav-item"><a class="globalnav-link" href="#"><span class="globalnav-link__text">Über SRF</span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>