{% embed "modal.twig" with {
    'id': 'modal-search',
    'animation': 'scale-from-origin',
    'styleModifier': 'modal--allow-overflow',
    'jsHooks': 'js-min-height-of-masthead',
    'title': 'Suche'
} %}
    {% block content %}
        <span class="h-offscreen">Suche</span>

        <div class="modal__content-wrapper">
            {% include 'molecules-search-header' with {'styleModifier': '', 'styleModifierSearch': 'js-focus-target'} %}
        </div>
    {% endblock %}
{% endembed %}
