{% embed "modal.twig" with {
    'id': 'modal-onairnav',
    'animation': 'scale-from-origin',
    'styleModifier': 'modal--theme-dark',
    'styleModifierModalWrapper': ''
} %}
    {% block content %}
        <span class="h-offscreen js-focus-target">Aktuelle Programme und Live-Streams</span>

        <div class="modal__content-wrapper">
        	{% include 'molecules-search-header' with {'styleModifier': '', 'styleModifierSearch': ''} %}
        	{% include 'molecules-onairnav' with {'styleModifier': ''} %}
        </div>
    {% endblock %}
{% endembed %}
