<ol class="text-list text-list--ordered">
    <li>1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace».</li>
    <li>Seine <strong>Unabhängigkeitserklärung</strong> ist auch heute noch relevant.</li>
    <li>1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace».</li>
    <li>Seine Unabhängigkeitserklärung ist auch heute noch relevant.</li>
    <li>1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace».</li>
    <li>Seine Unabhängigkeitserklärung ist auch heute noch relevant.</li>
    <li>1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace».</li>
    <li>Seine Unabhängigkeitserklärung ist auch heute noch relevant.</li>
    <li>1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace».</li>
    <li>Seine Unabhängigkeitserklärung ist auch heute noch relevant.</li>
    <li>1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace».</li>
    <li>Seine Unabhängigkeitserklärung ist auch heute noch relevant.</li>
    <li>1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace».</li>
    <li>Seine Unabhängigkeitserklärung ist auch heute noch relevant.</li>
</ol>