<ul class="text-list text-list--unordered">
    <li>Block 1 des Kernkraftwerks Beznau geht nicht vor Ende Jahr ans Netz</li>
    <li>Wegen <strong>Unregelmässigkeiten im Material des Reaktorbehälters</strong> wurde der Reaktor im März 2015 vom Netz genommen.</li>
</ul>
