<script src="../../assets/demo/js/toc.js"></script>

<div class="l-card demo-documentation" aria-hidden="false" role="">
    <article class="article">

        <header class="article-header">
            <br/>
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a class="breadcrumb__link" href="#">Introduction</a>
                </li>
            </ul>

            <h1 class="article-title">SRF Frontend Framework (FEF)</h1>
            <p class="article-lead"></p>
        </header>

        <hr class="horizontal-separator" role="presentation" aria-hidden="true">

        <section class="article-content">

        <div class="js-demo-toc"></div>

        <hr class="horizontal-separator" role="presentation" aria-hidden="true">

            <p><strong>Please note:</strong> This page uses patterns of the SRF Frontend Framework but is no reference for its usage in general (there are also some specific styles only for this page in use).</p>

            <h2>General considerations</h2>

            <h3>Code structure</h3>
            <p>Code has to be in the <em>source</em> folder. There you find a subfolder "_patterns" where you'll find the atoms, molecules etc.</p>
            <p>Each element usually consists of:</p>

            <ul>
                <li>myelement.scss</li>
                <li>myelement.twig</li>
                <li>myelement.md (optional)</li>
            </ul>

            <h3>Styles</h3>

            <p>
                Styles have to be included in the <em>source/_patterns/main.scss</em> : <br>
                <code>@import "10-atoms/charts/charts";</code>
            </p>

            <p>See <a href="#style_guidelines">CSS/Sass Development Guideline</a> for further informations.</p>

            <h3>Javascript</h3>

            <p>
                The javascript for your atome or molecule has to be in the folder <em>source/assets/js</em>. Use a <code>srf-</code> prefix and include the file in the <em>main.js</em> (only for usage in FEF).
            </p>

            <p><strong>Important:</strong> Do not write JS code in FEF which is only usable in a SRF context. FEF components should always be independent and reusable.</p>

            <h3>What to include in the FEF?</h3>
            <p>Frontend elements, which</p>
            <ul>
                <li>generally reusable</li>
                <li>are expected to be reused (follow the YAGNI principle)</li>
                <li>don’t have a complex logic</li>
            </ul>

            <p>Examples:</p>

            <ul>
                <li>Buttons</li>
                <li>Textbox</li>
                <li>Image carousel</li>
                <li>...</li>
            </ul>

            <h3>What <strong>not</strong> to include in the FEF?</h3>

            <p>Frontend elements, which are</p>

            <ul>
                <li>not general reusable</li>
                <li>application specific</li>
                <li>not content-agnostic</li>
            </ul>

            <p>Examples:</p>

            <ul>
                <li>Polis-Map</li>
                <li>External Charts (i.e. AMCharts)</li>
                <li>Carto-Maps</li>
                <li>SRF Embed Element</li>
                <li>...</li>
            </ul>

            <h3>Atomic design</h3>

            <img src="http://atomicdesign.bradfrost.com/images/content/atomic-design-process.png" />

            <p>FEF is based on the principles of atomic design by Brad Frost.</p>

            <div class="linkbox">
                <ul class="linkbox__list">
                    <li>
                        <a href="http://atomicdesign.bradfrost.com/chapter-2/" class="block-link block-link--external" target="_blank">
                            Atomic Design by Brad Frost
                        </a>
                    </li>
                </ul>
            </div>

            <h2><a id="style_guidelines"></a>CSS/Sass Development Guidelines</h2>

            <p>This guidelines describe the development within the SRF Frontend Framework, not it's use.</p>

            <h3 class="demo-documentation__content-subtitle">General considerations</h3>
            <ul class="text-list text-list--unordered">
                <li>The main idea behind our <a href="#BEM">BEM blocks</a> is that they could be used independently and anywhere. A vision is that - when we are ready to use http/2 - each block will have a separate generated CSS file so that just the styles for blocks used on a web page need to be included. Therefore: Avoid global styles and code a block in a way that all its styling is in one Sass file.</li>
                <li>Maintainability should be the primary goal when writing CSS/Sass-Code for the framework even if it results in more code.</li>
                <li>Top and bottom spaces between components should be ruled by
                    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing" target="_blank">collapsing margins</a>. The component with the larger margin wins.
                    Therefore only use margins not padding for top and bottom spaces. Sometimes it is necessary to add a wrapper <code>&lt;div&gt;</code> to make margins work as desired.</li>
                <li>You are allowed to use flexbox  - so use it ;-)</li>
            </ul>

            <h3 class="demo-documentation__content-subtitle">Formatting</h3>
            <ul class="text-list text-list--unordered">
                <li>Use soft tabs (2 spaces) for indentation</li>
                <li>Do not use ID selectors</li>
                <li>When using multiple selectors in a rule declaration, give each selector its own line.</li>
                <li>Put a space before the opening brace <code>{</code> in rule declarations</li>
                <li>In properties, put a space after, but not before, the <code>:</code> character.</li>
                <li>Put closing braces <code>}</code> of rule declarations on a new line</li>
                <li>Put blank lines between rule declarations</li>
                <li>Order your regular CSS and <code>@include</code> declarations logically (see below)</li>
                <li>Use the <code>.scss</code> syntax, never the original <code>.sass</code> syntax</li>
            </ul>

            <p><strong>Example</strong></p>
            <div class="textbox textbox--article-indentation">
                <p class="textbox__title">Bad</p>
    <pre ><code>.avatar{
        border-radius:50%;
        border:2px solid white; }
    .no, .nope, .not_good {
        // ...
    }
    #lol-no {
      // ...
    }
    </code></pre>
            </div>
            <div class="textbox textbox--article-indentation">
                <p class="textbox__title">Good</p>
    <pre ><code>.avatar {
      border-radius: 50%;
      border: 2px solid white;
    }

    .one,
    .selector,
    .per-line {
      // ...
    }
    </code></pre>
            </div>

            <h3 class="demo-documentation__content-subtitle">Nesting selectors</h3>
            <p>Avoid the nesting of selectors in order to reduce <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity">specificity</a>; whenever possible, use class selectors.</p>
            <p>But in any case: <strong>Do not nest selectors more than three levels deep!</strong></p>
            <div class="textbox textbox--article-indentation">
    <pre><code>.page-container {
      .content {
        .profile {
          // STOP!
        }
      }
    }
    </code></pre>
            </div>
            <p>When selectors become this long, you’re likely writing CSS that is:</p>
            <ul class="text-list text-list--unordered">
                <li>Strongly coupled to the HTML (fragile) <em>—OR—</em></li>
                <li>Overly specific (powerful) <em>—OR—</em></li>
                <li>Not reusable</li>
            </ul>

            <p>Please do not abbreviate and nest class names with the sass parent selector (<code>&</code>). Searching for CSS definitions gets very hard this way.</p>
            <p><strong>Example</strong></p>
            <div class="textbox textbox--article-indentation">
                <p class="textbox__title">Bad</p>
    <pre ><code>.sharing-bar {
      &__container { }
      &__button {
        &--facebook { }
        &:hover { }
      }
    }
    </code></pre>
            </div>
            <div class="textbox textbox--article-indentation">
                <p class="textbox__title">Good</p>
    <pre ><code>.sharing-bar { }
    .sharing-bar__container { }
    .sharing-bar__button {
      &:hover { }
    }
    .sharing-bar__button--facebook { }
    </code></pre>
            </div>

            <h3 class="demo-documentation__content-subtitle">Ordering of property declarations</h3>
            <ol>
                <li>
                    <p>Property declarations</p>
                    <p>List all standard property declarations, anything that isn’t an <code>@include</code> or a nested selector.</p>
                    <div class="textbox textbox--article-indentation">
    <pre><code>.btn-green {
      background: green;
      font-weight: bold;
      // ...
    }
    </code></pre>
                    </div>
                </li>
                <li>
                    <p><code>@include</code> declarations</p>
                    <p>Grouping <code>@include</code> declarations at the end makes it easier to read the entire selector.</p>
                    <div class="textbox textbox--article-indentation">
    <pre><code>.btn-green {
      background: green;
      font-weight: bold;
      @include transition(background 0.5s ease);
      // ...
    }
    </code></pre>
                    </div>
                </li>
                <li>
                    <p>Nested selectors</p>
                    <p>Nested selectors, <em>if necessary</em>, go last, and nothing goes after them. Add whitespace between your rule declarations and nested selectors, as well as between adjacent nested selectors. Apply the same guidelines as above to your nested selectors.</p>
                    <div class="textbox textbox--article-indentation">
    <pre><code>.block-link {
      background: #ddd;
      font-weight: bold;
      @include transition(background 0.5s ease);

      &:hover {
        background: #fff;
      }
    }
    </code></pre>
                    </div>
                </li>
            </ol>

            <h3 class="demo-documentation__content-subtitle">Comments</h3>
            <ul class="text-list text-list--unordered">
                <li>Prefer line comments (<code>//</code> in Sass-Files) to block comments.</li>
                <li>Write detailed comments for code that isn’t self-documenting, i.e.:
                    <ul>
                        <li>Uses of z-index</li>
                        <li>Compatibility or browser-specific hacks</li>
                    </ul>
                </li>
            </ul>

            <h3 class="demo-documentation__content-subtitle">Class naming</h3>

            <ul class="text-list text-list--unordered">
                <li>In general, use BEM for naming classes where sensible. The block names should correspond to the pattern name in patternlab.</li>
                <li>For global and utility classes use the following prefixes:<br>
                    <div class="table-block">
                        <table>
                            <caption class="h-offscreen">prefixes for class names and their use cases</caption>
                            <thead>
                            <tr>
                                <th>Prefix</th>
                                <th>Use case</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><code>l-</code></td>
                                <td>Classes defining the global <strong>l</strong>ayout</td>
                            </tr>
                            <tr>
                                <td><code>h-</code></td>
                                <td><a href="#utility_classes">Utility/<strong>h</strong>elper classes</a></td>
                            </tr>
                            <tr>
                                <td><code>js-</code></td>
                                <td><a href="#js_hooks"><strong>J</strong>ava<strong>s</strong>cript hooks</a></td>
                            </tr>
                            <tr>
                                <td><code>demo-</code><br><code>sg-</code></td>
                                <td>Class names beginning with <code>demo-</code> or <code>sg-</code> are <strong>not</strong> part of the SRF Frontend Framework patterns. Use them only to style this patternlab styleguide.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>

            <p><a id="BEM"></a><strong>BEM</strong>, or “Block-Element-Modifier”, is a <em>naming convention</em> for classes in HTML and CSS. It was originally developed by Yandex with large codebases and scalability in mind, and can serve as a solid set of guidelines for implementing OOCSS.</p>
            <p>We use a variant of BEM called <a href="https://en.bem.info/methodology/naming-convention/#two-dashes-style" target="_blank">“Two Dashes style”</a>:</p>
            <p><strong>Example</strong></p>
            <div class="textbox textbox--article-indentation">
    <pre ><code>&lt;!-- sharing-bar.twig --&gt;
    &lt;div class=&quot;sharing-bar&quot;&gt;
        &lt;div class=&quot;sharing-bar__container&quot;&gt;
            &lt;div class=&quot;sharing-bar__button sharing-bar__button--facebook&quot;&gt;
                &lt;span class=&quot;h-offscreen&quot;&gt;(externer Link, Popup)&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class=&quot;sharing-bar__button sharing-bar__button--twitter&quot;&gt;
                &lt;span class=&quot;h-offscreen&quot;&gt;(externer Link, Popup)&lt;/span&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    </code></pre>
            </div>

            <div class="textbox textbox--article-indentation">
    <pre ><code>/* sharing-bar.scss */
    .sharing-bar { }
    .sharing-bar__container { }
    .sharing-bar__button { }
    .sharing-bar__button--facebook { }
    </code></pre>
            </div>

            <ul class="text-list text-list--unordered">
                <li><code>.sharing-bar</code> is the “block” and represents the higher-level component</li>
                <li><code>.sharing-bar__container</code> and <code>.sharing-bar__button</code> are “elements” and represents descendants of <code>.sharing-bar</code> that helps compose the block as a whole. Elements can be nested in the html structure of the block.</li>
                <li><code>.sharing-bar__button--facebook</code> is a “modifier” and represents a different state or variation on the <code>.sharing-bar__button</code> element. Modifiers can be applied to elements and blocks</li>
            </ul>

            <p>The main principle behind our BEM blocks should be that they can be used anywhere, independent of their context. In the future, each block will have a separate generated CSS file so that just the styles for the block have to be included when its added somewhere. Therefore it's important that all styling of a block and its elements is contained in one single Sass file. The name of the sass file should correspond to the name of the block (i.e. block <code>.sharing-bar { }</code> is defined in a file named <code>sharing-bar.scss</code></p>

            <div class="linkbox">
                <ul class="linkbox__list">
                    <li>
                        <a href="https://en.bem.info" class="block-link block-link--external" target="_blank">
                            BEM
                        </a>
                    </li>
                    <li>
                        <a href="http://getbem.com" class="block-link block-link--external" target="_blank">
                            GetBEM
                        </a>
                    </li>
                    <li>
                        <a href="https://css-tricks.com/bem-101/" class="block-link block-link--external" target="_blank">
                            CSS Trick’s BEM 101
                        </a>
                    </li>
                    <li>
                        <a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/" class="block-link block-link--external" target="_blank">
                            Harry Roberts’ introduction to BEM
                        </a>
                    </li>
                </ul>
            </div>

            <h3 class="demo-documentation__content-subtitle"><a id="utility_classes"></a>Utility/helper classes</h3>
            <blockquote class="blockquote ">
                <div class="blockquote__quote">
                    <span class="blockquote__text">A utility class applies a single rule or a very simple, universal pattern. Think .float-right, .align-center, or .font-small for single rules; .list-unstyled, .clearfix, and .visually-hidden for patterns. (Sometimes they’re called “helpers,” as in Bootstrap.)</span>
                </div>
                <footer class="blockquote__footer">
                    <cite class="blockquote__author">
                        <a href="http://davidtheclark.com/on-utility-classes/" target="_blank">David Clark</a><br>
                        <span class="blockquote__function">Frontend web developer</span>
                    </cite>
                </footer>
            </blockquote>
            <p>Use utility classes very restrictively since they might affect the maintainability of the code in a negative way. In order to stick to the DRY principle, prefer the use of Sass-Mixins (even if it results in duplicate generated css code). Prefix utility/helper classes with <code>h-</code>.</p>
            <div class="textbox textbox--article-indentation">
    <pre><code>&lt;span class=&quot;h-offscreen h-offscreen-focusable&quot;&gt;This text is for screen readers only&lt;/span&gt;</code></pre>
            </div>
            <div class="linkbox">
                <ul class="linkbox__list">
                    <li>
                        <a href="http://davidtheclark.com/on-utility-classes/" class="block-link block-link--external" target="_blank">
                            On utility classes
                        </a>
                    </li>
                </ul>
            </div>

            <h3 class="demo-documentation__content-subtitle"><a id="js_hooks"></a>JavaScript hooks</h3>
            <p>Avoid binding to the same class in both your CSS and JavaScript. Conflating the two often leads to, at a minimum, time wasted during refactoring when a developer must cross-reference each class they are changing, and at its worst, developers being afraid to make changes for fear of breaking functionality.</p>
            <p>Therefore, please create JavaScript-specific classes to bind to, prefixed with <code>js-</code> and preferably followed by the block name if sensible.</p>
            <div class="textbox textbox--article-indentation">
    <pre ><code>&lt;button class=&quot;js-sharing-bar-comment-counter sharing-bar__button sharing-bar__button--comment&quot;&gt;123&lt;/button&gt;</code></pre>
            </div>

            <h3 class="demo-documentation__content-subtitle">ID selectors</h3>
            <p>While it is possible to select elements by ID in CSS, it should generally be considered an anti-pattern. ID selectors introduce an unnecessarily high level of <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity">specificity</a> to your rule declarations, and they are not reusable.</p>

            <h3 class="demo-documentation__content-subtitle">!important declarations</h3>
            <p>This statement says it all:</p>
            <blockquote class="blockquote">
                <div class="blockquote__quote">
                    <span class="blockquote__text">!important declarations should not be used unless they are absolutely necessary after all other avenues have been exhausted.</span>
                </div>
                <footer class="blockquote__footer">
                    <cite class="blockquote__author">
                        <a href="https://www.smashingmagazine.com/2010/11/the-important-css-declaration-how-and-when-to-use-it/" target="_blank">Louis Lazaris</a><br>
                        <span class="blockquote__function">Web developer and author</span>
                    </cite>
                </footer>
            </blockquote>
            <p>If you really must use an <code>!important</code> statement, please comment the reasons for its use in the code.</p>

            <h3 class="demo-documentation__content-subtitle">Sass-Variables</h3>
            <p>Prefer dash-cased variable names (e.g. <code>$my-variable</code>) over camelCased or snake_cased variable names. It is acceptable to prefix variable names that are intended to be used only within the same file with an underscore (e.g. <code>$_my-variable</code>).</p>

            <h3 class="demo-documentation__content-subtitle">Mixins</h3>
            <p>Mixins should be used to DRY up your code, add clarity, or abstract complexity–in much the same way as well-named functions. Mixins that accept no arguments can be useful for this, but note that if you are not compressing your payload (e.g. gzip), this may contribute to unnecessary code duplication in the resulting styles.</p>

            <h3 class="demo-documentation__content-subtitle">Extend directive</h3>
            <p><code>@extend</code> must be avoided because it has unintuitive and potentially dangerous behavior, especially when used with nested selectors. Even extending top-level placeholder selectors can cause problems if the order of selectors ends up changing later (e.g. if they are in other files and the order the files are loaded shifts). Gzipping should handle most of the savings you would have gained by using <code>@extend</code>, and you can DRY up your stylesheets nicely with <strong>mixins</strong>.</p>

            <h3 class="demo-documentation__content-subtitle">Credits</h3>
            <p>This style guide is based on the <a href="https://github.com/airbnb/css" target="_blank">Airbnb CSS / Sass Styleguide</a> with adaptations for the SRF Frontend Framework.</p>

        </section>
    </article>
</div>
