<h1>SRF Frontend Framework</h1>

<h2>Allgemeine Hinweise</h2>

<h3>CSS</h3>
Alle CSS-Klassen, die mit "demo-" oder "sg-" beginnen, sind kein Bestandteil des SRF Frontend Frameworks, sondern gehören zur Darstellung dieses Pattenlab-Styleguides.