<script src="../../assets/demo/js/toc.js"></script>

<style>
    a, h1 {
        margin: 0 16px;
    }
</style>

<div class="l-main-wrapper l-card demo-documentation" aria-hidden="false" role="">
    <article class="article">
        <h1>Links</h1>

        <h2 class="content-heading">1. VC Leutschenbach</h2>
        <a class="block-link" href="https://www.srf.ch/testcase/teaser/hyperinflation-trotz-reichtum-version-1-venezuelas-wirtschaft-am-abgrund" target="_blank">Version 1 - Venezuela</a>
        <a class="block-link" href="https://www.srf.ch/testcase/teaser/hyperinflation-trotz-reichtum-version-2-1-venezuelas-wirtschaft-am-abgrund" target="_blank">Version 2.1 - Venezuela</a>
        <a class="block-link" href="https://www.srf.ch/testcase/teaser/hyperinflation-trotz-reichtum-version-4-1-venezuelas-wirtschaft-am-abgrund" target="_blank">Version 4.1 - Venezuela</a>
        <a class="block-link" href="https://www.srf.ch/testcase/teaser/vergleich-japan-und-schweiz-version-6-insel-in-europa-vs-insel-im-pazifik" target="_blank">Version 6 - Japan</a>

        <h2 class="content-heading">Vertically Challenged</h2>
        <a class="block-link" href="https://frontend-framework-stag-pr-445.herokuapp.com/patterns/50-pages-40-demopages-snake-image/50-pages-40-demopages-snake-image.html" target="_blank">Horizontal</a>
        <a class="block-link" href="https://frontend-framework-stag-pr-445.herokuapp.com/patterns/50-pages-40-demopages-snake-image-base/50-pages-40-demopages-snake-image-base.html" target="_blank">Vertikal</a>
    </article>
</div>
