<h1>SRF Frontend Framework</h1>

<h2>Allgemeine Hinweise</h2>

<h3>CSS</h3>
<ul>
    <li>Alle CSS-Klassen, die mit "<code>demo-</code>" oder "<code>sg-</code>" beginnen, sind kein Bestandteil des SRF Frontend Frameworks, sondern gehören nur zur Darstellung dieses Pattenlab-Styleguides.</li>
    <li>Klassen, die das globale Layout betreffen, haben das Präfix "<code>l-</code>" (kleines L)</li>
    <li>Soweit sinnvoll werden Klassennamen nach dem BEM-Prinzip verwendet. Die BEM-Klassennamen (Block oder Element) sollten jeweils dem Patternnamen entsprechen.</li>
</ul>

<br>
Zu Dokumentieren:
<ul>
    <li>css/sass styleguide</li>
    <li>keine übermässigen verschachtlungen</li>
    <li>kommentare ins scss schreiben</li>
    <li>vorsicht mit @extend!</li>
</ul>