@import "../../variables";
@import "../../mixins";
@import "../../breakpoints";

$button-height: 48px;
$button-animation-duration: .3s;

// sass-lint:disable indentation
.button {
  width: 100%;
  min-height: $button-height;
  padding: 13px 40px;
  text-transform: uppercase;
  @include fontSize(16);
  font-family: $font-regular;
  letter-spacing: 0.8px; // Interactive overriding default values
  color: rgba(255,255,255,1);
  @include font-smoothing;
  border: 0;
  border-radius: 2px;
  margin-top: 20px;
  display: block;
  // the following makes iOs display the button with css
  -webkit-appearance: none;
  background-color: $color-text-accentuation;
  box-shadow: $shadow-elevation2;
  transition: background-color $button-animation-duration ease-in-out,
              box-shadow $button-animation-duration ease-in-out;

  .button-icon {
    width: 24px;
    height: 24px;
    margin: -1px 8px -7px -44px;
    display: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  @include tablet-up {
    width: auto;

    .button-icon {
      margin-left: 0;
    }
  }

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    outline: none;
    box-shadow: $shadow-elevation8;
  }

  &:hover,
  &:focus {
    background-color: $color-text-light;
  }

  &:active {
    background-color: $color-button-active;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
  }

  .button-wrapper {
    // prevent line-breaking of child elements when animating via JS
    white-space: nowrap;
  }
}

.button--pending {

  &:hover,
  &:active,
  &:focus {
    cursor: default;
    background-color: $color-text-accentuation;
    box-shadow: $shadow-elevation2;
    transition: none;
  }

  .button-icon {
    display: inline-block;
    @include spinner(1px, rgba(255,255,255,1), rgba(122,122,122,1), $color-text-accentuation);

    margin: -1px auto -7px auto;
  }

  .button-text {
    display: none;
  }
}

.button--alert,
.button--on-error {
  overflow: hidden;
  position: relative;

  .button-text,
  .button-icon {
    position: relative;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $color-accentuation-red;
    cursor: default;
    box-shadow: $shadow-elevation2;
    transition: none;
  }

  .button-icon {
    display: inline-block;
    background-image: url('../img/exclamation-mark.svg');
  }

  // Background animation
  height: $button-height;

  &::before {
    background-color: $color-accentuation-red;
    transition: height $button-animation-duration cubic-bezier(0.18, 0.89, 0.32, 1.28);
    height: 100%;
    border-radius: 2px;
    top: 0px; //start animation on the top, grow downwards
  }

  .button-wrapper {
    padding-top: 50px;
    margin-top: -50px;
    transition: padding-top $button-animation-duration cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
}

.button--success {
  overflow: hidden;
  position: relative;

  .button-text,
  .button-icon {
    position: relative;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $color-button-success;
    cursor: default;
    box-shadow: $shadow-elevation2;
    transition: none;
  }

  .button-icon {
    display: inline-block;
    background-image: url('../img/white_tick.svg');
  }

  // Background animation
  height: $button-height;

  &::before {
    background-color: $color-button-success;
    transition: height $button-animation-duration cubic-bezier(0.18, 0.89, 0.32, 1.28);
    height: 100%;
    border-radius: 2px;
  }

  .button-wrapper {
    padding-top: 50px;
    margin-top: -50px;
    transition: margin-top $button-animation-duration cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
}

.button--retry {

  .button-icon {
    display: inline-block;
    background-image: url('../img/retry.svg');
  }
}

.button--secondary {
  color: $color-text-accentuation;
  background-color: $color-bg-box;

  &:hover,
  &:active {
    background-color: $color-bg-box-hover;
  }

  &:focus {
    background-color: $color-button-active-secondary;
  }
}

.button--inactive {
  opacity: .48;

  &:hover,
  &:active,
  &:focus {
    cursor: default;
    background-color: $color-text-accentuation;
    box-shadow: $shadow-elevation2;
    transition: none;
  }
}

.button--circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 0;

  .button-wrapper {
    white-space: normal;
  }
}

.button--fixed-bottom-right {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

.button--attention-hogger {
  animation: pulsatingAnimation 2s infinite;
}

.button--allow-line-breaks {
  .button-wrapper {
    white-space: normal;
  }
}
