@import "../../breakpoints";

.icon-button {
  display: flex;
  padding: 16px;
  align-items: center;
}

.icon-button__text {
  margin-left: 8px;
}

// Text of the button is only visible on desktop+
.icon-button--collapsing-text-tablet {
  .icon-button__text {
    display: none;
  }
  
  @include desktop-up {
    .icon-button__text {
      display: block;
    }
  }
}
