.load-more {
  height: 40px;
  background-color: $color-link-bg-hover;
  border: 1px solid $color-separator;
  border-width: 1px 0;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet-up {
    height: 56px;
  }

  &:hover {
    background-color: $color-bg-caption;
  }

  &:active {
    background-color: $color-bg-box;
  }
}

.load-more__img {
  @include caret('red', 'down', 'medium');

  @include tablet-up {
      margin-right: 6px;
  }
}

.load-more__info {
  color: $color-accentuation-red;
  font: 16px/16px $font-regular;
  display: none;

  @include tablet-up {
    display: block;
  }
}
