@import "../../variables";
@import "../../mixins";

.load-more {
  height: 40px;
  background-color: $color-srf-warmgrey-10;
  border: 1px solid $color-srf-warmgrey-50;
  border-width: 1px 0;
  cursor: pointer;
  width: 100%;

  @include tablet-up {
    height: 56px;
  }

  &:hover {
    background-color: $color-srf-warmgrey-25;
  }

  &:active {
    background-color: $color-srf-warmgrey-50;
  }
}

// Safari can't handle flex on a button - put it in a span and it works. ~pchr, 12.7.2018
.load-more__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.load-more__img {
  @include caret('red', 'down', 'medium');

  @include tablet-up {
    margin-right: 6px;
  }
}

.load-more__info {
  color: $color-srf-red-600;
  @include fontSize(16);
  line-height: 1;
  font-family: $font-regular;

  @include smartphone {
    display: none;
  }
}
