
<a href="#" class="pill-button {{ styleModifier }}">
    {% if buttonIcon %}
        <span class="pill-button__icon">{% include 'atoms-svg-icon' with {'styleModifier': buttonIcon} %}</span>
    {% endif %}
    <span class="pill-button__text">{{ buttonText|default('') }}</span>
</a>