
<a href="javascript:void(0)" class="pill-button {{ styleModifier }}" {{ additionalAttributes }}>
    {% if buttonIcon %}
        <span class="pill-button__icon">{% include 'atoms-svg-icon' with {'styleModifier': buttonIcon} %}</span>
    {% endif %}
    <span class="pill-button__text">{{ buttonText|default('') }}</span>
</a>
