.breadcrumb-link { // a
  font: 14px/1.14 $font-regular;
  letter-spacing: 0.2px;
  background-color: #ebebe5;
  padding: 7px 23px 7px 12px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 10px;

  // touch area :/
  border: 8px solid transparent;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;

  &:hover {
    background-color: #dadad2;
  }

  &:active {
    background-color: #cac8bf;
  }

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: auto;
    right: 11px;
    width: 7px;
    height: 10px;
    background: transparent url("../img/arrows/breadcrumb_arrow.svg") no-repeat scroll 0 0 / 7px auto;
  }
}

.breadcrumb-link,
.breadcrumb-link:hover,
.breadcrumb-link:active,
.breadcrumb-link:focus {
  color: #4e4d47;
  border-bottom: 8px solid transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  outline: none;
}