.breadcrumb-link { // a
  font: 14px/1.14 $font-regular;
  letter-spacing: 0.2px;
  background-color: #ebebe5;
  padding: 6px 22px 8px 12px;
  display: inline-block;
  vertical-align: middle;
  position: relative;

  // touch area :/
  border: 9px solid transparent;
  border-width: 9px 0;
  background-clip: padding-box;

  &:hover {
    background-color: #dadad2;
  }

  &:active {
    background-color: #cac8bf;
  }

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: auto;
    right: 12px;
    width: 6px;
    height: 12px;
    background: transparent url("../img/arrows/carousel_arrow_next-no-background.svg") no-repeat scroll 0 0 / 6px auto;
  }
}

.breadcrumb-link,
.breadcrumb-link:hover,
.breadcrumb-link:active,
.breadcrumb-link:focus {
  color: #4e4d47;
  border-bottom: 9px solid transparent;
  outline: none;
}