<button class="load-more">
    <img class="load-more__img" src="{{ frameworkAssetPath }}/img/icon/intendation.svg" alt="{{ 'Mehr anzeigen' }}">
    <span class="load-more__info" aria-hidden="true">{{ 'Mehr anzeigen' }}</span>
</button>
