.media-caption {
  padding: 12px 16px;
  background-color: $color-bg-caption;
  font: 16px/24px $font-light;
  color: $color-text-default;
  overflow: hidden;

  @include smartphone {
    padding: 12px 24px;
  }
}

.media-caption--no-bg {
  background-color: transparent;
  border-bottom: 1px solid #cac8bf;
}

.media-caption--in-box {
  padding-left: 0;
  padding-right: 0;
}

.media-caption__title {
  display: block;
  font-family: $font-regular;
}

.media-caption__description {
  display: block;
  margin-bottom: 4px;
  color: $color-text-accentuation;
}

.media-caption__source {
  display: block;
  font-family: $font-system;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $color-text-light;

  .small {
    text-transform: none;
  }
}

.media-caption__source_link {
  color: #555;
  font-weight: bold;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.media-caption--video-related-episodes {
  display: block;
  min-height: 112px;
  padding: 12px;
  background-color: transparent;

  @include tablet-up {
    padding: 16px;
  }

  .media-caption__title--video {
    color: $color-text-default;
    margin-bottom: 4px;
  }

  .media-caption__source--video {
    text-transform: none;
  }
}

.media-caption--audio {
  display: flex;
  flex-direction: column;
  margin: 12px;
  padding: 0;
  background-color: transparent; // is defined by the audio component
  flex: 1;

  @include tablet-up {
    margin: 16px;
  }
}

.media-caption__title--audio {
  color: $color-text-default;
  margin-bottom: 4px;
}

.media-caption__source--audio {
  text-transform: none;

  .media-caption__source-title {
    color: $color-text-accentuation;
  }
}

// overwrite :(
.audio-gallery {
  .media-caption--audio {
    height: auto;
  }
}

.media-caption__source--video {
  margin-bottom: 4px;
  margin-top: 4px;
  text-transform: none;

  .media-caption__source-title {
    color: $color-text-accentuation;
  }
}

.media-caption__image {
  height: 30px;
  width: auto;
  margin: 4px 12px 0 0;
  float: left;
}

.media-caption--chmap {
  padding: 12px 16px;
  border-bottom: 2px solid #fff;
}

.media-caption__content {
  overflow: hidden;
}

.media-caption__content--chmap {
  @include tablet-up {
    width: 33%;
    float: left;
    margin-right: 16px;
  }
}
