<div class="media-window l-full-width-container">
    <button class="media-window__close" value="Schliessen">
        <span class="h-offscreen">{{ "Schliessen" }}</span>
    </button>
    <div class="media-window__player"><!-- here we expect a player --></div>
</div>
