$bgColor: #dadad2;
$dashColor: #e31f2b;

$bgColorDark: #7a7a7a;
$dashColorDark: #fff;

$lineWidth: 2px;

.spinner-inline {
  @include spinner($lineWidth, $dashColor, $bgColor, #fff);
}

.spinner-inline--dark {
  @include spinner($lineWidth, $dashColorDark, $bgColorDark, #fff);
}