$bgColor: #dadad2;
$dashColor: #e31f2b;

$bgColorDark: #7a7a7a;
$dashColorDark: #fff;

$lineWidth: 2px;

.spinner-inline {
  position: relative;
  height: 24px;
  width: 24px;
  animation: rotateAnimation 2s linear infinite;
  border: $lineWidth $dashColor solid;
  border-radius: 50%;
}

.spinner-inline--dark {
  border: $lineWidth $dashColorDark solid;
}

.spinner-inline::before,
.spinner-inline::after {
  content: '';
  position: absolute;
  box-sizing: border-box;

  width: calc(50% + #{$lineWidth});
  height: calc(100% + #{2 * $lineWidth});

  border: $lineWidth solid $bgColor;
}

.spinner-inline--dark::before,
.spinner-inline--dark::after {
  border: $lineWidth solid $bgColorDark;
}

.spinner-inline::before {
  animation: rotateAnimation 2s infinite ease 1.5s;
  border-radius: 9999px 0 0 9999px;
  border-right: none;
  left: -$lineWidth;
  top: -$lineWidth;
  transform-origin: 100% 50%;
}
.spinner-inline::after {
  animation: rotateAnimation 2s infinite ease;
  border-radius: 0 9999px 9999px 0;
  border-left: none;
  left: 50%;
  top: -$lineWidth;
  transform-origin: 0% 50%;
}

@keyframes rotateAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}