@import "../../variables";
@import "../../mixins";

.chmap {
  margin: 0 auto;
  display: block;
  fill: rgba(185,183,172,1);
  padding: 24px $article-offset-mobile 12px;
  max-width: 100%;

  @include tablet-up {
    padding: 24px $article-offset 0;
  }
}

.chmap--no-touch { // link
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:active,
  &:focus {
    outline: none;
  }
}

.chmap-wrapper {
  position: relative;
  background-color: $color-bg-caption;
  margin: 24px 8px;

  @include tablet-up {
    margin: 32px 0;
  }
}

.chmap-wrapper__figure {
  margin: 0;
}

.chmap__location {
  stroke: rgba(255,255,255,1); // cantons
  stroke-width: .5px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.chmap__location--shadow {
  stroke: rgba(34,34,34,1);
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color='#444')";
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0,0,0,.5));
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,.5));
  transition: fill 1s ease-in 0s;
}

.chmap-tooltip {
  position: absolute;
  color: $color-text-default;
  @include fontSize(18);
  font-family: $font-medium;
  padding: 4px 12px;
  background-color: $color-link-bg-hover;
  box-shadow: $shadow-elevation8;
  border-radius: 2px;
  white-space: nowrap;

  &::before { // aufklapp dreieckli
    content: ''; // "◤";
    position: absolute;
    left: 0;
    bottom: -15px;
    border-color: $color-link-bg-hover transparent;
    border-style: solid;
    border-width: 16px 16px 0 0;
  }
}

// umgekehrtes aufklapp dreieckli
.chmap-tooltip--right::before {
  border-width: 16px 0 0 16px;
  right: 0;
  left: auto;
}

.chmap-infowindow {
  overflow: hidden;
  margin: 0 16px;
  pointer-events: none;
}

.chmap-infowindow--padded {
  padding-bottom: 16px;
}

.chmap-infowindow__text {
  @include fontSize(14);
  color: rgba(78,77,71,1);
  margin: 0;
}

.chmap-infowindow__img {
  width: 96px;
  margin-right: 10px;
  float: left;
}

.chmap-infowindow__img--hide {
  display: none;
}

.chmap__menu-wrapper {
  position: relative;
  padding: 16px $article-offset-mobile;

  @include tablet-up {
    padding: 16px $article-offset;
  }
}

// ie11 has a problem with height: 100% :/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .chmap--desktop {
    height: 300px;
  }
}
