<div class="chmap-wrapper">
    <figure id="map-{{ chmap.id }}" class="chmap-wrapper__figure" data-src="../../assets/demo/chmap-data.json" aria-hidden="true">
        <div id="loader"></div>
        {% include 'atoms-chmap.svg' with { 'idReference' : chmap.id } %}

        {% include 'molecules-media-caption-with-legend' with { 'styleModifier': 'media-caption--chmap', 'styleModifierContent': 'media-caption__content--chmap' } %}
    </figure>
    <div class="menu-wrapper">
        {% include 'atoms-select' %}
    </div>
    <div id="infowindow-{{ chmap.id }}" class="chmap-infowindow"></div>
</div>