/**
 *
 * This stylesheet is for styles you want to include only when displaying demo OR docs-pages
 *
 * These styles will not be in your production CSS.
 *
 */


/* Styles for DEMO-Elements */
body.demo-pattern-page {
  background-color: #FFF;
}

.demo-fonts {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.demo-fonts__item {
  margin: 0 0.5vw 0.5vw 0;
  border: 1px solid #ddd;
}

.demo-play-icons__container {
  width: 64px;
  height: 64px;
  margin: 16px;
}

.demo-text {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.demo-label {
  display: block;
  font-size: 80%;
  line-height: 1.4;
  padding: 0 1rem 0.5rem;
}



/* Styles for DOCS-Elements */
body.demo-doc-page pre,
body.demo-doc-page code {
  font-size: 1rem;
  background: rgba(253,246,227,1);
  color: rgba(73,73,73,1);
  letter-spacing: .025em;
  overflow-x: auto;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

body.demo-doc-page pre {
  padding: 1em;
  margin: 1rem;
}

body.demo-doc-page code {
  padding: 0.1em 0.25em;
}

body.demo-doc-page pre > code {
  display: inline-block;
  padding: 0 0.25em;
  margin-bottom: -0.5rem;
}


body.demo-doc-page blockquote {
  font-family: 'SRG_SSR_Serif_Regular', serif;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1rem 4.5rem 1rem 4.5rem;
  padding: 0.25rem 1.5rem;
}


body.demo-doc-page h1 {
  margin: 3px 0 18px;
  font-size: 36px;
  letter-spacing: normal;
}

body.demo-doc-page h4 {
  padding: 0 24px;
  margin: 32px 0 12px;
  font-family: "SRG_SSR_Medium", sans-serif;
  font-size: 24px;
  letter-spacing: normal;
  line-height: 1.35;
}

@media (max-width: 719px) {
  body.demo-doc-page h4 {
    margin: 24px 0 12px;
    font-size: 22px;
  }
}

body.demo-doc-page table {
  width: 100%;
  border-collapse: collapse;
}

@media (max-width: 719px) {
  body.demo-doc-page table {
    width: calc(100% - 8px);
    margin-left: 8px;
  }
}

body.demo-doc-page th {
  font-size: 14px;

  font-family: "SRG_SSR_Medium", sans-serif;
  text-align: left;
  text-transform: uppercase;
  color: rgba(34,33,29,1);
  background: rgba(235,235,229,1);
}

@media (max-width: 719px) {
  body.demo-doc-page th {
    font-size: 16px;
  }

  body.demo-doc-page thead th:last-of-type,
  body.demo-doc-page tbody td:last-of-type {
    border-right-width: 8px;
  }
}

/* if there is a thead, begin with a light bg-color */
body.demo-doc-page thead + tbody tr:nth-child(even) {background-color: rgba(245,245,242,1)}
body.demo-doc-page thead + tbody tr:nth-child(odd) {background-color: rgba(250,250,248,1)}

/* otherwise begin with a dark bg-color */
body.demo-doc-page tbody tr:nth-child(even) {background-color: rgba(250,250,248,1)}
body.demo-doc-page tbody tr:nth-child(odd) {background-color: rgba(245,245,242,1)}


body.demo-doc-page td {
  font-size: 14px;
}

@media (max-width: 719px) {
  body.demo-doc-page td {
    font-size: 16px;
  }
}

body.demo-doc-page th,
body.demo-doc-page td {
  padding: 13px 16px 15px;

  border-style: solid;
  border-color: rgba(255,255,255,1);
  border-width: 0 1px 2px 0;
  vertical-align: top;
}

@media (max-width: 719px) {
  body.demo-doc-page th,
  body.demo-doc-page td {
    padding: 11px 24px 13px;
  }
}

body.demo-doc-page .l-card {
  padding-bottom: 64px;
}