/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be in your production CSS.
 */
#sg-patterns {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 0.5rem;
}

body.demo-pattern-page {
  background-color: #FFF;
}

.demo-colors,
.demo-fonts {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.demo-colors__item,
.demo-fonts__item {
  margin: 0 0.5vw 0.5vw 0;
  border: 1px solid #ddd;
}

.demo-colors__item {
  width: 24.5vw;
}

.demo-play-icons__container {
  width: 64px;
  height: 64px;
  margin: 16px;
}

.demo-swatch {
  display: block;
  margin: 0.5rem;
  height: 4rem;
  border: 1px solid #ddd;
}

.demo-text {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.demo-label {
  display: block;
  font-size: 80%;
  line-height: 1.4;
  padding: 0 1rem 0.5rem;
}

.demo-simulate-removed-html-elements .media-caption__title,
.demo-simulate-removed-html-elements .media-caption__description {
  display: none !important;
}



.demo-documentation pre {
  margin: 0;
  display: block;
  padding: 0 16px 16px;
  overflow: auto;
}

.demo-documentation code {
  padding: 2px 4px;
  @include fontSize(16);
  font-family: monospace;
  line-height: 1;
  background-color: #ebebe5;
}

.demo-documentation__content-subtitle,
.demo-documentation__content-subtitle--small {
  font-family: "SRG_SSR_Medium", sans-serif;
  font-weight: normal;
  padding: 0 16px;
  margin: 32px 0 12px 0;
}

.demo-documentation__content-subtitle--small {
  font-family: "SRG_SSR_Regular", sans-serif;
  @include fontSize(20);
}


.demo-navigation {
  background-color: #343434;
}

.demo-navigation-link {
  background-color: #333;
}

.demo-navigation-link.navigation-link--dark {
  background-color: #222;
}

h2.demo-heading {
  width: 100%;
  clear: both;
  padding: 20px 0 10px 0;
  margin: 0;
  background-color: #ddd;
}
