.player-wrapper {
  height: 0;
  overflow: hidden;
}

.player-wrapper--audio {
  flex: 0 0 100%;
  height: 0;
  padding: 0;
  background-color: rgba(0,0,0,1);
  transition: height 375ms cubic-bezier(0.4, 0.0, 0.2, 1);

  //use margin and dimensions directly on the player iframe instead of the wrapper for a smoother transition
  iframe {
    height: calc(100% - 16px);
    margin: 8px 0;
  }
}

.player-wrapper--open {
  height: auto;

  &.player-wrapper--audio {
    height: 42px;
  }
}

/*
 * TARGETED BROWSER: IE 11
 *
 * teaser images have a default ratio with a height spanned by padding
 * this propagates the height down to the object-fit polyfill
 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ratio-wrapper {
    .ratio.ratio--16-9 {
      height: 100%;
      .teaser__medium {
        height: 100%;
      }
    }
  }
}
