@import "../../breakpoints";

.ratio::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
}

.ratio::after {
  content: "";
  display: table;
  clear: both;
}

.ratio--16-9::before {
  padding-top: percentage(9/16);
}

.ratio--4-3::before {
  padding-top: percentage(3/4);
}

.ratio--3-1::before {
  padding-top: percentage(1/3);
}

.ratio--1-1::before {
  padding-top: 100%;
}

.ratio--mobile-1-1::before {
  @include smartphone {
    padding-top: 100%;
  }
}
