<div class="scrollbar-hider js-hide-scrollbars {{ styleModifier|default("") }}">
    <div class="scrollbar-hider__wrapper js-scroll-container">
        <div class="scrollbar-hider__content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
