$carousel-caption-height: 53px;

.image-gallery {
 @include box-media-container;
  .carousel {
    background-color: #222222;
    .carousel-indicators {
      display: none;
    }
    .carousel-control {
      bottom: $carousel-caption-height;
    }
    .carousel-inner {
      .carousel-item {
        .content-image {
          img {
            width: 100%;
            max-height: 351px;
            height: 351px;
            object-fit: contain;
          }
          @include mobile-small {
            img {
              max-height: 250px;
              height: 250px;
            }
          }
          @include desktop {
            img {
              max-height: 702px;
              height: 702px;
            }
          }
          .content-image-caption {
            height: $carousel-caption-height;
            padding: 12px 48px;
          }
          .content-image-carousel-counter {
            padding-right: 10px;
          }
        }
      }
    }
  }
}

 

