.linkbox { }

.linkbox__title {
  margin: 0;
  padding: 20px 24px;
  font: 16px/1.5 $font-medium;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.linkbox__list {
  margin-top: 0;
}

.linkbox__list-item {
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1); // #efefed;
  padding: 0;
  &:before {
    content: "";
  }
}
