.quote {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: $font-serif;
}

.quote__author {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.4;
  font-family: $font-medium;
  font-style: normal;
}
.quote__function {
  font-size: 12px;
  line-height: 1.4;
  font-family: $font-system;
  font-weight: normal;
  color: #888579;
}

.quote__sign {
  color: $red-color;
}