.pseudo-table {
  margin: 8px 0;
}

.pseudo-table__row {
  display: flex;
  padding: 8px 0px;
  border-bottom: 1px solid $color-srf-neutral-blacka08;

  &:first-of-type {
    border-top: 1px solid $color-srf-neutral-blacka08;
  }
}

.pseudo-table__cell {
  flex: 0 0 auto;
}

.pseudo-table__cell--image {
  flex-basis: 80px;
  width: 80px;
  height: 80px;
  margin-right: 8px;
  background: $color-srf-warmgrey-200;
}

.pseudo-table__cell--info {
  background: $color-srf-red-600a12;
  flex-basis: calc(100% - (80px + 8px));
  display: flex;
  flex-direction: column;

  @include tablet-up {
    flex-direction: row;
    align-items: center;
  }
}

.pseudo-table__innercell {
  flex-grow: 0;
}

.pseudo-table__innercell--title {
  font-family: $font-medium;
  @include fontSize(16);
  font-weight: 500;
  line-height: $emphasize-line-height-ratio;
  color: $color-srf-warmgrey-1100;
  margin-bottom: 4px;

  @include tablet {
    flex-basis: 208px;
  }

  @include desktop {
    flex-basis: 308px;
  }

  @include desktop-wide {
    flex-basis: 512px;
  }
}

.pseudo-table__innercell--station {
  @include fontSize(14);
  line-height: $secondary-line-height-ratio;
  color: $color-srf-warmgrey-800;

  @include tablet {
    flex-basis: 181px;
  }

  @include desktop {
    flex-basis: 246px;
  }

  @include desktop-wide {
    flex-basis: 308px;
  }
}

.pseudo-table__innercell--cats {
  margin-top: auto;
  @include fontSize(14);
  line-height: 1.71;

  @include tablet {
    flex-basis: 219px;
    line-height: 2.29;
  }

  @include tablet-up {
    margin-top: 0;
  }

  @include desktop {
    flex-basis: 304px;
  }

  @include desktop-up {
    @include fontSize(16);
    line-height: 1.5;
  }

  @include desktop-wide {
    flex-basis: 276px;
  }

  a {
    text-decoration: underline;
    color: $color-srf-red-600;
  }
}
