$image-height--b1: 80px;
$image-height--b2: $image-height--b1;
$image-height--b3: 96px;
$image-height--b4: 112px;

.pseudo-table {
  margin-bottom: 32px;
  border-top: 1px solid $color-srf-neutral-blacka08;

  @include desktop-wide {
    margin-bottom: 60px;
  }
}

.pseudo-table__row {
  position: relative;
  display: flex;
  padding: 8px 0;
  border-bottom: 1px solid $color-srf-neutral-blacka08;

  &:hover,
  &:active {
    background-color: $color-srf-warmgrey-10;
    margin-left: #{-$article-offset};
    padding-left: #{$article-offset};
  }
  
  &:active {
    background-color: $color-srf-warmgrey-25;
  }

  // handling lines between two or more adjacent rows
  & + & {
    border-top: 1px solid transparent;

    &:hover,
    &:active {
      margin-top: -1px;
      padding-top: 9px; // its 8px + 1px, stupid
      border-top: 1px solid $color-srf-neutral-blacka08;
    }
  }

}

.pseudo-table__row--hidden,
.pseudo-table__row-keymatch--hidden {
  display: none;
}

.pseudo-table__cell {
  flex: 0 0 auto;
}

.pseudo-table__cell--image {
  flex: 0 0 calc(#{$image-height--b1} + 8px);
  min-height: $image-height--b1;
  max-height: $image-height--b1;

  @include tablet-up {
    align-self: center;
    flex-basis: calc(#{$image-height--b1} + 16px);
  }

  @include desktop {
    flex-basis: calc(#{$image-height--b3} + 24px);
    max-height: $image-height--b3;
    min-height: $image-height--b3;
  }

  @include desktop-wide {
    flex-basis: calc(#{$image-height--b4} + 24px);
    max-height: $image-height--b4;
    min-height: $image-height--b4;
  }

  img {
    width: $image-height--b1;
    height: $image-height--b1;

    @include desktop {
      width: $image-height--b3;
      height: $image-height--b3;
    }

    @include desktop-wide {
      width: $image-height--b4;
      height: $image-height--b4;
    }
  }
}

.pseudo-table__cell--info {
  flex-basis: calc(100% - (#{$image-height--b1} + 8px));
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include tablet-up {
    flex-direction: row;
    align-items: center;
    overflow: visible;
  }

  @include tablet {
    flex-basis: calc(100% - (#{$image-height--b1} + 16px));
  }

  @include desktop-up {
    flex-basis: calc(100% - (#{$image-height--b3} + 24px));
  }
}

.pseudo-table__innercell {
  flex-grow: 0;

  @include tablet-up {
    padding-right: 24px;
    overflow: visible;
  }

  @include desktop-wide {
    padding-right: 32px;
  }
}

.pseudo-table__innercell--title {
  font-family: $font-medium;
  @include fontSize(16);
  font-weight: 500;
  line-height: $emphasize-line-height-ratio;
  color: $color-srf-warmgrey-1100;
  margin-bottom: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @include tablet {
    flex-basis: 208px;
  }

  @include tablet-up {
    white-space: normal;
    overflow: visible;
  }

  @include desktop {
    flex-basis: 308px;
  }

  @include desktop-wide {
    flex-basis: 512px;
  }

  a {
    color: inherit;
  }
}

.pseudo-table__innercell--station {
  @include fontSize(14);
  line-height: $secondary-line-height-ratio;
  color: $color-srf-warmgrey-800;

  @include smartphone {
    margin-bottom: 12px;
  }

  @include tablet {
    flex-basis: 181px;
  }

  @include desktop {
    flex-basis: 246px;
  }

  @include desktop-wide {
    flex-basis: 308px;
  }
}

.pseudo-table__innercell--cats {
  @include fontSize(14);
  color: $color-srf-red-600;

  @include tablet {
    flex-basis: 219px;
    padding-right: 0;
  }

  @include tablet-up {
    margin-top: 0;
  }

  @include desktop {
    flex-basis: 304px;
  }

  @include desktop-up {
    @include fontSize(16);
    padding-right: 0;
  }

  @include desktop-wide {
    flex-basis: 276px;
  }

  a {
    color: $color-srf-red-600;
    border-bottom: 1px solid $color-srf-red-600;
    line-height: 2.29;

    white-space: nowrap;
    position: relative;

    @include desktop-up {
      line-height: $default-line-height-ratio;
    }

    &:focus,
    &:hover {
      color: $color-srf-red-800;
      border-bottom: 1px solid $color-srf-red-800;
    }

    &:active {
      color: $color-srf-red-900;
      border-bottom: 1px solid $color-srf-red-900;
    }
  }
}
