<div class="a2z-wrapper">

  <div class="a2z" id="a2z-0">
    <h2 class="a2z-title">#0-9</h2>
    <div class="pseudo-table">
      <div class="pseudo-table__row">
        <div class="pseudo-table__cell pseudo-table__cell--image"><img src="#" /></div>
        <div class="pseudo-table__cell pseudo-table__cell--info">
          <div class="pseudo-table__innercell pseudo-table__innercell--title"><a href="#sendung">#SRF Global</a></div>
          <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 3</div>
          <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#hintergrund">Hintergrund</a>, <a href="#politik-wirtschaft">Politik & Wirtschaft</a></div>
        </div>
      </div>
      <div class="pseudo-table__row">
        <div class="pseudo-table__cell pseudo-table__cell--image"><img src="#" /></div>
        <div class="pseudo-table__cell pseudo-table__cell--info">
          <div class="pseudo-table__innercell pseudo-table__innercell--title"><a href="#sendung">4 X 4 Podcasts</a></div>
          <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 4 News</div>
          <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#hintergrund">Hintergrund</a>, <a href="#politik-wirtschaft">Politik & Wirtschaft</a></div>
        </div>
      </div>
      <div class="pseudo-table__row">
        <div class="pseudo-table__cell pseudo-table__cell--image"><img src="#" /></div>
        <div class="pseudo-table__cell pseudo-table__cell--info">
          <div class="pseudo-table__innercell pseudo-table__innercell--title"><a href="#sendung">52 Beste Bücher</a></div>
          <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 2 Kultur</div>
          <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#hintergrund">Hintergrund</a>, <a href="#politik-wirtschaft">Politik & Wirtschaft</a>, <a href="#news">News</a>, <a href="#kultur-religion">Kultur & Religion</a>, <a href="#hintergrund">Hintergrund</a>, <a href="#politik-wirtschaft">Politik & Wirtschaft</a>, <a href="#news">News</a>, <a href="#kultur-religion">Kultur & Religion</a></div>
        </div>
      </div>
      <div class="pseudo-table__row">
        <div class="pseudo-table__cell pseudo-table__cell--image"><img src="#" /></div>
        <div class="pseudo-table__cell pseudo-table__cell--info">
          <div class="pseudo-table__innercell pseudo-table__innercell--title"><a href="#sendung">100 Sekunden Wissen</a></div>
          <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 2 Kultur</div>
          <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#hintergrund">Hintergrund</a>, <a href="#politik-wirtschaft">Politik & Wirtschaft</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="a2z" id="a2z-a">
    <h2 class="a2z-title">A</h2>
    <div class="pseudo-table">
      <div class="pseudo-table__row">
        <div class="pseudo-table__cell pseudo-table__cell--image"><img src="#" /></div>
        <div class="pseudo-table__cell pseudo-table__cell--info">
          <div class="pseudo-table__innercell pseudo-table__innercell--title"><a href="#sendung">A Point</a></div>
          <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 1</div>
          <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#hintergrund">Ratgeber</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="a2z" id="a2z-b">
    <h2 class="a2z-title">B</h2>
    <div class="pseudo-table__row">
      <div class="pseudo-table__cell pseudo-table__cell--image"><img src="#" /></div>
      <div class="pseudo-table__cell pseudo-table__cell--info">
        <div class="pseudo-table__innercell pseudo-table__innercell--title"><a href="#sendung">Bestseller auf dem Plattenteller</a></div>
        <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF Musikwelle</div>
        <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#hintergrund">Musik</a></div>
      </div>
    </div>
    <div class="pseudo-table__row">
      <div class="pseudo-table__cell pseudo-table__cell--image"><img src="#" /></div>
      <div class="pseudo-table__cell pseudo-table__cell--info">
        <div class="pseudo-table__innercell pseudo-table__innercell--title"><a href="#sendung">Buchzeichen</a></div>
        <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 2 Kultur</div>
        <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#kultur-religion">Kultur & Religion</a></div>
      </div>
    </div>
  </div>
</div>
