<div class="pseudo-table">
  <div class="pseudo-table__row">
    <div class="pseudo-table__cell pseudo-table__cell--image">#</div>
    <div class="pseudo-table__cell pseudo-table__cell--info">
      <div class="pseudo-table__innercell pseudo-table__innercell--title">100 Sekunden Wissen</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 2 Kultur</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#">Hintergrund</a>, <a href="#">Politik & Wirtschaft</a>, <a href="#">News</a>, <a href="#">Kultur & Religion</a></div>
    </div>
  </div>
  <div class="pseudo-table__row">
    <div class="pseudo-table__cell pseudo-table__cell--image">#</div>
    <div class="pseudo-table__cell pseudo-table__cell--info">
      <div class="pseudo-table__innercell pseudo-table__innercell--title">100 Sekunden Wissen ist doch genug für die heutige Jugend</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 2 Kultur</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#">Hintergrund</a>, <a href="#">Politik & Wirtschaft</a></div>
    </div>
  </div>
  <div class="pseudo-table__row">
    <div class="pseudo-table__cell pseudo-table__cell--image">#</div>
    <div class="pseudo-table__cell pseudo-table__cell--info">
      <div class="pseudo-table__innercell pseudo-table__innercell--title">100 Sekunden Wissen</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 2 Kultur</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#">Hintergrund</a>, <a href="#">Politik & Wirtschaft</a></div>
    </div>
  </div>
  <div class="pseudo-table__row">
    <div class="pseudo-table__cell pseudo-table__cell--image">#</div>
    <div class="pseudo-table__cell pseudo-table__cell--info">
      <div class="pseudo-table__innercell pseudo-table__innercell--title">100 Sekunden Wissen</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 2 Kultur</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#">Hintergrund</a>, <a href="#">Politik & Wirtschaft</a></div>
    </div>
  </div>
  <div class="pseudo-table__row">
    <div class="pseudo-table__cell pseudo-table__cell--image">#</div>
    <div class="pseudo-table__cell pseudo-table__cell--info">
      <div class="pseudo-table__innercell pseudo-table__innercell--title">100 Sekunden Wissen</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 2 Kultur</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#">Hintergrund</a>, <a href="#">Politik & Wirtschaft</a></div>
    </div>
  </div>
</div>
