<div class="pseudo-table">
  <div class="pseudo-table__row">
    <div class="pseudo-table__cell pseudo-table__cell--image">#</div>
    <div class="pseudo-table__cell pseudo-table__cell--info">
      <div class="pseudo-table__innercell pseudo-table__innercell--title"><a href="#sendung">100 Sekunden Wissen</a></div>
      <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 2 Kultur</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#hintergrund">Hintergrund</a>, <a href="#politik-wirtschaft">Politik & Wirtschaft</a>, <a href="#news">News</a>, <a href="#kultur-religion">Kultur & Religion</a></div>
    </div>
  </div>
  <div class="pseudo-table__row">
    <div class="pseudo-table__cell pseudo-table__cell--image">#</div>
    <div class="pseudo-table__cell pseudo-table__cell--info">
      <div class="pseudo-table__innercell pseudo-table__innercell--title"><a href="#sendung">100 Sekunden Wissen ist doch genug für die heutige Jugend</a></div>
      <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 2 Kultur</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#hintergrund">Hintergrund</a>, <a href="#politik-wirtschaft">Politik & Wirtschaft</a></div>
    </div>
  </div>
  <div class="pseudo-table__row">
    <div class="pseudo-table__cell pseudo-table__cell--image">#</div>
    <div class="pseudo-table__cell pseudo-table__cell--info">
      <div class="pseudo-table__innercell pseudo-table__innercell--title"><a href="#sendung">100 Sekunden Wissen</a></div>
      <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 2 Kultur Radio SRF 2 Kultur</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#hintergrund">Hintergrund</a>, <a href="#politik-wirtschaft">Politik & Wirtschaft</a></div>
    </div>
  </div>
  <div class="pseudo-table__row">
    <div class="pseudo-table__cell pseudo-table__cell--image">#</div>
    <div class="pseudo-table__cell pseudo-table__cell--info">
      <div class="pseudo-table__innercell pseudo-table__innercell--title"><a href="#sendung">100 Sekunden Wissen</a></div>
      <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 2 Kultur</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#hintergrund">Hintergrund</a>, <a href="#politik-wirtschaft">Politik & Wirtschaft</a></div>
    </div>
  </div>
  <div class="pseudo-table__row">
    <div class="pseudo-table__cell pseudo-table__cell--image">#</div>
    <div class="pseudo-table__cell pseudo-table__cell--info">
      <div class="pseudo-table__innercell pseudo-table__innercell--title"><a href="#sendung">100 Sekunden Wissen</a></div>
      <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 2 Kultur</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#hintergrund">Hintergrund</a>, <a href="#politik-wirtschaft">Politik & Wirtschaft</a></div>
    </div>
  </div>
</div>

<!-- dev only -->
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>