<div class="pseudo-table">
  <div class="pseudo-table__row">
    <div class="pseudo-table__cell pseudo-table__cell--image"><img src="#" /></div>
    <div class="pseudo-table__cell pseudo-table__cell--info">
      <div class="pseudo-table__innercell pseudo-table__innercell--title"><a href="#sendung">#SRF Global</a></div>
      <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 3</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#hintergrund">Hintergrund</a>, <a href="#politik-wirtschaft">Politik & Wirtschaft</a></div>
    </div>
  </div>
  <div class="pseudo-table__row">
    <div class="pseudo-table__cell pseudo-table__cell--image"><img src="#" /></div>
    <div class="pseudo-table__cell pseudo-table__cell--info">
      <div class="pseudo-table__innercell pseudo-table__innercell--title"><a href="#sendung">4 X 4 Podcasts</a></div>
      <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 4 News</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#hintergrund">Hintergrund</a>, <a href="#politik-wirtschaft">Politik & Wirtschaft</a></div>
    </div>
  </div>
  <div class="pseudo-table__row">
    <div class="pseudo-table__cell pseudo-table__cell--image"><img src="#" /></div>
    <div class="pseudo-table__cell pseudo-table__cell--info">
      <div class="pseudo-table__innercell pseudo-table__innercell--title"><a href="#sendung">52 Beste Bücher</a></div>
      <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 2 Kultur</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#hintergrund">Hintergrund</a>, <a href="#politik-wirtschaft">Politik & Wirtschaft</a>, <a href="#news">News</a>, <a href="#kultur-religion">Kultur & Religion</a>, <a href="#hintergrund">Hintergrund</a>, <a href="#politik-wirtschaft">Politik & Wirtschaft</a>, <a href="#news">News</a>, <a href="#kultur-religion">Kultur & Religion</a></div>
    </div>
  </div>
  <div class="pseudo-table__row">
    <div class="pseudo-table__cell pseudo-table__cell--image"><img src="#" /></div>
    <div class="pseudo-table__cell pseudo-table__cell--info">
      <div class="pseudo-table__innercell pseudo-table__innercell--title"><a href="#sendung">100 Sekunden Wissen</a></div>
      <div class="pseudo-table__innercell pseudo-table__innercell--station">Radio SRF 2 Kultur</div>
      <div class="pseudo-table__innercell pseudo-table__innercell--cats"><a href="#hintergrund">Hintergrund</a>, <a href="#politik-wirtschaft">Politik & Wirtschaft</a></div>
    </div>
  </div>
</div>
