@import "../../variables";
@import "../../mixins";

.embed-inline {
  position: relative;
  margin: 24px 0;
  align-items: center;
  justify-content: center;

  @include tablet-up {
    margin: 32px 0;
  }
}

.embed-inline--fullwidth-element {
  margin: 0;
  background-color: $color-srf-neutral-1000;

  .embed-inline__content {
    max-width: 1023px;
    margin: 0 auto;
    @include desktop-up {
      max-width: 728px;
    }
  }
}

.embed-inline__title {
  @include fontSize(18);
  font-family: $font-medium;
  margin-bottom: 8px;
  padding: 0 $article-offset;

  @include tablet-up {
    @include fontSize(20);
    margin-bottom: 12px;
  }
}

.embed-inline__content > * {
  margin: 0 auto;
}

// Article's/landingpage's CSS sets letter-spacing to .2 or .4 (depending on BP). This does not play well with inline SVGs like News Infographics.
.embed-inline__content svg {
  letter-spacing: 0;
}

body[data-representation=web] {
  .embed-inline.no-swear {
    display: block;
    @include smartphone {
      display: none;
    }
  }

  .linkbox.no-swear {
    display: none;
    @include smartphone {
      display: block;
    }
  }

}

body[data-representation=webview] {
  .embed-inline.no-swear {
    display: none;
  }
}
