.embed-inline {
  position: relative;
  margin: 32px 0;
  padding-bottom: 56.25%; // This is the aspect ratio
  height: 0;
  overflow: hidden;

  @include smartphone {
    margin: 24px -8px;
  }
}

.embed-inline iframe, .embed-inline object, .embed-inline embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}