<div class="embed-inline">
    <h2 class="embed-inline__title">Embed Title</h2>
    <div class="embed-inline__contents">
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><iframe src='https://www.youtube.com/embed/Bv2vT665bGI' frameborder='0' allowfullscreen></iframe>
    </div>
</div>