.linkbox {
  margin: 40px 0 24px;

  @include smartphone {
    @include fullwidth-element;
    margin-top: 32px;
    padding: 0 8px;
  }
}

.linkbox__title {
  margin: 0 0 16px;
  font-family: $font-medium;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: .3px;

  @include article-text-padding;

  @include smartphone {
    font-size: 18px;
    letter-spacing: .5px;
  }
}

.linkbox__list {
  border-top: 1px solid #ebebe5;
  padding: 0;

  @include smartphone {
    margin: 0 -8px;
  }

  > li {
    margin: 0;
    padding: 0;

    &::before {
      content: none;
    }
  }
}

.linkbox--related {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 0;
  margin-bottom: 16px;

  @include tablet-up {
    margin-left: 158px;
    margin-bottom: 24px;
  }
}

.linkbox--related .block-link {
  padding-left: 8px;
  background-position: calc(100% - 8px) center;
}

.linkbox--related li:last-child .block-link {
  border-bottom: 0;
}

.linkbox--related .linkbox__title {
  font-size: 14px;
  margin: 0 0 8px 8px;
  padding: 0;
  color: $color-text-light;
  font-family: $font-regular;
}