<div class="article-linkbox">
    <h4 class="article-linkbox__title">Title</h4>
    <ul class="article-linkbox__list">
        <li class="article-linkbox__list-item">
            <a  href="http://www.srf.ch}"
                class="goto-link goto-link--external"
                target="_blank">
                www.srf.ch
            </a>
        </li>
    </ul>
</div>