.linkbox {
  @include article-element-margin();

  @include smartphone {
    @include fullwidth-element;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 0 8px;
  }
}

.linkbox__title {
  @include article-text-padding;
  margin: 0 0 16px 0;
  font-family: $font-medium;
  font-size: 22px;
  line-height: 28px;
}

.linkbox__list {
  border-top: 1px solid #ebebe5;

  @include smartphone {
    margin: 0 -8px;
  }
}