.image-comparison-figure {

  @include desktop-widest {
    max-width: $content-max-width;
    margin-left: auto;
    margin-right: auto;
  }

  @include smartphone {
    @include fullwidth-element;
  }
}

.image-comparison-figure__image-wrapper {
  position:relative;
  line-height:0;
  width:auto;
  height:auto;
  cursor:col-resize;
  overflow:hidden;
  * {
    margin:0;
    padding:0;
    position:relative;
  }
}
.image-comparison-figure__slider {
  position:absolute;
  top:50%;
  left:50%;
  z-index:10;
  width:1.75rem;
}
.image-comparison-figure__slider--left {
  margin: -0.875rem 0 0 -1.25rem;
}
.image-comparison-figure__slider--right {
  margin: -0.875rem 0 0 -0.0625rem;
}
.image-comparison-figure__image {
  display: block;
  height: auto;
  width: 100%;
}
.image-comparison-figure__cover-wrapper {
  width:50%;
  position:absolute;
  top:0;
  bottom:0;
  overflow:hidden;
  border-right:.0625rem solid #ffffff;
  box-shadow:0 0 .75rem 0 rgba(0,0,0,0.75);
}
.image-comparison-figure__image--cover {
  width:200%;
  position:absolute;
  height:100%;
}