<figcaption class="media-caption {{ styleModifier }}">
        <span class="media-caption__title">
            {{ images[0].caption.title }}
        </span>
        <span class="media-caption__description">
            {{ images[0].caption.description }}
        </span>
        <span class="media-caption__source">
            {{ images[0].caption.source }}
        </span>
</figcaption>
