<style>
    .togglable-wrapper {
        max-width: 100%;
        transition: max-width .2s ease-in-out;
    }
    .teaser-demo-wrapper {
        max-width: 320px;
    }
    h2 {
        margin: 20px;
    }
</style>

<p><strong>Note:</strong> Teaser links and opinion links are added to teasers randomly on generation of this page.</p>

{% include 'atoms-button' with {'buttonText' : 'Max-Width setzen', 'styleModifier': 'js-toggle-maxWidth'} %}

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-m',
        'teaser': collections[0].teasers[0],
        'infoText': 'Vor 5 Minuten',
        'infoType': 'live',
        'infoMediaSource': 'Livestream',
        'infoMediaTime': 'um 13:37',
        'infoStyleModifier': 'teaser-info--live-pre',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>


<h2>S-Teaser</h2>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-s',
        'infoType': 'state',
        'infoText': 'Vor 5 Minuten',
        'infoStyleModifier': 'teaser-info--visited-and-updated teaser-info--with-icon',
        'teaser': collections[0].teasers[0],
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h2>M-Teaser</h2>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-m',
        'teaser': collections[0].teasers[0],
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h2>M-Teaser which looks like an S-Teaser on Mobile</h2>

<div class='js-togglable-wrapper togglable-wrapper'>
    {% include 'molecules-teaser' with {
        "styleModifier": "teaser--size-m teaser--with-links teaser--size-s-on-mobile",
        "teaser": collections[0].teasers[0],
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h2>L-Teaser</h2>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-l',
        'teaser': collections[0].teasers[0],
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h2>L-Teaser which looks like an S-Teaser on Mobile</h2>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        "styleModifier": "teaser--size-l teaser--with-links teaser--size-s-on-mobile",
        "teaser": collections[0].teasers[0],
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h2>XL-Teaser</h2>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-xl',
        'teaser': collections[0].teasers[0],
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h2>No Translate</h2>

<div class='js-togglable-wrapper togglable-wrapper'>
    {% include 'molecules-teaser' with {
        "styleModifier": "teaser--size-s teaser--no-translate",
        "teaser": collections[0].teasers[0],
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>


<h2>No Card</h2>

<div class='js-togglable-wrapper togglable-wrapper'>
    {% include 'molecules-teaser--with-medium' with {
        "styleModifier": "teaser--size-s teaser--no-card",
        "teaser" : {
            "title": "Wo Einkaufen im Netz?",
            "kicker": "",
            "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
            "link": "#",
            "lead": "",
            "": "6:05 min, Espresso vom 31.5.2018"
        },
        'showOpinion': false,
        'showScoreboard': false,
        'showLinks': false
    } %}
</div>

<h2>Theme Breaking</h2>

<div class='js-togglable-wrapper togglable-wrapper'>
    {% include 'molecules-teaser' with {
        "styleModifier": "teaser--theme-breaking",
        "preKicker": "Breaking",
        "teaser": collections[0].teasers[0],
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h2>Theme Dark</h2>

<div class='js-togglable-wrapper togglable-wrapper'>
    {% include 'molecules-teaser' with {
        "styleModifier": "teaser--size-s teaser--theme-dark",
        "teaser": collections[0].teasers[0],
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h2>Normal Teaser with Hover</h2>

<div class='js-togglable-wrapper togglable-wrapper'>
    {% include 'molecules-teaser' with {
        "styleModifier": "teaser--size-s teaser--hoverable",
        "teaser": collections[0].teasers[0],
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h2>Theme Dark with Hover</h2>

<div class='js-togglable-wrapper togglable-wrapper'>
    {% include 'molecules-teaser' with {
        "styleModifier": "teaser--size-s teaser--theme-dark teaser--hoverable",
        "teaser": collections[0].teasers[0],
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h2>Unmodified</h2>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': '',
        'teaser': collections[0].teasers[0],
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>


<h2>Liveness</h2>

<h3>Prelive Stream</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-s',
        'teaser': collections[0].teasers[0],
        'infoText': 'Vor 5 Minuten',
        'infoType': 'live',
        'infoMediaSource': 'Livestream',
        'infoMediaTime': 'um 13:37',
        'infoStyleModifier': 'teaser-info--live-pre',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h3>Prelive Ticker</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-s',
        'teaser': collections[0].teasers[0],
        'infoText': 'Vor 5 Minuten',
        'infoType': 'live',
        'infoMediaSource': 'Liveticker',
        'infoMediaTime': 'um 13:37',
        'infoStyleModifier': 'teaser-info--live-pre',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h3>Live Stream</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-s',
        'teaser': collections[0].teasers[0],
        'infoText': 'Vor 5 Minuten',
        'infoType': 'live',
        'infoMediaSource': 'Livestream',
        'infoMediaTime': 'seit 2 Stunden',
        'infoStyleModifier': 'teaser-info--live-live',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h3>Live Ticker</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-s',
        'teaser': collections[0].teasers[0],
        'infoText': 'Vor 5 Minuten',
        'infoType': 'live',
        'infoMediaSource': 'Liveticker',
        'infoMediaTime': 'seit 2 Stunden',
        'infoStyleModifier': 'teaser-info--live-live',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-m',
        'teaser': collections[0].teasers[0],
        'infoText': 'Vor 5 Minuten',
        'infoType': 'live',
        'infoMediaSource': 'Liveticker',
        'infoMediaTime': 'seit 2 Stunden',
        'infoStyleModifier': 'teaser-info--live-live',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-xl',
        'teaser': collections[0].teasers[0],
        'infoText': 'Vor 5 Minuten',
        'infoType': 'live',
        'infoMediaSource': 'Livestream',
        'infoMediaTime': 'seit 18 Minuten',
        'infoStyleModifier': 'teaser-info--live-live',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>



<h2>Status</h2>

<h3>New</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-s',
        'teaser': collections[0].teasers[0],
        'infoType': 'state',
        'infoText': 'Vor 5 Minuten',
        'infoStyleModifier': 'teaser-info--new',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-s teaser--theme-dark',
        'teaser': collections[0].teasers[0],
        'infoType': 'state',
        'infoText': 'Vor 5 Minuten',
        'infoStyleModifier': 'teaser-info--new',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-s teaser--theme-breaking',
        'preKicker': 'Breaking',
        'teaser': collections[0].teasers[0],
        'infoType': 'state',
        'infoText': 'Vor 5 Minuten',
        'infoStyleModifier': 'teaser-info--new',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h3>Visited</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-l',
        'teaser': collections[0].teasers[0],
        'infoType': 'state',
        'infoText': 'Gesehen',
        'infoStyleModifier': 'teaser-info--visited teaser-info--with-icon',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h3>Visited with updates in the last 2 hours</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-m',
        'teaser': collections[0].teasers[0],
        'infoType': 'state',
        'infoText': 'Vor 5 Minuten',
        'infoStyleModifier': 'teaser-info--visited-and-recently-updated teaser-info--with-icon',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-l teaser--theme-dark',
        'teaser': collections[0].teasers[0],
        'infoType': 'state',
        'infoText': 'Vor 5 Minuten',
        'infoStyleModifier': 'teaser-info--visited-and-recently-updated teaser-info--with-icon',
        'showOpinion': random([true, false]),
        'showLinks': random([true, false])
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-l teaser--theme-breaking',
        'preKicker': 'Breaking',
        'teaser': collections[0].teasers[0],
        'infoType': 'state',
        'infoText': 'Vor 5 Minuten',
        'infoStyleModifier': 'teaser-info--visited-and-recently-updated teaser-info--with-icon',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h3>Visited with updates</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-xl',
        'teaser': collections[0].teasers[0],
        'infoType': 'state',
        'infoText': 'Vor 5 Minuten',
        'infoStyleModifier': 'teaser-info--visited-and-updated teaser-info--with-icon',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-xl teaser--theme-dark',
        'teaser': collections[0].teasers[0],
        'infoType': 'state',
        'infoText': 'Vor 5 Minuten',
        'infoStyleModifier': 'teaser-info--visited-and-updated teaser-info--with-icon',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-xl teaser--theme-breaking',
        'preKicker': 'Breaking',
        'teaser': collections[0].teasers[0],
        'infoType': 'state',
        'infoText': 'Vor 5 Minuten',
        'infoStyleModifier': 'teaser-info--visited-and-updated teaser-info--with-icon',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h3>With opinion</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-m',
        'teaser': collections[0].teasers[0],
        'infoType': 'state',
        'infoText': 'Vor 5 Minuten',
        'infoStyleModifier': 'teaser-info--visited-and-updated teaser-info--with-icon',
        'showOpinion': random([true, false]),
        'showScoreboard': false,
        'showLinks': random([true, false])
    } %}
</div>

<h3>XL with opinion and teaser links</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-xl',
        'teaser': collections[0].teasers[0],
        'showOpinion': true,
        'showLinks': true
    } %}
</div>

<h3>Alternative Image Ratios (1:1 / 4:5) - M</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-m',
        'ratio': '1:1',
        'teaser': collections[3].teasers[8],
        'showOpinion': false,
        'showScoreboard': false,
        'showLinks': false
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-m',
        'ratio': '1:1',
        'teaser': collections[3].teasers[9],
        'showOpinion': false,
        'showScoreboard': false,
        'showLinks': false
    } %}
</div>

<h3>Alternative Image Ratios (1:1 / 4:5) - S</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-s',
        'ratio': '1:1',
        'teaser': collections[3].teasers[8],
        'showOpinion': false,
        'showScoreboard': false,
        'showLinks': false
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-s',
        'ratio': '1:1',
        'teaser': collections[3].teasers[9],
        'showOpinion': false,
        'showScoreboard': false,
        'showLinks': false
    } %}
</div>

<h3>Alternative Image Ratios (1:1 / 4:5) - L</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-l',
        'ratio': '1:1',
        'teaser': collections[3].teasers[8],
        'showOpinion': false,
        'showScoreboard': false,
        'showLinks': false
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-l',
        'ratio': '1:1',
        'teaser': collections[3].teasers[9],
        'showOpinion': false,
        'showScoreboard': false,
        'showLinks': false
    } %}
</div>

<script>
    let $btn = $('.js-toggle-maxWidth'),
        $togglableWrappers = $('.js-togglable-wrapper');


    $btn.on('click', () => {
        $togglableWrappers.toggleClass('teaser-demo-wrapper');
    });
</script>
