<h3>New, not updates, not visited</h3>

<div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'state',
      'styleModifier': 'teaser-info--new',
      'text': 'Vor 5 Minuten'
  } %}

</div>



<h3>Visited with recent updates</h3>

<div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'state',
      'styleModifier': 'teaser-info--visited-and-recently-updated teaser-info--with-icon',
      'text': 'Vor 1 Stunde'
  } %}

</div>



<h3>Visited with updates</h3>

<div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'state',
      'styleModifier': 'teaser-info--visited-and-updated teaser-info--with-icon',
      'text': 'Aktualisiert'
  } %}

</div>



<h3>Visited, no updates</h3>

<div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'state',
      'styleModifier': 'teaser-info--visited teaser-info--with-icon',
      'text': 'Gesehen'
  } %}

</div>



<h3>Video</h3>

<div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'media-icon',
      'styleModifier': 'teaser-info--mediaicon-video teaser-info--with-icon',
      'text': 'Video'
  } %}
  
</div>



<h3>Audio</h3>

<div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'media-icon',
      'styleModifier': 'teaser-info--mediaicon-audio teaser-info--with-icon',
      'text': 'Audio'
  } %}
  
</div>



<h3>Image-Gallery</h3>

<div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'media-icon',
      'styleModifier': 'teaser-info--mediaicon-image-gallery teaser-info--with-icon',
      'text': 'Bildergalerie'
  } %}
  
</div>



<h3>Multiple info-elements</h3>

<div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'state',
      'styleModifier': 'teaser-info--visited teaser-info--with-icon',
      'text': 'Gesehen'
  } %}

  {% include 'atoms-teaser-info' with {
      'type': 'media-icon',
      'styleModifier': 'teaser-info--mediaicon-video teaser-info--with-icon',
      'text': 'Video'
  } %}
  
</div>



<h3>Media caption</h3>

<div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'media-caption',
      'mediaDuration': '3.20',
      'mediaSource': '100 Sekunden Wissen',
      'mediaDate': '8.12.2018',
  } %}
  
</div>
