<h2>Status</h2>

<h3>New, not updates, not visited</h3>

<div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'state',
      'styleModifier': 'teaser-info--new',
      'text': 'Vor 5 Minuten'
  } %}

</div>



<h3>Visited with recent updates</h3>

<div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'state',
      'styleModifier': 'teaser-info--visited-and-recently-updated teaser-info--with-icon',
      'text': 'Vor 1 Stunde'
  } %}

</div>



<h3>Visited with updates</h3>

<div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'state',
      'styleModifier': 'teaser-info--visited-and-updated teaser-info--with-icon',
      'text': 'Aktualisiert'
  } %}

</div>



<h3>Visited, no updates</h3>

<div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'state',
      'styleModifier': 'teaser-info--visited teaser-info--with-icon',
      'text': 'Gesehen'
  } %}

</div>


<hr />

<h2>Media icons</h2>

<h3>Video</h3>

<div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'media-icon',
      'styleModifier': 'teaser-info--mediaicon-video teaser-info--with-icon',
      'text': 'Video'
  } %}

</div>



<h3>Audio</h3>

<div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'media-icon',
      'styleModifier': 'teaser-info--mediaicon-audio teaser-info--with-icon',
      'text': 'Audio'
  } %}

</div>



<h3>Image-Gallery</h3>

<div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'media-icon',
      'styleModifier': 'teaser-info--mediaicon-image teaser-info--with-icon',
      'text': 'Bildergalerie'
  } %}

</div>



<hr />

<h2>Media caption</h2>

<div class="teaser teaser--with-medium teaser--size-s">
  <div class="teaser-info-wrapper">

    {% include 'atoms-teaser-info' with {
        'type': 'media-caption',
        'styleModifier': 'teaser-info--media-caption',
        'mediaDuration': '3.20',
        'mediaSource': '100 Sekunden Wissen',
        'mediaTime': 'vom 8.12.2018',
    } %}

  </div>
</div>



<hr />

<h2>Live</h2>

<h3>Pre-live</h3>

<div class="teaser teaser--with-medium teaser--size-s">
  <div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'live',
      'styleModifier': 'teaser-info--live-pre',
      'mediaSource': 'Livestream',
      'mediaTime': 'um 20:15',
  } %}

  </div>
</div>



<h3>Live</h3>

<div class="teaser teaser--with-medium teaser--size-s">
  <div class="teaser-info-wrapper">

  {% include 'atoms-teaser-info' with {
      'type': 'live',
      'styleModifier': 'teaser-info--live-live',
      'mediaSource': 'Livestream',
      'mediaTime': 'seit 2 Stunden',
  } %}

  </div>
</div>



<hr />

<h2>Examples</h2>

<h3>Multiple info-elements</h3>

<div class="teaser teaser--with-medium teaser--size-s">
  <div class="teaser-info-wrapper">

    {% include 'atoms-teaser-info' with {
        'type': 'state',
        'styleModifier': 'teaser-info--visited teaser-info--with-icon',
        'text': 'Gesehen'
    } %}

    {% include 'atoms-teaser-info' with {
        'type': 'media-icon',
        'styleModifier': 'teaser-info--mediaicon-video teaser-info--with-icon',
        'text': 'Video'
    } %}

    {% include 'atoms-teaser-info' with {
        'type': 'media-caption',
        'styleModifier': 'teaser-info--media-caption',
        'mediaDuration': '3.20',
        'mediaSource': '100 Sekunden Wissen',
        'mediaTime': 'vom 8.12.2018',
    } %}

  </div>
</div>
