<h2 class='teaser-demo-header'>S-Teaser</h2>

{% include 'molecules-teaser' with {
    "styleModifier": "teaser--s",
    "teaser": collections[0].teasers[0]
} %}

<h2 class='teaser-demo-header'>M-Teaser</h2>

{% include 'molecules-teaser' with {
    "styleModifier": "teaser--m",
    "teaser": collections[0].teasers[0]
} %}

<h2 class='teaser-demo-header'>L-Teaser</h2>

{% include 'molecules-teaser' with {
    "styleModifier": "teaser--l",
    "teaser": collections[0].teasers[0]
} %}

<h2 class='teaser-demo-header'>XL-Teaser</h2>

{% include 'molecules-teaser' with {
    "styleModifier": "teaser--xl",
    "teaser": collections[0].teasers[0]
} %}

<h2 class='teaser-demo-header'>Unmodified</h2>

{% include 'molecules-teaser' with {
    "styleModifier": "",
    "teaser": collections[0].teasers[0]
} %}

<style>
    /* Prevent collapsing margins on demo page on hover */
    .teaser-demo-header {
        display: inline-block
    }
</style>
