<style>
    .togglable-wrapper {
        max-width: 100%;
        transition: max-width .2s ease-in-out;
    }
    .teaser-demo-wrapper {
        max-width: 320px;
    }
    h2 {
        margin: 20px;
    }
</style>

{% include 'atoms-button' with {'buttonText' : 'Max-Width setzen', 'styleModifier': 'js-toggle-maxWidth'} %}

<h2>S-Teaser</h2>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-s',
        'teaser': collections[0].teasers[0]
    } %}
</div>

<h2>M-Teaser</h2>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-m',
        'teaser': collections[0].teasers[0]
    } %}
</div>

<h2>M-Teaser which looks like an S-Teaser on Mobile</h2>

<div class='js-togglable-wrapper togglable-wrapper'>
    {% include 'molecules-teaser' with {
        "styleModifier": "teaser--size-m teaser--size-s-on-mobile",
        "teaser": collections[0].teasers[0]
    } %}
</div>

<h2>L-Teaser</h2>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-l',
        'teaser': collections[0].teasers[0]
    } %}
</div>

<h2>L-Teaser which looks like an S-Teaser on Mobile</h2>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        "styleModifier": "teaser--size-l teaser--size-s-on-mobile",
        "teaser": collections[0].teasers[0]
    } %}
</div>

<h2>XL-Teaser</h2>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-xl',
        'teaser': collections[0].teasers[0]
    } %}
</div>

<h2>No Translate</h2>

<div class='js-togglable-wrapper togglable-wrapper'>
    {% include 'molecules-teaser' with {
        "styleModifier": "teaser--no-translate",
        "teaser": collections[0].teasers[0]
    } %}
</div>

<h2>Theme Breaking</h2>

<div class='js-togglable-wrapper togglable-wrapper'>
    {% include 'molecules-teaser' with {
        "styleModifier": "teaser--theme-breaking",
        "teaser": collections[0].teasers[0]
    } %}
</div>

<h2>Theme Dark</h2>

<div class='js-togglable-wrapper togglable-wrapper'>
    {% include 'molecules-teaser' with {
        "styleModifier": "teaser--theme-dark",
        "teaser": collections[0].teasers[0]
    } %}
</div>

<h2>Unmodified</h2>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': '',
        'teaser': collections[0].teasers[0]
    } %}
</div>

<h2>Status</h2>

<h3>New</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-s',
        'teaser': collections[0].teasers[0],
        'status': 'Vor 5 Minuten',
        'styleModifierStatus': 'teaser-status--new'
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-s teaser--theme-dark',
        'teaser': collections[0].teasers[0],
        'status': 'Vor 5 Minuten',
        'styleModifierStatus': 'teaser-status--new'
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-s teaser--theme-breaking',
        'teaser': collections[0].teasers[0],
        'status': 'Vor 5 Minuten',
        'styleModifierStatus': 'teaser-status--new'
    } %}
</div>

<h3>New and updated</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-m',
        'teaser': collections[0].teasers[0],
        'status': 'Vor 5 Minuten',
        'styleModifierStatus': 'teaser-status--new-and-updated'
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-m teaser--theme-dark',
        'teaser': collections[0].teasers[0],
        'status': 'Vor 5 Minuten',
        'styleModifierStatus': 'teaser-status--new-and-updated'
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-m teaser--theme-breaking',
        'teaser': collections[0].teasers[0],
        'status': 'Vor 5 Minuten',
        'styleModifierStatus': 'teaser-status--new-and-updated'
    } %}
</div>

<h3>Visited</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-l',
        'teaser': collections[0].teasers[0],
        'status': 'Gesehen',
        'styleModifierStatus': 'teaser-status--visited'
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-l teaser--theme-dark',
        'teaser': collections[0].teasers[0],
        'status': 'Gesehen',
        'styleModifierStatus': 'teaser-status--visited'
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-l teaser--theme-breaking',
        'teaser': collections[0].teasers[0],
        'status': 'Gesehen',
        'styleModifierStatus': 'teaser-status--visited'
    } %}
</div>

<h3>Visited with updates</h3>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-xl',
        'teaser': collections[0].teasers[0],
        'status': 'Vor 5 Minuten',
        'styleModifierStatus': 'teaser-status--visited-and-updated'
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-xl teaser--theme-dark',
        'teaser': collections[0].teasers[0],
        'status': 'Vor 5 Minuten',
        'styleModifierStatus': 'teaser-status--visited-and-updated'
    } %}
</div>

<div class="js-togglable-wrapper togglable-wrapper">
    {% include 'molecules-teaser' with {
        'styleModifier': 'teaser--size-xl teaser--theme-breaking',
        'teaser': collections[0].teasers[0],
        'status': 'Vor 5 Minuten',
        'styleModifierStatus': 'teaser-status--visited-and-updated'
    } %}
</div>

<script>
    let $btn = $('.js-toggle-maxWidth'),
        $togglableWrappers = $('.js-togglable-wrapper');


    $btn.on('click', () => {
        $togglableWrappers.toggleClass('teaser-demo-wrapper');
    });
</script>
