@import "../../variables";
@import "../../mixins";
@import "../../breakpoints";
@import "teaser-theme-settings";

.teaser {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-radius: 2px;
  overflow: hidden; // to cut off image with border radius

  /* theme */
  @include customPropWithFallback('color', '--teaser-color-text', $color-text-default);
  @include customPropWithFallback('background-color', '--teaser-color-background', $color-bg-card);

  box-shadow: $shadow-elevation1;
  // sass-lint:disable indentation
  transition: box-shadow .2s ease-in-out,
              transform .2s ease-in-out;
  // sass-lint:enable indentation
  transform: translateZ(0);

  @include breakLongWords;

  /* Card moves 4px up on interaction */
  &:hover,
  &:focus,
  &:active {
    transform: translateY(-4px);
    box-shadow: $shadow-elevation8;
  }

  &.teaser--no-translate {
    transform: none;
    box-shadow: none;
  }

}

.teaser__main {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  width: 100%;
  flex-wrap: wrap;
  position: relative; // to position the pseudo elements

  /* Teasers have an invisible layer on top that gets sligthly opaque when active/focused */
  &::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    pointer-events: none;

    // performance improvement: Don't animate the background-color, but the opacity

    /* theme */
    @include customPropWithFallback('background-color', '--teaser-color-overlay', $color-bg-button-hover);

    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  &:focus,
  &:active {
    &::after {
      opacity: 1;
    }
  }

  // if any Teaser(size) is being clicked … do the following with its siblings and children
  &:active ~ .teaser__links {
    .block-link--teaser-link:first-of-type {
      border-top-color: transparent;
    }
  }
}

.teaser__medium-wrapper {
  flex: 0 0 80px;
  margin: 16px 16px 16px 0;
  color: transparent; // hide alt-text in case image is broken
  position: relative; // for positioning ::pseudo elements
  background-color: #dadad2;
  align-self: start;

  // border on top of the images
  &::after {
    position: absolute;
    pointer-events: none;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }
}

.teaser__medium {
  width: 80px;
  height: 80px;
}

.teaser__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  margin: 16px 12px 16px 16px;

  @include desktop-wide {
    margin: 24px;
    // IE needs some convincing
    max-width: calc(100% - 48px);
  }
}

.teaser__kicker {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0 0 4px;
  font-family: $font-regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.4px;
  color: $color-accentuation-red;
  word-wrap: break-word; // Enforce breaking words for IE11

  /* theme */
  @include customPropWithFallback('color', '--teaser-color-accentuation', $color-accentuation-red);
  > * {
    flex: 0 1 auto;
    margin-right: 8px;
  }

}

/* lift kicker-text up 1px if there is a label … */
.teaser__label ~ .teaser__kicker-text {
  position: relative;
  top: -1px;
}

.teaser__title {
  margin: 0;
  font-family: $font-medium;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.4px;
  color: $color-text-default;
  word-wrap: break-word; // Enforce breaking words for IE11

  /* theme */
  @include customPropWithFallback('color', '--teaser-color-title', $color-text-default);
}

.teaser__lead,
.teaser__media-caption {
  margin: 12px 0 0;
  display: none;
  font-family: $font-light;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.4px;

  /* theme */
  @include customPropWithFallback('color', '--teaser-color-text', '#383732');
}

.teaser__media-caption {
  font-size: 12px;
  line-height: 1.2;
  color: $color-text-light;
}

.teaser__media-duration {
  display: none;
}

.teaser__media-duration,
.teaser__media-source {
  strong {
    font-family: $font-medium;
    color: $color-text-default;
  }
}

.teaser__live {
  display: inline-block;
  margin: 0 8px 2px 0;
  padding: 1px 6px;
  background-color: $color-srf-light;
  font-family: $font-medium;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #fff;
  text-transform: uppercase;
  animation: pulsatingLiveAnimation 3s infinite ease-in-out;
  @include font-smoothing;

  @include tablet-up {
    position: absolute;
    top: 16px;
  }

  @include desktop-up {
    font-size: 16px;
  }

  @include desktop-wide {
    top: 24px;
  }

  .svg-icon {
    margin: 2px 4px -2px 0;

    @include desktop-up {
      margin: 3px 6px -3px 0;
    }
  }
}

.teaser__links {
  margin: 0 -8px 0 16px;

  @include desktop-wide {
    margin: 0 -8px 0 24px;
  }
}

.teaser__opinion {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  background-color: $color-bg-caption;
  padding: 8px 16px;

  // IE11 extra sausage
  max-width: 100%;

  @include desktop-wide {
    padding: 8px 24px;
  }
}

.teaser--size-s {
  .teaser__medium-wrapper {
    border-radius: 2px;
    overflow: hidden;
    flex-basis: 80px;
    height: 80px;

    @include desktop-up {
      flex-basis: 94px;
      height: 94px;
    }

    &::after {
      border-radius: 2px;
      border: solid 1px rgba(0, 0, 0, 0.04);
      height: 80px;

      @include desktop-up {
        height: 94px;
      }
    }

    @include desktop-wide {
      margin: 24px 24px 24px 0;
    }
  }

  // slightly bigger image on desktop
  .teaser__medium {
    @include desktop-up {
      width: 94px;
      height: 94px;
    }
  }

  .teaser__kicker {
    @include desktop-up {
      font-size: 16px;
      line-height: 1.13;
    }
  }

  .teaser__title {
    @include desktop-up {
      font-size: 18px;
      line-height: 1.33;
    }
  }

  .teaser__media-duration {
    display: inline;
  }
}

/* M-TEASER
 * looks like S-Teaser on mobile
 * on tablet+ the orientation changes to vertical
 */
.teaser--size-m {
  .teaser__main {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .teaser__medium-wrapper {
    margin: 0;
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
    flex-basis: auto;

    &::after {
      border-radius: 0;
      border-bottom: solid 1px rgba(0, 0, 0, 0.04);
    }
  }

  .teaser__medium {
    width: 100%;
    height: auto;
  }

  .teaser__content {
    flex: 1 0 auto;
  }

  .teaser__opinion {
    flex: 0 0 auto;
  }

  .teaser__kicker {
    @include desktop-up {
      font-size: 16px;
      line-height: 1.13;
    }
  }

  .teaser__title {
    @include desktop-up {
      font-size: 20px;
      line-height: 1.25;
      letter-spacing: 0.2px;
    }
  }
}

/* L-TEASER
 * Already vertical on mobile
 * With short lead
 */
.teaser--size-l {
  .teaser__main {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .teaser__medium {
    height: auto;
    width: 100%;
  }

  .teaser__content {
    flex: 1 0 auto;
  }

  .teaser__opinion {
    flex: 0 0 auto;
  }

  .teaser__medium-wrapper {
    margin: 0;
    width: 100%;

    &::after {
      border-bottom: solid 1px rgba(0, 0, 0, 0.04);
    }
  }
}

// Shared styles for both L and XL teaser
.teaser--size-l,
.teaser--size-xl {
  .teaser__medium-wrapper {
    flex-basis: auto;
  }

  .teaser__lead {
    display: block;

    @include desktop-up {
      font-size: 18px;
      line-height: 1.33;

      /* theme */
      @include customPropWithFallback('color', '--teaser-color-text', $color-media-playing);
    }
  }

  .teaser__kicker {
    font-size: 16px;
    line-height: 1.13;

    @include desktop-up {
      font-size: 18px;
      line-height: 1.11;
    }
  }

  .teaser__title {
    font-size: 20px;
    letter-spacing: 0.2px;

    @include desktop-up {
      font-size: 24px;
    }
  }
}

/* XL-TEASER
 * Looks like L-Teaser on Mobile
 * With short lead
 * Full-width on tablet+ with medium on the left
 */
.teaser--size-xl {
  @include tablet-up {
    flex-direction: row;
  }

  .teaser__main {
    flex-direction: column;
    flex-wrap: nowrap;

    @include tablet-up {
      flex-direction: row;
      flex-wrap: wrap;
    }

    // if XL-Teaser is being clicked … do the following with its siblings and children
    &:active ~ .teaser__links {
      @include tablet {
        &::before {
          display: none;
        }
      }

      .block-link--teaser-link:first-of-type {
        border-top-color: transparent;
      }
    }
  }

  .teaser__links {
    @include tablet {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -1rem;
        right: 0;
        left: 0;
        @include customPropWithFallback('background', '--teaser-fake-shadow-gradient', 'linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)');
        height: 1rem;
      }
    }

    @include tablet-up {
      position: absolute;
      right: 0;
      bottom: 0;
      @include customPropWithFallback('background-color', '--teaser-color-background', $color-bg-card);
      padding: 0 0 0 24px;
      width: calc(34.25% + 8px);
    }
  }

  .teaser__medium {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .teaser__medium-wrapper {
    margin: 0;

    @include smartphone {
      height: auto;
      width: 100%;
      &::after {
        border-bottom: solid 1px rgba(0, 0, 0, 0.04);
      }
    }

    @include tablet-up {
      height: 100%;

      &::after {
        border-right: solid 1px rgba(0, 0, 0, 0.04);
      }
      flex: 0 0 65.75%;
    }
  }

  .teaser__content {
    flex: 1 0 auto;

    @include tablet-up {
      flex: 1 0 0px;
      margin: 24px 16px 24px 24px;
    }

    @include desktop {
      margin: 24px;
    }

    @include desktop-wide {
      margin: 32px 24px 32px 32px;
    }
  }

  .teaser__title {
    @include tablet {
      letter-spacing: 0.4px;
    }
  }

  .teaser__opinion {
    flex: 0 0 auto;

    @include tablet-up {
      flex-basis: 100%;
    }

    @include desktop-up {
      font-size: 18px;
      line-height: 1.33;
    }
  }

  @supports (display: grid) {
    @include tablet-up {
      .teaser__main {
        display: grid;
        grid-template-columns: 65.75% auto;
        grid-template-rows: 1fr max-content;
      }

      .teaser__medium-wrapper {
        grid-row: span 2;
      }

      .teaser__opinion {
        padding-left: 24px;
      }
    }

    @include desktop-wide {
      .teaser__opinion {
        padding-left: 32px;
      }
    }
  }
}

/* S-ON-MOBILE
 * override style to display a teaser as S-teaser on mobile
 * to be used together with a teaser--size-[m|l] class
 *
 * ↔️ on mobile
 */
.teaser--size-s-on-mobile {
  @include smartphone {
    flex-direction: row;

    &.teaser--with-links {
      flex-direction: column;
    }

    .teaser__main {
      flex-direction: row-reverse;
      flex-wrap: wrap;
    }

    .teaser__content {
      flex: 1 1 0px;
    }

    .teaser__kicker {
      font-size: 14px;
      line-height: 1.14;
    }

    .teaser__title {
      font-size: 16px;
      line-height: 1.25;
    }

    .teaser__lead {
      display: none;
    }

    .teaser__medium {
      height: 80px;
    }

    .teaser__medium-wrapper {
      margin: 16px 16px 16px 0;
      border-radius: 2px;
      overflow: hidden;
      flex-basis: 80px;
      height: 80px;

      &::after {
        border-radius: 2px;
        border: solid 1px rgba(0, 0, 0, 0.04);
        height: 80px;
      }
    }

    .teaser__media-duration {
      display: inline;
    }

    .teaser__opinion {
      flex: 0 0 100%;
    }
  }
}

.teaser.teaser--theme-dark,
.teaser.teaser--theme-breaking {
  .teaser__kicker,
  .teaser__title {
    @include font-smoothing;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(255,255,255,.08);
  }

  .block-link--teaser-link.block-link--internal::after {
    background-image: url('../img/icon/caret_white.svg');
  }

  .block-link--teaser-link.block-link--video::after {
    background-image: url('../img/icon/play-video-circle-white.svg');
  }

  .block-link--teaser-link.block-link--audio::after {
    background-image: url('../img/icon/play-audio-circle-white.svg');
  }
}

.teaser--static {
  width: 100%;
}

.teaser--with-medium {
  .teaser__lead.teaser__lead {
    display: none;
  }

  .teaser__media-caption {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
  }

  /* overriding position/size of media still time indicators */
  &.teaser--size-s {
    --media-time-indicator-display: none;
  }

  &.teaser--size-s-on-mobile {
    @include smartphone {
      --media-time-indicator-display: none;
    }
  }

  &.teaser--size-m {
    @include desktop-wide {
      --media-time-indicator-bottom: 12px;
      --media-time-indicator-right: 12px;
    }
  }

  &.teaser--size-l {
    @include desktop-up {
      --media-time-indicator-font-size: 16px;
    }

    @include desktop-wide {
      --media-time-indicator-bottom: 12px;
      --media-time-indicator-right: 12px;
    }
  }

  &.teaser--size-xl {
    @include tablet-up {
      --media-time-indicator-bottom: 20px;
      --media-time-indicator-right: 20px;
      --media-time-indicator-font-size: 16px;
    }

    @include desktop-wide {
      --media-time-indicator-bottom: 26px;
      --media-time-indicator-right: 26px;
    }
  }
}
