<p class="teaser-status js-teaser-status {{ styleModifier|default('') }}">
    <span class="teaser-status__content">
        <span class="h-offscreen">{{ a11yText|default('') }}</span>{{ text|default('') }}
    </span>
</p>
