@import "../../variables";
@import "../../mixins";
@import "../../breakpoints";

.teaser-status {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
  font-family: $font-regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 0.4px;
  color: $color-text-default;
  @include breakLongWords;
  margin: 8px 0 0;

  @include tablet-up {
    margin-top: 12px;
  }
}

.teaser-status__content {
  display: flex;
  align-items: center;
}

.teaser-status--new {
  color: $color-srf-light;
}

.teaser-status--new-and-updated,
.teaser-status--visited,
.teaser-status--visited-and-updated {
  .teaser-status__content:before {
    content: "";
    margin-right: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 12px;
    width: 12px;
  }
}

.teaser-status--new-and-updated {
  color: $color-srf-light;

  .teaser-status__content:before {
    background-image: url(../img/retry.svg);
    animation: rotateSparsely 20s infinite;
    animation-delay: 5s;
    filter: invert(82%) sepia(82%) saturate(5188%) hue-rotate(349deg) brightness(93%) contrast(91%); // approximate above color
  }
}

.teaser-status--visited {
  color: $color-button-success;

  .teaser-status__content:before {
    background-image: url(../img/blue_tick.svg);
  }
}

.teaser-status--visited-and-updated {
  color: $color-text-light;

  .teaser-status__content:before {
    background-image: url(../img/retry.svg);
    animation: rotateSparsely 20s infinite;
    animation-delay: 5s;
    filter: invert(56%) sepia(2%) saturate(1414%) hue-rotate(12deg) brightness(91%) contrast(90%); // approximate above color
  }
}

// larger teaser sizes (L/XL) have larger gaps between previous content and teaser status
.teaser-status--size-large {
  margin: 16px 0 0;

  @include tablet-up {
    margin-top: 20px;
  }
}
