<p class="teaser-status js-teaser-status {{ styleModifier|default('') }}">
    <span class="teaser-status__content">
        {% if a11yText %}<span class="h-offscreen">{{ a11yText|default('') }}</span>{% endif %}{{ text|default('') }}
    </span>
</p>
