@import '../../variables';
@import '../../mixins';
@import '../../breakpoints';

.teaser-status {
  display: none;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
  font-family: $font-regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 0.4px;

  /* theme */
  @include customPropWithFallback('color', $color-text-default, '--teaser-color-text');
  
  @include breakLongWords;
  margin: 8px 0 0;

  @include tablet-up {
    margin-top: 12px;
  }
}

.teaser-status__content {
  display: flex;
  align-items: center;
}

// only show teaser status when a modifier is set
.teaser-status--new,
.teaser-status--visited-and-recently-updated,
.teaser-status--visited,
.teaser-status--visited-and-updated {
  display: flex;
}

.teaser-status--new {
  /* theme */
  @include customPropWithFallback(color, $color-srf-light, --teaser-color-status-new);
}

.teaser-status--visited-and-recently-updated,
.teaser-status--visited,
.teaser-status--visited-and-updated {
  .teaser-status__content:before {
    content: '';
    margin-right: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 14px;
    width: 14px;
    animation: rotateSparselyAnimation 10s 5s infinite;
  }
}

.teaser-status--new-and-updated {
  /* theme */
  @include customPropWithFallback('color', $color-srf-light, '--teaser-color-status-new');

  .teaser-status__content:before {
    /* fallback */
    background-image: url(../img/retry_red.svg);

    /* theme */
    /* NOTE1: Themes should be declared via custom properties, but this does not work here (propably 'cause of gulp or something) therefore these assets are declared just below these lines */
  }
}

/* theme (see NOTE1) */
.teaser--theme-dark .teaser-status--new-and-updated {
  .teaser-status__content:before {
    background-image: url(../img/retry_white.svg);
  }
}
.teaser--theme-breaking .teaser-status--new-and-updated {
  .teaser-status__content:before {
    background-image: url(../img/retry_white.svg);
  }
}

.teaser-status--visited {
  /* theme */
  @include customPropWithFallback('color', $color-button-success, '--teaser-color-status-visited');

  .teaser-status__content:before {
    animation: none;

    /* fallback */
    background-image: url(../img/small_tick-blue.svg);

    /* theme */
    /* NOTE2: Themes should be declared via custom properties, but this does not work here (propably 'cause of gulp or something) therefore these assets are declared just below these lines */
  }
}

/* theme (see NOTE2) */
.teaser--theme-dark .teaser-status--visited {
  .teaser-status__content:before {
    background-image: url(../img/small_tick-white.svg);
  }
}
.teaser--theme-breaking .teaser-status--visited {
  .teaser-status__content:before {
    background-image: url(../img/small_tick-white.svg);
  }
}



.teaser-status--visited-and-updated {
  /* theme */
  @include customPropWithFallback('color', $color-text-light, '--teaser-color-status-updated');

  .teaser-status__content:before {
    /* fallback */
    background-image: url(../img/retry_grey.svg);

    /* theme */
    /* NOTE2: Themes should be declared via custom properties, but this does not work here (propably 'cause of gulp or something) therefore these assets are declared just below these lines */
  }
}

/* theme (see NOTE2) */
.teaser--theme-dark .teaser-status--visited-and-updated {
  .teaser-status__content:before {
    background-image: url(../img/retry_white.svg);
  }
}
.teaser--theme-breaking .teaser-status--visited-and-updated {
  .teaser-status__content:before {
    background-image: url(../img/retry_white.svg);
  }
}

// larger teaser sizes (L/XL) have larger gaps between previous content and teaser status
.teaser-status--size-large {
  margin: 16px 0 0;

  @include tablet-up {
    margin-top: 20px;
  }
}
