<p class="teaser-status {{ styleModifier|default('') }}">
    <span class="teaser-status__content">
        <strong>{{ type }}</strong>&nbsp;<span class="teaser-status__content">{{ time|default('') }}</span>
    </span>
</p>
