@import "../../variables";
@import "../../mixins";
@import "../../breakpoints";

.teaser {
    background-color: #fefefd;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    color: #22211d;
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
    @include breakLongWords;

    &:hover {
        background-color: #fafaf8;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
    }

    &:focus,
    &:active {
        background-color: #f5f5f2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
    }

    @include tablet-up {
        height: 100%;   // stretch teaser to fill container
        width: 100%;
    }
}

// <-> on mobile, vertical on tablet+
.teaser__main {
    display: flex;
    flex-direction: row-reverse;

    @include tablet-up {
        flex-direction: column;
    }
}

.teaser__image-wrapper {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 80px;

    margin: 16px 16px 16px 0;

    @include tablet-up {
        margin: 0;
    }
}

.teaser__image {
    object-fit: cover;
    width: 80px;
    height: 80px;

    @include tablet-up {
        height: auto;
        width: 100%;
    }
}

.teaser__content {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;

    margin: 16px;
}

.teaser__kicker {
    margin: 0 0 4px;
    font-family: $font-regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.4px;
    color: #c91024;
}

.teaser__title {
    margin: 0;
    font-family: $font-regular;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.4px;
    color: #22211d;
}

.teaser__lead {
    display: none;
}

// A Swipeable's teasers basically don't have the mobile styles but override them
// with the according tablet+ styles
.teaser__wrapper--swipeable {
    .teaser {
        height: 100%;
        width: 100%;

        .teaser__main {
            flex-direction: column;
        }

        .teaser__image-wrapper {
            margin: 0;
        }

        .teaser__image {
            height: auto;
            width: 100%;
        }
    }
}
