<blockquote class="blockquote">
    <div class="blockquote__quote">
        <span class="blockquote__text">{{ blockquote.text }}</span>
    </div>
    <footer class="blockquote__footer">
        <cite class="blockquote__author">
            {{ blockquote.author }}<br>
            <span class="blockquote__function">{{ blockquote.function }}</span>
        </cite>
    </footer>
</blockquote>