<div class="list listicle {{ styleModifier }}">
    <h2 class="listicle__title">Listicle Titel</h2>
    <ol>
        <li>
            <h4>Titel</h4>
            {% include 'components-image-figure' with { 'imageCaptionStyle': 'media-caption--no-bg'} %}
            <div class="listicle__content">
                <p>Barlow rief zusammen mit einem Softwaremillionär die <a href="https://www.eff.org/de"target="_blank">«Electronic FrontierFoundation»</a>
                    ins Leben, die noch heute für freie Netze und gegen Überwachung kämpft.</p>
                <p>Barlow rief zusammen mit einem <strong>Softwaremillionär</strong> die «Electronic Frontier
                    Foundation» ins Leben, die noch heute für freie Netze und gegen Überwachung kämpft.</p>
            </div>
        </li>
        <li>
            <h4>Titel 2</h4>
            {% include 'components-video' %}
            <div class="listicle__content">
                <p>Barlow rief zusammen mit einem Softwaremillionär die <a href="https://www.eff.org/de"target="_blank">«Electronic Frontier Foundation»</a>
                    ins Leben, die noch heute für freie Netze und gegen Überwachung kämpft.</p>
                <p>Barlow rief zusammen mit einem <strong>Softwaremillionär</strong> die «Electronic Frontier
                    Foundation» ins Leben, die noch heute für freie Netze und gegen Überwachung kämpft.</p>
                <div class="listicle__link">
                    <a href="https://www.google.ch">Google</a>
                </div>
                <div class="listicle__source">Somewhere</div>
        </li>
    </ol>
</div>