.list {
  margin: 40px 0;
  overflow: hidden;

  @include smartphone {
    @include fullwidth-element;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  ol {
    li {
      padding-left: 15px;

      .image-figure {
        @include fullwidth-element;

      }
    }
  }

}

.listicle__title {
  padding: 0 16px;
  margin: 16px 0 8px 0;
  font-family: $font-medium;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.3px;

  @include smartphone {
    margin: 12px 0 8px 0;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
  }
}