.breadcrumbs { // ul
  margin: 3px auto 15px; // 12 / 24 - 9 each
  padding: 0 24px;

  @include tablet-up {
    max-width: 624px;
    margin: 15px auto 23px; // 24 / 32 - 9 each
    padding: 0;
  }

  @include desktop {
    max-width: 680px;
  }

  @include desktop-wide {
    max-width: 760px;
  }
}

.breadcrumbs--foot {
  margin: 15px auto 23px; // 24 / 32 - 9 each

  @include tablet-up {
    margin: 23px auto 15px; // 32 / 24 - 9 each
  }
}

.breadcrumbs__item { // li
  display: inline;
  // reacting to "rounded corners"
  margin: 0 -1px 0 -9px;
  padding: 0;

  &::before {
    content: none;
  }
}