@import "../../variables";

.block-link {
  display: block;
  width: 100%;
  padding: 12px 50px 12px 0;
  font-size: 16px;
  line-height: $default-line-height-ratio;
  letter-spacing: .5px;
  color: $color-link-default;
  border: none;
  background: url('../img/linktypes/internal.svg') calc(100% - 16px) center no-repeat;
  background-size: 18px 18px;

  @include smartphone {
    padding: 12px 66px 12px 0;
    background-position: calc(100% - 24px) center;
  }

  &:hover,
  &:active {
    border: none;
    color: $color-link-default;
  }
}

.block-link--with-separator {
  padding-right: 48px;
  width: auto;
  border-top: 1px solid $color-separator;
  border-bottom: 1px solid $color-separator;

  &:hover,
  &:focus,
  &:active {
    width: auto;
    border-top: 1px solid $color-separator;
    border-bottom: 1px solid $color-separator;

    padding-left: 24px;
    margin-left: -24px;

    background-color: $color-link-bg-hover;
  }

  @include tablet-up {
    padding-left: 0;
    padding-right: 42px;

    &:hover,
    &:focus,
    &:active {
      padding-left: 16px;
      margin-left: -16px;
    }
  }

  // handling lines between two or more adjacent block-links
  & + & {
    border-top: 1px solid transparent;

    &:hover,
    &:focus,
    &:active {
      margin-top: -1px;
      padding-top: 13px;
      border-top: 1px solid $color-separator;
    }
  }

}

.block-link--external {
  background-image: url('../img/linktypes/external.svg');
}

.block-link--document {
  background-image: url('../img/linktypes/file.svg');
}

.block-link--pdf {
  background-image: url('../img/linktypes/pdf.svg');
  background-size: 19px 18px;
}

.block-link--docx {
  background-image: url('../img/linktypes/docx.svg');
  background-size: 26px 18px;
}
