@import "../../variables";
@import "../../mixins";

.block-link {
  display: block;
  width: 100%;
  padding: 12px 50px 12px 0;
  font-family: $font-regular;
  @include fontSize(16);
  line-height: $default-line-height-ratio;
  color: $color-srf-red-600;
  border: none;
  background: url('../img/linktypes/internal.svg') calc(100% - 24px) center no-repeat;
  background-size: 18px 18px;

  @include smartphone {
    padding: 12px 66px 12px 0;
  }

  &:hover,
  &:focus,
  &:active {
    border: none;
    color: $color-srf-red-600;
  }
}

.block-link--with-separator {
  padding-right: 48px;
  width: auto;
  border-top: 1px solid $color-srf-warmgrey-50;
  border-bottom: 1px solid $color-srf-warmgrey-50;

  &:hover,
  &:focus,
  &:active {
    width: auto;
    border-top: 1px solid $color-srf-warmgrey-50;
    border-bottom: 1px solid $color-srf-warmgrey-50;

    padding-left: $article-offset;
    margin-left: -$article-offset;

    background-color: $color-srf-warmgrey-10;
  }

  @include tablet-up {
    padding-left: 0;
    padding-right: 42px;
  }

  // handling lines between two or more adjacent block-links
  & + & {
    border-top: 1px solid transparent;

    &:hover,
    &:focus,
    &:active {
      margin-top: -1px;
      padding-top: 13px;
      border-top: 1px solid $color-srf-warmgrey-50;
    }
  }

}

.block-link--internal-black {
  background-image: url('../img/linktypes/internal.svg');
}

.block-link--external {
  background-image: url('../img/linktypes/external.svg');
}

.block-link--document {
  background-image: url('../img/linktypes/file.svg');
}

.block-link--pdf {
  background-image: url('../img/linktypes/pdf.svg');
  background-size: 19px 18px;
}

.block-link--video {
  background-image: url('../img/icon/play-video-circle.svg');
}

.block-link--audio {
  background-image: url('../img/icon/play-audio-circle.svg');
}

.block-link--docx {
  background-image: url('../img/linktypes/docx.svg');
  background-size: 26px 18px;
}

.block-link--box {
  border-top: 1px solid $color-srf-neutral-blacka10;

  padding-left: 16px;
  padding-right: 42px;
  background-position-x: calc(100% - 11px);

  &:hover {
    background-color: $color-srf-warmgrey-100;
    border-top: 1px solid $color-srf-neutral-blacka10;
  }

  &:focus {
    background-color: $color-srf-warmgrey-200;
  }

  @include tablet-up {
    padding-left: 24px;
    padding-right: 50px;
    background-position-x: calc(100% - 19px);
  }
}

/****************************************************************************
 CAUTION: there are some overrides of block-link--teaser-link in teaser.scss!
 ****************************************************************************/
.block-link--teaser-link {
  padding-right: 56px;
  font-family: $font-medium;
  @include fontSize(14);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1429;
  width: auto;
  min-height: 48px;
  position: relative; // to position the pseudo elements
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  display: flex;
  align-items: center;

  /* theme */
  @include customPropWithFallback('border-top-color', '--teaser-border-color-link', $color-srf-neutral-blacka08);
  @include customPropWithFallback('color', '--teaser-color-text', $color-srf-warmgrey-1100);
  @include customPropWithFallback('background-color', '--teaser-color-background', $color-srf-neutral-offwhite);

  &:hover,
  &:focus,
  &:active {
    width: auto;
    border-top: 1px solid transparent;
    margin-left: -24px;
    padding-left: 24px;
    margin-right: 0;

    @include desktop-up {
      margin-left: -24px;
      padding-left: 24px;
    }
  }

  &:hover,
  &:focus {
    /* theme */
    @include customPropWithFallback('color', '--teaser-color-text', $color-srf-warmgrey-1100);
    @include customPropWithFallback('background-color', '--teaser-background-link-hover', $color-srf-warmgrey-25);
  }

  &:active {
    /* theme */
    @include customPropWithFallback('color', '--teaser-color-text', $color-srf-warmgrey-1100);
    @include customPropWithFallback('background-color', '--teaser-background-link-active', $color-srf-warmgrey-50);
  }

  // handling lines between two or more adjacent block-links
  &:hover + &,
  &:focus + & {
    @include customPropWithFallback('border-top-color', '--teaser-background-link-hover', $color-srf-warmgrey-25);
  }

  &:active + & {
    @include customPropWithFallback('border-top-color', '--teaser-background-link-active', $color-srf-warmgrey-50);
  }

  &::after {
    content: '';
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: calc(24px / 2 * -1);
    @include caret('grey', '', 'large');

    @include desktop-up {
      right: 24px;
    }
  }

  &.block-link--internal::after {
    transform: rotate(-90deg);
    width: 18px;
    height: 18px;
    right: 20px;
    margin-top: calc(18px / 2 * -1);
    background-size: 18px 18px;

    @include desktop-up {
      right: 26px;
    }
  }

  &.block-link--video::after {
    background-image: url('../img/icon/play-video-circle.svg');
  }

  &.block-link--audio::after {
    background-image: url('../img/icon/play-audio-circle.svg');
  }
}
