@import "../../variables";
@import "../../mixins";

$cantonDesktop: 42px;
$cantonMobile: 40px;

.canton-link {
  display: block;
  width: $cantonMobile;
  text-align: center;
  line-height: $cantonMobile;
  height: $cantonMobile;
  color: $color-srf-warmgrey-1100;
  font-family: $font-regular;
  @include fontSize(18);
  @include font-smoothing();
  border-radius: 2px;
  background-color: $color-srf-warmgrey-50;
  margin: 4px 4px 0 0; // Margin: Fallback if browser does not support CSS Grid -> iOS 10.2 and older, which are supported by SRF News App

  @supports (display: grid) {
    margin: 0;
    height: auto;
  }

  @include tablet-up {
    width: $cantonDesktop;
    line-height: $cantonDesktop;
    height: $cantonDesktop;

    @supports (display: grid) {
      height: auto;
    }
  }

  &:hover {
    color: $color-srf-warmgrey-1100;
    background-color: $color-srf-warmgrey-100;
  }

  &:active,
  &:focus {
    color: $color-srf-warmgrey-1100;
    background-color: $color-srf-warmgrey-200;
  }
}
