@import "../../variables";
@import "../../mixins";

$cantonDesktop: 42px;
$cantonMobile: 40px;

.canton-link {
  display: block;
  width: $cantonMobile;
  text-align: center;
  line-height: $cantonMobile;
  color: $color-srf-warmgrey-1100;
  font-family: $font-regular;
  @include fontSize(18);
  @include font-smoothing();
  border-radius: 2px;
  background-color: $color-srf-warmgrey-50;

  @include tablet-up {
    width: $cantonDesktop;
    line-height: $cantonDesktop;
  }

  &:hover {
    color: $color-srf-warmgrey-1100;
    background-color: $color-srf-warmgrey-100;
  }

  &:active,
  &:focus {
    color: $color-srf-warmgrey-1100;
    background-color: $color-srf-warmgrey-200;
  }
}
