.nested-link-wrapper {
  position: relative;

  a {
    position: relative;
    z-index: 1;
  }
}

.nested-link.nested-link {
  position: static;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
