
.pseudo-link {
  position: relative;
  color: $color-srf-red-600;
  cursor: pointer;
  border-bottom: 1px solid $color-srf-red-600;

  &:hover {
    color: $color-srf-red-800;
    border-bottom: 1px solid $color-srf-red-800;
  }

  &:active {
    color: $color-srf-red-900;
    border-bottom: 1px solid $color-srf-red-900;
  }

  //creates larger touch area for the pseudo link
  &::before {
    content: "";
    position: absolute;
    left: -0.25em;
    top: -0.5em;
    height: 2.5em;
    width: calc(100% + 0.5em);
  }
}
