@import "fonts";
@import "variables";
@import "breakpoints";

body {
  margin: 0;
  font-family: $font-light;
  background-color: #fefefd;
}

.card__header {
  padding: 24px;
  border-bottom: 1px solid #ebebe5;
}

.card__body {
  padding: 24px;
  p {
    margin: 0;
  }
}

h1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.2px;
  color: #22211d;
  font-family: $font-regular;
}

.lead {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.45;
  letter-spacing: 0.3px;
  color: #4e4d47;
}

.text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.56;
  letter-spacing: 0.5px;
  color: #22211d;
}

.author p {
  margin: 0;
}

.author__name {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.5px;
  color: #22211d;
  font-family: $font-regular;
}

.author__date {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #888579;
  font-family: $font-system;
}