<div class="related-list">
    <h2 class="related-list__heading">
        Sendungen zu diesem Artikel
    </h2>
    <ul>
        <li class="related-item">
            {% include 'components-video' with {'styleModifier': 'RelatedEpisodes' } %}
            {% include 'components-linkbox' with {'styleModifier': 'linkbox--related', 'title': 'Unterrichtsmaterialien'} %}
        </li>
        <li class="related-item">{% include 'components-audio' %}</li>
        <li class="related-item">{% include 'components-video' with {'styleModifier': 'RelatedEpisodes'} %}</li>
        <li class="related-item">{% include 'components-audio' %}</li>
        <li class="related-item">{% include 'components-video' with {'styleModifier': 'RelatedEpisodes'} %}</li>
    </ul>
</div>