.related-list {
  color: $color-text-default;
  margin: 24px -8px 32px;

  @include tablet-up {
    margin: 32px 0 40px;
  }

  ul {
    border-bottom: 1px solid #ebebe5;
    border-top: 1px solid #ebebe5;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li::before {
    background: none;
  }

  .article-audio, .article-video {
    background: none;
    margin: 0;
  }
}

.related-list__heading {
  font-family: $font-regular;
  font-size: 14px;
  line-height: 1.41;
  letter-spacing: 0.5px;
  color: #888579;
  margin: 0;
  padding: 10px 16px;
  text-transform: uppercase;

  @include tablet-up {
    font-size: 18px;
  }
}
.related-item {
  border-bottom: 1px solid #ebebe5;
  background: none;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
  }
}

.related-item:last-child {
  border-bottom: none;
}