<a href="#skiplink__contentlink" class="js-skiplink h-offscreen h-offscreen-focusable h-offscreen-focusable--top">
    Zum Inhalt springen
</a>

<a href="#">Link before</a><br>
<a href="#">Link before</a><br>
<a href="#">Link before</a><br>

<h1 id="skiplink__contentlink" class="article-title" itemprop="headline">Linkziel</h1>

<a href="#">Link after</a><br>
<a href="#">Link after</a><br>
<a href="#">Link after</a><br>