    <article class="article">
      <section class="article-content">
        {% include 'components-listmodule' with {'type' : 'listing'} %}
        {% include 'components-listmodule' with {'type' : 'listicle'} %}
      </section>
    </article>
