.table-block {
  overflow-x: auto;
  margin: 16px 0 24px;

  @include smartphone {
    margin: 16px -8px 20px 4px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  tr {
    background-color: $color-table-bg-zebra-light;
  }

  tbody tr:nth-child(even) {
    background-color: $color-table-bg-zebra-dark;
  }

  th {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .6px;
    font-family: $font-medium;
    text-align: left;
    text-transform: uppercase;
    color: $color-text-default;
    background: $color-bg-box;
    @include smartphone {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: .5px;
    }
  }

  td {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .5px;
    @include smartphone {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: .5px;
    }
  }

  th, td {
    padding: 11px 16px 13px;
    border: 1px solid #fff;
    vertical-align: top;

    @include smartphone {
      padding: 13px 12px 15px;
    }
  }
}

.table-block--legacy {
  tr[data-head="true"]:first-child td {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .6px;
    font-family: $font-medium;
    text-align: left;
    text-transform: uppercase;
    color: $color-text-default;
    background: $color-bg-box;

    @include smartphone {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: .5px;
    }
  }
}
