<div class="shimmer-box">
    {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--heading'} %}
    {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--heading'} %}
    {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--heading shimmer--short'} %}
</div>
