.shimmer-box {
  display: none; /* OVERRIDING CRITICAL CSS */
  margin: 36px 0;
  @include article-text-padding;
}

.shimmer-box--visible {
  display: block;
}

.shimmer-box--content-width {
  width: auto;
  padding: 0;

  @include tablet {
    width: $tablet-content-max-width;
  }

  @include tablet-up {
    width: $desktop-content-max-width;
  }

  @include desktop-wide {
    width: $desktop-wide-content-max-width;
  }
}
