.carousel-counter {
  position: absolute;
  left: 50%;
  margin-top: -30px;
  padding: 2px 8px;
  transform: translate(-50%, 0);
  font-family: $font-regular;
  @include font-smoothing;
  @include fontSize(12);
  line-height: $default-line-height-ratio;
  background-color: rgba(0,0,0,.7);
  color: rgba(255,255,255,1);

  @include tablet-up {
    margin-top: -40px;
    @include fontSize(16);
    line-height: $emphasize-line-height-ratio;
  }
}
