<div style="padding: 6rem 2rem">

{% include 'atoms-shimmer' with {'styleModifier': 'shimmer--title'} %}
{% include 'atoms-shimmer' with {'styleModifier': 'shimmer--overline'} %}
{% include 'atoms-shimmer' with {'styleModifier': ''} %}
{% include 'atoms-shimmer' with {'styleModifier': ''} %}
{% include 'atoms-shimmer' with {'styleModifier': 'shimmer--short'} %}

  <div style="background:$color-srf-warmgrey-1100;margin:3rem -2rem;padding:6rem 2rem">

{% include 'atoms-shimmer' with {'styleModifier': 'shimmer--dark'} %}
{% include 'atoms-shimmer' with {'styleModifier': 'shimmer--dark shimmer--short'} %}

  </div>
</div>
