<div style="background: linear-gradient(120deg,#AD3492,#AD3492 15%,#792465 60%,#792465);padding:1rem 0 4rem 1rem;max-width:64rem">

  <h1>S-Teaser</h1>
  <div class="demo-teaser__label-wrapper---s-teaser teaser--size-s">
    <span class="teaser__label teaser__label--live">
      <span class="teaser__label-box teaser__label-box--type">
        {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--tiny svg-icon--play-video-circle-white'} %}
        <span class="teaser__label-type">Live</span>
      </span>
      <span class="teaser__label-box teaser__label-box--time">13:37</span>
    </span>

    <span class="teaser__label teaser__label--pre">
      <span class="teaser__label-box teaser__label-box--type">
        <span class="teaser__label-type">Livestream</span>
      </span>
      <span class="teaser__label-box teaser__label-box--time">13:37</span>
    </span>
  </div>

  <h1>M-Teaser</h1>
  <div class="demo-teaser__label-wrapper---m-teaser teaser--size-m">
    <span class="teaser__label teaser__label--live">
      <span class="teaser__label-box teaser__label-box--type">
        {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--tiny-but-small-on-desktop-up svg-icon--play-video-circle-white-tiny-to-small'} %}
        <span class="teaser__label-type">Live</span>
      </span>
      <span class="teaser__label-box teaser__label-box--time">13:37</span>
    </span>

    <span class="teaser__label teaser__label--pre">
      <span class="teaser__label-box teaser__label-box--type">
        {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--tiny-but-small-on-desktop-up svg-icon--play-video-circle-tiny-to-small'} %}
        <span class="teaser__label-type">Livestream</span>
      </span>
      <span class="teaser__label-box teaser__label-box--time">13:37</span>
    </span>
  </div>

  <h1>L-Teaser</h1>
  <div class="demo-teaser__label-wrapper---l-teaser teaser--size-l">
    <span class="teaser__label teaser__label--live">
      <span class="teaser__label-box teaser__label-box--type">
        {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--small svg-icon--play-video-circle-white'} %}
        <span class="teaser__label-type">Live</span>
      </span>
      <span class="teaser__label-box teaser__label-box--time">13:37</span>
    </span>

    <span class="teaser__label teaser__label--pre">
      <span class="teaser__label-box teaser__label-box--type">
        {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--small svg-icon--play-video-circle'} %}
        <span class="teaser__label-type">Livestream</span>
      </span>
      <span class="teaser__label-box teaser__label-box--time">13:37</span>
    </span>
  </div>

  <h1>XL-Teaser</h1>
  <div class="demo-teaser__label-wrapper---xl-teaser teaser--size-xl">
    <span class="teaser__label teaser__label--live">
      <span class="teaser__label-box teaser__label-box--type">
        {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--small svg-icon--play-video-circle-white'} %}
        <span class="teaser__label-type">Live</span>
      </span>
      <span class="teaser__label-box teaser__label-box--time">13:37</span>
    </span>

    <span class="teaser__label teaser__label--pre">
      <span class="teaser__label-box teaser__label-box--type">
        {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--small svg-icon--play-video-circle'} %}
        <span class="teaser__label-type">Livestream</span>
      </span>
      <span class="teaser__label-box teaser__label-box--time">13:37</span>
    </span>
  </div>

</div>
