<div style="background: linear-gradient(120deg,#AD3492,#AD3492 15%,#792465 60%,#792465);padding:1rem 0 4rem 1rem;max-width:64rem">

  <h1>S-Teaser</h1>
  <div class="demo-teaser__label-wrapper---s-teaser teaser--size-s">
    {% include 'atoms-teaser-label' with {'styleModifierType': 'live', 'styleModifierSize': 's'} %}
    {% include 'atoms-teaser-label' with {'styleModifierType': 'pre', 'styleModifierSize': 's'} %}
  </div>

  <h1>M-Teaser</h1>
  <div class="demo-teaser__label-wrapper---m-teaser teaser--size-m">
    {% include 'atoms-teaser-label' with {'styleModifierType': 'live', 'styleModifierSize': 'm'} %}
    {% include 'atoms-teaser-label' with {'styleModifierType': 'pre', 'styleModifierSize': 'm'} %}
  </div>

  <h1>L-Teaser</h1>
  <div class="demo-teaser__label-wrapper---l-teaser teaser--size-l">
    {% include 'atoms-teaser-label' with {'styleModifierType': 'live', 'styleModifierSize': 'l'} %}
    {% include 'atoms-teaser-label' with {'styleModifierType': 'pre', 'styleModifierSize': 'l'} %}
  </div>

  <h1>XL-Teaser</h1>
  <div class="demo-teaser__label-wrapper---xl-teaser teaser--size-xl">
    {% include 'atoms-teaser-label' with {'styleModifierType': 'live', 'styleModifierSize': 'xl'} %}
    {% include 'atoms-teaser-label' with {'styleModifierType': 'pre', 'styleModifierSize': 'xl'} %}
  </div>

</div>
