<div style="background:linear-gradient(120deg,rgba(42,42,42,1),rgba(42,42,42,1) 15%,rgba(24,24,24,1) 60%,rgba(24,24,24,1));padding:1rem 0 4rem 1rem;max-width:64rem">

  <h1 style="color:white">S-Teaser</h1>
  <div class="demo-teaser__label-wrapper---s-teaser teaser--size-s">
    {% include 'atoms-teaser-label' with {'labelWording': 'Live',       'styleModifierType': 'teaser__label--live',     'styleModifierSize': 'teaser--size-s'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Live',       'styleModifierType': 'teaser__label--pre',      'styleModifierSize': 'teaser--size-s'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Live',       'styleModifierType': 'teaser__label--live',     'styleModifierSize': 'teaser--size-s',  'labelTime': '13:37'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Live',       'styleModifierType': 'teaser__label--pre',      'styleModifierSize': 'teaser--size-s',  'labelTime': '13:37'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Liveticker', 'styleModifierType': 'teaser__label--live',     'styleModifierSize': 'teaser--size-s'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Liveticker', 'styleModifierType': 'teaser__label--pre',      'styleModifierSize': 'teaser--size-s'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Liveticker', 'styleModifierType': 'teaser__label--live',     'styleModifierSize': 'teaser--size-s',  'labelTime': '13:37'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Liveticker', 'styleModifierType': 'teaser__label--pre',      'styleModifierSize': 'teaser--size-s',  'labelTime': '13:37'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Breaking',   'styleModifierType': 'teaser__label--breaking', 'styleModifierSize': 'teaser--size-s'} %}
  </div>

  <h1 style="color:white">M-Teaser</h1>
  <div class="demo-teaser__label-wrapper---m-teaser teaser--size-m">
    {% include 'atoms-teaser-label' with {'labelWording': 'Live',       'styleModifierType': 'teaser__label--live',     'styleModifierSize': 'teaser--size-m'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Live',       'styleModifierType': 'teaser__label--pre',      'styleModifierSize': 'teaser--size-m'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Live',       'styleModifierType': 'teaser__label--live',     'styleModifierSize': 'teaser--size-m',  'labelTime': '13:37'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Live',       'styleModifierType': 'teaser__label--pre',      'styleModifierSize': 'teaser--size-m',  'labelTime': '13:37'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Liveticker', 'styleModifierType': 'teaser__label--live',     'styleModifierSize': 'teaser--size-m'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Liveticker', 'styleModifierType': 'teaser__label--pre',      'styleModifierSize': 'teaser--size-m'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Liveticker', 'styleModifierType': 'teaser__label--live',     'styleModifierSize': 'teaser--size-m',  'labelTime': '13:37'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Liveticker', 'styleModifierType': 'teaser__label--pre',      'styleModifierSize': 'teaser--size-m',  'labelTime': '13:37'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Breaking',   'styleModifierType': 'teaser__label--breaking', 'styleModifierSize': 'teaser--size-m'} %}
  </div>

  <h1 style="color:white">L-Teaser</h1>
  <div class="demo-teaser__label-wrapper---l-teaser teaser--size-l">
    {% include 'atoms-teaser-label' with {'labelWording': 'Live',       'styleModifierType': 'teaser__label--live',     'styleModifierSize': 'teaser--size-l'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Live',       'styleModifierType': 'teaser__label--pre',      'styleModifierSize': 'teaser--size-l'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Live',       'styleModifierType': 'teaser__label--live',     'styleModifierSize': 'teaser--size-l',  'labelTime': '13:37'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Live',       'styleModifierType': 'teaser__label--pre',      'styleModifierSize': 'teaser--size-l',  'labelTime': '13:37'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Liveticker', 'styleModifierType': 'teaser__label--live',     'styleModifierSize': 'teaser--size-l'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Liveticker', 'styleModifierType': 'teaser__label--pre',      'styleModifierSize': 'teaser--size-l'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Liveticker', 'styleModifierType': 'teaser__label--live',     'styleModifierSize': 'teaser--size-l',  'labelTime': '13:37'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Liveticker', 'styleModifierType': 'teaser__label--pre',      'styleModifierSize': 'teaser--size-l',  'labelTime': '13:37'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Breaking',   'styleModifierType': 'teaser__label--breaking', 'styleModifierSize': 'teaser--size-l'} %}
  </div>

  <h1 style="color:white">XL-Teaser</h1>
  <div class="demo-teaser__label-wrapper---xl-teaser teaser--size-xl">
    {% include 'atoms-teaser-label' with {'labelWording': 'Live',       'styleModifierType': 'teaser__label--live',     'styleModifierSize': 'teaser--size-xl'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Live',       'styleModifierType': 'teaser__label--pre',      'styleModifierSize': 'teaser--size-xl'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Live',       'styleModifierType': 'teaser__label--live',     'styleModifierSize': 'teaser--size-xl', 'labelTime': '13:37'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Live',       'styleModifierType': 'teaser__label--pre',      'styleModifierSize': 'teaser--size-xl', 'labelTime': '13:37'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Liveticker', 'styleModifierType': 'teaser__label--live',     'styleModifierSize': 'teaser--size-xl'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Liveticker', 'styleModifierType': 'teaser__label--pre',      'styleModifierSize': 'teaser--size-xl'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Liveticker', 'styleModifierType': 'teaser__label--live',     'styleModifierSize': 'teaser--size-xl', 'labelTime': '13:37'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Liveticker', 'styleModifierType': 'teaser__label--pre',      'styleModifierSize': 'teaser--size-xl', 'labelTime': '13:37'} %}
    {% include 'atoms-teaser-label' with {'labelWording': 'Breaking',   'styleModifierType': 'teaser__label--breaking', 'styleModifierSize': 'teaser--size-xl'} %}
  </div>

</div>
