@import "../../breakpoints";
@import "../../mixins";

.media-time-indicator {
  display: inline-block;
  padding: 0.25em 0.5em; // using em here to adjust paddings in relation to the dynamic font size
  @include customPropWithFallback('font-size', '--media-time-indicator-font-size', 12px);
  font-family: $font-system;
  font-weight: 500;
  line-height: 1;
  @include font-smoothing;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
}
