.media-time-indicator {
  display: inline-block;
  padding: 3px 6px;
  font-family: $font-system;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
}