<span class="score {{ styleModifier }}">
    <span class="score__value">
        {{ scoreValue | default(6) }}
        <span class="score__supplement">
            <span class="h-offscreen">Tie break points</span>
            7
        </span>
    </span>
</span>