<span class="score {{ styleModifier }}">
    <span class="score__value">
        {{ scoreValue | default(6) }}
        <span class="score__supplement">
            <span class="h-offscreen">{{ supplementTitle|default("Tie break points") }}</span>
            {{ supplementScore|default(7) }}
        </span>
    </span>
</span>
