@import "../../variables";

.score {
  position: relative;
  padding: 1px 7px 1px 6px;
  font-family: $font-bold;
  @include font-smoothing;
  font-size: 14px;
  line-height: 1;
  white-space: nowrap;
  color: $color-text-accentuation;
  text-align: right;
}

.score--winner {
  color: $color-text-default;
}

.score--live {
  color: #FFF;
}

.score__supplement {
  position: absolute;
  top: -1px;
  font-size: 10px;
}
