@import "../../variables";
@import "../../breakpoints";

/*
 * This file is also included in the critical css - please try to keep it small
 */

.shimmer-wrapper {
  margin-right: 8px;
  margin-left: 8px;

  @include tablet-up {
    margin-right: 32px;
    margin-left: 32px;
  }

  @include desktop-wide {
    margin-right: 40px;
    margin-left: 40px;
  }
}

.shimmer {
  width: 100%;
  height: 11px;
  margin-bottom: 11px;
  background: $color-srf-warmgrey-1100a12;
  position: relative;
  overflow: hidden;
  display: block;

  @include desktop-up {
    height: 14px;
    margin-bottom: 14px;
  }
}

.shimmer::before {
  content: "";
  background: linear-gradient(90deg,transparent,$color-srf-warmgrey-1100a24 50%,transparent);
  width: 800px;
  position: absolute;
  left: 0;
  height: 100%;
  display: block;

  @include sickAnimation {
    animation: shimmeringAnimation 2.5s infinite ease-in-out;
    will-change: transform;
  }
}

.shimmer:nth-of-type(2)::before {
  animation-delay: .05s;
}

.shimmer:nth-of-type(3)::before {
  animation-delay: .1s;
}

.shimmer:nth-of-type(4)::before {
  animation-delay: .15s;
}

.shimmer:nth-of-type(5)::before {
  animation-delay: .2s;
}

.shimmer--dark {
  background: $color-srf-neutral-whitea12;

  &::before {
    background: linear-gradient(90deg,transparent,$color-srf-neutral-whitea24 50%,transparent);
  }
}

.shimmer--short {
  width: 66%;
}

.shimmer--shorter {
  width: 33%;
}

.shimmer--title {
  width: 66%;
  height: 16px;
  margin-bottom: 16px;

  @include desktop-up {
    height: 19px;
    margin-bottom: 19px;
  }
}

.shimmer--overline {
  width: 33%;
  height: 11px;
  background: $color-srf-red-600a12;

  @include desktop-up {
    height: 11px;
  }

  &::before {
    background: linear-gradient(90deg,transparent,$color-srf-red-600a24 50%,transparent);
  }
}

.shimmer--heading {
  height: 16px;
  margin-bottom: 12px;

  @include desktop-up {
    height: 19px;
    margin: 12px 0;
  }
}

/* shimmer animation was not transferred to animation.scss in order to keep the critical css small */
@keyframes shimmeringAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}
