@import "../../variables";
@import "../../breakpoints";

/*
 * This file is also included in the critical css - please try to keep it small
 */

.shimmer {
  width: 100%;
  height: 11px;
  margin-bottom: 11px;
  background: rgba(34,33,29,.12);
  position: relative;
  overflow: hidden;
  display: block;

  @include desktop-up {
    height: 14px;
    margin-bottom: 14px;
  }
}

.shimmer::before {
  content: "";
  background: linear-gradient(90deg,transparent,rgba(34,33,29,.24) 50%,transparent);
  width: 800px;
  position: absolute;
  left: 0;
  height: 100%;
  animation: shimmeringAnimation 2.5s infinite ease-in-out;
  will-change: transform;
  display: block;
}

.shimmer:nth-of-type(2)::before {
  animation-delay: .05s;
}

.shimmer:nth-of-type(3)::before {
  animation-delay: .1s;
}

.shimmer:nth-of-type(4)::before {
  animation-delay: .15s;
}

.shimmer:nth-of-type(5)::before {
  animation-delay: .2s;
}

.shimmer--dark {
  background: rgba(255,255,255,.12);

  &::before {
    background: linear-gradient(90deg,transparent,rgba(255,255,255,.24) 50%,transparent);
  }
}

.shimmer--short {
  width: 66%;
}

.shimmer--shorter {
  width: 33%;
}

.shimmer--title {
  width: 66%;
  height: 16px;
  margin-bottom: 16px;

  @include desktop-up {
    height: 19px;
    margin-bottom: 19px;
  }
}

.shimmer--overline {
  width: 33%;
  height: 11px;
  background: rgba(201,16,36,.12);

  @include desktop-up {
    height: 11px;
  }

  &::before {
    background: linear-gradient(90deg,transparent,rgba(201,16,36,.24) 50%,transparent);
  }
}

.shimmer--heading {
  height: 20px;
  margin-bottom: 12px;

  @include desktop-up {
    height: 18px;
    margin-bottom: 10px;
  }
}

/* shimmer animation was not transferred to animation.scss in order to keep the critical css small */
@keyframes shimmeringAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}
