<span class="teaser__label{% if styleModifierType|default('live') == 'live' %} teaser__label--live{% endif %}{% if styleModifierType|default(false) == 'pre' %} teaser__label--pre{% endif %}">
  <span class="teaser__label-box teaser__label-box--type">
    {% if styleModifierSize|default('s') == 's' %}
      {% if styleModifierType|default('live') == 'live' %}
        {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--tiny svg-icon--play-video-circle-white'} %}
      {% endif %}
      {% if styleModifierType|default(false) == 'pre' %}
        {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--tiny svg-icon--play-video-circle'} %}
      {% endif %}
    {% endif %}

    {% if styleModifierSize|default(false) == 'm' %}
      {% if styleModifierType|default(false) == 'live' %}
        {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--tiny-but-small-on-desktop-up svg-icon--play-video-circle-white-tiny-to-small'} %}
      {% endif %}
      {% if styleModifierType|default(false) == 'pre' %}
        {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--tiny-but-small-on-desktop-up svg-icon--play-video-circle-tiny-to-small'} %}
      {% endif %}
    {% endif %}

    {% if (styleModifierSize|default(false) == 'l' or styleModifierSize|default(false) == 'xl') %}
      {% if styleModifierType|default(false) == 'live' %}
        {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--small svg-icon--play-video-circle-white'} %}
      {% endif %}
      {% if styleModifierType|default(false) == 'pre' %}
        {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--small svg-icon--play-video-circle'} %}
      {% endif %}
    {% endif %}
    <span class="teaser__label-type">{% if styleModifierType|default('live') == 'live' %}Live{% endif %}{% if styleModifierType|default(false) == 'pre' %}Livestream{% endif %}</span>
  </span>
  <span class="teaser__label-box teaser__label-box--time">13:37</span>
</span>
