{% set styleModifierSize = styleModifierSize|default('teaser--size-s') %}
{% set styleModifierType = styleModifierType|default('teaser__label--live') %}

<span class="teaser__label {{ styleModifierType|default('teaser__label--live') }}">
  <span class="teaser__label-box teaser__label-box--type">



    {% if labelWording|default('Live') == 'Live' %}

      {% if 'teaser--size-s-on-mobile' in styleModifierSize %}

          {% if styleModifierType == 'teaser__label--live' %}
              {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--tiny-but-small-on-desktop-up svg-icon--play-video-circle-white-tiny-to-small-on-desktop-up'} %}
          {% else %}
              {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--tiny-but-small-on-desktop-up svg-icon--play-video-circle-tiny-to-small-on-desktop-up'} %}
          {% endif %}

      {% elseif 'teaser--size-s' in styleModifierSize %}

        {% if styleModifierType == 'teaser__label--live' %}
          {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--tiny svg-icon--play-video-circle-white'} %}
        {% else %}
          {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--tiny svg-icon--play-video-circle'} %}
        {% endif %}

      {% elseif 'teaser--size-m' in styleModifierSize %}

        {% if styleModifierType == 'teaser__label--live' %}
          {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--tiny-but-small-on-desktop-up svg-icon--play-video-circle-white-tiny-to-small-on-desktop-up'} %}
        {% else %}
          {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--tiny-but-small-on-desktop-up svg-icon--play-video-circle-tiny-to-small-on-desktop-up'} %}
        {% endif %}

      {% elseif ('teaser--size-l' in styleModifierSize or 'teaser--size-xl' in styleModifierSize) %}

        {% if styleModifierType == 'teaser__label--live' %}
          {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--small svg-icon--play-video-circle-white'} %}
        {% else %}
          {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--small svg-icon--play-video-circle'} %}
        {% endif %}

      {% endif %}


    {% endif %}



    <span class="teaser__label-type">{{ labelWording|default('Live') }}</span>
  </span>
  {% if labelTime|default(false) %}
    <span class="teaser__label-box teaser__label-box--time">{{ labelTime }}</span>
  {% endif %}
</span>
