<div class="header">
    <div class="header__reserve" role="presentation"></div>
    <div class="header__container">
        <a class="header__logo" href="/">
            <img class="header__logo-img" src="{{ frameworkAssetPath }}/{{ header.logo|default('img/srf_logo.svg') }}" alt="{{ header.home|default("Startseite SRF") }}"></a>
        {% block hamburger %}
            {% include 'atoms-hamburger' with { 'styleModifier': '' } %}
        {% endblock %}
    </div>
    <nav class="navbar navbar--closed">
        {% block search %}
            {% include 'atoms-search' with { 'styleModifier': 'searchbox--header' } %}
        {% endblock %}

        {% block navigation %}
            {% include 'molecules-navigation' with { 'styleModifier': 'navigation--header' } %}
        {% endblock %}
    </nav>
</div>