<section class="header">
    <div class="header__reserve" role="presentation"></div>
    <header class="header__container"><!-- // todo: h1 ?? -->
        <a class="header__logo" href="https://www.srf.ch/"><img class="header__logo-img"
                                                                src="../../assets/img/srf_logo.svg"
                                                                alt="Startseite SRF"></a>
        {% include 'atoms-hamburger' with { 'styleModifier': '' } %}
    </header>
    <nav class="navbar navbar--closed" role="navigation">
        {% include 'atoms-search' with { 'styleModifier': '' } %}
        <ul class="navbar__menu" role="menu">
            <li class="navbar__menu-item">
                <ul class="navbar__group" role="group">
                    <li class="navbar__group-item" role="menuitem"><a class="navbar__link" href="/">Home</a></li>
                    <li class="navbar__group-item" role="menuitem"><a class="navbar__link" href="/news">News</a></li>
                    <li class="navbar__group-item" role="menuitem"><a class="navbar__link" href="/sport">Sport</a></li>
                    <li class="navbar__group-item" role="menuitem"><a class="navbar__link" href="/meteo">Meteo</a></li>
                    <li class="navbar__group-item" role="menuitem"><a class="navbar__link" href="/kultur">Kultur</a>
                    </li>
                    <li class="navbar__group-item" role="menuitem"><a class="navbar__link" href="/sendungen/dok">DOK</a>
                    </li>
                </ul>
            </li>
            <li class="navbar__menu-item">
                <ul class="navbar__group" role="group">
                    <li class="navbar__group-item" role="menuitem">
                        <a class="navbar__link" href="/play">
                            <img class="navbar__img-play"
                                 src="https://www.srf.ch/programm/tv/assets/img/play_srf_logo.svg" alt="Play SRF">
                        </a>
                    </li>
                    <li class="navbar__group-item" role="menuitem"><a class="navbar__link" href="/sendungen-a-z">Sendungen
                            A-Z</a></li>
                    <li class="navbar__group-item" role="menuitem"><a class="navbar__link" href="/programm/tv">TV-Programm</a>
                    </li>
                    <li class="navbar__group-item" role="menuitem"><a class="navbar__link" href="/programm/radio">Radio-Programm</a>
                    </li>
                    <li class="navbar__group-item" role="menuitem">
                        <a class="navbar__link js-expand-arrow" href="#">Radiosender
                            {% include 'atoms-expand-arrow' with { 'styleModifier': '' } %}
                        </a>
                        <!-- ul role="group" class="navbar__group navbar__group--radio h-element--hide" -->
                        <ul role="group" class="navbar__group navbar__group--radio">
                            <li class="navbar__group-item" role="menuitem">
                                <a class="navbar__link navbar__link--radio" href="/radio-srf-1">
                                    <img class="navbar__img"
                                         src="https://m.srf.ch/extension/srf_shared/design/standard/images/mobile/logos/radio/srf-radio1.png"
                                         alt="">Radio SRF 1
                                </a>
                            </li>
                            <li class="navbar__group-item" role="menuitem"><a class="navbar__link navbar__link--radio"
                                                                              href="/radio-srf-2">
                                    <img class="navbar__img"
                                         src="https://m.srf.ch/extension/srf_shared/design/standard/images/mobile/logos/radio/srf-radio2.png"
                                         alt="">Radio SRF 2 Kultur</a></li>
                            <li class="navbar__group-item" role="menuitem"><a class="navbar__link navbar__link--radio"
                                                                              href="/radio-srf-3">
                                    <img class="navbar__img"
                                         src="https://m.srf.ch/extension/srf_shared/design/standard/images/mobile/logos/radio/srf-radio3.png"
                                         alt="">Radio SRF 3</a></li>
                            <li class="navbar__group-item" role="menuitem"><a class="navbar__link navbar__link--radio"
                                                                              href="/radio-srf-4-news">
                                    <img class="navbar__img"
                                         src="https://m.srf.ch/extension/srf_shared/design/standard/images/mobile/logos/radio/srf-radio4.png"
                                         alt="">Radio SRF 4 News</a></li>
                            <li class="navbar__group-item" role="menuitem"><a class="navbar__link navbar__link--radio"
                                                                              href="/radio-srf-musikwelle">
                                    <img class="navbar__img"
                                         src="https://m.srf.ch/extension/srf_shared/design/standard/images/mobile/logos/radio/srf-radiomusikwelle.png"
                                         alt="">Radio SRF Musikwelle</a></li>
                            <li class="navbar__group-item" role="menuitem"><a class="navbar__link navbar__link--radio"
                                                                              href="/radio-srf-virus">
                                    <img class="navbar__img"
                                         src="https://m.srf.ch/extension/srf_shared/design/standard/images/mobile/logos/radio/srf-virus@x2.png"
                                         alt="">Radio SRF Virus</a></li>
                            <li class="navbar__group-item" role="menuitem"><a class="navbar__link navbar__link--radio"
                                                                              href="http://www.radioswissclassic.ch/de">Radio
                                    Swiss Classic</a></li>
                            <li class="navbar__group-item" role="menuitem"><a class="navbar__link navbar__link--radio"
                                                                              href="http://www.radioswissjazz.ch/de">Radio
                                    Swiss Jazz</a></li>
                            <li class="navbar__group-item" role="menuitem"><a class="navbar__link navbar__link--radio"
                                                                              href="http://www.radioswisspop.ch/de">Radio
                                    Swiss Pop</a></li>
                        </ul>
                    </li>
                    <li class="navbar__group-item" role="menuitem"><a class="navbar__link" href="/podcasts">Podcasts</a>
                    </li>
                </ul>
            </li>
            <li class="navbar__menu-item">
                <ul class="navbar__group" role="group">
                    <li class="navbar__group-item" role="menuitem"><a class="navbar__link" href="/verkehr">Verkehr</a>
                    </li>
                    <li class="navbar__group-item" role="menuitem"><a class="navbar__link"
                                                                      href="/sendungen/zambo">Zambo</a></li>
                    <li class="navbar__group-item" role="menuitem"><a class="navbar__link" href="/unternehmen">Über
                            SRF</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</section>