<section class="header">
    <div class="header__reserve" role="presentation"></div>
    <header class="header__container"><!-- // todo: h1 ?? -->
        <a class="header__logo" href="https://www.srf.ch/"><img class=""
                                                                src="../../assets/img/srf_logo.svg"
                                                                alt="Startseite SRF"></a>
        <a class="menu-handle" href="#">
            <!-- img class="menu-handle__img" src="https://www.srf.ch/programm/tv/assets/img/hamburger.svg" alt="Menu" -->
            <div class="menu-handle__info">Menü</div>
        </a>

    </header>

    <nav class="navbar navbar--closed" role="navigation">
        <form class="searchbox" role="search">
            <label for="search" class="h-offscreen">Suchen</label>
            <input class="searchbox__input" type="text" id="search">
            <button type="submit" class="h-offscreen">Suchen</button>
        </form>
        <ul class="navbar__menu" role="menu">
            <li>
                <ul role="group">
                    <li role="menuitem"><a href="/">Home</a></li>
                    <li role="menuitem"><a href="/news">News</a></li>
                    <li role="menuitem"><a href="/sport">Sport</a></li>
                    <li role="menuitem"><a href="/meteo">Meteo</a></li>
                    <li role="menuitem"><a href="/kultur">Kultur</a></li>
                    <li role="menuitem"><a href="/sendungen/dok">DOK</a></li>
                </ul>
            </li>
            <li>
                <ul role="group">
                    <li role="menuitem"><a href="/play"><img class="srf_play_logo"
                                                             src="https://www.srf.ch/programm/tv/assets/img/play_srf_logo.svg"
                                                             alt="Play SRF" height="23"></a></li>
                    <li role="menuitem"><a href="/sendungen-a-z">Sendungen A-Z</a></li>
                    <li role="menuitem"><a href="/programm/tv">TV-Programm</a></li>
                    <li role="menuitem"><a href="/programm/radio">Radio-Programm</a></li>
                    <li role="menuitem"><a class="js-menu-expand" href="#">Radiosender <span
                                    class="menu-expand-arrow"></span>
                            <!-- img class="menu-arrow" src="https://frontend-framework.herokuapp.com/assets/img/arrows/menu_arrow.svg" alt="" height="23" -->
                        </a><!-- // -->
                        <ul role="group" class="navbar__menu-radio h-element--hide">
                            <li role="menuitem"><a href="/radio-srf-1">
                                    <img src="https://m.srf.ch/extension/srf_shared/design/standard/images/mobile/logos/radio/srf-radio1.png"
                                         alt="">Radio SRF 1</a>
                            </li>
                            <li role="menuitem"><a href="/radio-srf-2">
                                    <img src="https://m.srf.ch/extension/srf_shared/design/standard/images/mobile/logos/radio/srf-radio2.png"
                                         alt="">Radio SRF 2 Kultur</a></li>
                            <li role="menuitem"><a href="/radio-srf-3">
                                    <img src="https://m.srf.ch/extension/srf_shared/design/standard/images/mobile/logos/radio/srf-radio3.png"
                                         alt="">Radio SRF 3</a></li>
                            <li role="menuitem"><a href="/radio-srf-4-news">
                                    <img src="https://m.srf.ch/extension/srf_shared/design/standard/images/mobile/logos/radio/srf-radio4.png"
                                         alt="">Radio SRF 4 News</a></li>
                            <li role="menuitem"><a href="/radio-srf-musikwelle">
                                    <img src="https://m.srf.ch/extension/srf_shared/design/standard/images/mobile/logos/radio/srf-radiomusikwelle.png"
                                         alt="">Radio SRF Musikwelle</a></li>
                            <li role="menuitem"><a href="/radio-srf-virus">
                                    <img src="https://m.srf.ch/extension/srf_shared/design/standard/images/mobile/logos/radio/srf-virus@x2.png"
                                         alt="">Radio SRF Virus</a></li>
                            <li role="menuitem"><a href="http://www.radioswissclassic.ch/de">Radio Swiss Classic</a>
                            </li>
                            <li role="menuitem"><a href="http://www.radioswissjazz.ch/de">Radio Swiss Jazz</a></li>
                            <li role="menuitem"><a href="http://www.radioswisspop.ch/de">Radio Swiss Pop</a></li>
                        </ul>
                    </li>
                    <li role="menuitem"><a href="/podcasts">Podcasts</a></li>
                </ul>
            </li>
            <li>
                <ul role="group">
                    <li role="menuitem"><a href="/verkehr">Verkehr</a></li>
                    <li role="menuitem"><a href="/sendungen/zambo">Zambo</a></li>
                    <li role="menuitem"><a href="/unternehmen">Über SRF</a></li>
                </ul>
            </li>
        </ul>
    </nav>

</section>