<div class="header">

  <div class="header-bar">
    <div class="header-bar-wrapper l-content-wrapper">
      <a href="/" class="header-startlink" title="Startseite SRF">
        <img class="header-logo" src="{{ frameworkAssetPath }}/img/srf_logo.svg" alt="Zur Startseite von Schweizer Radio und Fernsehen" />
      </a>

      <div class="header-search">
        {% block search %}
          {% include 'atoms-search' with {'styleModifier': 'search--legacy'} %}
        {% endblock %}
      </div>

      <a href="#" class="menu-button js-menu-button" aria-haspopup="false" aria-expanded="false">
        <div class="menu-button__icon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <span class="menu-button__text" aria-hidden="true" role="presentation">Menü</span>
        <span class="menu-button__a11y-open h-offscreen">Menu öffnen</span>
        <span class="menu-button__a11y-close h-offscreen">Menu schliessen</span>
      </a>
    </div>
  </div>

  <div class="header-navigation js-header-navigation" aria-hidden="true" role="presentation">
    <div class="header-navigation-wrapper l-content-wrapper">
      {% block navigation %}
        {% include 'molecules-navigation' with {'styleModifier': 'navigation--header', 'id': 'navigation--header'} %}
      {% endblock %}
    </div>
  </div>

</div>
