.header { // absolute fullwidth!
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* dark bg - does nothing :/*/
  background-image: linear-gradient(to bottom, #313131, #212121);
  background-size: 100% 50px;
  box-shadow: 0 2px 4px 0 #ddd; /* <-- check! */

  @include tablet-up {
    background-size: auto;
  }
}

// @include tablet-up {
  .header + .article {
    margin-top: 88px; // todo: check!!
  }

// }

.wrapper--fixed { // navigation expanded
  .header__container {
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to bottom, #313131, #212121);

    @include smartphone {
      z-index: 2;
    }

    @include tablet-up {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  @include smartphone {
    .article {
      position: fixed;
    }
  }

  @include tablet-up {
    position: fixed;
    left: 0;
    right: 0;

    .header__reserve {
      position: fixed;
      height: 56px;
      width: 100%;
      left: 0;
      background-image: linear-gradient(to bottom, #313131, #212121);
    }

    // positioning in context
    .searchbox {
      position: fixed;
      top: 1px;
      right: 129px;

      @include desktop-wide {
        right: calc(50% - 511px); // here it gets weird :/
      }
    }

    .navbar__menu {
      background-color: #333;
      z-index: 1;
    }
  }

  .navbar {
    @include smartphone {
      position: relative;
      top: 50px;
      background-color: #333;
      z-index: 1;
    }

    @include tablet-up {
      position: fixed;
      height: 100%;
      right: 0; // start position
      top: 56px; // tmp!!!
      overflow: auto;

      @include desktop-wide {
        right: calc(50% - 640px); // something like that
        // top: 56px;
      }
    }
  }
}

// end .wrapper--fixed

@include tablet-up {
  .header__container { // contains icons and so on
    position: relative;
    height: 56px;
    margin: 0 auto;
    padding: 0 48px 0 32px;

    @include desktop-up {
      max-width: 1280px;
    }
  }
}

.header a,
.header a:hover,
.header__logo, .header__logo:hover {
  border-bottom: 0;
}

.header__logo {
  display: inline-block;
  vertical-align: top;
  padding: 12px;

  @include tablet-up {
    padding: 15px 16px;
  }
}

.header__logo-img {
  height: 26px;
  width: 40px;
}

// navigation
.navbar {
  @include tablet-up {
    position: absolute;
    width: 280px;
    right: 81px;
    z-index: 1;
  }

  @include desktop-up {
    right: 48px;
  }

  @include desktop-wide { // only here we have a max width
    right: calc(50% - 592px); // minus padding
  }
}

.navbar--closed { // only add after transitionend
  .navbar__menu {
    // display: none;
    position: absolute;
    overflow: hidden;
    width: 0;
  }

  // this only makes sense in context
  @include smartphone {
    .searchbox {
      display: none;
    }
  }
}

.navbar__menu {
  margin: -9px 0 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// animations
@include tablet-up {
  .navbar__menu {
    position: relative;
    width: auto;
    right: -280px;
    transition: right 0.4s cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  .navbar__menu--come-in {
    right: 0;
  }
  .navbar__menu--go {
    right: -280px;
  }
}

.navbar__group,
.navbar__group-item,
.navbar__menu-item {
  margin: 0;
  padding: 0;
}

.navbar__group-item,
.navbar__menu-item {
  &::before {
    content: none;
  }
}

.navbar__link {
  font: 16px/1 $font-regular;
  text-decoration: none;
  color: #fff; // #fefefd;
  padding: 15px 24px 17px;
  display: block;

  &:hover {
    color: #fff;
    background-color: #444;
  }

  &:active {
    color: #fefefd;
    background-color: #555;
  }
}

.navbar__group {
  border-bottom: 1px solid #444;
  padding: 9px 0 7px;
}

.navbar__group--radio {
  background-color: #222;
  padding: 12px 0;
  border-bottom: 0;
}

.navbar__link--radio {
  text-indent: 32px;

  &:hover {
    background-color: #333;
  }

  &:active {
    background-color: #444;
  }
}

.navbar__img {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-top: -4px;
}

.navbar__img-play {
  height: 23px;
  width: auto;
}
// end nativation


@include tablet-up {
  .body--foggy {
    background-color: rgba(0, 0, 0, .2);
  }
}