<figcaption class="media-caption {{ styleModifier }}">
        <span class="media-caption__title">
            {{ image.title }}
        </span>
        <span class="media-caption__description">
            {{ image.description }}
        </span>
        <span class="media-caption__source">
            {{ image.source }}
        </span>
</figcaption>