.simple-teaser {}

.simple-teaser__kicker {
  margin: 0 0 4px 0;
  font-family: $font-regular;
  @include fontSize(14);
  line-height: $emphasize-line-height-ratio;
  color: $color-accentuation-red;

  @include desktop-up {
    @include fontSize(16);
  }
}

.simple-teaser__title {
  margin: 0 0 4px 0;
  font-family: $font-medium;
  @include fontSize(16);
  font-weight: 500;
  line-height: $emphasize-line-height-ratio;
  color: $color-text-default;
  word-wrap: break-word; // Enforce breaking words for IE11

  @include desktop-up {
    @include fontSize(18);
  }
}

.simple-teaser__lead {
  font-family: $font-light;
  @include fontSize(14);
  font-weight: normal;
  line-height: $secondary-line-height-ratio;

  @include desktop-up {
    @include fontSize(16);
  }
}