@import "../../variables";

$expandable-max-width: 516px;
$expandable-margin-vertical-mobile: 32px;
$expandable-margin-vertical-desktop: 48px;
$expandable-margin-horizontal: 8px;
$expandable-padding-mobile: 16px;
$expandable-padding-desktop: 24px;

.expandable {
  background-color: $color-bg-box;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  max-width: $expandable-max-width;
  margin: $expandable-margin-vertical-mobile $expandable-margin-horizontal;

  @include tablet-up {
    margin-top: $expandable-margin-vertical-desktop;
    margin-bottom: $expandable-margin-vertical-desktop;
  }
}

@media (min-width: #{$expandable-max-width + 2 * $expandable-margin-horizontal}) {
  .expandable {
    margin-left: auto;
    margin-right: auto;
  }
}

.expandable__header {
  display: flex;
  flex-direction: row;
  padding: $expandable-padding-mobile;
  cursor: pointer;

  // prevent blue focus-flash on Android browsers
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background-color: $color-bg-box-hover;
  }

  &:focus,
  &:active {
    background-color: $color-bg-box-focus;
  }

  @include tablet-up {
    padding: $expandable-padding-desktop;
  }
}

.expandable__title {
  flex: 1 1 auto;
  margin: 0;
  font-family: $font-medium;
  font-size: 18px;
  line-height: $default-line-height-ratio;
  letter-spacing: .5px;

  @include tablet-up {
    font-size: 20px;
  }
}

.expandable-description {
  flex: 1 1 auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 0 12px;
}

.expandable-description__name {
  margin: 0;
  font: 14px/1.43 $font-regular;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: .5px;
  color: $color-text-default;
}

.expandable-description__function {
  margin: 0;
  font-family: $font-system;
  font-size: 12px;
  line-height: 16px;
  color: $color-text-light;
}

.expandable-icon {
  flex: 0 0 60px;
}

.expandable__expand-icon {
  flex: 0 0 auto;
  align-self: center;
}

.expandable__body {
  display: none;
}

.expandable__content {
  padding: 0 $expandable-padding-mobile $expandable-padding-mobile;
  margin: 0;
  font: 16px/1.5 $font-light;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  color: $color-text-default;

  // prevent inner elements of creating a bigger gap between header and content
  // and prevent last element creating a larger bottom border
  > p {
    margin-bottom: 16px;
    line-height: $default-line-height-ratio;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  > ul {
    // @extend used here to apply the DRY principle while coping with ezxml's missing classes for html elements
    // tip: always be careful with @extend
    @extend .text-list;
    @extend .text-list--unordered;

    padding: 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    li::before {
      top: 9px;

      @include tablet-up {
        top: 11px; // font size is bigger
      }
    }
  }

  > ol {
    // @extend used here to apply the DRY principle while coping with ezxml's missing classes for html elements
    // tip: always be careful with @extend
    @extend .text-list;
    @extend .text-list--ordered;

    padding: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  > h4 {
    margin: 16px 0 8px;
    font-family: $font-medium;
    line-height: $default-line-height-ratio;
    letter-spacing: .5px;
  }

  @include tablet-up {
    padding: 0 $expandable-padding-desktop $expandable-padding-desktop;
    font-size: 18px;
  }
}

.expandable__link {
  border-top: 1px solid rgba(0,0,0,0.1);

  a {
    padding-left: $expandable-padding-mobile;
    padding-right: 42px;
    background-position-x: calc(100% - 11px);

    &:hover {
      background-color: $color-bg-box-hover;
    }

    &:focus {
      background-color: $color-bg-box-focus;
    }

    @include tablet-up {
      padding-left: $expandable-padding-desktop;
      padding-right: 50px;
      background-position-x: calc(100% - 19px);
    }
  }
}

.expandable__a11y-text--close {
  display: none;
}

.expandable--expanded {
  .expandable__a11y-text--close {
    display: block;
  }

  .expandable__a11y-text--open {
    display: none;
  }

  .expandable__header:hover {
    background-color: transparent;
  }
}

// Expandable can also be not expandable.
.expandable--static {
  .expandable__body {
    display: block;
  }

  .expandable__header {
    cursor: default;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-bg-box;
    }
  }

  .expandable__expand-icon {
    display: none;
  }
}
