<div class="expandable js-expandable"
     data-event-source="People Box"
     data-event-value="Tony Goodman">
  <div class="expandable__header js-expandable--header" role="button" tabindex="0">
    <div class="expandable-icon">
      {% include 'atoms-image' with { 'styleModifier': 'image--circle' } %}
    </div>

    <div class="expandable-description">
      <h3 class="expandable-description__name">Tony Goodman</h3>
      <p class="expandable-description__function">Executive Producer</p>
    </div>

    <div class="expandable__expand-icon" role="presentation" aria-hidden="true">
      {% include 'atoms-expand-icon' with { 'styleModifier': 'expand-icon--accentuated' } %}
    </div>

    <div class="h-offscreen expandable__a11y-text--open">Personenbox aufklappen</div>
    <div class="h-offscreen expandable__a11y-text--close">Personenbox zuklappen</div>
  </div>

  <div class="expandable__body js-expandable--body">
    <div class="expandable__content">
      <p>Tony Goodman is an American video game executive and entrepreneur. He is the co-founder of Ensemble Studios and Robot Entertainment. The studios Goodman has founded have shipped more than 20 Million units.</p>
    </div>

    <div class="expandable__link">
      {% include 'atoms-block-link' with {'styleModifier': ''} %}
    </div>
  </div>
</div>
