<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>


<div class="gallery">
    {% for image in images %}
        <div class="gallery__item">
            {% include 'components-image-figure' with {'styleModifier': imageCaptionStyle, 'images': [image] } %}
            <span class="gallery__counter"> {{ loop.index }} / {{ loop.length }} </span>
        </div>
    {% endfor %}
</div>

<script>
    $(document).ready(function () {

        $('.gallery').slick({
            speed: 300,
            slidesToShow: 1,
            prevArrow: '<a href="#" class="gallery__link--prev" />', // slick does this the wrong way around!
            nextArrow: '<a href="#" class="gallery__link--next" />',
            slide: ".gallery__item",
            lazyLoad: "ondemand"
            // centerPadding: "0",
            // variableWidth: false,
            // adaptiveHeight: false,
        });
    });
</script>


