{#{% set title =  content.getField('title').attribute('value') %}#}
{#{% set images =  content.getField('images').attribute('value').list %}#}
{#{% set cssId =  "carousel-" ~ content.contentInfo.id ~ "-" ~ random(100) %}#}

{#<script src="https://code.jquery.com/jquery-3.1.1.min.js"#}
        {#integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="#}
        {#crossorigin="anonymous"></script>#}
{#<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>#}

{#<ul class="gallery gallery--mainmedia">#}
    {#{% for image in images %}#}
        {#<li class="gallery__item">#}
            {#{{ render( controller( "ez_content:viewContent",#}
            {#{'contentId': image.contentId, 'viewType': 'embed', 'layout': false } )) }}#}
            {#<span class="gallery__counter"> {{ loop.index }} / {{ loop.length }} </span>#}
        {#</li>#}
    {#{% endfor %}#}
{#</ul>#}

<script>
    $(document).ready(function () {

        $('.gallery').slick({
            speed: 300,
            slidesToShow: 1,
            prevArrow: '<a href="#" class="gallery__link--prev" />', // slick does this the wrong way around!
            nextArrow: '<a href="#"  class="gallery__link--next" />',
            slide: ".gallery__item",
            lazyLoad: "ondemand"
            // centerPadding: "0",
            // variableWidth: false,
            // adaptiveHeight: false,
        });
    });
</script>


