.horizontal-separator {
  margin-top: 24px;
  margin-right: -24px;
  margin-bottom: 20px;
  margin-left: -24px;
  height: 1px;
  border: 0;
  background: $color-bg-box 50% 0 no-repeat;

  @include tablet-up {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}

.horizontal-separator--withcontent {
  position: relative;
  top: 25px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

// it is fairly important to place this --content-max-width modifier AFTER the --withcontent modifier!
// Why? 'cause of overwrites and stuff, duh!
.horizontal-separator--content-max-width {
  @include fullwidth-container;
}