@import "../../mixins";
@import "../../variables";

.horizontal-separator {
  margin: 24px -24px 20px;
  height: 1px;
  border: 0;
  background: $color-bg-box 50% 0 no-repeat;

  @include tablet-up {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}

.horizontal-separator--withcontent {
  position: relative;
  top: 25px;
  margin: 0;
}

.horizontal-separator--no-margins {
  margin: 0;
}
