@import "../../variables";
@import "../../mixins";

.listing-item {
  margin: 0 #{-$article-offset};
  padding: 0 $article-offset;

  border-top: 1px solid $color-srf-warmgrey-50;

  /* clearfix */
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.listing-item:last-of-type {
  border-bottom: 1px solid $color-srf-warmgrey-50;
}

.listing-item__media {
  float: right;
  width: 92px;
  height: auto;
  margin: 16px 0 16px 16px;

  @include tablet-up {
    width: 228px;
    margin: 24px 0 24px 24px;
  }
}

.listing-item__block {
  margin-bottom: 16px;
}

.listing-item__heading {
  font-family: $font-regular;
  @include fontSize(18);
  font-weight: normal;
  color: $color-srf-warmgrey-1100;
  margin: 12px 0 8px;

  @include tablet-up {
    @include fontSize(20);
    margin: 19px 0 12px; // 19 instead of 16px 'cause of rendering of custom-font visually needs additional vertical space on top
  }
}

.listing-item__content {
  font-family: $font-light;
  @include fontSize(18);
  font-weight: 300;
  color: $color-srf-warmgrey-1100;
  margin: 8px 0;

  @include tablet-up {
    @include fontSize(20);
    margin: 12px 0 24px;
  }
}

.listing-item__link {
  margin: 12px #{-$article-offset} 16px 0;
  clear: both;

  @include tablet-up {
    margin: 24px #{-$article-offset} 24px 0;
  }
}
