{% set fonts = [
     {class: 'l-font-srg-light',         description: 'SRG SSR Light'},
     {class: 'l-font-srg-regular',       description: 'SRG SSR Regular'},
     {class: 'l-font-srg-medium',        description: 'SRG SSR Medium'},
     {class: 'l-font-srg-serif-regular', description: 'SRG SSR Serif Regular'},
     {class: 'l-font-system',            description: 'System-UI-Font-Stack'}
   ]
%}

<ul class="demo-fonts">
    {% for font in fonts %}
        <li class="demo-fonts__item">
            <span class="demo-text {{ font.class }}">{{ sampletext }}</span>
            <span class="demo-label">{{ font.description }}</span>
        </li>
    {% endfor %}
</ul>