

.l-font-srg-light {
  font-family: $font-light;
}

.l-font-srg-regular {
  font-family: $font-regular;
}

.l-font-srg-medium {
  font-family: $font-medium;
}

.l-font-srg-serif-regular {
  font-family: $font-serif;
}

.l-font-system {
  font-family: $font-system;
}
