<ul class="demo-colors" id="introduction">
    <li>
        <span class="demo-swatch" style="background: #ff0000 ;"></span>
        <span class="demo-label">#ff0000 </span>
    </li>
    <li>
        <span class="demo-swatch" style="background: #00ff00 ;"></span>
        <span class="demo-label">#00ff00 </span>
    </li>
</ul>
