{% set sass_variable_block %}
    {# hint: just copy/paste the sass color variables here and remove those variables with a variable as value #}
    $color-accentuation-red: #c91024;
    $color-bg-caption: #f5f5f2;
    $color-bg-box: #ebebe5;
    $color-link-hover: #8d0614;
    $color-link-active: #6a0b0c;
    $color-link-bg-hover: #fafaf8;
    $color-list-bullet: #e31f2b;
    $color-text-default: #22211d;
    $color-text-accentuation: #4e4d47;
    $color-text-light: #888579;
{% endset %}

{% set colors = sass_variable_block|split(";") %}
<ul class="demo-colors" id="introduction">
    {% for color in colors|slice(0, colors.length-1) %}
        <li class="demo-colors__item">
            <span class="demo-swatch" style="background: {{ color|split(":")|last }}"></span>
            <span class="demo-label">{{ color }}</span>
        </li>
    {% endfor %}
</ul>