@import "../../variables";
@import "../../mixins";
@import "../../animations";

.sticky-sidebar-positioner {
    position: absolute;
    // Default/fallback value is approximately where the share bar line is
    top: 200px;
	bottom: 0;
    left: calc(728px + 12px);
    // Sidebar should occupy half of the leftover space after subtracting the
    // content's width, plus a small gap
    width: calc(((100vw - 728px) / 2) - 12px);
    // Arbitrary, meaningless max width so that the teasers aren't too wide
	max-width: 420px;
}

.sticky-sidebar {
    position: absolute;
    margin-top: -72px;

    @supports (position: sticky) {
        position: sticky;
        // Sticky should be sticky on "top edge"
        // Default/fallback value is the height of the compact masthead
        top: 72px;
        margin-top: 0;
    }

    display: none;
    opacity: 0;
    background-color: $color-srf-neutral-white;

    @include desktop-wide {
        display: block;

        // Fade in the sidebar after a small delay. This way, the JS has time
        // to kick in and set the correct offset/sticky value.
        animation: fadeInAnimation .2s;
        animation-delay: .2s;
        animation-fill-mode: forwards;
    }
}

.sticky-sidebar__inner-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sticky-sidebar__title {
    font-family: $font-medium;
    @include fontSize(24);
    line-height: 1.25;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    color: $color-srf-warmgrey-1100;
    margin: 12px 24px;
}

.sticky-sidebar__content {
    display: flex;
    flex-direction: column;
}
