{# START medium.twig #}

<h2>medium.twig</h2>

{% set mediumType = mediumType|default('audio') %}
<a href="#LINK_TO_PLAYER">
    <div class="medium {{ styleModifier }} js-medium-hover">
        <div class="medium__object medium__object--notice">
            {% include 'molecules-media-still' with { 'styleModifier' : '' } %}
            <span class="medium__notice">Audio nicht mehr verfügbar</span>
        </div>
        <div class="medium__caption">
            {% if mediumType == 'audio' %}
                {% include 'molecules-media-caption-audio' with { 'styleModifier' : '' } %}
            {% elseif mediumType == 'video' %}
                {% include 'molecules-media-caption-video' with { 'styleModifier' : '' } %}
            {% endif %}
        </div>
        <div class="medium__player-wrapper">
            {% include 'atoms-player-wrapper' %}
        </div>
    </div>
</a>

{# /END medium.twig #}



{# START medium--audio-gallery.twig #}

<h2>medium--audio-gallery.twig</h2>

<a href="#LINK_TO_PLAYER">
    <div class="medium medium--audio-gallery js-medium-hover">
        <div class="medium__object medium__object--notice">
            {% include 'molecules-media-still' with { 'styleModifier' : '' } %}
            <span class="medium__notice">Audio nicht mehr verfügbar</span>
        </div>
        <div class="medium__caption">
            {% include 'molecules-media-caption-audio' with { 'styleModifier' : 'media-caption--no-bg' } %}
        </div>
        <div class="medium__player-wrapper">
            {% include 'atoms-player-wrapper' %}
        </div>
    </div>
</a>

{# /END medium--audio-gallery.twig #}



{# START medium--compact.twig #}

<h2>medium--compact.twig</h2>

{% set mediumType = mediumType|default('audio') %}
<a href="#LINK_TO_PLAYER">
    <div class="medium medium--compact medium--vertical js-medium-hover">
        <div class="medium__object medium__object--notice">
            {% include 'molecules-media-still--compact' with { 'styleModifier' : 'media-still--compact' } %}
            <span class="medium__notice">Video nicht mehr verfügbar</span>
        </div>
        <div class="medium__caption">
          {% if mediumType == 'audio' %}
            {% include 'molecules-media-caption-audio' with { 'styleModifier' : 'media-caption--compact' } %}
          {% elseif mediumType == 'video' %}
            {% include 'molecules-media-caption-video' with { 'styleModifier' : 'media-caption--compact' } %}
          {% endif %}
        </div>
    </div>
</a>

{# /END medium--compact.twig #}



{# START medium--related-items.twig #}

<h2>medium--related-items.twig</h2>

{% set mediumType = mediumType|default('audio') %}
<a href="#LINK_TO_PLAYER">
    <div class="medium medium--related-items {{ styleModifier }} js-medium-hover">
        <div class="medium__object medium__object--notice">
            {% include 'molecules-media-still' with { 'mediumType': mediumType } %}
            <span class="medium__notice">Audio nicht mehr verfügbar</span>
        </div>
        <div class="medium__caption">
            {% if mediumType == 'audio' %}
                {% include 'molecules-media-caption-audio' with { 'styleModifier' : 'media-caption--related-items', 'usePseudoLink': true } %}
            {% elseif mediumType == 'video' %}
                {% include 'molecules-media-caption-video' with { 'styleModifier' : 'media-caption--related-items media-caption--related-items--video', 'usePseudoLink': true } %}
            {% endif %}
        </div>
    </div>
</a>

{# /END medium--related-items.twig #}



{# START medium--vertical.twig #}

<h2>medium--vertical.twig</h2>

<a href="#LINK_TO_PLAYER">
    <div class="medium medium--vertical js-medium-hover">
        <div class="medium__object medium__object--notice">
            {% include 'molecules-media-still--video' %}
            <span class="medium__notice">Video nicht mehr verfügbar</span>
        </div>
        <div class="medium__caption">
            {% include 'molecules-media-caption-video' with { 'styleModifier' : 'media-caption--video' } %}
        </div>
    </div>
</a>

{# /END medium--vertical.twig #}



{# START medium--video-gallery.twig #}

<h2>medium--video-gallery.twig</h2>

<a href="#LINK_TO_PLAYER">
    <div class="medium medium--vertical medium--video-gallery js-medium-hover">
        <div class="medium__object medium__object--notice">
            {% include 'molecules-media-still' with { 'styleModifier' : '', 'mediumType': 'video' } %}
            <span class="medium__notice">Video nicht mehr verfügbar</span>
        </div>
        <div class="medium__caption">
            {% include 'molecules-media-caption-video' with { 'styleModifier' : 'media-caption--no-bg' } %}
        </div>
    </div>
</a>

{# /END medium--video-gallery.twig #}