{% set mediumType = mediumType|default('audio') %}
<a href="#LINK_TO_PLAYER">
    <div class="medium medium--related-items {{ styleModifier }} js-medium-hover">
        <div class="medium__object">
            {% include 'molecules-media-still' with { 'mediumType': mediumType } %}
        </div>
        <div class="medium__caption">
            {% if mediumType is 'audio' %}
                {% include 'molecules-media-caption-audio' with { 'styleModifier' : 'media-caption--related-items', 'usePseudoLink': true } %}
            {% elseif mediumType is 'video' %}
                {% include 'molecules-media-caption-video' with { 'styleModifier' : 'media-caption--related-items', 'usePseudoLink': true } %}
            {% endif %}
        </div>
    </div>
</a>
