<a href="#LINK_TO_PLAYER" class="medium-wrapper-link">
    <div class="medium medium--vertical medium--video-gallery js-medium-hover">
        <div class="medium__object">
            {% include 'molecules-media-still--video' with { 'styleModifier' : '' } %}
            {% if showNotice %}<div class="medium__notice"><span class="text-notice">Video nicht mehr verfügbar</span></div>{% endif %}
        </div>
        <div class="medium__caption">
            {% include 'molecules-media-caption-video' with { 'styleModifier' : 'media-caption--no-bg' } %}
        </div>
    </div>
</a>
