{% set mediumType = mediumType|default('audio') %}
<a href="#LINK_TO_PLAYER">
    <div class="medium medium--compact medium--vertical js-medium-hover">
        <div class="medium__object">
            {% include 'molecules-media-still--compact' with { 'styleModifier' : 'media-still--compact' } %}
        </div>
        <div class="medium__caption">
          {% if mediumType is 'audio' %}
            {% include 'molecules-media-caption-audio' with { 'styleModifier' : 'media-caption--compact' } %}
          {% elseif mediumType is 'video' %}
            {% include 'molecules-media-caption-video' with { 'styleModifier' : 'media-caption--compact' } %}
          {% endif %}
        </div>
    </div>
</a>