<div class="medium">
    <div class="medium__object">
        {% include 'molecules-media-still' %}
    </div>
    <div class="medium__caption">
        {% include 'molecules-media-caption-audio' with { 'styleModifier' : 'media-caption--audio' } %}
    </div>
</div>

<div class="medium medium--vertical">
    <div class="medium__object">
        {% include 'molecules-media-still--video' %}
    </div>
    <div class="medium__caption">
        {% include 'molecules-media-caption-video' %}
    </div>
</div>
