{% set mediumType = mediumType|default('audio') %}
<div class="medium medium--related-episodes {{ styleModifier }} js-medium-hover">
    <div class="medium__object">
        {% include 'molecules-media-still' with { 'mediumType': mediumType } %}
    </div>
    <div class="medium__caption">
        {% include 'molecules-media-caption-' ~ mediumType with { 'styleModifier' : 'media-caption--related-episodes' } %}
    </div>
</div>
