{% set mediumType = mediumType|default('audio') %}
<a href="#LINK_TO_PLAYER">
    <div class="medium medium--related-items {{ styleModifier }} js-medium-hover">
        <div class="medium__object">
            {% include 'molecules-media-still' with { 'mediumType': mediumType } %}
            {% if showNotice %}<div class="medium__notice"><span class="medium__notice-text">Audio nicht mehr verfügbar</span></div>{% endif %}
        </div>
        <div class="medium__caption">
            {% if mediumType == 'audio' %}
                {% include 'molecules-media-caption-audio' with { 'styleModifier' : 'media-caption--related-items', 'usePseudoLink': true } %}
            {% elseif mediumType == 'video' %}
                {% include 'molecules-media-caption-video' with { 'styleModifier' : 'media-caption--related-items media-caption--related-items--video', 'usePseudoLink': true } %}
            {% endif %}
        </div>
    </div>
</a>
