{% set mediumType = mediumType|default('audio') %}
<a href="#LINK_TO_PLAYER">
    <div class="medium {{ styleModifier }} js-medium-hover">
        <div class="medium__object">
            {% if mediumType == 'image' %}
                {% include 'atoms-image' with { 'styleModifier' : '' } %}
            {% else %}
                {% include 'molecules-media-still' with { 'styleModifier' : '' } %}
            {% endif %}
            {% if showNotice %}<div class="medium__notice"><span class="text-notice">Audio nicht mehr verfügbar</span></div>{% endif %}
        </div>
        <div class="medium__caption">
            {% if mediumType == 'audio' %}
                {% include 'molecules-media-caption-audio' with { 'styleModifier' : 'media-caption--audio' } %}
            {% elseif mediumType == 'video' %}
                {% include 'molecules-media-caption-video' with { 'styleModifier' : 'media-caption--video' } %}
            {% elseif mediumType == 'image' %}
                {% include 'molecules-media-caption' with { 'styleModifier' : '' } %}
            {% endif %}
        </div>
        <div class="medium__player-wrapper">
            {% include 'atoms-player-wrapper' %}
        </div>
    </div>
</a>
