<a href="#LINK_TO_PLAYER">
    <div class="medium medium--audio-gallery js-medium-hover">
        <div class="medium__object">
            {% include 'molecules-media-still' with { 'styleModifier' : '' } %}
            {% if showNotice %}<div class="medium__notice"><span class="text-notice">Audio nicht mehr verfügbar</span></div>{% endif %}
        </div>
        <div class="medium__caption">
            {% include 'molecules-media-caption-audio' with { 'styleModifier' : 'media-caption--no-bg' } %}
        </div>
        <div class="medium__player-wrapper">
            {% include 'atoms-player-wrapper' %}
        </div>
    </div>
</a>