<div class="textbox">
    <h4 class="textbox__title">Viele richtige Voraussagen</h4>
    {% include 'components-image-figure' %}
    <div class="textbox__text">
        Barlow rief zusammen mit einem Softwaremillionär die «Electronic Frontier Foundation» ins Leben, die noch heute für freie Netze und gegen Überwachung kämpft.
    </div>
    {% include 'elements-text-list--unordered' %}
</div>