.textbox {
  margin: 48px 0;
  background-color: $color-bg-box;
  overflow: hidden;

  @include smartphone {
    margin: 48px 0;
    padding: 0 8px;

    @include fullwidth-element;
  }
}

.textbox--article-indentation {
  @include article-element-indentation;
}

.textbox__title {
  padding: 0 16px;
  margin: 16px 0 8px;
  font-family: $font-medium;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: .3px;

  @include smartphone {
    margin: 12px 0 8px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: .5px;
  }
}

.textbox__content {
  & > p {
    @include article-text-padding;
    margin: 12px 0 24px;

    @include smartphone {
      margin: 12px 0 20px;
    }

  }

  & > ul {
    // @extend used here to apply the DRY principle while coping with ezxml's missing classes for html elements
    // tip: always be careful with @extend
    @extend .text-list;
    @extend .text-list--unordered;
  }

  & > ol {
    // @extend used here to apply the DRY principle while coping with ezxml's missing classes for html elements
    // tip: always be careful with @extend
    @extend .text-list;
    @extend .text-list--ordered;
  }
}
