.textbox {
  @include article-element-margin();
  background-color: #ebebe5;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, .1);

  @include smartphone {
    @include fullwidth-element;
    padding: 0 8px;
  }
}

.textbox__title {
  padding: 12px 16px 8px;
  margin: 0;
  font-family: $font-medium;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.3px;

  @include smartphone {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
  }
}

.textbox__content {
  @include article-element-margin();

  & > p {
    @include article-text-padding;
    @include article-element-margin();
  }
}