.textbox {
  @include article-element-margin();
  background-color: #ebebe5;
  overflow: hidden;

  @include smartphone {
    @include fullwidth-element;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 0 8px;
  }
}

.textbox--article-indentation {
  @include article-indentation;
}

.textbox__title {
  padding: 12px 16px 8px;
  margin: 0;
  font-family: $font-medium;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.3px;

  @include smartphone {
    margin: 16px 0 8px 0;
    padding: 0 16px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
  }
}

.textbox__content {
  @include article-element-margin();

  & > p {
    @include article-text-padding;
    @include article-element-margin();

    @include smartphone {
      margin: 12px 0 20px 0;
    }

  }
}