<div class="generic-expander js-genex {{ styleModifier|default('') }}"
     data-event-source="Expandable Box"
     data-event-value="Title"
     data-genex-open-toggle-class=""
     data-genex-open-panel-class="">

  <div class="display: block">
    <a href="#" class="js-genex-toggle" data-genex-target-id="target-1">Toggle 1</a>
    <a href="#" class="js-genex-toggle" data-genex-target-id="target-2">Toggle 2</a>
    <a href="#" class="js-genex-toggle" data-genex-target-id="target-3">Toggle 3</a>
  </div>

  <div class="display: block">
    <div id="target-1" class="generic-expander__panel">
      Panel 1<br>
      1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte der Poet und Aktivist erstaunlich früh die staatliche Kontrolle.
    </div>
    <div id="target-2" class="generic-expander__panel">
      Panel 2<br>
      Es ist erstaunlich, wie viele Themen Barlow bereits vor 20 Jahren angesprochen hat. Noch heute bezieht sich der Hackerverein «Chaos Computer Club» auf einige Stellen seines Manifestes. Denn auch der Chaos Computer Club kämpft für freien Zugang zu Information sowie sichere Datenübermittlung im Netz und wehrt sich gegen staatliche Überwachung und Internetzensur.
    </div>
    <div id="target-3" class="generic-expander__panel">
      Panel 3<br>
      Hernani Marques, Aktivist und Pressesprecher vom Schweizer Ableger des Chaos Computer Club, erwähnt aber auch Punkte in Barlows Manifest, die 2016 nicht mehr so aussehen: Die Unterscheidung von realem Leben und Cyberspace liesse sich heute nicht mehr so deutlich machen – man denke nur an die Smartphones, mit denen das Internet heute allgegenwärtig sei. Barlow habe auch nicht vorausgesehen, wie stark das Internet automatisiert werden sollte.
    </div>
  </div>
</div>
