
.image--media-still {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  @include smartphone {
    padding-bottom: 100%; /* 1:1 */

    & > img {
      height: 100%;
    }
  }
}

.image--media-still-video {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}