<figcaption class="image-caption {{ styleModifier }}">
        <span class="image-caption__title">
            {{ image.title }}
        </span>
        <span class="image-caption__description">
            {{ image.description }}
        </span>
        <span class="image-caption__source">
            {{ image.source }}
        </span>
</figcaption>