<div class="l-embed-full-width-container">
    <div class="carousel carousel__js" id="{{ image_carousel.ID }}">
        {% for image in images %}
            <div class="carousel__item">
                {% include 'components-image-figure' with {
                    'styleModifier': imageCaptionStyle,
                    'images': [image],
                    'currentIndex': loop.index,
                    'totalCount': loop.length,
                } %}
            </div>
        {% endfor %}
    </div>
</div>
