<script type="text/javascript" src="../../../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../../node_modules/slick-carousel/slick/slick.min.js"></script>

<script type="text/javascript" src="../../../public/assets/js/bundle.js?v1"></script>

<div class="srf-carousel">
    {% for image in images %}
        <div class="gallery__item">
            {% include 'components-image-figure' with {'styleModifier': imageCaptionStyle, 'images': [image] } %}
            <span class="gallery__counter"> {{ loop.index }} / {{ loop.length }} </span>
        </div>
    {% endfor %}
</div>

<script>

</script>


