@import "../../variables";

.carousel {
  position: relative;
  width: 100%;
  background-color: #f5f5f2;
  overflow: hidden;
  margin: 32px 0 24px;

  @include smartphone {
    margin: 24px 0 20px;
  }

  .image-figure {
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
  }

  .image-figure__image {
    background-color: #000;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: contain;
    min-width: 100%;
    width: 1px;
  }

  .image-figure__image-wrapper {
    background: rgba(0, 0, 0, .8);
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-top: 75%;
    }
  }

  .slick-disabled {
    display: none !important; // hide from screenreader // TODO: There is a better way!
  }
}

.carousel__item {
  position: relative;
  float:left;
}

.carousel__link--prev {
  left: 0;
  background-image: url('../img/arrows/carousel_arrow_prev.svg');
  border: 8px solid transparent;
  border-radius: 0 15px 15px 0;
  border-width: 12px 12px 12px 0; // <= kompromiss: schoene runde ecken UND extended touch area :(

  &.waggle {
    animation: waggle--left 2s ease 0s;
    animation-iteration-count: infinite;
  }
}
.carousel__link--next {
  right: 0;
  background-image: url('../img/arrows/carousel_arrow_next.svg');
  background-position: 55%;
  border: 8px solid transparent;
  border-radius: 15px 0 0 15px;
  border-width: 12px 0 12px 12px; // kompromiss :)

  &.waggle {
    animation: waggle--right 2s ease 0s;
    animation-iteration-count: infinite;
  }
}

.carousel__link--prev,
.carousel__link--next {
  position: absolute;
  height: 64px;
  width: 40px;
  top: 28vw;
  padding: 0; // reset default button style
  background-color: transparent; // reset default button style
  cursor: pointer; // reset default button style
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 40%;
  display: block;
  box-sizing: content-box;
  z-index: 100;

  @include tablet-up {
    top: 35%;
    background-size: 28px;
    width: 56px;
    height: 96px;
  }

  &:hover,
  &:active {
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
  }

  &:hover {
    background-color: rgba(0, 0, 0, .48);
  }

  &:active {
    background-color: rgba(0, 0, 0, .8);
  }

  &.untouched {
    background-color: transparent;
  }
}

.carousel-counter {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, 0);

  @include tablet-up {
    bottom: 16px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }
}

@mixin waggle--right {
  0%, 100% {
    background-position: 10%;
  }
  50% {
    background-position: 80%;
  }
}

@mixin waggle--left {
  0%, 100% {
    background-position: 80%;
  }
  50% {
    background-position: 10%;
  }
}

@-webkit-keyframes waggle--right {
  @include waggle--right;
}

@-moz-keyframes waggle--right {
  @include waggle--right;
}

@-o-keyframes waggle--right {
  @include waggle--right;
}

@keyframes waggle--right {
  @include waggle--right;
}

@-webkit-keyframes waggle--left {
  @include waggle--left;
}

@-moz-keyframes waggle--left {
  @include waggle--left;
}

@-o-keyframes waggle--left {
  @include waggle--left;
}

@keyframes waggle--left {
  @include waggle--left;
}