
.audio-gallery { // ol
  margin: 32px 0 24px;
  @include smartphone { margin: 24px -8px 20px; }
  &__item { // li
    margin: 0 0 2px;
    padding: 0;
    @include smartphone { margin: 0 -16px 2px; }
    &:last-of-type {
      margin-bottom: 0;
    }
    &:before { // numbering
      left: 16px;
      top: 33px;
      // top: 50%; // should the nr. remain in the middle of the li ??
      // transform: translate(0px, -50%);
      color: #555;
      font: 16px/20px $font-medium;
      @include smartphone {
        content: none;
      }
    }

  }

  .article-audio {
    min-height: 88px;
    display: table;
    margin: 0;
    &__wrapper {
      height: 56px;
      width: 100px;
      margin: 16px 0 16px 56px;
      &:before {
        height: 56px;
        width: 100px;
        @include smartphone {
          width: 56px;
        }
      }
      @include smartphone {
        margin-left: 16px;
        height: 56px;
        width: 56px;
      }
    }
    &__play-icon {
      width: 36px;
    }
  }

  .image-figure__image {
    width: 100px;
    height: 56px;
    @include smartphone {
      width: 56px;
    }
  }

}