/*
 * This file is also included in the critical css - please try to keep it small
 */

.sticky-container {
  z-index: 100;
  transform: translate3d(0,0,0); // this fixes the scroll lag for sticky headers in Safari on iOS
  margin: 0 auto;
  width: 100%;
  backface-visibility: hidden;

  &.affix {
    position: fixed;
    top: 0;

    .sticky-container__hidden-when-sticky {
      display: none;
    }
  }
}

.sticky-container--home.sticky-container--longportalnames.affix {
  @include tablet {
    margin-top: -56px;
  }
}

.affix-top {
  margin-top: 0;
}

.affix-placeholder {
  top: 0;
  height: 162px;

  @include tablet-up {
    height: 194px;
  }
}

.affix-placeholder--home {
  height: 112px;

  @include tablet-up {
    height: 72px;
  }
}

.affix-placeholder--home.affix-placeholder--longportalnames {
  @include tablet {
    height: 112px;
  }
}

.affix-placeholder--compact {
  height: 56px;

  @include tablet-up {
    height: 72px;
  }
}
