@import "../../variables";
@import "../../mixins";

.audio-gallery {
  margin: 32px 0;
  padding: 0;
}

.audio-gallery__item {
  position: relative;
  margin: 0 0 2px;
  padding: 0;
  background-color: $color-srf-warmgrey-25;

  &:hover {
    background-color: $color-srf-warmgrey-50;
  }

  &::before { // numbering
    content: counter(item) ".";
    counter-increment: item;
    position: absolute;
    left: $article-offset;
    top: 40px;
    color: $color-srf-neutral-01;
    @include fontSize(18);
    font-family: $font-medium;
    line-height: 20px;
    pointer-events: none;

    @include smartphone {
      content: none;
    }
  }
}

.audio-gallery__item--playing {
  &::before {
    color: $color-srf-neutral-white;
  }
}
