.article__text {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.56;
  letter-spacing: 0.03125rem;
  color: #22211d;
  filter: grayscale(0.9);

  & > h2 {
    font: 22px/24px SRG_SSR_Medium,sans-serif;
    margin-top: 20px;
    font-weight: 400;
  }

  & > p {
    margin: 20px 0 24px;

    a {
      border-bottom: 1px solid $link-default-color;
      color: $link-default-color;

      &:hover {
        color: $link-hover-color;
        border-bottom: 1px solid $link-hover-color;
      }

      &:active {
        color: $link-active-color;
        border-bottom: 1px solid $link-active-color;
      }
    }
  }
}