<div class="article-author">
    <p class="article-author__name">{{ articleAuthor.name }}</p>
    {% include 'elements-infoline' with {'styleModifier': 'infoline--nospacing', 'infolineElem': articleAuthor.date} %}
</div>