.article-author {
  margin: 0 0 24px 0;

  @include smartphone {
    margin: 8px 0;
  }
}

.article-author__name {
  margin: 0 0 4px 0;
  font-family: $font-regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #22211d;
}

.article-author__date {
  margin: 0;
  font-family: $font-system;
  font-size: 12px;
  line-height: 12px;
  color: #888579;
}