<p>John Perry Barlow ist heute 68 Jahre alt. Er hat volles Haar, einen verschmitzten Blick und trägt ein goldenes Amulett um den Hals.</p>
<p>Früher schrieb er Songtexte für <strong>The Grateful Dead</strong>, nahm LSD und züchtete Rinder in Wyoming.</p>
<h2>{{ articleText.title }}</h2>
<p>{{ articleText.text }} Dann kam <a href="http://www.srf.ch">das Intergenet</a>. John Perry Barlow benützte es bereits.</p>
<p>John Perry Barlow ist heute 68 Jahre alt. Er hat volles Haar, einen verschmitzten Blick und trägt ein goldenes Amulett um den Hals.</p>
<p>Früher schrieb er Songtexte für <strong>The Grateful Dead</strong>, nahm LSD und züchtete Rinder in Wyoming.</p>
<ul>
    <li>Block 1 des Kernkraftwerks Beznau geht nicht vor Ende Jahr ans Netz</li>
    <li>Wegen <strong>Unregelmässigkeiten im Material des Reaktorbehälters</strong> wurde der Reaktor im März 2015 vom Netz genommen.</li>
</ul>
<p>John Perry Barlow ist heute 68 Jahre alt. Er hat volles Haar, einen verschmitzten Blick und trägt ein goldenes Amulett um den Hals.</p>
<p>Früher schrieb er Songtexte für <strong>The Grateful Dead</strong>, nahm LSD und züchtete Rinder in Wyoming.</p>
<ol>
    <li>1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace».</li>
    <li>Seine <strong>Unabhängigkeitserklärung</strong> ist auch heute noch relevant.</li>
    <li>1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace».</li>
    <li>Seine Unabhängigkeitserklärung ist auch heute noch relevant.</li>
    <li>1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace».</li>
    <li>Seine Unabhängigkeitserklärung ist auch heute noch relevant.</li>
    <li>1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace».</li>
    <li>Seine Unabhängigkeitserklärung ist auch heute noch relevant.</li>
    <li>1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace».</li>
    <li>Seine Unabhängigkeitserklärung ist auch heute noch relevant.</li>
    <li>1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace».</li>
    <li>Seine Unabhängigkeitserklärung ist auch heute noch relevant.</li>
    <li>1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace».</li>
    <li>Seine Unabhängigkeitserklärung ist auch heute noch relevant.</li>
</ol>