.article-overline {
  margin: 32px 0 16px 0;
  font-family: $font-regular;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: $color-accentuation-red;

  @include smartphone {
    margin: 24px 0 12px 0;
  }
}