<div class="media-window-container media-window-container--video-gallery {{ styleModifierGallery }}">
    {% include 'atoms-media-window' %}
    <div class="video-gallery carousel video_carousel__js" id="{{ video_gallery.ID }}" style="visibility:hidden;"
         data-dot-info="{{ video_gallery.slide_select|default(". Slide wählen") }}"
         data-dot-current="{{ video_gallery.slide_current|default("Gewählter Slide") }}">
        {% for video in videos %}
            <div class="carousel__item">
                {% include 'molecules-video' with { 'styleModifier' : styleModifier } %}
            </div>
        {% endfor %}
    </div>
</div>
