@import "../../variables";

.video-gallery {
  overflow: visible;
  margin: 0;
  padding-top: 24px;


  .article-video__link {
    display: flex;
    height: 100%;
    flex: 1;
  }

  .article-video {
    width: 100%;

    display: flex;
    flex-direction: column;

    @include tablet-up {
      margin: 0 6px 12px;
    }

    @include desktop-wide {
      margin: 0 6px 12px 4px;
    }
  }

  .video--visited {
    // not to have the iframe frame collapse ...
    .article-video__player::before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }
  }

  .media-caption--video {
    background-color: #fefefd;
    padding: 8px 12px 12px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-between;
  }

  .media-caption__title {
    min-height: 60px;
    margin-bottom: 4px;
    font: 16px/24px $font-regular;
    letter-spacing: .5px;
    color: #22211d;
    flex: 0 0 auto;
  }

  // play icon overwrites
  .media-play {
    transform: translate(-50%, -34px);

    @include tablet-up {
      width: 48px;
      transform: translate(-50%, -24px);
    }
  }

  @include tablet-up {
    .media-play__icon {
      margin-bottom: 3px;
    }

    // img carousel overwrites
    .carousel__link--prev,
    .carousel__link--next {
      width: 56px;
      height: 101px;
      top: 50%;
      transform: translate(0, calc(-50% - 2px));
      background-size: 16px;
      background-position: 20px;

      &:hover,
      &:active {
        border-bottom-color: transparent;
      }

      &:hover {
        background-color: #ebebe5;
      }

      &:active,
      &:focus {
        outline: none;
        background-color: #dadad2;
      }
    }

    .carousel__link--prev {
      background-image: url('../img/carousel/previous_no_bg.svg');
    }

    .carousel__link--next {
      background-image: url('../img/carousel/next_no_bg.svg');
    }
  }

  @include smartphone {
    .carousel__link--prev,
    .carousel__link--next {
      display: none !important;
    }
  }
  // end img carousel overwrites

  // slick slider
  .slick-track {
    display: flex;
    flex-direction: row;
  }

  @include tablet-up {
    .slick-list {
      overflow: hidden; // cuts the right most img off
    }
  }
}

.video-gallery__item {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @include smartphone {
    width: calc(100vw - 40px);
  }

  @include tablet {
    width: 270px;
  }

  @include desktop {
    width: 199px;
  }

  @include desktop-wide {
    width: 224px;
  }
}

.video-gallery__item a {
  margin: 0 4px;
  border-radius: 2px;
  overflow: hidden; // so the rounded corners are "visible"
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .24);
  transition: box-shadow .2s ease-in-out;
  height: 100%;

  &:hover,
  &:active {
    // &:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .24);

    .media-caption--video {
      background-color: #fafaf8;
    }
  }

  @media all and (-ms-high-contrast: none) {
    display: block; /* IE11 */
  }

  [data-disable-internal-player] .article-video__player::before {
    position: absolute;
  }

  height: 100%;

  // Override <a> styles
  &,
  &:hover,
  &:focus,
  &:active {
    border: 0;
  }

  // accessibility:
  &:focus .article-video:not(.video--loading):not(.video--playing) {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .24);

    .media-caption--video {
      background-color: #fafaf8;
    }
  }
}

// dots
.slick-dots {
  height: 16px;
  margin: 0 auto;
  text-align: center;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;

    &::before {
      content: none;
    }
  }

  button {
    width: 16px;
    height: 16px;
    font-size: 0;
    line-height: 0;
    border: 0;
    padding: 0;
    background: transparent;
    display: block;
    outline: none;
    cursor: pointer;
    float: left;

    &::before {
      content: '•';
      font-family: $font-system;
      font-size: 28px;
      line-height: 10px;
      color: #000;
      opacity: .2;
    }

    &:hover,
    &:focus {
      outline: none;

      &::before {
        opacity: .6;
      }
    }
  }

  .slick-active button::before {
    opacity: .6;
  }
}

// .video-gallery-container
.media-window--playing {

  // gallery overwrites
  .video--loading {
    .article-video__player::before {
      content: none;
    }

    .media-play {
      display: none;
    }
  }

  .video--playing,
  .video--pausing {
    .article-video__player {
      margin: 0;
    }
  }
}

// video play overwrites
.video--loading,
.video--playing {

  &,
  &:hover,
  &:active,
  &:focus {
    .media-caption--video {
      background-color: #383732;
    }
  }

  .media-caption__title {
    color: #f5f5f2;
  }
}
// end player integration

.article-media--last-played {
  .media-caption {
    background-color: #ebebe5;
  }
}
