<div class="video-gallery-container {{ styleModifierGallery }}">
    <div class="video-gallery__player-container l-full-width-container">
        <button class="video-gallery-container__player-close" value="{{ 'Schliessen' }}"></button>
        <div class="video-gallery__player"><!-- here we expect a player --></div>
    </div>
    <div class="video-gallery carousel video_carousel__js" id="{{ video_gallery.ID }}" style="visibility:hidden;">
        {% for video in videos %}
            <div class="carousel__item">
                {% include 'molecules-video' with { 'styleModifier' : styleModifier } %}
            </div>
        {% endfor %}
    </div>
</div>
