<a href="/" class="main-logo {{ styleModifier|default("") }}">
    <span class="h-offscreen">Zur Startseite von Schweizer Radio und Fernsehen</span>
    <svg aria-hidden="true" aria-disabled="true">
      <use xlink:href="#srf-logo" />
    </svg>
</a>
