.main-logo {
  width: 36px;
  height: 24px;
  display: inline-block;
  background: none; /* OVERRIDE CRITICAL CSS */

  @include tablet-up {
    width: 48px;
    height: 32px;
  }
}

.main-logo--large {
  @include tablet-up {
    width: 60px;
    height: 40px;
  }
}
