.main-logo {
  width: 36px;
  height: 24px;
  display: inline-block;
}

// To whom it may concern (also please remove this comment):
// this will be used for the main logo in the HOME-NAVIGATION!
.main-logo--large {
  @include tablet-up {
    width: 48px;
    height: 32px;
  }
}
