<a href="/" class="main-logo {{ styleModifier|default("") }}">
    <span class="h-offscreen">Schweizer Radio und Fernsehen, zur Startseite</span>
    <img src="{{ frameworkAssetPath }}{{ path|default("/img/srf_logo.svg") }}"
         alt=""
         title="{{ alt|default("Zur Startseite von Schweizer Radio und Fernsehen") }}"
         aria-hidden="true"
         aria-disabled="true"
    />
</a>
