@import "../../variables";
@import "../../mixins";

.listicle-item {
  margin: 0 #{-$article-offset} 24px;
  padding: 0 $article-offset;

  @include tablet-up {
    margin-bottom: 32px;
  }

  p {
    margin: 12px 0;
  }
}

.listicle-item__heading {
  @include fontSize(18);
  margin: 16px 0 12px;

  font-weight: 500;
  font-family: $font-medium;
  color: $color-text-default;

  @include tablet-up {
    @include fontSize(20);
    margin: 24px 0 12px;
  }
}

.listicle-item__media {
  margin: 12px #{-$article-offset};

  @include tablet-up {
    margin: -8px #{-$article-offset};
  }
}

.listicle-item__content {
  font-weight: 300;
  @include fontSize(18);
  font-family: $font-light;
  color: $color-text-default;
  margin: 12px 0;

  @include tablet-up {
    @include fontSize(20);
    margin: 12px 0 24px;
  }
}

.listicle-item__link {
  margin: 12px #{-$article-offset} 16px 0;

  @include tablet-up {
    margin: 24px #{-$article-offset} 24px 0;
  }
}
