@import "../../variables";
@import "../../mixins";

.listicle-item {
  margin: 0 -24px 24px;
  padding: 0 24px;

  @include tablet-up {
    margin: 0 -16px 32px;
    padding: 0 16px;
  }

  p {
    margin: 12px 0;
  }
}

.listicle-item__heading {
  @include fontSize(18);
  margin: 16px 0 12px;

  font-weight: 500;
  font-family: $font-medium;
  color: $color-text-default;

  @include tablet-up {
    font-size: 20px;
    letter-spacing: .2px;
    margin: 24px 0 12px;
  }
}

.listicle-item__media {
  margin: 12px -24px;

  @include tablet-up {
    margin: -8px -16px;
  }
}

.listicle-item__content {
  font-weight: 300;
  @include fontSize(18);
  font-family: $font-light;
  color: $color-text-default;
  margin: 12px 0;

  @include tablet-up {
    font-size: 20px;
    letter-spacing: .3px;
    margin: 12px 0 24px;
  }
}

.listicle-item__link {
  margin: 12px -24px 16px 0;

  @include tablet-up {
    margin: 24px -16px 24px 0;
  }
}
