.listicle-item {
  margin: 0 -24px 24px;
  padding: 0 24px;

  &:before {
    display: none;
  }

  @include tablet-up {
    margin: 0 -16px 32px;
    padding: 0 16px;
  }

  p {
    margin: 12px 0;
  }
}

.listicle-item__heading {
  margin: 16px 0 12px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  font-family: $font-medium;
  letter-spacing: .5px;
  color: $color-text-default;
  @include tablet-up {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: .2px;
    margin: 24px 0 12px;
  }
}

.listicle-item__media {
  margin: 12px -24px;

  @include tablet-up {
    margin: -8px -16px;
  }

  // removes top/bottom margins of first child - i.e. an included video
  & > *:first-child {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.listicle-item__content {
  font: normal 300 18px/28px $font-light;
  letter-spacing: .5px;
  color: $color-text-default;
  margin: 12px 0;

  @include tablet-up {
    font-size: 20px;
    line-height:32px;
    letter-spacing: .3px;
    margin: 12px 0 24px;
  }
}

.listicle-item__link {
  margin: 12px -24px 16px 0;

  @include tablet-up {
    margin: 24px -24px 24px 0;
  }
}
