.article__lead {
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.454545;
  letter-spacing: 0.01875rem;
  color: #4e4d47;
}

.article__text {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.56;
  letter-spacing: 0.03125rem;
  color: #22211d;
  filter: grayscale(0.9);
}

.author p {
  margin: 0;
}

.author__name {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.03125rem;
  color: #22211d;
  font-family: $font-regular;
}

.author__date {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  color: #888579;
  font-family: $font-system;
}