.globalnav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  @include tablet-up {
    flex-direction: row;
    padding: 32px 12px;
  }

  @include desktop-up {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: -24px;
    margin-right: -24px;
    width: calc(100% + 2 * 24px);
  }
}

.globalnav--sub {
  @include tablet-up {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop-up {
    max-width: calc(1200px + (2 * 24px));
    margin: 0 auto;
  }
}

.globalnav-group {
  margin: 0;
  padding: 8px 0;

  &::before {
    display: none;
  }

  &:not(:last-of-type) {
    @include smartphone {
      border-bottom: 1px solid rgba(0,0,0,.08);
    }
  }

  @include tablet-up {
    flex: 1 1 0%;
    align-self: flex-start;
    width: 33.334%;
    padding: 0 4px;
  }

  @include desktop-up {
    padding: 0 8px;
  }
}

.globalnav-group__list {
  margin: 0;
  padding: 0;
}

.globalnav-item {
  margin: 0;
  padding: 0;

  &::before {
    display: none;
  }
}

.globalnav-item--sub {
  @include tablet-up {
    flex: 1 0 calc(33.334% - 8px);
    padding: 0 4px;
    
    &:nth-child(3n + 1) {
      order: 0;
    }

    &:nth-child(3n + 2) {
      order: 1;
    }

    &:nth-child(3n + 3) {
      order: 2;
    }
  }

  @include desktop-up {
    padding: 0 8px;
  }
}


.globalnav--sub-wrapper {
  margin: 8px 0 -8px;
  padding: 8px 0;
  border-top: 1px solid rgba(0,0,0,.08);
  background-color: $color-bg-caption;

  @include tablet-up {
    margin-top: 32px;
    margin-right: calc((100vw - 100%) / 2 * -1);
    margin-bottom: -32px;
    margin-left: calc((100vw - 100%) / 2 * -1);
    padding: 0;
    position: relative;
  }
}
