.globalnav {
  display: flex;
  flex-direction: column;
  margin: 0 -16px;
  padding: 0;

  @include tablet-up {
    flex-direction: row;
    margin: 0 -32px;
    padding: 32px 12px;
  }

  @include desktop-up {
    padding: 32px 8px;
  }
}

.globalnav--sub {
  margin: 0;

  @include tablet-up {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop-up {
    max-width: calc(#{$content-width} + 2 * 16px);
    margin: 0 auto;
  }

  @include tablet-up {
    max-width: calc(#{$content-width} + 2 * 32px);
  }
}

.globalnav-group {
  margin: 0;
  padding: 8px 0;

  &:not(:last-of-type) {
    @include smartphone {
      border-bottom: 1px solid rgba(0,0,0,.08);
    }
  }

  @include tablet-up {
    flex: 1 1 0%;
    align-self: flex-start;
    width: 33.334%;
    padding: 0 4px;
  }

  @include desktop-up {
    padding: 0 8px;
  }
}

.globalnav-group__list {
  margin: 0;
  padding: 0;
}

.globalnav-item {
  margin: 0;
  padding: 0;
}

.globalnav-item--sub {
  // sass-lint:disable indentation
  transition: margin .2s ease-in-out,
              opacity .2s ease-in-out,
              max-height .2s ease-in-out;
  // sass-lint:enable indentation  
  max-height: 0;
  opacity: 0;
  margin-top: 0;
  margin-bottom: 0;

  @include smartphone {
    flex: 1 1 auto;
  }

  @include tablet-up {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(33.334% - 16px);
    padding: 0 4px;
    
    &:nth-child(3n + 1) {
      order: 0;
    }

    &:nth-child(3n + 2) {
      order: 1;
    }

    &:nth-child(3n + 3) {
      order: 2;
    }
  }

  @include desktop-up {
    padding: 0 8px;
  }
}

.globalnav--sub-wrapper {
  margin: 8px 0 -8px;
  padding: 8px 0;
  border-top: 1px solid rgba(0,0,0,.08);
  background-color: $color-bg-caption;
  // sass-lint:disable indentation
  transition: margin-top .2s ease-in-out,
              margin-bottom .2s ease-in-out,
              padding-top .2s ease-in-out,
              padding-bottom .2s ease-in-out,
              border .2s ease-in-out;
  // sass-lint:enable indentation

  @include tablet-up {
    margin-top: 32px;
    margin-right: calc((100vw - 100%) / 2 * -1);
    margin-bottom: -32px;
    margin-left: calc((100vw - 100%) / 2 * -1);
    padding: 0;
    position: relative;
  }
}

.globalnav--sub-wrapper--open {
  border-top: 1px solid rgba(0,0,0,.08);
  border-bottom: 1px solid rgba(0,0,0,.08);

  @include smartphone {
    // hide the border of the parent element by subtracting 1 more pix.
    margin-bottom: -9px;
  }

  @include tablet-up {
    // Yes, we do things like this because we can do things like this
    margin-bottom: -34px;
  }

  .globalnav-item--sub {
    max-height: 100px;
    opacity: 1;
  }
}
