@import '../../variables';
@import '../../mixins';

$highlight-nav-margin: 16px;

.highlight-nav {
  margin: 0 -16px;
  display: flex;
  flex-direction: column;
}

.highlight-nav__items {
  display: flex;
  flex-direction: column;

  @include tablet-up {
    flex-direction: row;
  }
}

.highlight-nav__item {
  flex: 0 0 auto;
}

.highlight-nav__title {
  @include fontSize(12);
  color: $color-srf-warmgrey-800;
  margin: 16px 0 0 24px;

  @include tablet-up {
    margin: 8px 0 0 16px;
  }
}

.highlight-nav__divider {
  height: 1px;
  @include fullwidth-element();
  border-bottom: 1px solid $color-srf-neutral-black;
  margin-top: 8px;
}
