<div class="highlight-nav">
    <span class="highlight-nav-title">Schwerpunkte</span>

    <ul class="highlight-nav-items">
        <li class="highlight-nav-item">
            <a href="#" class="globalnav-link globalnav-link--highlight" title="Abstimmungen">Abstimmungen</a>
        </li>
        <li class="highlight-nav-item">
            <a href="#" class="globalnav-link globalnav-link--highlight" title="Ski WM 2018">Ski WM 2018</a>
        </li>
    </ul>

    <div class="highlight-nav-divider" aria-hidden="true"></div>
</div>
