<div class="highlight-nav">
    <span class="highlight-nav__title">Schwerpunkte</span>

    <ul class="highlight-nav__items">
        <li class="highlight-nav__item">
            <a href="#" class="globalnav-link globalnav-link--highlight" title="Abstimmungen">Abstimmungen</a>
        </li>
        <li class="highlight-nav__item">
            <a href="#" class="globalnav-link globalnav-link--highlight" title="Ski WM 2018">Ski WM 2018</a>
        </li>
    </ul>

    <div class="highlight-nav__divider" aria-hidden="true"></div>
</div>
