<ul class="navigation js-navigation {{ styleModifier }}"
    id="{{ id|default("") }}">

    <li class="navigation-item">
        <div class="navigation-search__wrapper">
        {% block search %}
            {% include 'atoms-search' with {'styleModifier': 'search--legacy-navigation'} %}
        {% endblock %}
        </div>
    </li>

    <li class="navigation-item navigation-item--column">
        <ul class="navigation__group">
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Home', 'url': '/'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'News', 'url': '/news'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Sport', 'url': '/sport'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Meteo', 'url': '/meteo'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Kultur', 'url': '/kultur'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'DOK', 'url': '/sendungen/dok'} %}</li>
        </ul>
    </li>
    <li class="navigation-item navigation-item--column">
        <ul class="navigation__group">
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Startseite',       'url': '/play', 'img': '/img/play_srf_logo.svg', 'styleModifierImg': 'navigation-link__img--wide'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Sendungen A-Z',    'url': '/sendungen-a-z'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Podcasts',         'url': '/podcasts'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'TV-Programm',      'url': '/programm/tv'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Radio-Programm',   'url': '/programm/radio'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Radioseiten',      'url': '#', 'styleModifier': 'navigation-link--expandable js-expand-icon'} %}
                <div class="navigation--subnav-wrapper">
                    <ul class="navigation navigation--subnav l-content-wrapper js-navigation-subnav-a11y"
                        aria-hidden="true"
                        role="presentation">
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio SRF 1',             'url': '/radio-srf-1', 'img': '/img/radiologos/radio-srf-1.png', 'imgRetina': '/img/radiologos/radio-srf-1-hd.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio SRF 2 Kultur',      'url': '/radio-srf-2', 'img': '/img/radiologos/radio-srf-2.png', 'imgRetina': '/img/radiologos/radio-srf-2-hd.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio SRF 3',             'url': '/radio-srf-3', 'img': '/img/radiologos/radio-srf-3.png', 'imgRetina': '/img/radiologos/radio-srf-3-hd.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio SRF 4 News',        'url': '/radio-srf-4-news', 'img': '/img/radiologos/radio-srf-4.png', 'imgRetina': '/img/radiologos/radio-srf-4-hd.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio SRF Musikwelle',    'url': '/radio-srf-musikwelle', 'img': '/img/radiologos/radio-srf-musikwelle.png', 'imgRetina': '/img/radiologos/radio-srf-musikwelle-hd.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio SRF Virus',         'url': '/radio-srf-virus', 'img': '/img/radiologos/radio-srf-virus.png', 'imgRetina': '/img/radiologos/radio-srf-virus-hd.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio Swiss Classic',     'url': 'http://www.radioswissclassic.ch/de', 'img': '/img/radiologos/radio-swiss-classic.png', 'imgRetina': '/img/radiologos/radio-swiss-classic-hd.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio Swiss Jazz',        'url': 'http://www.radioswissjazz.ch/de', 'img': '/img/radiologos/radio-swiss-jazz.png', 'imgRetina': '/img/radiologos/radio-swiss-jazz-hd.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio Swiss Pop',         'url': 'http://www.radioswisspop.ch/de', 'img': '/img/radiologos/radio-swiss-pop.png', 'imgRetina': '/img/radiologos/radio-swiss-pop-hd.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="navigation-item navigation-item--column">
        <ul class="navigation__group">
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Verkehr', 'url': '/verkehr'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Zambo', 'url': '/sendungen/zambo'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Hallo SRF!', 'url': '/hallosrf'} %}</li>
        </ul>
    </li>
</ul>
