.navigation {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // animations
  @include tablet-up {
    width: auto;
    right: -280px;
    transition: right $naviTransitionTime cubic-bezier(0.4, 0.0, 0.2, 1);
  }
}

.navigation--footer {
  @include tablet-up {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 0 32px;
  }
}

@include tablet-up {
  // more animations
  .navigation--come-in {
    right: 0; // end position
  }
}

.navigation__group,
.navigation__group-item,
.navigation-item {
  margin: 0;
  padding: 0;
}

.navigation__group-item,
.navigation-item {
  &::before {
    content: none;
  }
}

.navigation--header .navigation-item {
  @include smartphone {
    &:first-child {
      margin-top: -9px;
    }
  }

  &:last-child {
    border-bottom: 24px solid transparent;
  }
}

.navigation--footer .navigation-item {
  @include tablet-up {
    flex: 1 0 auto;
    border-right: 1px solid #444;
  }
}




.navigation__link {
  font: 16px/1 $font-regular;
  text-decoration: none;
  color: #fff;
  padding: 15px 24px 17px;
  display: block;
  cursor: pointer;
  border-bottom: 0;

  &:hover {
    color: #fff;
    background-color: #444;
  }

  &:active,
  &:focus {
    color: #fefefd;
    background-color: #555;
  }

  &:hover,
  &:active {
    border-bottom: 0;
  }
  
  .navigation--footer & {
    @include tablet-up {
      padding-right: 16px;
      padding-left: 16px;
    }
  }
}

.navigation--header .navigation__link--close {
  @include smartphone {
    display: none;
  }

  @include tablet-up {
    position: fixed;
    height: 56px;
    width: 280px;
    background: #333 url("../img/close-sprite.svg") no-repeat scroll 100% 0 / 20px;
    border: 18px solid #333;
    border-width: 18px 32px; // (56 - 20) / 2 = 18
    margin-top: -9px;
    padding: 0;
    z-index: 1;

    &:hover, &:focus {
      background-color: #333;
      background-position: 100% -30px;
    }
  }

  @include desktop-wide {
    position: absolute; // and back again!
  }
}

.navigation--footer .navigation__group-item--close {
  display: none;
}

@include tablet-up {
  .navigation--header .navigation__link--fixed {
    position: fixed;
  }

  .navigation--header .navigation__link--home {
    border-top: 47px solid #333;
  }
}

.navigation--header .navigation__group {
  border-bottom: 1px solid #444;
  padding: 9px 0 7px; 
}

.navigation--footer .navigation__group {
  @include smartphone {
    border-bottom: 1px solid #444;
    padding: 9px 0 7px;
  }
}


.navigation__group--radio {
  background-color: #222;
  border-bottom: 0;
  visibility: hidden;
  // radio animations:
  height: 0;
  padding: 0;
  transition: height 0.4s ease, // height 0.4s cubic-bezier(0.4, 0.0, 0.2, 1),
  padding 0.4s ease;

  .navigation__group-item {
    height: 0;
    transition: height 0.4s ease;
  }
}

// radio animations pt. 2
.navigation__group--radio-open {
  height: 456px; // we "do" know the height (must - to animate it)
  padding: 12px 0;
  visibility: visible;

  .navigation__group-item {
    // preventing the menu (on scroll) from not reaching the bottom
    height: 48px;
  }

  .navigation__link--radio {
    position: relative;
    opacity: 1;
    height: 48px;
    padding: 15px 24px 17px;
  }
}

.navigation__link--radio {
  position: absolute;
  height: 0;
  opacity: 0;
  transition: opacity 0.4s ease, height 0.4s ease;
  text-indent: 32px;

  &:hover {
    background-color: #333;
  }

  &:active,
  &:focus {
    background-color: #444;
  }
}

.navigation__img {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-top: -4px;
}

.navigation__img-play {
  height: 23px;
  width: auto;
  display: inline-block;
  margin-top: -4px;
  margin-left: 8px;
  position: absolute;
}
// end nativation

/* safari "hack" */
@supports (-webkit-appearance:none) {
  .navigation--closed {
    .navigation {
      position: fixed; // absolute; <-- produces scrollbars in safari!
    }
  }
}

/* end safari "hack" */