.navigation {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @include tablet-up {
    flex-direction: row;
  }
}

.navigation__group,
.navigation__group-item,
.navigation-item,
.navigation--subnav-item {
  margin: 0;
  padding: 0;
}

// Override li's :before pseudo element
.navigation__group-item,
.navigation-item,
.navigation--subnav-item {
  &::before {
    content: none;
  }
}

.navigation-item {
  width: 100%;

  @include tablet-up {
    flex: 1 1 0;
    width: calc(100% / 3);
    border-right: 1px solid #444;
    padding:0 12px;

    &:first-child {
      padding-left:0;
    }
    &:last-child {
      border-right: none;
      padding-right:0;
    }
  }
}

.navigation__group-item--close {
  display: none;
}

.navigation__group {
  border-bottom: 1px solid #444;
  padding: 8px 12px;

  @include tablet-up {
    border-bottom: none;
    padding: 0;
  }
}

.navigation--subnav-wrapper {
  margin-top: 32px;
  margin-right: calc((100vw - 100%) / 2 * -1);
  margin-bottom: -32px;
  margin-left: calc((100vw - 100%) / 2 * -1);
  background-color: #222;
  padding: 8px 12px;

  @include tablet-up {
    padding: 20px 32px;
  }
}

.navigation--subnav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navigation--subnav-item {

  @include smartphone {
    flex: 1 1 100%;
  }

  @include tablet-up {
    flex: 1 0 30%;
    margin: 1px 13px 1px 12px;
    align-self: stretch;

    &:nth-child(3n+1) { order: 0;}
    &:nth-child(3n+2) { order: 1;}
    &:nth-child(3n+3) { order: 2;}

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) { margin-left: 0; }

    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) { margin-right: 0; }
  }
}


.navigation__group--radio {
  border-bottom: 0;
  visibility: hidden;
  // radio animations:
  height: 0;
  padding: 0;
  transition: height 0.4s ease, padding-top 0.4s ease, padding-bottom 0.4s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include smartphone {
    padding: 0;
  }

  .navigation__group-item {
    height: 0;
    transition: height 0.4s ease;
  }

  @include tablet-up {
    flex-direction: row;
  }
}

// radio animations pt. 2
.navigation__group--radio-open {
  height: 188px; // we "do" know the height (must - to animate it)
  padding: 12px;
  visibility: visible;
  margin: 0 auto;

  @include smartphone {
    height: 481px;
    padding: 12px;
    border-bottom: none;
  }

  .navigation__group-item {
    // preventing the menu (on scroll) from not reaching the bottom
    height: 48px;
  }

  .navigation__link--radio {
    position: relative;
    opacity: 1;
    height: 48px;
    padding: 15px 24px 17px;
  }
}

.navigation__link--radio {
  position: absolute;
  height: 0;
  opacity: 0;
  transition: opacity 0.4s ease, height 0.4s ease;
  text-indent: 32px;

  &:hover {
    background-color: #333;
  }

  &:active,
  &:focus {
    background-color: #444;
  }
}