<ul class="navigation js-navigation {{ styleModifier }}" role="menu">

    <li class="navigation-item">
        {% block search %}
            {% include 'atoms-search' with {'styleModifier': 'searchbox--navigation ' ~ ('navigation--header' in styleModifier ? 'searchbox--header-navigation' : '') } %}
        {% endblock %}
    </li>

    <li class="navigation-item navigation-item--column">
        <ul class="navigation__group" role="group">
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Home', 'url': '/'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'News', 'url': '/news'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Sport', 'url': '/sport'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Meteo', 'url': '/meteo'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Kultur', 'url': '/kultur'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'DOK', 'url': '/sendungen/dok'} %}</li>
        </ul>
    </li>
    <li class="navigation-item navigation-item--column">
        <ul class="navigation__group" role="group">
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Startseite', 'url': '/play', 'img': '/img/play_srf_logo.svg'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Sendungen A-Z', 'url': '/sendungen-a-z'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Podcasts', 'url': '/podcasts'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'TV-Programm', 'url': '/programm/tv'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Radio-Programm', 'url': '/programm/radio'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Radiosender', 'url': '#', 'styleModifier': 'navigation-link--expandable js-expand-icon'} %}
                <div class="navigation--subnav-wrapper">
                    <ul class="navigation navigation--subnav l-main-wrapper js-navigation-subnav-a11y"
                        aria-hidden="true"
                        role="presentation">
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio SRF 1', 'url': '/radio-srf-1', 'img': '/img/radiologos/radio-srf-1.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio SRF 2 Kultur', 'url': '/radio-srf-2', 'img': '/img/radiologos/radio-srf-2.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio SRF 3', 'url': '/radio-srf-3', 'img': '/img/radiologos/radio-srf-3.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio SRF 4 News', 'url': '/radio-srf-4-news', 'img': '/img/radiologos/radio-srf-4.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio SRF Musikwelle', 'url': '/radio-srf-musikwelle', 'img': '/img/radiologos/radio-srf-musikwelle.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio SRF Virus', 'url': '/radio-srf-virus', 'img': '/img/radiologos/radio-srf-virus.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio Swiss Classic', 'url': 'http://www.radioswissclassic.ch/de', 'img': '/img/radiologos/radio-swiss-classic.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio Swiss Jazz', 'url': 'http://www.radioswissjazz.ch/de', 'img': '/img/radiologos/radio-swiss-jazz.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                        <li class="navigation--subnav-item">{% include 'atoms-navigation-link' with {'text': 'Radio Swiss Pop', 'url': 'http://www.radioswisspop.ch/de', 'img': '/img/radiologos/radio-swiss-pop.png', 'alt': '', 'styleModifier': 'navigation-link--dark'} %}</li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="navigation-item navigation-item--column">
        <ul class="navigation__group" role="group">
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Verkehr', 'url': '/verkehr'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Zambo', 'url': '/sendungen/zambo'} %}</li>
            <li class="navigation__group-item">{% include 'atoms-navigation-link' with {'text': 'Über SRF', 'url': '/unternehmen'} %}</li>
        </ul>
    </li>
</ul>