@import "../../variables";
@import "../../breakpoints";
@import "../../mixins";

.portalsnav {
  padding: 0;
  margin: 0;
  display: flex;
}

.portalsnav__link {
  display: inline-block;
  padding: 8px 10px;
  border-bottom: none;
  border-radius: 2px;
  font-family: $font-bold;
  font-feature-settings: "salt";
  @include fontSize(14);
  line-height: 1.14;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;

  /* fallback */
  color: $color-srf-warmgrey-900;

  /* theme */
  @supports (--foo: bar) {
    color: var(--theme-color-nav, $color-srf-warmgrey-900);
  }

  &:hover,
  &:active,
  &:focus {
    border-bottom: none;

    /* fallback */
    color: $color-srf-warmgrey-900;

    /* theme */
    @supports (--foo: bar) {
      color: var(--theme-color-nav, $color-srf-warmgrey-900);
    }
  }

  &:hover {
    /* fallback */
    background-color: $color-srf-warmgrey-300a12;

    /* theme */
    @supports (--foo: bar) {
      background-color: var(--theme-color-bg-hover,$color-srf-warmgrey-300a12);
    }
  }

  &:active,
  &:focus {
    /* fallback */
    background-color: $color-srf-warmgrey-300a24;

    /* theme */
    @supports (--foo: bar) {
      background-color: var(--theme-color-bg-active, $color-srf-warmgrey-300a24);
    }
  }
}

.portalsnav--large {
  .portalsnav__link {
    padding: 16px 12px;
    @include fontSize(18);
    line-height: $secondary-line-height-ratio;
    color: $color-srf-warmgrey-1100;
  }
}
