<h3 class="h-offscreen">Rubriken</h3>
<ul class="portalsnav {{ styleModifier }}">
    {% for portallongnames in masthead.portallongnames %}
        <li>
            <a class="portalsnav__link" href="{{ portallongnames.url }}">{{ portallongnames.name }}</a>
        </li>
    {% endfor %}
</ul>
