@import "../../variables";
@import "../../mixins";

.article-content {
  /* OVERRIDE CRITICAL CSS */
  min-height: 0;
  opacity: 1;
  /****/
  margin: 0 0 24px;
  font-family: $font-light;
  @include fontSize(20);
  color: $color-srf-warmgrey-1100;

  @include smartphone {
    @include fontSize(18);
  }

  /* h1: usually not possible to create in article text but tiny mce knows no better :) */
  /* h3: usually not possible to create in article text but some users manage to do it :) */
  & > h1,
  & > h2,
  & > h3 {
    @include article-text-padding;
    margin: 32px 0 12px;
    font-family: $font-medium;
    @include fontSize(28);
    line-height: $secondary-line-height-ratio;

    @include smartphone {
      margin: 24px 0 12px;
      @include fontSize(24);
    }
  }

  & > p {
    @include article-text-padding;
    margin: 12px 0 24px;

    @include smartphone {
      margin: 12px 0 20px;
    }
  }

  // only apply default styling to links and lists without a class (i.e. body text from our CMS)
  a:not([class]),
  a[class=""] {
    @include text-link-defaults;
  }

  ul:not([class]),
  ul[class=""] {
    @include text-list-defaults;
    @include text-list-unordered-defaults;
  }

  ol:not([class]),
  ol[class=""] {
    @include text-list-defaults;
    @include text-list-ordered-defaults;
  }
}

