<footer class="footer">
  <section class="footerTop">
    <div class="l-content-wrapper">
      {% block search %}
        {% include 'atoms-search' with { 'search': { 'styleModifier': 'searchbox--footer' } } %}
      {% endblock %}
      {% block navigation %}
        {% include 'molecules-navigation' with { 'styleModifier': 'navigation--footer' } %}
      {% endblock %}
      {% block secnavigation %}
        <ul class="footerTop-secnav">
          <li class="footerTop-secnavElem"><a href="#" title="" class="footerTop-secnavLink">TITLE</a></li>
        </ul>
      {% endblock %}
    </div>
  </section>
    <section class="footerBottom l-content-wrapper">
      <div class="footerBottom-container footerBottom-container--srg">
        <img src="{{ frameworkAssetPath }}/img/srgssr_logo.svg" class="footerBottom-srglogo" alt="{{ alttext_logo_srg }}" />
        <p class="footerBottom-paragraph">{{ company_fineprint }}</p>
      </div>
      <div class="footerBottom-container footerBottom-container--bu">
        {% block buList %}
          <ul class="footerBottom-buList">
            <li class="footerBottom-buElem"><a href="#" title="" class="footerBottom-buLink"><span>RTS</span></a></li>
            <li class="footerBottom-buElem"><a href="#" title="" class="footerBottom-buLink"><span>RSI</span></a></li>
            <li class="footerBottom-buElem"><a href="#" title="" class="footerBottom-buLink"><span>RTR</span></a></li>
            <li class="footerBottom-buElem"><a href="#" title="" class="footerBottom-buLink"><span>SWI</span></a></li>
            <li class="footerBottom-buElem"><a href="#" title="" class="footerBottom-buLink"><span>3SAT</span></a></li>
          </ul>
        {% endblock %}
      </div>
    </section>
</footer>