.footer-top {
  background: #333;
  color: #fff;
}

.footer-bottom {
  background: #222;
  color: #fff;
}

.footer-navigation {
  padding: 16px 0;

  @include tablet-up {
    padding: 32px 0;
  }
}

.footer-bottom-container-wrapper {
  @include tablet-up {
    display: flex;
    flex-wrap: nowrap;
    align-content: start;
    justify-content: space-between;
    padding: 0 16px 20px;
  }
}

ul.footer-top-secnav {
  @include smartphone {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: start;
  }
  height: calc(4 * 39px + 2 * 16px);
  margin: 0;
  padding: 16px 16px;

  @include tablet-up {
    height: auto;
    padding: 20px 8px;
  }
}

.footer-top-secnavElem {
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
  display: inline-block;

  @include tablet-up {
    flex: 0 0 auto;
  }
}

.footer-top-secnavElem::before {
  display:none;
}

a.footer-top-secnavLink {
  font: 14px/1.14 $font-regular;
  letter-spacing: .5px;
  color: #dadad2;
  display: block;
  border-bottom: none;
  border-radius: 2px;
  padding: 12px 8px;

  @include tablet-up {
    margin-right:8px;
  }
}

.footer-top-secnavLink::before {
  display: none;
}

.footer-top-secnavLink:hover {
  background-color: #444;
  color: #fff;
}

.footer-bottom-container {
  @include smartphone {
    padding: 0 24px;
  }
  @include tablet-up {
    flex: 0 0 auto;
  }
}

.footer-bottom-container--srg {
  @include tablet-up {
    width: calc(100% - 272px - 32px);
    max-width: 434px;
  }
}

.footer-bottom-container--bu {
  @include tablet-up {
    width: 272px;
    margin-top: 11px;
  }
}

.footer-bottom-paragraph {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: .4px;
  color: #fff;
}

.footer-bottom-srglogo {
  width: 46px;
  height: 16px;

  /* JUST DEV */
  background: #af001e;
}

.footer-bottom-buList {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer-bottom-buElem {
  flex: 1 0 auto;

  margin: 0;
  padding: 0;

  &::before {
    display: none;
  }
}

a.footer-bottom-buLink {
  display: inline-block;
  width: 100%;
  padding: 12px 0 13px;
  font: 14px/1.14 $font-regular;
  letter-spacing: .5px;
  text-align: center;
  color: $color-bg-box-hover;
  border-bottom: none;
}

.footer-bottom-buElem:not(:nth-last-child(1)) .footer-bottom-buLink::after {
  content: '';
  height: 1em;
  border-right: 1px solid #444;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: -1px;
}
.footer-bottom-buElem:not(:nth-last-child(1)) .footer-bottom-buLink:hover::after {
  display:none;
}

.footer-bottom-buLink span {
  display: block;
  border-radius: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
}

.footer-bottom-buLink:hover span,
.footer-bottom-buLink.selected span {// DEV ONLY
  background-color: #444;
  color: #fff;
}

.footer-top > div,
.footer-bottom > div {
  @include tablet-up {
    margin: 0 32px;
  }

  @include desktop-wide {
    margin: 0 auto;
  }
}
