<footer class="footer">

  <div class="footer-top">
    <div class="l-main-wrapper">
      <div class="footer-navigation">
        {% block navigation %}
          {% include 'molecules-navigation' with { 'styleModifier': 'navigation--footer' } %}
        {% endblock %}
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="l-main-wrapper">
      {% block secnavigation %}
        <ul class="footer-top-secnav">
          <li class="footer-top-secnavElem"><a href="#" title="" class="footer-top-secnavLink">Foo</a></li>
          <li class="footer-top-secnavElem"><a href="#" title="" class="footer-top-secnavLink">Bar</a></li>
          <li class="footer-top-secnavElem"><a href="#" title="" class="footer-top-secnavLink">With Words</a></li>
          <li class="footer-top-secnavElem"><a href="#" title="" class="footer-top-secnavLink">And more</a></li>
          <li class="footer-top-secnavElem"><a href="#" title="" class="footer-top-secnavLink">Never setop</a></li>
          <li class="footer-top-secnavElem"><a href="#" title="" class="footer-top-secnavLink">Imfall</a></li>
          <li class="footer-top-secnavElem"><a href="#" title="" class="footer-top-secnavLink">Oh ja</a></li>
        </ul>
      {% endblock %}
      <div class="footer-bottom-container-wrapper">
        <div class="footer-bottom-container footer-bottom-container--srg">
          <img src="{{ frameworkAssetPath }}/img/srgssr_logo.svg" class="footer-bottom-srglogo" alt="Fancy Alt Text" />
          <p class="footer-bottom-paragraph">Super duper Television Company</p>
        </div>
        <div class="footer-bottom-container footer-bottom-container--bu">
          {% block buList %}
            <ul class="footer-bottom-buList">
              <li class="footer-bottom-buElem"><a href="#" title="" class="footer-bottom-buLink"><span>RTS</span></a></li>
              <li class="footer-bottom-buElem"><a href="#" title="" class="footer-bottom-buLink"><span>RSI</span></a></li>
              <li class="footer-bottom-buElem"><a href="#" title="" class="footer-bottom-buLink"><span>RTR</span></a></li>
              <li class="footer-bottom-buElem"><a href="#" title="" class="footer-bottom-buLink"><span>SWI</span></a></li>
              <li class="footer-bottom-buElem"><a href="#" title="" class="footer-bottom-buLink"><span>3SAT</span></a></li>
            </ul>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

</footer>