<footer class="footer">

  <div class="footer-top">
    <div class="l-content-wrapper">
      <div class="footer-top__navigation">
        {% include 'molecules-navigation' with { 'styleModifier': 'navigation--footer', 'id': 'navigation--footer' } %}
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="l-content-wrapper">

      <ul class="footer-bottom__navigation">
        <li class="footer-bottom__navigation-item"><a href="#" title="" class="footer-bottom__navigation-link">First: Foo</a></li>
        <li class="footer-bottom__navigation-item"><a href="#" title="" class="footer-bottom__navigation-link">Second: Bar</a></li>
        <li class="footer-bottom__navigation-item"><a href="#" title="" class="footer-bottom__navigation-link">Third: More</a></li>
        <li class="footer-bottom__navigation-item"><a href="#" title="" class="footer-bottom__navigation-link">Fourth: And more</a></li>
        <li class="footer-bottom__navigation-item"><a href="#" title="" class="footer-bottom__navigation-link">Fifth: Never stop</a></li>
        <li class="footer-bottom__navigation-item"><a href="#" title="" class="footer-bottom__navigation-link">Sixth: Must be</a></li>
        <li class="footer-bottom__navigation-item"><a href="#" title="" class="footer-bottom__navigation-link">Seventh: exactly</a></li>
        <li class="footer-bottom__navigation-item"><a href="#" title="" class="footer-bottom__navigation-link">Eigth: 8 Items</a></li>
      </ul>

      <div class="footer-bottom__imprint">

        <div class="footer-bottom__imprint-content">
          <img class="footer-bottom__logo" src="{{ frameworkAssetPath }}/img/srgssr_logo.svg" alt="Logo of the Awesome Broadcasting Company" />
          <p class="footer-bottom__description">Awesome Broadcasting Company</p>
        </div>

        <ul class="footer-bottom__imprint-links">
          <li class="footer-bottom__link-item"><a href="#" title="" class="footer-bottom__link"><span>RTS</span></a></li>
          <li class="footer-bottom__link-item"><a href="#" title="" class="footer-bottom__link"><span>RSI</span></a></li>
          <li class="footer-bottom__link-item"><a href="#" title="" class="footer-bottom__link"><span>RTR</span></a></li>
          <li class="footer-bottom__link-item"><a href="#" title="" class="footer-bottom__link"><span>SWI</span></a></li>
          <li class="footer-bottom__link-item"><a href="#" title="" class="footer-bottom__link"><span>3SAT</span></a></li>
        </ul>

      </div>

    </div>
  </div>

</footer>