<footer class="footer l-full-width-container">
  <section class="footer-top">
    <div class="l-main-wrapper">
      <div>SEARCH</div>
      <div>NAVIGATION</div>
      <ul class="footer-secnav">
        <li><a href="#" title="">Hallo SRF</a></li>
        <li><a href="#" title="">SRF Apps</a></li>
        <li><a href="#" title="">Rechtliches</a></li>
        <li><a href="#" title="">Impressum</a></li>
        <li><a href="#" title="">Shop</a></li>
        <li><a href="#" title="">Hilfe</a></li>
        <li><a href="#" title="">Korrekturen</a></li>
        <li><a href="#" title="">Kundendienst</a></li>
      </ul>
    </div>
  </section>
  <section class="footer-bottom l-main-wrapper">
    <div>
      <img src="#" alt="Logo der SRG SSR" />
      <p>SRF Schweizer Radio und Fernsehen, Zweigniederlassung der Schweizerischen Radio- und Fernsehgesellschaft</p>
    </div>
    <ul>
      <li><a href="#" title="">RTS</a></li>
      <li><a href="#" title="">RSI</a></li>
      <li><a href="#" title="">RTR</a></li>
      <li><a href="#" title="">SWI</a></li>
      <li><a href="#" title="">3SAT</a></li>
    </ul>
  </section>
</footer>