<div class="collection-canton collection collection__branding-wrapper">
    {% if cantonNav is defined and cantonNav is not empty %}
        <div class="collection-canton__content">
            {% if cantonNav.kicker is defined and cantonNav.kicker is not empty %}
                <div class="collection-canton__kicker">{{ cantonNav.kicker|trim }}</div>
            {% endif %}

            {% if cantonNav.title is defined and cantonNav.title is not empty %}
                <h3 class="collection-canton__title">{{ cantonNav.title|trim }}</h3>
            {% endif %}

            {% if cantonNav.lead is defined and cantonNav.lead is not empty %}
                <p class="collection-canton__lead">{{ cantonNav.lead|trim }}</p>
            {% endif %}
        </div>
    {% endif %}

    {% if cantons is defined and cantons is not empty %}
        <div class="collection-canton__navigation">
            {% include 'molecules-canton-map' %}
        </div>
    {% endif %}
</div>
