@import "../../variables";
@import "../../mixins";

.collection-canton {
  background-color: $color-bg-card;
  box-shadow: $shadow-elevation1;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 16px;

  @include tablet-up {
    padding: 24px 32px 24px 24px;
    flex-direction: row;
  }
}

/**
 * Canton navigation content
 */
.collection-canton__content {
  flex-grow:1;
  flex-shrink: 1;
  @include tablet-up {
    flex-basis: 0;
  }
}

/**
 * Kicker
 */
.collection-canton__kicker {
  margin-bottom: 4px;
  font-family: $font-regular;
  line-height: $emphasize-line-height-ratio;
  @include fontSize(16);
  @include font-smoothing();
  color: $color-accentuation-red;

  @include desktop-up {
    line-height: 1.11;
    @include fontSize(18);
  }
}


/**
 * Title
 */
.collection-canton__title {
  font-family: $font-medium;
  font-weight: 500;
  line-height: $emphasize-line-height-ratio;
  @include fontSize(20);
  @include font-smoothing();
  margin: 0;

  @include desktop-up {
    @include fontSize(24);
  }
}


/**
 * Lead
 */
.collection-canton__lead {
  font-family: $font-light;
  line-height: $secondary-line-height-ratio;
  @include fontSize(16);
  @include font-smoothing();
  margin-top: 12px;
  margin-bottom: 0;

  @include desktop-up {
    @include fontSize(18);
  }
}



/**
 * Canton switzerland navigation
 */
.collection-canton__navigation {
  display: flex;
  justify-content: center;
  flex-grow:1;
  flex-shrink: 1;
  margin-top: 24px;

  @include tablet-up {
    justify-content: flex-end;
    flex-basis: 0;
    margin-top: 0;
  }
}
