<div class="collection {{ styleModifier|default("") }}">
    <h3 class="collection__title">{{ collection.title|default("") }}</h3>
    <ul class="collection__teaser-list">
        {% for teaser in collection.teasers %}
            <li class="collection__teaser-item teaser__wrapper">
                {% set teaserFormat = 'teaser--m' %}

                {% if 'collection--standard-hero' in styleModifier %}
                    {% set teaserFormat = loop.index == 1 ? 'teaser--xl' : teaserFormat %}
                {% elseif 'collection--standard-duo' in styleModifier %}
                    {% set teaserFormat = loop.index == 1 ? 'teaser--l' : (loop.index == 2 ? 'teaser--l-but-s-on-mobile' : teaserFormat) %}
                {% endif %}

                {% include 'molecules-teaser' with {'teaser': teaser, styleModifier: teaserFormat} %}
            </li>
        {% endfor %}
    </ul>
</div>
