@import "../../20-molecules/swipable-area/swipeable-variables";

.collection__swipeable-area {
  // make sure the swipeable area is higher than the "themed" background
  // (.collection__content-wrapper:after)
  z-index: 1;
}

// Styles that are the same for all swipeable types
.collection--swipeable,
.collection--compact-swipeable,
.collection--dense-swipeable {
  // make sure the collection can't force the page to be wider than 100%
  overflow: hidden;
  
  .collection__teaser-list {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;

    @include smartphone {
      @include listStyles('mobile');
    }

    @include tablet {
      @include listStyles('tablet');
    }

    @include desktop {
      @include listStyles('desktop');
    }

    @include desktop-wide {
      @include listStyles('desktopwide');
    }
  }

  .collection__teaser-item {
    flex-shrink: 0;
    margin-bottom: 0;
    margin: 0;
    padding: 0 #{$gap-between-teasers-mobile / 2} 0;
    position: relative; // to center ::after

    // Only needed when scrollable:
    // right-padding is ignored in scrollable containers (see https://blog.alexandergottlieb.com/overflow-scroll-and-the-right-padding-problem-a-css-only-solution-6d442915b3f4) 
    &:last-child:not(:first-child) {
      &::after {
        position: absolute;
        right: -#{$gap-between-teasers-mobile / 2};
        width: #{$gap-between-teasers-mobile / 2};
        height: 100%;
      }
    }
  }
}

.collection--swipeable {
  .collection__teaser-list {
    @include smartphone {
      @include nrOfTeasers('mobile', 'standard');
    }

    @include tablet {
      @include nrOfTeasers('tablet', 'standard');
    }

    @include desktop {
      @include nrOfTeasers('desktop', 'standard');
    }

    @include desktop-wide {
      @include nrOfTeasers('desktopwide', 'standard');
    }
  }

  .collection__teaser-item {
    @include smartphone {
      @include itemStyles('mobile', 'standard');
    }

    @include tablet {
      @include itemStyles('tablet', 'standard');
    }

    @include desktop {
      @include itemStyles('desktop', 'standard');
    }

    @include desktop-wide {
      @include itemStyles('desktopwide', 'standard');
    }
  }
}

.collection--compact-swipeable {
  .collection__teaser-list {
    @include smartphone {
      @include nrOfTeasers('mobile', 'compact');
    }

    @include tablet {
      @include nrOfTeasers('tablet', 'compact');
    }

    @include desktop {
      @include nrOfTeasers('desktop', 'compact');
    }

    @include desktop-wide {
      @include nrOfTeasers('desktopwide', 'compact');
    }
  }

  .collection__teaser-item {
    @include smartphone {
      @include itemStyles('mobile', 'compact');
    }

    @include tablet {
      @include itemStyles('tablet', 'compact');
    }

    @include desktop {
      @include itemStyles('desktop', 'compact');
    }

    @include desktop-wide {
      @include itemStyles('desktopwide', 'compact');
    }
  }
}

.collection--dense-swipeable {
  .collection__teaser-list {
    @include smartphone {
      // See EXCEPTION on the top of this file.
      @include listStyles('mobile', 'dense');
      @include nrOfTeasers('mobile', 'dense');
    }

    @include tablet {
      @include nrOfTeasers('tablet', 'dense');
    }

    @include desktop {
      @include nrOfTeasers('desktop', 'dense');
    }

    @include desktop-wide {
      @include nrOfTeasers('desktopwide', 'dense');
    }
  }

  .collection__teaser-item {
    @include smartphone {
      @include itemStyles('mobile', 'dense');
    }

    @include tablet {
      @include itemStyles('tablet', 'dense');
    }

    @include desktop {
      @include itemStyles('desktop', 'dense');
    }

    @include desktop-wide {
      @include itemStyles('desktopwide', 'dense');
    }
  }
}

// EXCEPTION:
// Teasers with no card in a compact swipeable have some extra padding/margin
// on mobile. This is hardcoded to not make this file 33% larger.
.collection--compact-swipeable-no-card {
  @include smartphone {
    // specificity is a wonderful thing
    .collection__teaser-item.collection__teaser-item.collection__teaser-item {
      &:first-child:not(:last-child) {
        margin-left: 12px;
      }

      &:last-child:not(:first-child) {
        &::after {
          right: -20px;
          width: 20px;
        }
      }

      &:only-child {
        padding: 0 20px;
      }
    }
  }
}
