<h3>Hero, 1 Teaser</h3>
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard-hero',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}

<h3>Hero, 3 Teasers</h3>
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard-hero',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}

<h3>Hero, 5 Teasers</h3>
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard-hero',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}

<h3>Default, 1 Teaser</h3>
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}

<h3>Default, 2 Teasers</h3>
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}

<h3>Default, 3 Teasers</h3>
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}

<h3>Default, 5 Teasers</h3>
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}

<h3>Swipeable, 5 Teasers</h3>
{% include 'organisms-collection' with {
    'styleModifier': 'collection--swipeable',
    'collection': {
        "title": "News Schweiz",
        "type": "swipeable",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
