<style>
    .js-collection-wrapper > h3 {
        padding: 12px 32px;
        cursor: pointer;
        padding: 8px 32px;
        margin: 8px 0;
        background-color: #fff;
        transition: background-color .2s ease-in-out;
    }

    .js-collection-wrapper > h3:hover {
        background-color: #e5e5e5;
    }
</style>

<p>(Click on title to toggle blocks)</p>
<button class="button js-close-all">Close all</button>
<button class="button js-open-all">Open all</button>

<div class="js-collection-wrapper">
    <h3>Hero, 1 Teaser</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--hero',
            "title": "News Schweiz",
            "type": "standard",
            "teasers": collections[0].teasers[0:1]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Hero, 3 Teasers</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--hero',
            "title": "News Schweiz",
            "type": "standard",
            "teasers": collections[0].teasers[0:3]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Hero, 5 Teasers</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--hero',
            "title": "News Schweiz",
            "type": "standard",
            "teasers": collections[0].teasers[0:5]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Duo, 1 Teaser</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--duo',
            "title": "News Schweiz",
            "type": "standard",
            "teasers": collections[0].teasers[0:1]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Duo, 3 Teasers</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--duo',
            "title": "News Schweiz",
            "type": "standard",
            "teasers": collections[0].teasers[0:3]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Duo, 5 Teasers</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--duo',
            "title": "News Schweiz",
            "type": "standard",
            "teasers": collections[0].teasers[0:5]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Standard, 1 Teaser</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--standard',
            "title": "News Schweiz",
            "type": "standard",
            "teasers": collections[0].teasers[0:1]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Standard, 2 Teasers</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--standard',
            "title": "News Schweiz",
            "type": "standard",
            "teasers": collections[0].teasers[0:2]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Standard, 3 Teasers</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--standard',
            "title": "News Schweiz",
            "type": "standard",
            "teasers": collections[0].teasers[0:3]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Standard, 5 Teasers</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--standard',
            "title": "News Schweiz",
            "type": "standard",
            "teasers": collections[0].teasers[0:5]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Swipeable, 5 Teasers</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--swipeable',
            "title": "News Schweiz",
            "titleLink": "https://www-test.srf.ch/news/wirtschaft",
            "lead": "1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte er Poeten.",
            "type": "swipeable",
            "teasers": collections[0].teasers[0:5]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Swipeable, 2 Teasers (= not actually swipeable, but standard</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--standard',
            "title": "News Schweiz",
            "type": "swipeable",
            "teasers": collections[0].teasers[0:2]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Compact Swipeable, 5 Teasers</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'styleModifier': 'collection--compact-swipeable',
        'collection': {
            "title": "News Schweiz",
            "type": "compact-swipeable",
            "teasers": collections[0].teasers[0:5]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Compact Swipeable, 2 Teasers (= not actually swipeable, but standard</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--compact',
            "title": "News Schweiz",
            "type": "compact-swipeable",
            "teasers": collections[0].teasers[0:2]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Compact Swipeable, 5 Teasers, Branded</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--compact-swipeable collection--branded',
            "title": "News Schweiz",
            "teasers": collections[0].teasers[0:5]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Standard, Title Link</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--standard',
            "title": "News Schweiz",
            "titleLink": "https://www-test.srf.ch/news/wirtschaft",
            "lead": "1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte er Poeten.",
            "type": "standard",
            "teasers": collections[0].teasers[0:1]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Standard, Title Link with spaces</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--standard',
            "title": "   Rund um den Globus   ",
            "titleLink": "https://www-test.srf.ch/news/wirtschaft",
            "lead": "1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte er Poeten.",
            "type": "standard",
            "teasers": collections[0].teasers[0:1]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Standard, Title Link, Branded</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--standard collection--branded',
            "title": "News Schweiz",
            "titleLink": "https://www-test.srf.ch/news/wirtschaft",
            "lead": "1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte er Poeten.",
            "type": "standard",
            "teasers": collections[0].teasers[0:1]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Standard + Lead</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--standard',
            "title": "News Schweiz",
            "lead": "1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte er Poeten.",
            "type": "standard",
            "teasers": collections[0].teasers[0:1]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Standard + Lead, Branded</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--standard collection--branded',
            "title": "News Schweiz",
            "lead": "1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte er Poeten.",
            "type": "standard",
            "teasers": collections[0].teasers[0:1]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Standard + Lead, Branded</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--standard collection--branded',
            "title": "News Schweiz",
            "lead": "1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte er Poeten.",
            "teasers": collections[0].teasers[0:1]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Compact, 3 Teaser</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--compact',
            "title": "News Schweiz",
            "type": "standard",
            "teasers": collections[0].teasers[0:3]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Compact, 5 Teaser</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--compact',
            "title": "News Schweiz",
            "type": "standard",
            "teasers": collections[0].teasers[0:5]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Highlight + Background-Image, 3 Teaser</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--highlight',
            "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
            "lead": "1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte er Poeten.",
            "title": "News Schweiz",
            "type": "standard",
            "teasers": collections[0].teasers[0:3]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Highlight + Background-Image, 1 Teaser, no lead</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--highlight',
            "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
            "title": "News Schweiz",
            "type": "standard",
            "teasers": collections[0].teasers[0:1]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Standard with Links, 3 Teaser</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--standard',
            "title": "News Schweiz",
            "type": "standard",
            "links": [
                {
                    "title": "Google",
                    "link": "https://www.google.com"
                }, {
                    "title": "Bing",
                    "link": "https://www.bing.com"
                }, {
                    "title": "DuckDuckGo",
                    "link": "https://www.duckduckgo.com"
                }
            ],
            "teasers": collections[0].teasers[0:3]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Standard with Links, 3 Teaser, branded</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--standard collection--branded',
            "title": "News Schweiz",
            "type": "standard",
            "links": [
                {
                    "title": "Google",
                    "link": "https://www.google.com"
                }, {
                    "title": "Bing",
                    "link": "https://www.bing.com"
                }, {
                    "title": "DuckDuckGo",
                    "link": "https://www.duckduckgo.com"
                }
            ],
            "teasers": collections[0].teasers[0:3]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Compact, 5 Teaser, Branded</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--compact collection--branded',
            "title": "News Schweiz",
            "type": "standard",
            "teasers": collections[0].teasers[0:5]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
<h3>Highlight + Background-Image, 3 Teaser</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'collection': {
        'styleModifier': 'collection--highlight',
        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
        "lead": "1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte er Poeten.",
        "title": "News Schweiz",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Highlight + Background-Image, 1 Teaser, no lead</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'collection': {
        'styleModifier': 'collection--highlight',
        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
        "title": "News Schweiz",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Standard with Links, 3 Teaser</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'collection': {
        'styleModifier': 'collection--standard',
        "title": "News Schweiz",
        "links": [
            {
                "title": "Google",
                "link": "https://www.google.com"
            }, {
                "title": "Bing",
                "link": "https://www.bing.com"
            }, {
                "title": "DuckDuckGo",
                "link": "https://www.duckduckgo.com"
            }
        ],
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Standard with Links, 3 Teaser, branded</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'collection': {
        'styleModifier': 'collection--standard collection--branded',
        "title": "News Schweiz",
        "links": [
            {
                "title": "Google",
                "link": "https://www.google.com"
            }, {
                "title": "Bing",
                "link": "https://www.bing.com"
            }, {
                "title": "DuckDuckGo",
                "link": "https://www.duckduckgo.com"
            }
        ],
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Standard with Links, 3 Teaser, branded</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'collection': {
        'styleModifier': 'collection--standard collection--branded',
        "title": "News Schweiz",
        "links": [
            {
                "title": "Google",
                "link": "https://www.google.com"
            }, {
                "title": "Bing",
                "link": "https://www.bing.com"
            }, {
                "title": "DuckDuckGo",
                "link": "https://www.duckduckgo.com"
            }
        ],
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>

<div class="js-collection-wrapper">
    <h3>Unboxed Standard with Links, 3 Teaser, branded</h3>
    <div class="js-collection-wrapper-content">
    {% include 'organisms-collection' with {
        'collection': {
            'styleModifier': 'collection--standard collection--unboxed collection--branded',
            "title": "News Schweiz",
            "type": "standard",
            "links": [
                {
                    "title": "Google",
                    "link": "https://www.google.com"
                }, {
                    "title": "Bing",
                    "link": "https://www.bing.com"
                }, {
                    "title": "DuckDuckGo",
                    "link": "https://www.duckduckgo.com"
                }
            ],
            "teasers": [
                {
                    "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                    "kicker": "Milchsee",
                    "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                    "link": "#",
                    "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                }, {
                    "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                    "kicker": "Milchsee",
                    "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                    "link": "#",
                    "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                }, {
                    "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                    "kicker": "Milchsee",
                    "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                    "link": "#",
                    "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                }
            ]
        }
    } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Two consecutive Standard, 3 Teaser, branded</h3>
    <div class="js-collection-wrapper-content">
        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--standard collection--branded',
                "title": "News Schweiz",
                "teasers": [
                    {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }
                ]
            }
        } %}
        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--standard collection--branded',
                "title": "News Schweiz",
                "links": [
                    {
                        "title": "Google",
                        "link": "https://www.google.com"
                    }, {
                        "title": "Bing",
                        "link": "https://www.bing.com"
                    }, {
                        "title": "DuckDuckGo",
                        "link": "https://www.duckduckgo.com"
                    }
                ],
                "teasers": [
                    {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }
                ]
            }
        } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>One Standard, 3 Teaser, branded; One Standard, 2 Teaser</h3>
    <div class="js-collection-wrapper-content">
        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--standard collection--branded',
                "title": "News Schweiz",
                "teasers": [
                    {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }
                ]
            }
        } %}
        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--standard',
                "title": "News Schweiz",
                "teasers": collections[0].teasers[0:3]
            }
        } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Longform-Teaser in Standard Collection</h3>
    <div class="js-collection-wrapper-content">
        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--standard',
                "teasers": [
                    {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "styleModifier": "teaser--longform",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "styleModifier": "teaser--longform",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "styleModifier": "teaser--longform",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }
                ]
            }
        } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Longform-Teaser in Standard Collection mit Teaser Links</h3>
    <div class="js-collection-wrapper-content">
        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--standard',
                "teasers": [
                    {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "styleModifier": "teaser--longform",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "showLinks": true,
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "styleModifier": "teaser--longform",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "showLinks": true,
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "styleModifier": "teaser--longform",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }
                ]
            }
        } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Longform-Teaser in Duo Collection</h3>
    <div class="js-collection-wrapper-content">
        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--duo',
                "title": "News Schweiz",
                "teasers": [
                    {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "styleModifier": "teaser--longform",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "styleModifier": "teaser--longform",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "styleModifier": "teaser--longform",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }
                ]
            }
        } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Longform-Teaser in Hero Collection</h3>
    <div class="js-collection-wrapper-content">
        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--hero',
                "title": "News Schweiz",
                "teasers": [
                    {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "styleModifier": "teaser--longform",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "styleModifier": "teaser--longform",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "styleModifier": "teaser--longform",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }
                ]
            }
        } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Longform-Teaser in Compact Collection</h3>
    <div class="js-collection-wrapper-content">
        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--compact',
                "title": "News Schweiz",
                "teasers": [
                    {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "styleModifier": "teaser--longform",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "styleModifier": "teaser--longform",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "styleModifier": "teaser--longform",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }
                ]
            }
        } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Borderless collection, 3 Teaser</h3>
    <div class="js-collection-wrapper-content">
        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--borderless collection--branded',
                "title": "News Schweiz",
                "teasers": [
                    {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }, {
                        "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                        "kicker": "Milchsee",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#",
                        "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
                    }
                ]
            }
        } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Borderless collection, 3 Teaser</h3>
    <div class="js-collection-wrapper-content">
        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--borderless',
                "title": "News Schweiz",
                "type": "standard",
                "teasers": collections[0].teasers[0:3]
            }
        } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Selectable Standard</h3>
    <div class="js-collection-wrapper-content">
        {% include 'organisms-collection' with {
            'collection': {
                "styleModifier": "collection--standard collection--selectable",
                "title": "Bern Freiburg Wallis",
                "titleLink": "https://hurrdurr.com",
                "lead": "Hier könnte Ihre Werbung stehen!",
                "selectableText": "Region wählen",
                "selectableGroups": [
                    "Zürich",
                    "Basel",
                    "Bern",
                    "Liechtenstein",
                    "St.Gallen",
                    "Wallis"
                ],
                "teasers": collections[0].teasers[0:3]
            }
        } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Selectable, Standard, Branded</h3>
    <div class="js-collection-wrapper-content">
        {% include 'organisms-collection' with {
            'collection': {
                "styleModifier": "collection--standard collection--selectable collection--branded",
                "title": "Bern Freiburg Wallis",
                "titleLink": "https://hurrdurr.com",
                "lead": "Hier könnte Ihre Werbung stehen!",
                "selectableText": "Region wählen",
                "selectableGroups": [
                    "Zürich",
                    "Basel",
                    "Bern",
                    "Liechtenstein",
                    "St.Gallen",
                    "Wallis"
                ],
                "teasers": collections[0].teasers[0:3]
            }
        } %}
    </div>
</div>

<div class="js-collection-wrapper">
    <h3>Selectable, Hero</h3>
    <div class="js-collection-wrapper-content">
        {% include 'organisms-collection' with {
            'collection': {
                "styleModifier": "collection--hero collection--selectable",
                "title": "Bern Freiburg Wallis",
                "titleLink": "https://hurrdurr.com",
                "lead": "Hier könnte Ihre Werbung stehen!",
                "selectableText": "Region wählen",
                "selectableGroups": [
                    "Zürich",
                    "Basel",
                    "Bern",
                    "Liechtenstein",
                    "St.Gallen",
                    "Wallis"
                ],
                "teasers": collections[0].teasers[0:3]
            }
        } %}
    </div>
</div>

<br><br><br>

<script>
    $(".js-collection-wrapper h3").on("click", function (e) {
        var $content = $(e.target).parent().find(".js-collection-wrapper-content");
        $content.toggle();
    });

    $(".js-open-all").on("click", function(e) {
        $(".js-collection-wrapper-content").show();
    });

    $(".js-close-all").on("click", function(e) {
        $(".js-collection-wrapper-content").hide();
    });

</script>
