<p>(Click on title to toggle blocks)</p>
<button class="button js-close-all">Close all</button>
<button class="button js-open-all">Open all</button>

<style>
    .collection--branded {
        background-image: linear-gradient(120deg, #be7878, #121c33);
    }
</style>

<div class="js-collection-wrapper">
<h3>Hero, 1 Teaser</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--hero',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": collections[0].teasers[0:1]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Hero, 3 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--hero',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": collections[0].teasers[0:3]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Hero, 5 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--hero',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": collections[0].teasers[0:5]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Duo, 1 Teaser</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--duo',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": collections[0].teasers[0:1]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Duo, 3 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--duo',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": collections[0].teasers[0:3]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Duo, 5 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--duo',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": collections[0].teasers[0:5]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Standard, 1 Teaser</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": collections[0].teasers[0:1]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Standard, 2 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": collections[0].teasers[0:2]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Standard, 3 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": collections[0].teasers[0:3]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Standard, 5 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": collections[0].teasers[0:5]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Swipeable, 5 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--swipeable',
    'collection': {
        "title": "News Schweiz",
        "titleLink": "https://www-test.srf.ch/news/wirtschaft",
        "lead": "1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte er Poeten.",
        "type": "swipeable",
        "teasers": collections[0].teasers[0:5]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Swipeable, 2 Teasers (= not actually swipeable, but standard</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "type": "swipeable",
        "teasers": collections[0].teasers[0:2]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Compact Swipeable, 5 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--compact-swipeable',
    'collection': {
        "title": "News Schweiz",
        "type": "compact-swipeable",
        "teasers": collections[0].teasers[0:5]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Compact Swipeable, 2 Teasers (= not actually swipeable, but standard</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "type": "compact-swipeable",
        "teasers": collections[0].teasers[0:2]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Standard, Title Link</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "titleLink": "https://www-test.srf.ch/news/wirtschaft",
        "lead": "1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte er Poeten.",
        "type": "standard",
        "teasers": collections[0].teasers[0:1]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Standard, Title Link, Branded</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard collection--branded',
    'collection': {
        "title": "News Schweiz",
        "titleLink": "https://www-test.srf.ch/news/wirtschaft",
        "lead": "1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte er Poeten.",
        "type": "standard",
        "teasers": collections[0].teasers[0:1]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Standard + Lead</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "lead": "1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte er Poeten.",
        "type": "standard",
        "teasers": collections[0].teasers[0:1]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Standard + Lead, Branded</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard collection--branded',
    'collection': {
        "title": "News Schweiz",
        "lead": "1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte er Poeten.",
        "type": "standard",
        "teasers": collections[0].teasers[0:1]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Compact, 2 Teaser</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--compact',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": collections[0].teasers[0:2]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Compact, 3 Teaser</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--compact',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": collections[0].teasers[0:3]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Compact, 5 Teaser</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--compact',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": collections[0].teasers[0:5]
    }
} %}
</div>
</div>

<script>
    $(".js-collection-wrapper h3").on("click", (e) => {
        let $content = $(e.target).parent().find(".js-collection-wrapper-content");
        $content.toggle();
    });

    $(".js-open-all").on("click", (e) => {
        $(".js-collection-wrapper-content").show();
    });

    $(".js-close-all").on("click", (e) => {
        $(".js-collection-wrapper-content").hide();
    });

</script>
