<p>(Click on title to toggle blocks)</p>

<div class="js-collection-wrapper">
<h3>Hero, 1 Teaser</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--hero',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Hero, 3 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--hero',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Hero, 5 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--hero',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Duo, 1 Teaser</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--duo',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Duo, 3 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--duo',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Duo, 5 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--duo',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Standard, 1 Teaser</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Standard, 2 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Standard, 3 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Standard, 5 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Swipeable, 5 Teasers</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--swipeable',
    'collection': {
        "title": "News Schweiz",
        "type": "swipeable",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }, {
                "title": "Wissenschaftler sagen: Kühe geben Milch",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>
</div>

<div class="js-collection-wrapper">
<h3>Standard + Lead</h3>
<div class="js-collection-wrapper-content">
{% include 'organisms-collection' with {
    'styleModifier': 'collection--standard',
    'collection': {
        "title": "News Schweiz",
        "lead": "1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte er Poeten.",
        "type": "standard",
        "teasers": [
            {
                "title": "Wissenschaftler sagen: Kühe geben Milch. Stadtbewohner erstaunt und entrüstet: 'Igitt!'",
                "kicker": "Milchsee",
                "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                "link": "#",
                "lead": "Neueste Erkenntnisse ergaben, dass Milch tatsächlich von Kühen kommt. Zürcher sind erstaunt und entrüstet."
            }
        ]
    }
} %}
</div>
</div>

<script>
    $(".js-collection-wrapper h3").on("click", (e) => {
        let $content = $(e.target).parent().find(".js-collection-wrapper-content");
        $content.toggle();
    });
</script>
