@mixin reply_to_comments_area() {
  width: calc(100% - 32px);
  font: 16px/24px $font-light;
  letter-spacing: 0.5px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.article-comments { // section
  background-color: $color-bg-caption;
  padding: 24px 32px;
  position: relative;
  @include smartphone {
    padding: 20px 8px;
  }
  .spinner-container {
    position: relative;
    margin-top: 30px;
    display: none;
  }
}
.comments-wrapper {
  background-color: #fefefd;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24),
              0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.comments-header {
  background-color: $color-link-bg-hover;
  position: relative;
  .reply-container {
    @include smartphone {
      padding-bottom: 16px;
    }
    &:before {
      content: none;
    }
  }
}

.comments--shrink { // check again!
    @include tablet-up {
      margin: 0 auto !important
    }
    @include tablet {
      max-width: 654px;
    }
    @include desktop-up {
      max-width: 712px;
    }
    @include desktop-wide {
      max-width: 790px;
    }
}

.comments-header__title {
  font: 22px/28px $font-medium;
  letter-spacing: .3px;
  margin: 0;
  padding: 16px;

  @include tablet-up {
    padding: 24px 16px 20px;
  }
}

.comments-header__button {
  width: 100%;
  font: 16px/24px $font-light;
  letter-spacing: .5px;
  color: #888579;
  text-align: left;
  padding: 12px;
  margin: 0 0 20px;
  border: 1px solid #b9b7ac; // what is this?!?
  border-radius: 2px;
  background: #fff;
  display: block;
  cursor: pointer;
  &:hover {
    color: #888579;
    border-bottom: 1px solid #b9b7ac;
  }
  @include tablet-up {
    width: calc(100% - 32px); // /:
  }
}

.comments-header__text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .5px;
  color: #4e4d47;
  margin: 0;
  padding: 0 16px 24px;
}

.comments-header__border { // hack :(
  position: absolute;
  width: 100%;
  border-bottom: 1px solid $color-separator;
  border-width: 0 0 1px;
  margin: 0;
  bottom: 0;
  z-index: 0;
}
.comments { // ul & ul ul
  margin: 0;
  padding: 0;
  position: relative;
}
.comments--replies { // ul ul
  margin-left: 10px;
  @include tablet-up {
    margin-left: 64px;
  }
}
.comment { // ul li
  border-top: 1px solid $color-separator;
  overflow: hidden;
  padding: 0;
  margin: 0 16px;
  &:before { // overwrite
    content: none;
  }
  @include tablet-up {
    margin: 0;
    padding: 0 16px;
  }
  .comment { // ul li li
    margin-right: 0;
    overflow: visible;
    &:before {
      content: "";
      position: absolute;
      height: 15px;
      width: 19px;
      left: -26px;
      top: -8px;
      background-image: url("../img/arrows/fancy_arrow.svg");
      @include tablet-up {
        left: -30px;
        top: 27px;
      }
    }
  }
}
.comments--main { // ul
  > .comment:first-child {
    border-top: 0;
    padding-top: 8px;
  }
  margin-bottom: 13px;
  clear: both;
  @include tablet-up {
    margin: 0 auto 32px !important
  }
}

.comment__user {
  font: 14px/20px $font-regular;
  letter-spacing: .5px;
  margin: 20px 0 2px;
  display: block;
  @include tablet-up {
    margin-top: 24px
  }
}
.comment__user--srf {
  background: transparent url("../img/srf_logo.svg") no-repeat scroll right 2px / 24px auto;
}
.comment__time {
  font: 12px/16px $font-system;
  color: $color-text-light;
  display: block;
}
.comment__content {
  font: 18px/28px $font-light;
  letter-spacing: .5px;
  margin: 12px 0 16px;
  @include tablet-up {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: .3px;
  }
}
.comment__link {
  border-bottom: 0;
  display: inline-block;
  cursor: pointer; // why would this be necessary!?
  padding: 0 10px;
  margin-bottom: 24px;
  font: 14px/16px $font-regular;
  letter-spacing: .2px;
  @include tablet-up {
    margin-bottom: 24px;
    font: 16px/24px $font-light;
  }
  &:first-of-type {
    padding-left: 0;
  }
  &:hover {
    border-bottom: 0;
  }
}
.comment__link--reply {
  border-left: 1px solid $color-separator;
}

.comment__link:visited, .comment__link--clicked {
  color: $color-text-light;
}

.tabs {
  height: 40px;
  margin: 0;
  padding: 0;
}
.tab-option {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
  &:before { // overwrite
    content: none;
  }
  @include tablet-up {
    width: auto;
  }
}

.tab-option__link {
  width: 100%;
  font: 16px/16px $font-regular;
  color: $color-tab-option-link;
  border-bottom: 1px solid $color-separator;
  padding: 12px 16px 0;
  height: 40px;
  white-space: nowrap;
  display: inline-block;
  &:hover {
    color: $color-tab-option-link;
    border-bottom: 1px solid $color-separator;
  }
  @include smartphone {
    text-align: center;
    padding: 12px 24px 0;
    font-size: 14px;
  }
}
.tab-option__link--selected {
  color: $color-accentuation-red;
  border-bottom: 2px solid $color-accentuation-red;
  padding-bottom: 10px;
  &:hover {
    color: $color-accentuation-red;
    border-bottom: 2px solid $color-accentuation-red;
  }
}

/// replies (interactive commenting)
.comment--reply { // li
  border-top: 0;
  @include tablet-up {
    &::before {
      top: 17px !important;
    }
  }
}

.comment--hide {
  display: none;
}

.reply-container { // form
  background: transparent;
  padding: 0 0 36px 0;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    height: 15px;
    left: -26px;
    top: -7px;
    width: 19px;
    background-image: url("../img/arrows/fancy_arrow.svg");
    @include tablet-up {
      left: -46px;
      top: 27px;
    }
  }
  @include smartphone {
    margin: 0 16px;
  }
}

.comment__placeholder {
  display: block;
  margin-left: 10px;
  @include tablet-up {
    margin-left: 80px;
  }
}

/* .comment__placeholder--primary {
  margin-left: 10px;
  @include tablet-up {
    margin-left: 80px;
  }
} */

.reply { // fieldset
  border: 1px solid #b9b7ac;
  border-radius: 2px;
  padding: 0;
  // padding: 11px 15px;
  background-color: #fff;
  margin: 0;
  position: relative;
  // this is not really working /:
  /* -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s; */
}

.reply--on-focus {
  border: 1px solid $color-text-accentuation;
}

/* .reply--mini {
  max-size: 24px;
}
.reply--size-up {
  max-size: 161px;
  @include tablet-up {
    max-size: 120px;
  }
} */

.reply__textarea {
  @include reply_to_comments_area();
  color: #383732;
  background-color: transparent;
  border: 0;
  border: 1px solid #b9b7ac;
  border-width: 0 0 1px;
  // border-radius: 2px;
  margin: 11px 15px 7px;
  // padding: 11px 15px;
  padding: 0 0 11px;
  position: relative;
  z-index: 2;
  height: 120px;
  @include tablet-up {
    height: 72px;
  }
  resize: none; // :/
  &:focus {
    outline: none;
    // border: 1px solid $color-text-accentuation; // #383732; <-- design :/
    @include smartphone { // perhaps?
      + .reply-info .reply-info__initial {
        display: none;
      }
    }
    + .reply-info .reply-info__count {
      display: block;
    }
  }
}

.reply-info {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #888579;
  margin: 0 16px 12px;
}

.reply-info__netiquette { // link
  font-size: 14px;
}

.reply-info__count {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #888579;
  float: right;
  display: none;
}

.reply-info__count--warn {
  color: $color-accentuation-red;
}

// txt higlighting
.reply__highlights {
  @include reply_to_comments_area();
  color: transparent;
  background-color: #fff;
  border: 12px solid #fff;
  border-width: 12px 16px;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  height: 120px;
  @include tablet-up {
    height: 72px;
  }
}

.reply--overboard {
  color: transparent;
  background-color: #ffe2e2;
}