<div class="button-bar {{styleModifier}}">
    {% include 'atoms-button' with {'styleModifier' : 'button--secondary',   'buttonText' : 'Gesendet'} %}
    {% include 'atoms-button' with {'styleModifier' : '',   'buttonText' : 'Senden'} %}
</div>