.button-bar {
  display: flex;
  flex-direction: column;

  @include tablet-up {
    flex-direction: row;

    > button {
      margin-right: 24px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.button-bar--centered {
  justify-content: center;
}
