/*
 *
 * Used by button.scss
 *
 */

$small-size: .8;
$big-size: 1;
$dark-attention-color: #aa0000;
$light-attention-color: #ff0000;

@keyframes pulsatingAnimation {
  0% {
    transform: scale($small-size);
    background-color: $dark-attention-color;
  }
  20% {
    transform: scale($big-size);
    background-color: $light-attention-color;
  }
  40% {
    transform: scale($small-size);
    background-color: $dark-attention-color;
  }
  60% {
    transform: scale($big-size);
    background-color: $light-attention-color;
  }
  80% {
    transform: scale($small-size);
    background-color: $dark-attention-color;
  }
  100% {
    transform: scale($small-size);
    background-color: $dark-attention-color;
  }
}
