/*** breakpoint related variables ***/
$mobile-min-width: 320px;
$mobile-max-width: 719px;

$tablet-min-width: 720px;
$tablet-max-width: 1023px;

$desktop-min-width: 1024px;
$desktop-max-width: 1279px;

$desktop-wide-min-width: 1280px;

$content-width: 1200px; // max-width 1280px - 2 * 40px Outside Gutter
$content-max-width: 1480px;


/*** breakpoint related mixins ***/
@mixin smartphone {
  @media (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-min-width) and (max-width: $desktop-max-width){
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin desktop-wide {
  @media (min-width: $desktop-wide-min-width) {
    @content;
  }
}

@mixin desktop-widest {
  @media (min-width: #{$content-max-width}) {
    @content;
  }
}

@mixin desktop-widest-down {
  @media (max-width: #{$content-max-width - 1px}) {
    @content;
  }
}
