/*! URHEBERRECHTSHINWEIS: Die SRG SSR Schrift und die dazugehoerige Software stehen im vollumfaenglichen Eigentum der SRG. Jede Bearbeitung, Vervielfaeltigung, Verbreitung und/oder oeffentliche Wiedergabe, insbesondere die ungenehmigte Uebernahme der SRG SSR Schrift stellt einen Rechtsverstoss dar, der zum Schadenersatz verpflichtet und auch strafrechtlich verfolgt wird. */

@font-face {
  font-family: 'SRG_SSR_Display_Light';
  src: url('../assets/fonts/SRGSSRTypeDisplay_W_Lt.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeDisplay_W_Lt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Display_Regular';
  src: url('../assets/fonts/SRGSSRTypeDisplay_W_Rg.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeDisplay_W_Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Display_Italic';
  src: url('../assets/fonts/SRGSSRTypeDisplay_W_It.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeDisplay_W_It.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Display_Medium';
  src: url('../assets/fonts/SRGSSRTypeDisplay_W_Md.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeDisplay_W_Md.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Display_Bold';
  src: url('../assets/fonts/SRGSSRTypeDisplay_W_Bd.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeDisplay_W_Bd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Display_Bold_Italic';
  src: url('../assets/fonts/SRGSSRTypeDisplay_W_BdIt.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeDisplay_W_BdIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Display_Heavy';
  src: url('../assets/fonts/SRGSSRTypeDisplay_W_He.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeDisplay_W_He.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Serif_Display_Light';
  src: url('../assets/fonts/SRGSSRTypeSerifDisplay_W_Lt.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeSerifDisplay_W_Lt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Serif_Display_Regulart';
  src: url('../assets/fonts/SRGSSRTypeSerifDisplay_W_Rg.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeSerifDisplay_W_Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Serif_Display_Medium';
  src: url('../assets/fonts/SRGSSRTypeSerifDisplay_W_Md.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeSerifDisplay_W_Md.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Light';
  src: url('../assets/fonts/SRGSSRTypeText_W_Lt.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeText_W_Lt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Regular';
  src: url('../assets/fonts/SRGSSRTypeText_W_Rg.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeText_W_Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Italic';
  src: url('../assets/fonts/SRGSSRTypeText_W_It.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeText_W_It.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Medium';
  src: url('../assets/fonts/SRGSSRTypeText_W_Md.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeText_W_Md.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Bold';
  src: url('../assets/fonts/SRGSSRTypeText_W_Bd.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeText_W_Bd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Bold_Italic';
  src: url('../assets/fonts/SRGSSRTypeText_W_BdIt.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeText_W_BdIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Heavy';
  src: url('../assets/fonts/SRGSSRTypeText_W_He.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeText_W_He.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Serif_Light';
  src: url('../assets/fonts/SRGSSRTypeSerifText_W_Lt.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeSerifText_W_Lt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Serif_Regular';
  src: url('../assets/fonts/SRGSSRTypeSerifText_W_Rg.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeSerifText_W_Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SRG_SSR_Serif_Medium';
  src: url('../assets/fonts/SRGSSRTypeSerifText_W_Md.woff2') format('woff2'), url('../assets/fonts/SRGSSRTypeSerifText_W_Md.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
