@import "variables";


/*
the following rule is - unfortunately - neccessary for consistency reasons with patternlab
since their styleguide kit uses it as well and their rule is applied to ALL styles (also
our own) within the patternlab...
*/
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: $color-srf-neutral-blacka00;
  -webkit-touch-callout: none;
}

html {
  overflow-x: hidden; // because of scrollbars caused by fullwith (100vw) elements
}

body {
  margin: 0;
  font-family: $font-light;
  background-color: $color-srf-warmgrey-25;
}

html,
body {
  line-height: $default-line-height-ratio;
}

ul,
ol {
  counter-reset: item;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: $color-srf-red-600;

  &:hover {
    color: $color-srf-red-800;
  }

  &:active {
    color: $color-srf-red-900;
  }
}

img {
  border-style: none;
  display: block;
  height: auto;
  width: 100%;
}

iframe {
  border: 0;
  width: 100%;
}

cite {
  font-style: normal;
}

b,
strong {
  font-family: $font-medium;
  font-weight: normal;
}

th {
  font-weight: normal;
}

// sass-lint:disable no-ids
#flying-focus::after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  content: "";
  position: absolute;
  box-shadow: 0 0 2px 1px $color-srf-blue-400, 0 0 0 1px $color-srf-blue-400, inset 0 0 0 1px $color-srf-blue-200;
  border-radius: 2px;
}
// sass-lint:enable no-ids

:focus {
  outline: none;
}

img:not([src]) {
  visibility: hidden;
}
