
/*
the following rule is - unfortunately - neccessary for consistency reasons with patternlab
since their styleguide kit uses it as well and their rule is applied to ALL styles (also
our own) within the patternlab...
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-light;
  background-color: #fefefd;
  overflow-x: hidden; // because of scrollbars caused by fullwith (100vw) elements
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

img {
  border-style: none;
  display: block;
  height: auto;
  width: 100%;
}

iframe {
  width: 100%;
}

cite {
  font-style: normal;
}

b,
strong {
  font-family: $font-medium;
  font-weight: normal;
}

th {
  font-weight: normal;
}