
/*
the following rule is - unfortunately - neccessary for consistency reasons with patternlab
since their styleguide kit uses it as well and their rule is applied to ALL styles (also
our own) within the patternlab...
*/
* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden; // because of scrollbars caused by fullwith (100vw) elements
}

body {
  margin: 0;
  font-family: $font-light;
  background-color: $color-bg-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

a {
  text-decoration: none;
  &:hover, &:active, &:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
  }
}

img {
  border-style: none;
  display: block;
  height: auto;
  width: 100%;
}

iframe {
  border: 0;
  width: 100%;
}

cite {
  font-style: normal;
}

b,
strong {
  font-family: $font-medium;
  font-weight: normal;
}

th {
  font-weight: normal;
}

.focus-ring-overlay {
  background: rgba(145, 206, 255, 0.25) !important;
  transition: top 0.25s, left 0.25s, width 0.25s, height 0.25s, opacity 0.1s !important;
}

.focus-ring {
  outline: none;
  box-shadow: 0 0 2px 1px rgba(66, 163, 241,1), 0 0 0 1px #42A3F1, inset 0 0 0 1px #91CEFF; border-radius: 2px;
  transition: ease-out 0.5s;
}

:focus:not(.focus-ring) {
  outline: none !important;
}