
/*
 * offscreen helper for accessibility
 * hides elements visually but not from screen readers
 */
.h-offscreen {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/*
 * offscreen helper for accessibility
 * hides elements visually but not from screen readers while still being focusable
 */
.h-offscreen-focusable {
  &:active,
  &:focus {
    position: relative;
    width: auto;
    height: auto;
    border: 1px solid #c91024;
    background: #fff;
    padding: 10px;
    z-index: 10000;
  }
}

.h-show-mobile {
    display:inline-block;
    @include tablet-up {
        display:none;
    }
}

.h-show-tablet-up {
    display:none;
    @include tablet-up {
        display:inline-block;
    }
}

.h-element--hide {
  display: none !important;
}

.h-element--invisible {
  visibility: hidden;
}

.h-element--visible {
  visibility: visible;
}