@import "mixins";

/*
 * offscreen helper for accessibility
 * hides elements visually but not from screen readers
 */
.h-offscreen {
  @include offscreen-non-focusable;
}

/*
 * offscreen helper for accessibility
 * hides elements visually but not from screen readers while still being focusable
 */
.h-offscreen-focusable {
  &:active,
  &:focus {
    position: relative;
    width: auto;
    height: auto;
    color: #fff;
    background: #1e8ce3;
    padding: 9px;
    z-index: 100001;
    top: 10px;
    left: 2px;
    clip: auto;
    @include fontSize(16);
  }
}

.h-offscreen-focusable--top {
  &:active,
  &:focus {
    position: absolute;
  }
}

.h-show-mobile {
  display: inline-block;

  @include tablet-up {
    display: none;
  }
}

.h-element--hide {
  display: none !important;
}

.h-element--invisible {
  visibility: hidden;
}

.h-element--visible {
  visibility: visible;
}

.h-prevent-scrolling {
  height: 100%;

  body {
    height: 100%;
    position: relative; // Because Safari doesn't prevent scrollbars without this
    overflow: hidden;
  }
}

/*
 * use for hiding elements after the css is loaded (visible during loading via critical css)
 */
.h-loading-only {
  display: none;
}
