

.l-card {
  max-width: $content-max-width;
  min-width: $size1;
  margin: 0 auto;
  background-color: $color-bg-card;
  box-shadow: $shadow-default;
}


// .l-content-wrapper = Grid
.l-content-wrapper {
  max-width: $content-width;
  min-width:320px;
  
  @include tablet-up {
    margin: 0 32px;
  }
  
  @include desktop-wide {
    margin: 0 auto;
  }
}

.l-full-width-container {
  @include fullwidth-element;
}

.l-main-media-container {
  margin-top: -32px;

  @include smartphone {
    margin-top: -24px;
  }
}

/* smaller devices treat embed components like full-width containers */
.l-embed-full-width-container {
  /* overwrite in component; components in loading state have a grey background */
  background-color: #dadad2;
  @include smartphone {
    @include fullwidth-element;
  }
}