/* centers element with content-max-width */
.l-main-wrapper {
  max-width: $content-width;
  min-width: $smartphone-size;
  margin: 0 auto;

  @include desktop {
    margin-right: 32px;
    margin-left: 32px;
  }
}

/* Adds some special spacing to the main-wrapper (i.e. for boxes like comments, swipe-module etc.) */
.l-main-wrapper__space {
  margin-right: 8px;
  margin-left: 8px;

  @include tablet {
    margin-right: 32px;
    margin-left: 32px;
  }

  @include desktop-up {
    margin-right: auto;
    margin-left: auto;
  }
}

/* Adds Card-Design (bg-color, shadow etc.) to Element */
.l-card {
  background-color: $color-bg-card;
  box-shadow: $shadow-default;
  margin-top: -1px; // prevent collapsing margin; part I
  padding-top: 1px; // prevent collapsing margin; part II
  margin-bottom: 20px;
  border-radius: 2px;

  @include tablet-up {
    margin-bottom: 24px;
  }

  // Clears collapsing margin for elements on the bottom of the card
  &::after {
    content: '';
    display: block;
    height: 1px;
    margin-top: -1px;
  }
}

.l-card--with-fullwidth-elements {
  @include desktop {
    overflow-x: hidden;
  }
}

.l-card-column-default {
  @include content-column-default;
}

.l-card-alternative-background {
    background-color: $color-bg-box;
}
