

/* let's an element break out of its parent container and stretch to the full width */
@mixin fullwidth-element {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}