

/* let's an element break out of its parent container and stretch to the full width */
@mixin fullwidth-element {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/* padding for text elements in the article */
@mixin article-text-padding {
  padding: 0 24px;

  @include tablet-up {
    padding: 0 16px;
  }
}

@mixin article-element-indentation {

  @include tablet {
    margin-left: auto;
    margin-right: auto;
    width: 476px;
  }

  @include desktop-up {
    margin-left: auto;
    margin-right: auto;
    width: 516px;
  }

  @include desktop-wide {
    width: 584px;
  }
}

@mixin link-text-inline {
  a {
    color: $color-link-default;
    border-bottom: 1px solid $color-link-default;

    &:hover {
      color: $color-link-hover;
      border-bottom: 1px solid $color-link-hover;
    }

    &:active {
      color: $color-link-active;
      border-bottom: 1px solid $color-link-active;
    }
  }
}

@mixin rotate-spinner {
  100% {
    transform: rotate(360deg);
  }
}
@mixin dash-spinner {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@mixin button-label {
  position: relative;
  display: block;
  font: 16px/24px $font-regular;
  letter-spacing: .5px;
  color: $color-text-default;
  background-color: $color-bg-box;
  margin: 0 0 2px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  padding: 14px 16px 14px 48px;

  &:hover, &:active, &:focus {
    background-color: $color-bg-box-hover;
  }
}

@mixin spinner($lineWidth: 1px, $dashColor: #e31f2b, $bgColor: #dadad2, $parentColor: #4e4d47) {

  position: relative;
  height: 24px;
  width: 24px;
  animation: rotateAnimation 2s linear infinite;
  border: $lineWidth $dashColor solid;
  border-radius: 50%;

  /* NON-RETINA - spinner looks ugly with the grey half-circles, so hide them by painting them in the same color as the parent (see param) */
  &::before,
  &::after {
    content: '';
    position: absolute;
    box-sizing: border-box;

    animation: rotateAnimation 2s infinite ease;

    width: calc(50% + #{$lineWidth * 3});
    height: calc(100% + #{$lineWidth * 6});

    top: -#{$lineWidth * 3};

    border: #{$lineWidth * 3} solid $parentColor;
    background-color: $parentColor;
  }

  &::before {
    animation-delay: 1.5s;
    border-radius: 9999px 0 0 9999px;
    border-right: none;
    left: -#{$lineWidth * 3};
    transform-origin: 100% 50%;
  }

  &::after {
    border-radius: 0 9999px 9999px 0;
    border-left: none;
    left: 50%;
    transform-origin: 0 50%;
  }


  /* RETINA: show the grey half-circles */
  @media screen and (-webkit-min-device-pixel-ratio:2 ),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx),
                    (-o-min-device-pixel-ratio:20/10) {
    &::before,
    &::after {
      width: calc(50% + #{$lineWidth});
      height: calc(100% + #{$lineWidth * 2});
      top: -#{$lineWidth};
      border-width: #{$lineWidth};
      border-color: $bgColor;
      background-color: transparent;
    }

    &::before {
      left: -#{$lineWidth};
    }
  }
}

@keyframes rotateAnimation {
  0% {   transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}