.ripple {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  transform: translateZ(0);
  border-radius: inherit;
  pointer-events: none;
  animation: rippleShadowAnimation .4s forwards;
}

.rippleWave {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 50%;
  transform: scale(.7);
  background: rgba(255,255,255,1);
  opacity: .45;
  animation: rippleAnimation 2s forwards;
}
