@import "mixins";

/*
 * This file exists solely for nasty browser hacks, fallbacks and fixes.
 *
 * It is envisaged that we DELETE the code-snippets as soon as support for each targeted browser is deprecated.
 * Therefore watch out for the «TARGETED BROWSER»-comments at the beginning of each function in this file.
 */




/*
 * TARGETED BROWSER: IE 11 and Edge <= 15
 *
 * This styles are needed for image--media-still classes on which the object-fit-fallback of srf-shame.js is applied.
 * Parents of elements with those classes usually restrict the aspect ratio of its box. Without the following rules
 * the height of the fallback-<div> would be 0.
 *
 */
.image--media-still,
.image--media-still-video {
  .js-fake-image-object-fit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.teaser__medium-wrapper {
  .js-fake-image-object-fit {
    height: 100%;
    position: absolute;
  }
}
.image--media-still-dynamic {
  .js-fake-image-object-fit {
    height: 100%;
    position: relative;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .teaser__medium-wrapper-xl-only {
    flex: 0 0 65.75%;
    .teaser__medium-wrapper {
      flex-basis: auto;
    }
  }
}

/*
 * TARGETED BROWSER: IE 11
 *
 * CSS Custom Properties double-fallbacks 'cause of IE 11 … why-oh-why do we still support Internet Explorer!?
 * Tell me, tell me now! Your arguments better be damn good!
 */
_:-ms-fullscreen,
:root .modal.modal--theme-dark .modal-main-wrapper {
  background-image: linear-gradient(135deg, $color-srf-warmgrey-1100, $color-srf-neutral-1000);
  box-shadow: $shadow-elevation8;

  .icon-button {
    color: $color-srf-neutral-white;
  }

  .icon-button__icon {
    .svg-icon--close-dark {
      background-image: url(../img/icon/close-white.svg);
    }
  }

  .search-wrapper {
    background-color: $color-srf-neutral-blacka20;
    border: 1px solid $color-srf-neutral-whitea12;

    .search-input {
      color: $color-srf-neutral-white;
    }

    .search-icon {
      background-position: 10px -32px;
    }
  }

  .search--active {
    .search-wrapper {
      box-shadow: $shadow-elevation4;
      background-color: $color-srf-neutral-offwhite;
      border: 1px solid $color-srf-neutral-blacka08;
      border-bottom: 0;
    }

    .search-input {
      color: $color-srf-neutral-black;
    }
  }
}

/*
 * TARGETED BROWSER: Safari
 *
 * Safari has troubles combining overflow-x: hidden and its own webkit-overflow-scrolling: touch.
 * This makes the 3rd-level-Navigation points not show up.
 */
.subnav--open-3rd-level {
  overflow-x: auto;

  .subnav__list {
    -webkit-overflow-scrolling: initial;
  }
}

/*
 * TARGETED BROWSER: Safari 10.*
 *
 * Mobile Safari on iOS 10.* does not trigger clicks on the Media elements.
 *
 * http://www.shdon.com/blog/2013/06/07/why-your-click-events-don-t-work-on-mobile-safari
 * > It does not generate click events for elements that do not have either or both of:
 * > - A directly bound onclick handler.
 * > - The cursor property set to pointer in CSS.
 */
.js-media {
  cursor: pointer;
}

/*
 * TARGETED BROWSER: IE 11
 *
 * IE11 does not support css custom properties.
 * Thats ok.
 * There are fallbacks in place.
 * And IE sucks anyway.
 * And IE users do not have to have the shiny modern web we all know and love.
 * But sometimes we need to have an extended fallback solution. Like, if you really have to see a theme (color or labeling/tagging) somehow in IE11.
 * THIS is for one of those times.
 */

.teaser__prekicker--fixed-for-ie {
  // 1st: Overwrite the "offscreen-non-focusable" mixin
  position: static;
  width: auto; // pretty cool but not IE: WebKit does have a -webkit-fit-content value for width, which would fix the full-width-problem
  height: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  clip: auto;
  border: 0;

  strong {
    // 2nd: Style to the max! (its pretty much a carbon copy of .teaser__live from teaser.scss)
    display: inline-block;
    margin: 0 8px 8px 0;
    padding: 2px 6px 0;
    background-color: $color-srf-red-500;
    font-family: $font-medium;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: $color-srf-neutral-white;
    text-transform: uppercase;
    @include font-smoothing;
    @include fontSize(12);
    line-height: $secondary-line-height-ratio;
  }
}

.teaser--size-m,
.teaser--size-l,
.teaser--size-xl {
  .teaser__prekicker--fixed-for-ie strong {
    @include tablet-up {
      @include fontSize(16);
    }
  }
}

/*
 * TARGETED BROWSER: IE 11
 *
 * removing blue bar on ie11's selected option within select menu (polis/chmap)
 */
.select-menu:focus::-ms-value {
  color: $color-srf-warmgrey-900;
  background-color: $color-srf-warmgrey-200;
}

/*
 * TARGETED BROWSER: IE 11
 *
 * bottom and right borders (which are created by box-shadows) of collections and teasers are not rendered
 * properly in many cases. increasing the shadow blur solves it.
 */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .teaser,
  .collection__content-wrapper {
    box-shadow: 0 0 2px 0 $color-srf-neutral-blacka16, 0 0 2px 0 $color-srf-neutral-blacka08;
  }
}

/*
 * TARGETED BROWSER: IE 11
 *
 * IE11 does not know css custom properties - here are some fallback overrides
 */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .teaser--with-medium.teaser--size-s {
    .media-still__indicator {
      display: none;
    }
  }

  .teaser--with-medium.teaser--size-s-on-mobile {
    .media-still__indicator {
      @include smartphone {
        display: none;
      }
    }
  }

  .teaser--theme-dark {
    color: $color-srf-neutral-white;
    background-color: $color-srf-warmgrey-1100;

    &:after {
      background-color: $color-srf-neutral-whitea12;
    }

    .teaser__kicker {
      color: $color-srf-warmgrey-100;
    }

    .teaser__title,
    .teaser__lead,
    .teaser-info,
    .teaser-info--live-pre,
    .teaser-info--live-live,
    .teaser-info--new,
    .teaser-info--visited-and-recently-updated,
    .teaser-info--visited,
    .teaser-info--visited-and-updated,
    .teaser-info--mediaicon-video,
    .teaser-info--mediaicon-audio,
    .teaser-info--mediaicon-image,
    .teaser-info--media-caption {
      color: $color-srf-neutral-white;
    }
  }
  .teaser--longform {
    .block-link--teaser-link:hover {
      color: $color-srf-neutral-white;
      background-color: $color-srf-neutral-whitea08;
    }

    .block-link--internal.block-link--teaser-link,
    .block-link--external.block-link--teaser-link,
    .block-link--video.block-link--teaser-link,
    .block-link--audio.block-link--teaser-link,
    .block-link--pdf.block-link--teaser-link,
    .block-link--docx.block-link--teaser-link,
    .block-link--document.block-link--teaser-link {
      background-color: transparent;
      color: $color-srf-neutral-white;
      border-top-color: $color-srf-neutral-whitea08;
    }

    .block-link--internal.block-link--teaser-link::after {
      background-image: url('../img/icon/caret_white.svg');
    }

    .block-link--video.block-link--teaser-link::after {
      background-image: url('../img/icon/play-video-circle-white.svg');
    }

    .block-link--audio.block-link--teaser-link::after {
      background-image: url('../img/icon/play-audio-circle-white.svg');
    }

    .teaser__longform-medium {
      .image--media-still-dynamic {
        height: 100%;
      }
    }
  }
}

/*
 * TARGETED BROWSER: Chrome and Firefox on macOS
 *
 * Changes subpixel anti-aliasing to normal antialiasing (font-smoothing) to themed modal Close-Button-Text
 * Safari already does this by default -> and on macOS Mojave subpixel anti-asliasing has been removed from the system entirely -> TODO: Let us remove font-smoothing globally when time comes.
 */
.modal.modal--theme-dark .icon-button {
  @include font-smoothing;
}

/**
 * TARGETED BROWSER: Firefox 52 but since that's not easily possible, we target FF < 57 here.
 * Old Firefox version (52) doesn't play nice with the ratio element and grid, which is used
 * in the XL teasers because of opinion/live center results elements.
 * Very sad. (⌯˃̶᷄ ﹏ ˂̶᷄⌯)
 */
@-moz-document url-prefix() {
  @supports not (animation: calc(0s)) {
    .teaser--size-xl .teaser__main {
      display: flex;

      .ratio-wrapper {
        height: auto;
      }
    }
  }
}

/*
 * TARGETED BROWSER: IE 11
 *
 * IE11 has troubles with animations :/ :/ :/
 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .typeahead-suggestion {
    animation-name: nullAnimation;
    animation-delay: 0s;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    max-height: none;
  }
}

/*
 * TARGETED BROWSER: Edge
 *
 * Edge has troubles with animations :/ :/ :/ :/ :/
 */

@supports (-ms-ime-align: auto) {
  .typeahead-suggestion {
    animation-name: nullAnimation;
    animation-delay: 0s;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    max-height: none;
  }
}

/* TARGETED BROWSER: Safari and Chrome
 *
 * Somehow, Safari and Chrome cut of the 24px ⨉ 24px SVG-Icon (background-image) by one pixel on its right side. These bowsers need a larger canvas to render the background-image in its full size (24⨉24). 🙄

 * Reference: https://srfmmz.atlassian.net/browse/SRFCMSAL-1575
 * Note: Incrementing one pixel does not change the position of the icon or the spacing between the icon and its label text.
 */
.masthead .svg-icon--play-video-circle {
  width: 25px;
}

/**
 * TARGETED BROWSER: IE 11
 *
 * IE11 gets confused when we have img-lazyloading, object-fit fallback and
 * when it's outside of the viewport, e.g. in swipeable collections.
 * A clean fix for IE11 only that can handle lazyloading + object-fit fallback
 * would consume too much time.
 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .image--media-still-dynamic > img:not([src]) {
    width: 0;
  }
}

/*
 * TARGETED BROWSER: Safari and Voice Over
 * WHY:              Browser "feature"
 * VoiceOver and Safari (macOS and iOS) remove list element semantics when list-style: none is used
 * See: - https://unfetteredthoughts.net/2017/09/26/voiceover-and-list-style-type-none/
 *      - https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
 */
.portalsnav,
.subnav,
.globalnav,
.collection__teaser-list {
  li:before {
    content: "\200B"; /* add zero-width space */
    position: absolute; /* addition */
  }
}

/**
 * TARGETED BROWSER: Safari 12
 * prevent odd wrapping behaviour in Safari 12 (see SRFCMSAL-2144)
 */
.collection__title-link {
  white-space: pre-wrap;
}


/*
 * TARGETED BROWSER: IE11
 * WHY:              IE needs specific directions in grids
 * Without IE11, we can then finally get rid of the explicit grid definitions.
 */
.scoreboard {
  .scoreboard__col-2 {
    grid-column: 2;
  }

  .scoreboard__col-3 {
    grid-column: 3;
  }

  .scoreboard__col-4 {
    grid-column: 4;
  }

  .scoreboard__col-5 {
    grid-column: 5;
  }

  .scoreboard__row-1 {
    grid-row: 1;
  }

  .scoreboard__row-2 {
    grid-row: 2;
  }

  .scoreboard__row-3 {
    grid-row: 3;
  }
}

/**
 * TARGETED BROWSER: Chrome
 * When an element with css filter overlaps an element with an animation, there
 * seems to be a bug in Chrome: https://codepen.io/piko_/pen/pBpjpN?editors=1100
 */
.teaser--longform.teaser--with-links {
  .teaser__main::after {
    top: 0;
    height: calc(100% - 1px);
  }
}

/**
 * TARGETED BROWSER: IE11
 * When the supported browser list contains ie11, autoprefixer for grid shows a warning that
 * there are unused grid areas. This ugly workaround hides the warning at buildtime.
 */
.canton-map__unused-grid-area {
  grid-area: aa;
  grid-area: ab;
  grid-area: ac;
  grid-area: ad;
  grid-area: ae;
  grid-area: ag;
  grid-area: ah;
  grid-area: ba;
  grid-area: bb;
  grid-area: ca;
  grid-area: cb;
  grid-area: da;
  grid-area: eb;
  grid-area: ed;
  grid-area: eg;
  grid-area: eh;
  grid-area: fa;
  grid-area: fb;
  grid-area: fc;
  grid-area: fd;
  grid-area: fe;
  grid-area: fg;
  grid-area: fh;
}
