/*
 * This file exists solely for nasty browser hacks, fallbacks and fixes.
 *
 * It is envisaged that we DELETE the code-snippets as soon as support for each targeted browser is deprecated.
 * Therefore watch out for the «TARGETED BROWSER»-comments at the beginning of each function in this file.
 */




/*
 * TARGETED BROWSER: IE 11 and Edge <= 15
 *
 * This styles are needed for image--media-still classes on which the object-fit-fallback of srf-shame.js is applied.
 * Parents of elements with those classes usually restrict the aspect ratio of its box. Without the following rules
 * the height of the fallback-<div> would be 0.
 *
 */
.image--media-still,
.image--media-still-video {
  .js-fake-image-object-fit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.teaser__medium-wrapper {
  .js-fake-image-object-fit {
    height: 100%;
    position: absolute;
  }
}
.image--media-still-dynamic {
  .js-fake-image-object-fit {
    position: relative;
  }
}

/*
 * TARGETED BROWSERS: ALL :(
 *
 * For iOS mobile devices we did some funky stuff with the <html> and <body> element (namely position: relative;) on
 * the body and position: fixed; on the menu on tablet-up. This results in wrong positioning of the Floating-Focus-Elem.
 * After the Header has been properly fixed, this can be removed.
 */
// sass-lint:disable no-ids
.menu--opened #flying-focus {
  margin-top: -56px;
}

@media (max-width: 719px) {
  .menu--opened #flying-focus {
    display: block;
    margin-top: 0;
  }
}
// sass-lint:enable no-ids


/*
 * TARGETED BROWSER: IE 11
 *
 * IE11 _sometimes_ has problems with scaled images with svg sources. The usual remedies (viewbox, no widths, etc.)
 * didn't help. This is the last resort - hiding the img and setting a background-image on the parent.
 */
.header-startlink--fixed-for-ie {
  width: 39px;
  height: 26px;
  background-image: url('../img/srf_logo_fallback.png');
  margin: 15px 16px;
  padding: 0;
}

.header-startlink--fixed-for-ie-rtr {
  background-image: url('../img/rtr_logo_fallback.png');
}

.header-startlink--fixed-for-ie .header-logo {
  display: none;
}



/*
 * TARGETED BROWSER: IE 11
 *
 * CSS Custom Properties double-fallbacks 'cause of IE 11 … why-oh-why do we still support Internet Explorer!?
 * Tell me, tell me now! Your arguments better be damn good!
 */
_:-ms-fullscreen,
:root .modal.modal--theme-dark .modal-main-wrapper {
  background-image: linear-gradient(135deg, #22211d, #111111);
  box-shadow: $shadow-elevation8;
}


/*
 * TARGETED BROWSER: IE 11
 *
 * overriding the img { height: auto } in _globals.scss because "IE will auto-scale the image area to keep the width:height
 * aspect ratio constant, but it won't scale the actual drawing to match the scale of the image dimensions.
 * see: https://css-tricks.com/scale-svg/#article-header-id-2
 */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-logo {
    img {
      height: 100%;
    }
  }
}


/*
 * TARGETED BROWSER: Safari
 *
 * Safari has troubles combining overflow-x: hidden and its own webkit-overflow-scrolling: touch.
 * This makes the 3rd-level-Navigation points not show up.
 */
.subnav--open-3rd-level {
  overflow-x: auto;

  .subnav__list {
    -webkit-overflow-scrolling: initial;
  }
}

/*
 * TARGETED BROWSER: Safari 10.*
 *
 * Mobile Safari on iOS 10.* does not trigger clicks on the Media elements.
 *
 * http://www.shdon.com/blog/2013/06/07/why-your-click-events-don-t-work-on-mobile-safari
 * > It does not generate click events for elements that do not have either or both of:
 * > - A directly bound onclick handler.
 * > - The cursor property set to pointer in CSS.
 */
.js-media {
  cursor: pointer;
}

/*
 * TARGETED BROWSER: IE 11
 *
 * IE11 does not support css custom properties.
 * Thats ok.
 * There are fallbacks in place.
 * And IE sucks anyway.
 * And IE users do not have to have the shiny modern web we all know and love.
 * But sometimes we need to have an extended fallback solution. Like, if you really have to see a theme (color or labeling/tagging) somehow in IE11.
 * THIS is for one of those times.
 */

.teaser__prekicker--fixed-for-ie {
  // 1st: Overwrite the "offscreen-non-focusable" mixin
  position: static;
  width: auto; // pretty cool but not IE: WebKit does have a -webkit-fit-content value for width, which would fix the full-width-problem
  height: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  clip: auto;
  border: 0;

  strong {
    // 2nd: Style to the max! (its pretty much a carbon copy of .teaser__live from teaser.scss)
    display: inline-block;
    margin: 0 8px 8px 0;
    padding: 2px 6px 0;
    background-color: $color-srf-light;
    font-family: $font-medium;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: uppercase;
    @include font-smoothing;
  }
}

.teaser--size-m,
.teaser--size-l,
.teaser--size-xl {
  .teaser__prekicker--fixed-for-ie strong {
    @include tablet-up {
      font-size: 16px;
    }
  }
}

/*
 * TARGETED BROWSER: IE 11
 *
 * removing blue bar on ie11's selected option within select menu (polis/chmap)
 */
.select-menu:focus::-ms-value {
  color: $color-text-accentuation;
  background-color: #cac8bf;
}

/*
 * TARGETED BROWSER: IE 11
 *
 * bottom and right borders (which are created by box-shadows) of collections and teasers are not rendered
 * properly in many cases. increasing the shadow blur solves it.
 */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .teaser,
  .collection__content-wrapper {
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.16), 0 0 2px 0 rgba(0,0,0,0.08);
  }
}

/*
 * TARGETED BROWSER: IE 11
 *
 * IE11 does not know css custom properties - here are some fallback overrides
 */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .teaser--with-medium.teaser--size-s {
    display: none;
  }
  .teaser--with-medium.teaser--size-s-on-mobile {
    @include smartphone {
      display: none;
    }
  }
}

/*
 * TARGETED BROWSER: Chrome and Firefox on macOS
 *
 * Changes subpixel anti-aliasing to normal antialiasing (font-smoothing) to themed modal Close-Button-Text
 * Safari already does this by default -> and on macOS Mojave subpixel anti-asliasing has been removed from the system entirely -> TODO: Let us remove font-smoothing globally when time comes.
 */
.modal.modal--theme-dark .icon-button {
  @include font-smoothing;
}
