/*** COLORS ***/
$color-accentuation-red: #c91024;
$color-bg-caption: #F5F5F2;
$color-bg-box: #EBEBE5;
$color-bg-box-hover: #dadad2;
$color-link-default: $color-accentuation-red;
$color-link-hover: #8d0614;
$color-link-active: #6a0b0c;
$color-link-bg-hover: #fafaf8;
$color-link-bg-active: $color-bg-caption;
$color-list-bullet: $color-accentuation-red;
$color-separator: $color-bg-box;
$color-text-default: #22211d;
$color-text-accentuation: #4E4D47;
$color-text-light: #888579;
$color-table-bg-zebra-light: $color-link-bg-hover;
$color-table-bg-zebra-dark: $color-bg-caption;
$color-table-bg-header: $color-bg-box;
$color-border: #cac8bf;
$color-border-medium: #D2D2D2;

/*** FONTS ***/
$font-medium: 'SRG_SSR_Medium', sans-serif;
$font-regular: 'SRG_SSR_Regular', sans-serif;
$font-light: 'SRG_SSR_Light', sans-serif;
$font-serif: 'SRG_SSR_Serif_Regular', serif;

// System UI font stack, for details see
// https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",  sans-serif;
