@import "fonts";
@import "variables";
@import "breakpoints";
@import "01-global/05-fonts";
@import "15-templates/article";
@import "05-elements/article/article-author";
@import "05-elements/article/article-text";
@import "10-components/article-header/article-header";
@import "10-components/blockquote/blockquote";
@import "10-components/image/image";
@import "10-components/linkbox/linkbox";
@import "10-components/textbox/textbox";

body {
  margin: 0;
  font-family: $font-light;
  background-color: #fefefd;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
}