@import "../../variables";
@import "../../breakpoints";

$_image-tablet-width: 163px;

.related-list {
  color: $color-text-default;
  margin: 24px 0 32px;

  @include tablet-up {
    margin: 32px 0 40px;
  }

  .article-audio__link {
    margin: 0;
  }

  .article-video {
    display: inline-block;
    width: 100%;
  }

  .article-audio,
  .article-video {
    margin: 0;
  }

  // player overwrites
  .media-window-container {
    .article-video {
      &:active {
        background-color: $color-link-bg-hover; // #fefefd;
      }
    }
  }

  .media-window {
    &::after { // dreieckli
      border-bottom: solid 10px #fefefd;
    }
  }

  .article-audio__wrapper,
  .article-video__wrapper {
    width: $_image-tablet-width;
    height: $image-size-preview;
    margin: 16px 0 16px 16px;

    @include smartphone {
      width: $image-size-preview;
    }

    &::before {
      width: $_image-tablet-width;
      height: $image-size-preview;

      @include smartphone {
        width: $image-size-preview;
      }
    }
  }

  .article-audio__play-icon,
  .article-video__play-icon {
    width: 46px;
  }

  .article-audio .image-figure__image,
  .article-video .image-figure__image {
    width: $_image-tablet-width;
    height: $image-size-preview;

    @include smartphone {
      width: $image-size-preview;
    }
  }

  .linkbox__list {
    border-bottom: 1px solid #ebebe5;

    @include tablet-up {
      margin-left: 8px;
    }
  }
}

.related-elements {
  border-bottom: 1px solid #ebebe5;
  border-top: 1px solid #ebebe5;
  list-style: none;
  padding: 0;
  margin: 0;
}

.related-list__heading {
  font-family: $font-regular;
  font-size: 14px;
  line-height: 1.41;
  letter-spacing: .5px;
  color: $color-text-light;
  margin: 0;
  padding: 10px 25px;
  text-transform: uppercase;

  @include tablet-up {
    padding: 10px 16px;
  }
}

.related-item {
  border-bottom: 1px solid #ebebe5;
  background: none;
  margin: 0;
  padding: 0;

  &:last-child {
    border-bottom: none;
  }

  &::before {
    display: none;
  }

  // different to video / video-gallery
  .video--loading,
  .video--playing {

    &.article-video {
      background-color: #fefefd; // $color-link-bg-hover;
    }

    .article-video__play-icon {
      display: none;
    }

    .media-caption__title {
      color: $color-text-default;
    }

    .media-caption__source {
      color: $color-text-light;
    }
  }
}
