<div class="media-play">
    <img class="media-play__icon" src="{{ frameworkAssetPath }}/img/{{ media|default('video') }}-play.svg" width="72" height="72" alt="">
    <span class="media-play__length">{{ runtime|default('3:15') }}<span class="h-offscreen">min</span></span>
</div>
