<header class="article-header">
    <h1 class="article-header__title">Vor 20 Jahren forderte Cyberpionier Barlow: «Lasst uns in Ruhe!»</h1>
    <p class="article-header__lead">
        1996 schrieb John Perry Barlow die «Unabhängigkeitserklärung des Cyberspace». Darin kritisierte der Poet und Aktivist erstaunlich früh die staatliche Kontrolle.
    </p>
    {% include 'elements-article-author' %}
</header>