<header class="article-header">
    <h1 class="article-header__title">{{ articleHeader.title }}</h1>
    <p class="article-header__lead">
        {{ articleHeader.lead }}
    </p>
    {% include 'elements-article-author' %}
</header>