.show-info__info-wrap {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  padding: 16px 24px;
  max-width: $content-width;

  @include tablet-up {
    padding: 16px 32px;
  }

  @include desktop-wide {
    padding: 20px 40px;
  }
}

.show-info__cover {
  width: 112px;
  height: 112px;
  margin: 0 12px 16px 0;

  @include tablet-up {
    position: absolute;
    left: 32px;
    margin-right: 24px;
  }

  @include desktop-wide {
    left: 40px;
  }
}

.show-info__cover-image {
  width: 112px;
  height: 112px;
}

.show-info__header {
  flex-basis: calc(100% - (112px + 12px));

  @include tablet-up {
    flex-basis: calc(100% - (112px + 24px));
  }
}

.show-info__content {
  flex-basis: 100%;

  @include tablet-up {
    flex-basis: calc(100% - (112px + 24px));
  }
}

.show-info__link {
  margin-bottom: 12px;
  font-family: $font-regular;
  @include fontSize(14);
  line-height: $secondary-line-height-ratio;
  display: inline-block;

  @include tablet-up {
    @include fontSize(16);
  }

  &:hover {
    .svg-icon {
      filter: brightness(0.6);
    }
  }

  .svg-icon {
    position: relative;
    top: 7px;
    bottom: 7px;
  }
}

.show-info__link--black {
  font-family: $font-medium;
  color: inherit;
  padding: 16px;
  margin: 0 0 16px 0;
  display: flex;
  justify-content: space-between;

  @include tablet-up {
    display: inline-block;
  }

  &:hover {
    color: inherit;

    .svg-icon {
      filter: brightness(1);
    }
  }

  @include smartphone {
    width: 100%;
    .svg-icon {
      float: right;
      top: 0;
      bottom: 0;
    }
  }
}

.show-info__title {
  font-family: $font-medium;
  @include fontSize(24);
  line-height: $emphasize-line-height-ratio;
  color: $color-srf-warmgrey-1100;
  margin-top: 0;
  margin-bottom: 8px;

  a {
    color: inherit;
  }

  @include desktop-up {
    @include fontSize(28);
  }
}

.show-info__title--compact {
  @include fontSize(18);

  @include tablet-up {
    @include fontSize(20);
  }
}

.show-info__body {
  font-family: $font-light;
  @include fontSize(16);
  line-height: $default-line-height-ratio;
  color: $color-srf-warmgrey-1100;
  margin-bottom: 16px;
  display: block;

  &:hover {
    color: inherit;
  }
}

.show-info__categories {
  margin-bottom: 16px;
}

.show-info__title,
.show-info__body,
.show-info__categories {
  @include tablet-up {
    max-width: 578px;
  }

  @include desktop-wide {
    max-width: 756px;
  }
}

.show-info__actions {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;

  @include tablet-up {
    margin-left: -12px;
  }

  .pill-button {
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .button--neutral {
    margin: 0 16px 16px 0;
    width: auto;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.show-info__actions-button--active {
  position: relative;
  background-color: $color-srf-warmgrey-25;

  &:hover {
    background-color: $color-srf-warmgrey-25;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    pointer-events: none;
  }

  //square that is rotated 45 degrees
  //caution, weird px values
  &::before {
    background: $color-srf-warmgrey-10;
    border: 1px solid $color-srf-warmgrey-50;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    bottom: -22px;
    margin-left: -10px;
  }

  //rectangle that hides the bottom half of the ::before-square --> triangle
  &::after {
    background: $color-srf-warmgrey-10;
    width: 26px;
    height: 15px;
    margin-left: -14px;
    bottom: -26px;
  }
}

.show-info__panel {
  display: none;

  margin-top: -6px;
  margin-bottom: 16px;
  background: $color-srf-warmgrey-10;
  border-top: 1px solid $color-srf-warmgrey-50;
  border-bottom: 1px solid $color-srf-warmgrey-50;

  @include desktop-wide {
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .button--secondary {
    @include tablet-up {
      margin-right: 24px;
      flex-basis: calc(50% - (28px / 2));

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }

    @include desktop-wide {
      margin-right: 16px;
      flex-basis: auto;
      width: auto;

      &:nth-of-type(2n) {
        margin-right: 16px;
      }
    }
  }
}

.show-info__panel--expanded {
  display: block;
}

.show-info__panel-innerwrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 8px 16px;

  @include tablet-up {
    padding-right: 32px;
    padding-left: 32px;
    flex-direction: row;
  }

  @include desktop-wide {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.show-info__collection {
  margin-top: 0;

  .collection__title {
    margin-top: 0;

    @include smartphone {
      margin-left: 16px;
    }

    @include fontSize(18px);

    @include tablet-up {
      margin-left: 0;
      margin-right: 0;
      @include fontSize(20px);
    }
  }

  .collection__teaser-list {
    margin-right: 16px;
    margin-left: 16px;
  }

  .collection__branding-wrapper {
    margin: 0;
  }
}

.show-info__episode-wrapper {
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 8px;

  @include tablet-up {
    padding: 0 32px;
  }

  @include desktop-wide {
    padding: 0 40px;
  }
}
