<div class="show-info js-show-info js-genex"
     data-genex-open-toggle-class="show-info__actions-button--active"
     data-genex-open-panel-class="show-info__panel--expanded">
    <div class="show-info__info-wrap">
        <a href="#sendungsseite" class="show-info__cover">
            {% block medium %}
                {% embed "ratio.twig" with {
                    'ratio': '1:1',
                } %}
                    {% block ratio_content %}
                        <div class="show-info__cover-image">
                            <div class="image image--media-still-dynamic">
                                <img src="../../assets/demo/img/bild0/bild_s8.jpg" alt="Alt-Text" />
                            </div>
                        </div>
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        </a>
        <div class="show-info__header">
            <a href="#sendungsseite" class="show-info__link">Zur Sendungsseite {% include 'atoms-svg-icon' with {'styleModifier':'svg-icon--arrow-right-red-small'} %}</a>
            {# .show-info__title--compact only on epidose-detail-page #}
            <h3 class="show-info__title show-info__title--compact">
                <a href="#sendungsseite">4x4 Podcast</a>
            </h3>
            {# infoline only on epidose-detail-page #}
            <p class="infoline">17:44 min, vom 4.5.2019</p>
        </div>
        <div class="show-info__content">
            <a href="#sendungsseite" class="show-info__body">Wer die Nachrichten schon kennt, will möglichst bald mehr: mehr Einordnung, mehr Analyse, mehr Hintergrund. SRF 4 News bietet deshalb mit …</a>
            {# Kategorien links only on sendungen-detail-page #}
            <div class="show-info__categories">
                {% include 'atoms-decorated-link' with {'url': '#', 'linkText': 'Hintergrund'} %}
                , 
                {% include 'atoms-decorated-link' with {'url': '#', 'linkText': 'Politik & Wirtschaft'} %}
            </div>
            <div class="show-info__actions">
                {# Jetzt hören button only on epidose-detail-page #}
                {% include 'atoms-pill-button' with {'styleModifier': 'pill-button--themed pill-button--theme-radio_srf_4_news', 'buttonIcon': 'svg-icon--play-audio-dark', 'buttonText': 'Jetzt hören'} %}
                {# Download button only on epidose-detail-page #}
                {% include 'atoms-button' with {'styleModifier': 'button--neutral button--small-font', 'screenReaderText': 'Download', 'svgIcon': 'svg-icon--download', 'buttonText': 'Download'} %}
                {# Abonnieren button only on sendungen-detail-page #}
                {% include 'atoms-button' with {'styleModifier': 'button--neutral button--small-font js-genex-toggle', 'screenReaderText': 'Abonnieren', 'svgIcon': 'svg-icon--subscribe', 'buttonText': 'Abonnieren', 'additionalAttributes': 'data-genex-target-id=show-info-subscribe'} %}
                {% include 'atoms-button' with {'styleModifier': 'button--neutral button--small-font js-genex-toggle', 'screenReaderText': 'Teilen', 'svgIcon': 'svg-icon--share', 'buttonText': 'Teilen', 'additionalAttributes': 'data-genex-target-id=show-info-share'} %}
            </div>
        </div>
    </div>
    {# Abonnieren Area only on sendungen-detail-page #}
    <div id="show-info-subscribe" class="show-info__panel generic-expander__panel">
        <div class="show-info__panel-innerwrap">
            {% include 'atoms-button' with {'styleModifier': 'button--secondary', 'screenReaderText': 'Bei Apple Podcasts abonnieren', 'svgIcon': 'svg-icon--apple-podcasts', 'buttonText': 'Apple Podcasts'} %}
            {% include 'atoms-button' with {'styleModifier': 'button--secondary', 'screenReaderText': 'Bei Google Podcasts abonnieren', 'svgIcon': 'svg-icon--google-podcasts', 'buttonText': 'Google Podcasts'} %}
            {% include 'atoms-button' with {'styleModifier': 'button--secondary', 'screenReaderText': 'Bei Spotify abonnieren', 'svgIcon': 'svg-icon--spotify', 'buttonText': 'Spotify'} %}
            {% include 'atoms-button' with {'styleModifier': 'button--secondary', 'screenReaderText': 'Feed-URL kopieren', 'svgIcon': 'svg-icon--clipboard', 'buttonText': 'Feed-URL kopieren'} %}
        </div>
    </div>
    <div id="show-info-share" class="show-info__panel generic-expander__panel">
        <div class="show-info__panel-innerwrap">
            {% include 'atoms-button' with {'styleModifier': 'button--secondary', 'screenReaderText': 'Auf Facebook teilen', 'svgIcon': 'svg-icon--outline-facebook', 'buttonText': 'Facebook'} %}
            {% include 'atoms-button' with {'styleModifier': 'button--secondary', 'screenReaderText': 'Auf Twitter teilen', 'svgIcon': 'svg-icon--outline-twitter', 'buttonText': 'Twitter'} %}
            {% include 'atoms-button' with {'styleModifier': 'button--secondary', 'screenReaderText': 'Per WhatsApp teilen', 'svgIcon': 'svg-icon--outline-whatsapp', 'buttonText': 'WhatsApp'} %}
            {% include 'atoms-button' with {'styleModifier': 'button--secondary', 'screenReaderText': 'Per E-Mail teilen', 'svgIcon': 'svg-icon--outline-mail', 'buttonText': 'E-Mail'} %}
        </div>
    </div>
    <div class="show-info__episode-wrapper">
        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--compact show-info__collection',
                "theme": {
                    "colorStart": "rgba(255, 255, 255, 1)",
                    "colorEnd": "rgba(255, 255, 255, 1)"
                },
                "title": "Neueste Episoden",
                "teasers": [
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    },
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    },
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    }
                ]
            }
        } %}
        <a href="#" class="show-info__link show-info__link--black">
            Alle Episoden anzeigen {% include 'atoms-svg-icon' with {'styleModifier':'svg-icon--arrow-right'} %}
        </a>
    </div>
</div>
