<h2>Few entries, left active</h2>

{% include 'molecules-subnav' with {
    "styleModifier": "",
    "masthead": {
        "subnavi": [
            {
                "name": "Foo",
                "url": "#",
                "active": true
            },{
                "name": "Bar",
                "url": "#"
            },{
                "name": "Baz",
                "url": "#"
            },{
                "name": "Fizz",
                "url": "#"
            },{
                "name": "Buzz",
                "url": "#"
            }
        ]
    }
} %}

<h2>Few entries, middle-ish active</h2>

{% include 'molecules-subnav' with {
    "styleModifier": "",
    "masthead": {
        "subnavi": [
            {
                "name": "Foo",
                "url": "#"
            },{
                "name": "Bar",
                "url": "#"
            },{
                "name": "Baz",
                "url": "#",
                "active": true
            },{
                "name": "Fizz",
                "url": "#"
            },{
                "name": "Buzz",
                "url": "#"
            }
        ]
    }
} %}

<h2>Few entries, right active</h2>

{% include 'molecules-subnav' with {
    "styleModifier": "",
    "masthead": {
        "subnavi": [
            {
                "name": "Foo",
                "url": "#"
            },{
                "name": "Bar",
                "url": "#"
            },{
                "name": "Baz",
                "url": "#"
            },{
                "name": "Fizz",
                "url": "#"
            },{
                "name": "Buzz",
                "url": "#",
                "active": true
            }
        ]
    }
} %}

<h2>Many entries, left active</h2>

{% include 'molecules-subnav' with {
    "styleModifier": "",
    "masthead": {
        "subnavi": [
            {
                "name": "FooFooFooFooFooFooFooFoo",
                "url": "#",
                "active": true
            },{
                "name": "BarBarBarBarBarBarBarBar",
                "url": "#"
            },{
                "name": "BazBazBazBazBazBazBazBaz",
                "url": "#"
            },{
                "name": "FizzFizzFizzFizzFizzFizzFizzFizz",
                "url": "#"
            },{
                "name": "BarBarBarBarBarBarBarBar",
                "url": "#"
            },{
                "name": "BazBazBazBazBazBazBazBaz",
                "url": "#"
            },{
                "name": "FizzFizzFizzFizzFizzFizzFizzFizz",
                "url": "#"
            },{
                "name": "BarBarBarBarBarBarBarBar",
                "url": "#"
            },{
                "name": "BazBazBazBazBazBazBazBaz",
                "url": "#"
            },{
                "name": "FizzFizzFizzFizzFizzFizzFizzFizz",
                "url": "#"
            },{
                "name": "BarBarBarBarBarBarBarBar",
                "url": "#"
            },{
                "name": "BazBazBazBazBazBazBazBaz",
                "url": "#"
            },{
                "name": "FizzFizzFizzFizzFizzFizzFizzFizz",
                "url": "#"
            },{
                "name": "BuzzBuzzBuzzBuzzBuzzBuzzBuzzBuzz",
                "url": "#"
            }
        ]
    }
} %}

<h2>Many entries, middle-ish active</h2>

{% include 'molecules-subnav' with {
    "styleModifier": "",
    "masthead": {
        "subnavi": [
            {
                "name": "FooFooFooFooFooFooFooFoo",
                "url": "#"
            },{
                "name": "BarBarBarBarBarBarBarBar",
                "url": "#"
            },{
                "name": "BazBazBazBazBazBazBazBaz",
                "url": "#"
            },{
                "name": "FizzFizzFizzFizzFizzFizzFizzFizz",
                "url": "#"
            },{
                "name": "BarBarBarBarBarBarBarBar",
                "url": "#"
            },{
                "name": "BazBazBazBazBazBazBazBaz",
                "url": "#"
            },{
                "name": "FizzFizzFizzFizzFizzFizzFizzFizz",
                "url": "#"
            },{
                "name": "BarBarBarBarBarBarBarBar",
                "url": "#"
            },{
                "name": "BazBazBazBazBazBazBazBaz",
                "url": "#",
                "active": true
            },{
                "name": "FizzFizzFizzFizzFizzFizzFizzFizz",
                "url": "#"
            },{
                "name": "BarBarBarBarBarBarBarBar",
                "url": "#"
            },{
                "name": "BazBazBazBazBazBazBazBaz",
                "url": "#"
            },{
                "name": "FizzFizzFizzFizzFizzFizzFizzFizz",
                "url": "#"
            },{
                "name": "BuzzBuzzBuzzBuzzBuzzBuzzBuzzBuzz",
                "url": "#"
            }
        ]
    }
} %}

<h2>Many entries, right active</h2>

{% include 'molecules-subnav' with {
    "styleModifier": "",
    "masthead": {
        "subnavi": [
            {
                "name": "FooFooFooFooFooFooFooFoo",
                "url": "#"
            },{
                "name": "BarBarBarBarBarBarBarBar",
                "url": "#"
            },{
                "name": "BazBazBazBazBazBazBazBaz",
                "url": "#"
            },{
                "name": "FizzFizzFizzFizzFizzFizzFizzFizz",
                "url": "#"
            },{
                "name": "BarBarBarBarBarBarBarBar",
                "url": "#"
            },{
                "name": "BazBazBazBazBazBazBazBaz",
                "url": "#"
            },{
                "name": "FizzFizzFizzFizzFizzFizzFizzFizz",
                "url": "#"
            },{
                "name": "BarBarBarBarBarBarBarBar",
                "url": "#"
            },{
                "name": "BazBazBazBazBazBazBazBaz",
                "url": "#"
            },{
                "name": "FizzFizzFizzFizzFizzFizzFizzFizz",
                "url": "#"
            },{
                "name": "BarBarBarBarBarBarBarBar",
                "url": "#"
            },{
                "name": "BazBazBazBazBazBazBazBaz",
                "url": "#"
            },{
                "name": "FizzFizzFizzFizzFizzFizzFizzFizz",
                "url": "#"
            },{
                "name": "BuzzBuzzBuzzBuzzBuzzBuzzBuzzBuzz",
                "url": "#",
                "active": true
            }
        ]
    }
} %}

<h2>Many entries, easy to count</h2>

{% include 'molecules-subnav' with {
    "styleModifier": "",
    "masthead": {
        "subnavi": [
            {
                "name": "1111111111111111111111111111111111111111",
                "url": "#"
            },{
                "name": "2222222222222222222222222222222222222222",
                "url": "#"
            },{
                "name": "3333333333333333333333333333333333333333",
                "url": "#"
            },{
                "name": "4444444444444444444444444444444444444444",
                "url": "#"
            },{
                "name": "5555555555555555555555555555555555555555",
                "url": "#",
                "active": true
            },{
                "name": "6666666666666666666666666666666666666666",
                "url": "#"
            },{
                "name": "7777777777777777777777777777777777777777",
                "url": "#"
            },{
                "name": "8888888888888888888888888888888888888888",
                "url": "#"
            },{
                "name": "9999999999999999999999999999999999999999",
                "url": "#"
            }
        ]
    }
} %}

<div class="theoretical-center"></div>

<style>
    .theoretical-center {
        position: fixed;
        height: 100%;
        width: 1px;
        background-color: #ff0000;
        pointer-events: none;
        left: 50%;
        top: 0;
    }
</style>
