<div class="nav-group js-nav-group">
    {% include 'atoms-nav-item' with {
        'styleModifier': "nav-item--expandable",
        'content': content|default(""),
        'url': "#"
    } %}

    <div class="nav-group__wrapper js-nav-group-wrapper">
        <ul class="nav-group__list">
            {% for item in items %}
                <li class="nav-group__item">
                    {% include 'atoms-nav-item' with {
                        'headerType': headerType,
                        'styleModifier': "nav-item--third-level",
                        'content': item.name,
                        'url': item.url
                    } %}
                </li>
            {% endfor %}
            <li><a href="#" class="js-end-of-nav-group"></a></li>
        </ul>
    </div>
</div>
