.nav-group__list {
  display: none;
  transform-origin: top;
  flex-direction: column;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: rgba(254,254,253,1);
  margin: 0;
  padding: 8px 0;
  box-shadow: $shadow-elevation8;
  min-width: 200px;
  border-top: 1px inset rgba(0,0,0,.08);
  opacity: 0;
  animation: fadeAndScaleInAnimation .2s forwards;

  @include reducedMotion {
    animation: fadeInAnimation .2s forwards;    
  }

  .nav-group--open & {
    display: flex;
  }
}

.nav-group__wrapper {
  position: fixed;
  overflow: hidden;
  padding: 0 0 8px;

  @include smartphone {
    left: 0;
    width: 100%;
    overflow-y: auto;
  }

  @include tablet-up {
    margin-left: -8px;
    padding: 0px 8px 8px;
  }
}

.nav-group--open {
  > .nav-item {
    /* fallback */
    background-color: $color-nav-bg-active;
    color: $color-text-accentuation;
    
    /* theme */
    @supports (--foo: bar) {
      background-color: var(--theme-color-bg-active, $color-nav-bg-active);
      color: var(--theme-color-nav, $color-text-accentuation);
    }
  }

  .nav-item__icon {
    transform: rotate(180deg);
  }
}
