@import "../../variables";
@import "../../breakpoints";

.subnav {
  position: relative;
  margin: 0;
  width: 100%;
  height: 56px;
  display: block;
  overflow: hidden;
}

.subnav__list {
  display: flex;
  position: relative; // fixes visible scrollbars in chrome android (and desktop, when scrollbars are generally visible)
  box-sizing: content-box;
  height: 100%;
  max-height: none; /* OVERRIDE CRITICAL CSS */
  margin: 0;
  padding: 0 16px;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  font-size: 0; // removes space between inline-block child elements
  white-space: nowrap;
  // stretching list height to move scrollbar out of visible area
  // assuming that no scrollbar is higher than 30px
  padding-bottom: 30px;
}

.subnav__list-item {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: $font-regular;

  @include smartphone {
    &:first-of-type {
      margin-left: 4px;
    }
  }
}

.subnav__mask {
  display: none;
  position: absolute;
  top: 0;
  height: 56px;
  width: 28px;
  z-index: 2;
  pointer-events: none;
}

.subnav__mask--visible {
  display: block;

  @include desktop-up {
    display: none;
  }
}

.subnav__mask--left {
  left: 0;

  /* fallback */
  background: linear-gradient(
    to right,
    rgba(254, 254, 253, 1),
    rgba(254, 254, 253, 0)
  );

  /* theme */
  @supports (--foo: bar) {
    background: linear-gradient(
      to right,
      var(--theme-color-pager-start, rgba(254, 254, 253, 1)),
      var(--theme-color-pager-start-transparent, rgba(254, 254, 253, 0))
    );
  }
}

.subnav__mask--right {
  right: 0;

  /* fallback */
  background: linear-gradient(
    to right,
    rgba(250, 250, 248, 0),
    rgba(250, 250, 248, 1)
  );

  /* theme */
  @supports (--foo: bar) {
    background: linear-gradient(
      to right,
      var(--theme-color-pager-end-transparent, rgba(250, 250, 248, 0)),
      var(--theme-color-pager-end, rgba(250, 250, 248, 1))
    );
  }
}

.subnav__pager {
  display: none;

  @include desktop-up {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 84px;
    height: 56px;

    /* fallback */
    background: linear-gradient(
      to right,
      rgba(254, 254, 253, 1),
      rgba(254, 254, 253, 1) 58px,
      rgba(255, 255, 255, 0)
    );

    /* theme */
    @supports (--foo: bar) {
      background: linear-gradient(
        to right,
        var(--theme-color-pager-start, rgba(254, 254, 253, 1)),
        var(--theme-color-pager-start, rgba(254, 254, 253, 1)) 58px,
        var(--theme-color-pager-start-transparent, rgba(255, 255, 255, 0))
      );
    }
  }
}

.subnav__pager--visible {
  @include desktop-up {
    visibility: visible;
    opacity: 1;
  }
}

.subnav__pager--end {
  @include desktop-up {
    left: auto;
    right: 0;

    /* fallback */
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(250, 250, 248, 1) 28px,
      rgba(250, 250, 248, 1)
    );

    /* theme */
    @supports (--foo: bar) {
      background: linear-gradient(
        to right,
        var(--theme-color-pager-end-transparent, rgba(255, 255, 255, 0)),
        var(--theme-color-pager-end, rgba(250, 250, 248, 1)) 28px,
        var(--theme-color-pager-end, rgba(250, 250, 248, 1))
      );
    }
  }
}

.subnav__pager-button {
  @include desktop-up {
    display: block;
    box-sizing: content-box;
    padding: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 2px;

    &:hover {

      /* fallback */
      background-color: $color-nav-bg-hover;

      /* theme*/
      @supports (--foo: bar) {
        background-color: var(--theme-color-bg-hover, $color-nav-bg-hover);
      }
    }

    &:active {

      /* fallback */
      background-color: $color-nav-bg-active;

      /* theme */
      @supports (--foo: bar) {
        background-color: var(--theme-color-bg-active, $color-nav-bg-active);
      }
    }
  }
}

.subnav__pager-button--right {
  @include desktop-up {
    float: right;
  }
}

.subnav__pager-icon {
  /* fallback */
  filter: none;

  /* theme */
  @supports (--foo: bar) {
    filter: var(--theme-icon-filter, none);
  }
}

.subnav--portals {
  .subnav__list-item {
    font-family: $font-bold;
    font-feature-settings: "salt";
  }
}
