<nav class="subnav">
    <ul class="subnav__list">
        {% for item in masthead.subnavi %}
                {% set itemStyleModifier = (item.name == masthead.subnavi[0].name) ? 'nav-item--active' : ''  %}
                <li class="subnav__list-item">
                {% include 'atoms-nav-item' with {
                    'styleModifier': itemStyleModifier,
                    'content': item.name,
                    'url': item.url
                } %}
                </li>
        {% endfor %}
        <li class="subnav__list-item subnav__list-item--spacer" aria-hidden="true" role="presentation"></li>
    </ul>
    <div class="subnav__pager">
        <a class="subnav__pager-icon">
            <span class="svg-icon svg-icon--arrow-left"></span>
        </a>
    </div>
    <div class="subnav__pager subnav__pager--end">
        <a class="subnav__pager-icon subnav__pager-icon--right">
            <span class="svg-icon svg-icon--arrow-right"></span>
        </a>
    </div>
</nav>
