.subnav {
  margin: 0 -16px;
  width: 100%;
  height: 56px;
  display: block;
  overflow: hidden;


  @include smartphone {
    margin: 0 -12px;
  }
}

.subnav__wrapper {
  // stretching wrapper height to move scrollbar out of visible area
  // assuming that no scrollbar is higher than 30px
  height: calc(100% + 30px);
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}