<nav class="subnav js-subnav-container {{ styleModifier }}" aria-labelledby="subnav-label">
    <h3 id="subnav-label" class="h-offscreen">Themen der aktuellen Rubrik</h3>
    <ul class="subnav__list js-subnav-content">
        {% for item in masthead.subnavi %}
            {% set itemStyleModifier = (item.active) ? 'nav-item--active js-active-subnav-item' : ''  %}
            {% if item.items|length > 0 %}
                <li class="subnav__list-item subnav__list-item--expandable js-subnav-item--expandable">
                    {% include 'molecules-nav-group' with {
                        'headerType': headerType,
                        'styleModifier': itemStyleModifier,
                        'content': item.name,
                        'items': item.items
                    } %}
                </li>
            {% else %}
                <li class="subnav__list-item">
                    {% include 'atoms-nav-item' with {
                        'headerType': headerType,
                        'styleModifier': itemStyleModifier,
                        'content': item.name,
                        'url': item.url
                    } %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="subnav__mask subnav__mask--left js-subnav-mask-left"></div>
    <div class="subnav__mask subnav__mask--right js-subnav-mask-right"></div>
    <div class="subnav__pager js-subnav-button-back" aria-hidden="true" role="presentation">
        <a class="subnav__pager-button">
            {% include 'atoms-svg-icon' with {'styleModifier': 'subnav__pager-icon svg-icon--arrow-left'} %}
        </a>
    </div>
    <div class="subnav__pager subnav__pager--end js-subnav-button-forward" aria-hidden="true" role="presentation">
        <a class="subnav__pager-button subnav__pager-button--right">
            {% include 'atoms-svg-icon' with {'styleModifier': 'subnav__pager-icon svg-icon--arrow-right'} %}
        </a>
    </div>
</nav>
