.image-figure {
  margin: 32px 0;
  font-size: 12px;
  line-height: 1.3;
  background-color: $color-bg-caption;
  overflow-y: hidden;

  @include smartphone {
    width: 100%;
    position: relative;

    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.image-figure--simple {
  float: right;
  width: 92px;
  height: auto;
  margin: 16px 0px 16px 16px;
  right: auto; /* overwrite */
  left: auto; /* overwrite */

  @include tablet-up {
    width: 228px;
    margin: 24px 0px 24px 24px;
  }

  .media-caption {
    padding: 8px 16px;
  }

  @include smartphone {
    .media-caption {
      display: none;
    }
  }

  .media-caption__title,
  .media-caption__description {
    display: none;
  }
}

/*
Cropped image figure
====================
Behaviour:
1. Cropping the contained image to a 16:9 ration for tablet and down
2. Cropping the image to a 16:8 ratio for desktop and up
3.  Assure a max-width of $content-max-width for the image figure
*/

.image-figure--cropped-img {
  @include desktop-widest {
    max-width: $content-max-width;
    margin-left: auto;
    margin-right: auto;
  }

  .image {
    position: relative;
    width: 100%;
    overflow: hidden;
    // using max-width and max-height as 16:9 ratio for calculating the height
    max-height: 9000px;
    max-width: 16000px;
    height: calc(100vw * 9000.0 / 16000.0);
    background-color: #dadad2;

    @include desktop-up {
      // using max-width and max-height as 16:8 ratio for calculating the height
      max-height: 8000px;
      max-width: 16000px;
      height: calc(100vw * 8000.0 / 16000.0);
    }

    @include desktop-widest {
      max-width: $content-max-width;
      max-height: #{$content-max-width / 16 * 8};
    }
  }
}

.image-figure__image {
  background-color: #dadad2;
}

.image-figure--in-box {
  margin-top: 0;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 16px;
  background-color: transparent;

  @include smartphone {
    // resetting the full width here
    left: 0;
    right: 0;
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
}

.image-figure--tme.image-figure--tme {
  margin: 0;

  .image {
    background-color: $color-bg-media;
  }

  .image-figure__image,
  .media-caption {
    max-width: 729px;
    margin: 0 auto;
  }
}
