{% embed 'templates-article' %}
    {% block top_media %}
        {% include 'molecules-medium--fullwidth-element' %}
    {% endblock %}
    
    {% block article_content %}
        {% include 'organisms-sticky-sidebar' with {'title': 'Verwandte Artikel'} %}
        {% include 'atoms-content-heading' %}
        {% include 'atoms-article-text' %}
        {% include 'molecules-medium--vertical' %}
        {% include 'atoms-article-text' %}
        {% include 'atoms-article-author--short' %}
    {% endblock %}

    {% block after_everything %}
        {% include 'organisms-sticky-bar' with {'title': 'Verwandte Artikel'} %}

        <div class="demo-sticky-buttons-container">
            {% include 'atoms-button' with { 'styleModifier' : 'button--primary js-show-side', 'buttonText' : 'Enable Side Bar' } %}
            {% include 'atoms-button' with { 'styleModifier' : 'button--primary js-show-bottom', 'buttonText' : 'Enable Bottom Bar' } %}
        </div>

        <script>
            $('.js-show-side').on('click', () => $('.sticky-sidebar-positioner').show());
            $('.js-show-bottom').on('click', () => $('.sticky-bar').show());
        </script>

        <style>
            .demo-sticky-buttons-container {
                position: fixed;
                left: 0;
                top: 100px;
                z-index: 100;
                display: flex;
                transform: rotate(-90deg) translateX(-100%);
                transform-origin: 0 0;
            }

            .demo-sticky-buttons-container .button:first-child {
                margin-right: 16px;
            }
        </style>
    {% endblock %}
{% endembed %}
