{% embed 'templates-article-plain' %}

    {% block article_header %}
        <h1 class="article-title">
            <span class="article-title__overline">Demopage</span>
            <span class="article-title__text">Buttons</span>
        </h1>
        {% include 'atoms-horizontal-separator' %}
    {% endblock %}

    {% block article_content %}
    {% include 'atoms-button' with {'buttonText' : 'Primary Button'} %}
    {% include 'atoms-button' with {'buttonText' : 'Senden'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--pending',   'buttonText' : ''} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--success',   'buttonText' : 'Gesendet'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--on-error',  'buttonText' : 'Fehlgeschlagen'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--retry',     'buttonText' : 'Senden'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--secondary', 'buttonText' : 'Secondary Button'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--inactive',  'buttonText' : 'Inactive Button'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--circle',    'buttonText' : 'Circle Button'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--fixed-bottom-right', 'buttonText' : 'Fixed Button'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--circle button--attention-hogger', 'buttonText' : 'Alarm!'} %}
    <div class="js-toggle-container">
      {% include 'atoms-button' with {'buttonText' : 'Senden'} %}
      <button class="js-toggle-classes">Toggle Different States</button>
    </div>

    <h3>Pill Buttons</h3>
    {% include 'atoms-pill-button' with {
        'buttonText': 'Kontakt ins Studio'
    }%}
    <br><br>
    {% include 'atoms-pill-button' with {
        'styleModifier': 'pill-button--primary',
        'buttonIcon': 'svg-icon--play-audio-dark',
        'buttonText': 'Jetzt hören'
    }%}

    <br><br>
    {% include 'atoms-pill-button' with {
        'styleModifier': 'pill-button--primary pill-button--themed pill-button--theme-radio_srf_1',
        'buttonIcon': 'svg-icon--play-audio-dark',
        'buttonText': 'Jetzt hören'
    }%}
    <br><br>
    {% include 'atoms-pill-button' with {
        'styleModifier': 'pill-button--primary pill-button--themed pill-button--theme-radio_srf_2_kultur',
        'buttonIcon': 'svg-icon--play-audio-dark',
        'buttonText': 'Jetzt hören'
    }%}
    <br><br>
    {% include 'atoms-pill-button' with {
        'styleModifier': 'pill-button--icon-only',
        'buttonIcon': 'svg-icon--outline-webcam'
    }%}
    <br><br>
    {% include 'atoms-pill-button' with {
        'styleModifier': 'pill-button--icon-only',
        'buttonIcon': 'svg-icon--outline-facebook-color'
    }%}
    <br><br>
    {% include 'atoms-pill-button' with {
        'styleModifier': 'pill-button--icon-only',
        'buttonIcon': 'svg-icon--outline-instagram'
    }%}

    {% endblock %}

{% endembed %}

<script>
    //-- temporary fix:  in frontify, jquery is loaded later than the vendor.js
    window.addEventListener('DOMContentLoaded', function() {
        let $btn = $(".js-toggle-container .button");
        let state = 0;
        let states = ["",       "button--pending", "button--success", "button--pending", "button--on-error", "button--retry"];
        let texts =  ["Senden", "",                "Gesendet",        "",                "Fehlgeschlagen",   "Senden?"      ];

        jQuery.fn.animateAuto = function(className, text, speed, callback){
            let elem, width;
            return this.each(function(i, el){
                el = jQuery(el);
                elem = el.clone().css({"width": "auto"}).appendTo("body");
                elem.attr("class", className )
                    .find(".button-text").text( text );
                width = elem.css("width");
                elem.remove();

                el.animate({"width": width}, speed, callback);
            });
        };

        $(".js-toggle-classes").on("click", function() {
            state = (++state) % states.length;

            // Special case for pending: No text, and don't resize!
            if (states[state] === "button--pending") {
                let currentWidth = $btn.css("width");
                $btn.css("width", currentWidth);
                $btn.attr("class", "button " + states[state])
                    .find(".button-text").text("");
                return;
            }

            if ($(window).width() > 720) {
                $btn.stop().animateAuto("button " + states[state], texts[state], 200, function () {
                    $btn.attr("class", "button " + states[state])
                        .find(".button-text").text(texts[state]);
                });
            } else {
                $btn.css("width", "100%")
                    .attr("class", "button " + states[state])
                    .find(".button-text").text(texts[state]);
            }

        });
    });
</script>