<div class="l-main-wrapper">
    <div class="l-main-wrapper__space l-card">
        <div class="l-card-column-default">
            {% include 'atoms-content-heading' %}
            {% include 'atoms-article-text' %}
        </div>
        <div class="l-card-alternative-background">
            <div class="l-card-column-default">
                {% include 'molecules-expandable-box' with { 'styleModifier': 'expandable-box--fullwidth'} %}
            </div>
        </div>
    </div>
</div>
