<div data-ripple>
    <h1>Click to Ripple</h1>
    <p>data-ripple</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore....</p>
</div>

<div data-ripple="rgba(0,0,0,.4)">
    <h1>Click to have a darker ripple</h1>
    <p>data-ripple="rgba(0,0,0,.4)"</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore....</p>
</div>

<div data-ripple="rgba(223,142,249,.5)">
    <h1>Click to have a fabulous ripple</h1>
    <p>data-ripple="rgba(223,142,249,.5)"</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore....</p>
</div>