<style>
    /* simulating a missing play icon - in production, this element should be removed from the DOM */
    .collection--compact-swipeable .media-still__icon {
        display: none;
    }
</style>

{% embed 'templates-landingpage' %}
    {% block landingpage_content %}
        <div class="collection js-collection collection--branded collection--branded-dark">
            <div class="collection__branding-wrapper js-collection-branding-wrapper" style="background-image: linear-gradient(120deg, white, white);">
                <div class="collection__content-wrapper js-collection-content-wrapper">
                    <h3 class="collection__title">
                        <span class="collection__title-text">Radio hören</span>
                    </h3>
                    <div class="onairnav-list-wrapper">
                        <ul class="onairnav-list onairnav-list--compact">
                            <li class="onairnav-list__element">
                                {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact', 'url': '/radio-srf-1', 'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-srf-1-square.svg','title': 'Radio SRF 1', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
                            </li>
                            <li class="onairnav-list__element">
                                {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact', 'url': '/radio-srf-2', 'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-srf-2-square.svg','title': 'Radio SRF 2 Kultur', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
                            </li>
                            <li class="onairnav-list__element">
                                {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact', 'url': '/radio-srf-3', 'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-srf-3-square.svg','title': 'Radio SRF 3', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
                            </li>
                            <li class="onairnav-list__element">
                                {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact', 'url': '/radio-srf-4-news', 'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-srf-4-square.svg','title': 'Radio SRF 4 News', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
                            </li>
                            <li class="onairnav-list__element">
                                {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact', 'url': '/radio-srf-musikwelle', 'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-srf-musikwelle-square.svg','title': 'Radio SRF Musikwelle', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
                            </li>
                            <li class="onairnav-list__element">
                                {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact','url': '/radio-srf-virus',  'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-srf-virus-square.svg','title': 'Radio SRF Virus', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
                            </li>
                            <li class="onairnav-list__element">
                                {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact','url': 'http://www.radioswissclassic.ch/de',  'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-swiss-classic-square.svg','title': 'Radio Swiss Classic', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
                            </li>
                            <li class="onairnav-list__element">
                                {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact','url': 'http://www.radioswissjazz.ch/de',  'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-swiss-jazz-square.svg','title': 'Radio Swiss Jazz', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
                            </li>
                            <li class="onairnav-list__element">
                                {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact','url': 'http://www.radioswisspop.ch/de',  'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-swiss-pop-square.svg','title': 'Radio Swiss Pop', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--compact-swipeable collection--compact-swipeable--no-card collection--branded collection--branded-dark',
                "theme": {
                    "colorStart": "rgba(255, 255, 255, 1)",
                    "colorEnd": "rgba(255, 255, 255, 1)"
                },
                "title": "Empfehlungen",
                "teasers": [
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    },
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    },
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    },
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    },
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    }
                ]
            }
        } %}

        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--compact-swipeable collection--compact-swipeable--no-card collection--branded collection--branded-dark',
                "theme": {
                    "colorStart": "rgba(255, 255, 255, 1)",
                    "colorEnd": "rgba(255, 255, 255, 1)"
                },
                "title": "Meist gehört",
                "teasers": [
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    },
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    },
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    },
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    },
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    }
                ]
            }
        } %}

        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--compact collection--compact--no-card collection--branded collection--branded-dark',
                "theme": {
                    "colorStart": "rgba(255, 255, 255, 1)",
                    "colorEnd": "rgba(255, 255, 255, 1)"
                },
                "title": "Unsere Favoriten",
                "teasers": [
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    },
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    },
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    },
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    },
                    {
                        "styleModifier": "teaser--size-s teaser--no-card",
                        "styleModifierTeaserInfo": "teaser-info-wrapper--no-gap",
                        "title": "Podcast: Echo der Zeit",
                        "image": "../../assets/demo/img/bild2/bild_mobile_max.jpg",
                        "link": "#"
                    }
                ]
            }
        } %}

        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--dense-swipeable collection--dense-swipeable--no-card collection--branded collection--branded-dark',
                "theme": {
                    "colorStart": "rgba(255, 255, 255, 1)",
                    "colorEnd": "rgba(255, 255, 255, 1)"
                },
                "title": "Empfohlene Podcasts",
                "teasers": collections[0].teasers[0:21]
            }
        } %}

        {% include 'organisms-collection' with {
            'collection': {
                'styleModifier': 'collection--dense-swipeable collection--dense-swipeable--no-card collection--branded collection--branded-dark',
                "theme": {
                    "colorStart": "rgba(255, 255, 255, 1)",
                    "colorEnd": "rgba(255, 255, 255, 1)"
                },
                "title": "Empfohlene Podcasts (nur 6)",
                "teasers": collections[0].teasers[0:6]
            }
        } %}



    {% endblock %}
{% endembed %}
