@import "../../variables";
@import "../../breakpoints";
@import "../../mixins";

.article-teaser {
  display: block;
  width: 100%;
  border: none;

  &:hover,
  &:focus,
  &:active {
    border: none;
  }
}

.article-teaser__wrapper {
  display: block;
  padding: 16px $article-offset 16px 0;
}

.article-teaser__image {
  float: left;
  border: 0;
  margin-right: 12px;
  width: $image-size-preview;
  height: $image-size-preview;
  object-fit: cover;

  @include tablet-up {
    margin-right: 16px;
    width: 163px;
  }
}

.article-teaser__content {
  margin-left: 104px;
  display: flex;
  flex-direction: column;

  min-height: 92px;

  @include tablet-up {
    margin-left: 158px;
  }
}

.article-teaser__kicker {
  color: $color-srf-red-600;
  font-family: $font-regular;
  font-size: 12px;
  letter-spacing: .2px;
  line-height: 1.33;
  margin: 0;
  padding-bottom: 4px;
  flex-grow: 0;

  @include tablet-up {
    @include fontSize(14);
    line-height: 1.14;
  }
}

.article-teaser__title {
  margin: 0;
  padding-bottom: 6px;
  font-family: $font-medium;
  @include fontSize(16);
  line-height: $emphasize-line-height-ratio;
  color: $color-srf-warmgrey-1100;
  flex-grow: 1;

  @include tablet-up {
    padding-bottom: 8px;
  }
}

.article-teaser__date {
  color: $color-srf-warmgrey-800;
  font-family: $font-regular;
  @include fontSize(12);
  line-height: $secondary-line-height-ratio;
  margin: 0;
}

// Only used for A-B-Testing
.article-teaser--related-article {
  transition: opacity .2s ease-in-out;
  opacity: 1;

  &:hover,
  &:focus {
    opacity: .8;
  }

  &:active {
    opacity: .6;
  }

  .article-teaser__wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding: 24px;
  }

  .article-teaser__image {
    margin: 0 0 0 24px;
    width: 94px;
    height: 94px;
    flex: 0 0 94px;
    border-radius: 2px;

    @include smartphone {
      display: none;
    }
  }

  .article-teaser__content {
    margin: 0;
    flex: 1 1 0px; //px is needed for IE11
  }

  .article-teaser__kicker {
    @include fontSize(14);

    @include desktop-up {
      @include fontSize(16);
    }
  }

  .article-teaser__title {
    margin: 0;

    @include desktop-up {
      @include fontSize(18);
    }
  }

  .teaser-info--fading {
    display: none;
  }

  &.related-article--horizontal {
    .article-teaser__wrapper {
      padding: 0 16px 16px;

      @include smartphone {
        padding: 16px 24px;
      }
      
      @include desktop-wide {
        padding: 0 24px 24px;
      }
    }
  }
}
