<a href="#" class="article-teaser">
  <span class="h-offscreen">Hinweis auf einen verwandten Artikel:</span>
  <div class="article-teaser__wrapper">
    <img src="{{ images[0].sources.s8.src }}" alt="Typ schweisst etwas" class="article-teaser__image" />

    <div class="article-teaser__content">
      <p class="article-teaser__kicker">Schwinger im Joggeli</p>
      <p class="article-teaser__title">Artikel-Titel</p>
      <p class="article-teaser__date">Mittwoch, 15. Februar 2017, 16:03 Uhr, aktualisiert um 17:57 Uhr</p>
    </div>
  </div>
</a>

<a href="#" class="article-teaser">
  <span class="h-offscreen">Hinweis auf einen verwandten Artikel:</span>
  <div class="article-teaser__wrapper">
    <img src="{{ images[0].sources.s8.src }}" alt="Typ schweisst etwas" class="article-teaser__image" />

    <div class="article-teaser__content">
      <p class="article-teaser__kicker">Title-Only ArticleTeaser</p>
      <p class="article-teaser__title">Emmanuel Macron zieht in den Elysée. Wie die historische Wahl abgelaufen ist, können Sie hier nochmals nachlesen.</p>
    </div>
  </div>
</a>