<a href="#" class="article-teaser">
    <div class="article-teaser__wrapper" role="text">
        <span class="h-offscreen">Hinweis auf einen verwandten Artikel:</span>
        <img src="{{ images[0].sources.s8.src }}" alt="" class="article-teaser__image" />

        <div class="article-teaser__content">
            <p class="article-teaser__kicker">Title-Only ArticleTeaser</p>
            <h3 class="article-teaser__title">Emmanuel Macron zieht in den Elysée. Wie die historische Wahl abgelaufen ist, können Sie hier nochmals nachlesen.</h3>
        </div>
    </div>
</a>
