@import "../../variables";
@import "../../breakpoints";

.article-teaser {
  margin: 24px 0;

  border-top: 1px solid $color-border-medium;
  border-bottom: 1px solid $color-border-medium;
  display: block;
  width: 100%;

  @include tablet-up {
    margin: 32px 0;
  }

  @include smartphone {
    @include fullwidth-element;
  }

  &:hover,
  &:focus {
    background-color: $color-link-bg-hover;
  }

  &:active {
    background-color: $color-bg-caption;
  }

  &:hover,
  &:focus,
  &:active {
    border-bottom-color: $color-border-medium;
  }
}

.article-teaser__wrapper {
  display: block;
  margin: 16px 16px 16px 24px;
  @include tablet-up {
    margin: 16px;
  }
}

.article-teaser__image {
  float: left;
  border: 0;
  margin-right: 12px;
  width: $image-size-preview;
  height: $image-size-preview;
  object-fit: cover;

  @include tablet-up {
    margin-right: 16px;
    width: 168px;
  }
}

.article-teaser__content {
  margin-left: 104px;
  min-height: 92px;

  @include tablet-up {
    margin-left: 158px;
  }
}

.article-teaser__kicker {
  color: $color-accentuation-red;
  font-family: $font-regular;
  font-size: 12px;
  letter-spacing: .2px;
  line-height: 1.33;
  margin: 0 0 4px;

  @include tablet-up {
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 1.14;
  }
}

.article-teaser__title {
  color: #1a1916;
  font-family: $font-regular;
  font-size: 16px;
  letter-spacing: .2px;
  line-height: 24px;
  margin: 0 0 6px;

  @include tablet-up {
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 28px;
    margin: 0 0 8px;
  }
}

.article-teaser__date {
  color: $color-text-light;
  font-family: $font-system;
  font-size: 12px;
  line-height: 1.33;
  margin: 0;
}
