<a href="#" class="article-teaser">
    <span class="h-offscreen">Hinweis auf einen verwandten Artikel:</span>
    <div class="article-teaser__wrapper">
        <img src="{{ images[0].sources.s8.src }}" alt="Typ schweisst etwas" class="article-teaser__image" />

        <div class="article-teaser__content-wrapper">
            <div class="article-teaser__content">
                <p class="article-teaser__kicker">Title-Only ArticleTeaser</p>
                <h3 class="article-teaser__title">Emmanuel Macron zieht in den Elysée. Wie die historische Wahl abgelaufen ist, können Sie hier nochmals nachlesen.</h3>

                <div class="teaser-info-wrapper">
                    <span class="teaser-info teaser-info--fading">
                        29.12.1981
                    </span>

                    <span class="teaser-info teaser-info--mediaicon-image teaser-info--with-icon">
                        Mit Bildergalerie
                    </span>
                </div>
            </div>
        </div>
    </div>
</a>
