<div class="related-items-list">
    <h2 class="related-items-list__heading">
        Verwandte Artikel
    </h2>
    <ul class="related-items-list__list">
        <li class="related-items-list__item">
            <div class="related-items-list__content">
                {% include 'molecules-article-teaser' %}
            </div>
        </li>
        <li class="related-items-list__item">
            <div class="related-items-list__content">
                {% include 'molecules-article-teaser' %}
            </div>
        </li>
        <li class="related-items-list__item">
            <div class="related-items-list__content">
                {% include 'molecules-article-teaser' %}
            </div>
        </li>

    </ul>
</div>
