@import "../../variables";

.video-gallery-container {
  margin: 24px -8px;
  padding: 0 20px;
  overflow: hidden;
  background-color: #f5f5f2;

  @include tablet-up {
    margin: 32px 0;
    padding: 0 58px;
  }
}

.video-gallery {
  overflow: visible;
  margin: 24px 0 12px;

  // flexbox
  .carousel__item {
    display: flex;
    flex-direction: column;
  }
  .article-video__link { // :/
    display: flex;
    height: 100%;
  }

  .article-video {
    width: 100%;
    margin: 0 4px 12px;
    overflow: hidden; // so the rounded corners are "visible"
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .24);

    // flexbox
    display: flex;
    flex-direction: column;

    @include tablet-up {
      margin: 0 6px 12px;
    }

    @include rounded-corners(2px);

    &:hover,
    &:active,
    &:focus {
      outline: none;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24);

      .media-caption--video {
        background-color: #fafaf8;
      }
    }
  }

  .image-figure__image-wrapper {
    &::before {
      padding-top: 56.25%;
      position: relative;
    }
  }

  .image-figure {
    &::before {
      content: none;
    }
    .image-figure__image { // overwriting the carousel bg (black)
      background-color: #dadad2;
    }
  }

  .media-caption--video {
    background-color: #fefefd;
    padding: 8px 12px 16px;

    // flexbox
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    .media-caption__title {
      min-height: 60px;
      margin-bottom: 4px;
      font: 16px/24px $font-regular;
      letter-spacing: 0.5px;
      color: #22211d;

      flex: 1 0 auto; // flexbox
    }
  }

  // play icon overwrites
  @include tablet-up {
    .media-play {
      width: 48px;
      transform: translate(-50%, -24px);
    }
    .media-play__icon {
      margin-bottom: 3px;
    }
  }

  // img carousel overwrites
  @include tablet-up {
    .carousel__link--prev,
    .carousel__link--next {
      width: 56px;
      height: 101px;
      top: 50%;
      transform: translate(0, calc(-50% - 12px));
      background-size: 16px;
      background-position: 20px;

      &:hover, &:active {
        border-bottom-color: transparent;
      }
      &:hover {
        background-color: #ebebe5;
      }
      &:active {
        background-color: #dadad2;
      }
    }

    .carousel__link--prev {
      left: -60px;
      background-image: url('../img/arrows/carousel_arrow_prev-no-background.svg');
    }
    .carousel__link--next {
      right: -60px;
      background-image: url('../img/arrows/carousel_arrow_next-no-background.svg');
    }
  }
  // end img carousel overwrites

  // slick slider
  .slick-track {
    display: flex;
  }

  @include tablet-up {
    .slick-list {
      overflow: hidden; // cuts the right most img off :/
    }
  }
}

// Dots
.slick-dots {
  height: 16px;
  margin: 0 auto;
  text-align: center;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;

    &::before {
      content: none;
    }
  }

  button {
    width: 16px;
    height: 16px;
    font-size: 0;
    line-height: 0;
    border: 0;
    padding: 0;
    background: transparent;
    display: block;
    outline: none;
    cursor: pointer;
    float: left;

    &::before {
      content: '•';
      font-size: 28px;
      line-height: 10px;
      color: #000; // die Farben sind nicht zu erkennen :(
      opacity: .2;
    }

    &:hover, &:focus {
      outline: none;
      &::before {
        opacity: .6;
      }
    }
  }

  .slick-active button::before {
    opacity: .6;
  }
}
