@import "../../variables";

.video-gallery-container {
  width: 100%;
  padding: 0 60px;
  background-color: #f5f5f2;

  @include smartphone {
    padding: 0;
  }
}

.video-gallery {
  position: relative;
  width: 100%;
  overflow: visible;
  margin: 32px 0 0 0; // for regular media element within article

  @include smartphone {
    margin-top: 24px;
    margin-bottom: 20px;
  }

  /////
  .carousel__item {
    display: flex;
    flex-direction: column;
  }
  .article-video__link {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
  }


  .article-video {
    width: 100%;
    // overflow: hidden;
    margin: 24px 4px 12px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .24);

    // flexbox
    display: flex;
    flex-direction: column;

    @include rounded-corners(2px);

    // here comes "pure guesswork"
    &:hover {
      background-color: #dadad2;
    }

    &:hover,
    &:active {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .24);
    }

    &:active,
    &:focus {
      outline: none;
      background-color: #cac8bf;
    }
  }

  .image-figure__image-wrapper {
    &::before {
      padding-top: 56.25%;
      position: relative;
    }
  }

  .media-caption--video {
    // min-height: 108px;
    background-color: #fefefd;
    padding: 8px 12px 16px;

    // flexbox
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    .media-caption__title {
      min-height: 60px;
      margin-bottom: 4px;
      font: 16px/24px $font-regular;
      letter-spacing: 0.5px;
      color: #22211d;

      flex: 1 0 auto; // flexbox
    }
  }

  // play icon

  .carousel__link--prev,
  .carousel__link--next {
    width: 56px;
    height: 101px;

    @include desktop-up {
      top: 27%;
    }

    @include tablet {
      top: 33%;
    }

    &:hover {
      background-color: #ebebe5;
      border-bottom-color: transparent;
    }

    &:active {
      background-color: #dadad2;
      border-bottom-color: transparent;
    }
  }

  .carousel__link--prev {
    left: -60px;
    background-image: url('../img/arrows/carousel_arrow_prev-no-background.svg');
    background-color: transparent;

    &:hover,
    &:active {
      border-width: 12px 12px 12px 0;
    }
  }
  .carousel__link--next {
    right: -60px;
    background-image: url('../img/arrows/carousel_arrow_next-no-background.svg');
    background-color: transparent;

    &:hover,
    &:active {
      border-width: 12px 0 12px 12px;
    }
  }
}

// end video-carousel overwrites

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

/* .slick-track {
  clear: both;
  content: '';
  display: table;
} */
.slick-track {
  display: flex;
}

// Dots
.slick-dotted.slick-slider {
  margin-bottom: 24px;
}

.slick-dots {
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px 12px;
  padding: 0;
  cursor: pointer;

  &::before {
    content: none;
  }
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover::before,
.slick-dots li button:focus::before {
  opacity: 1;
}

.slick-dots li button::before {
  font-family: 'slick';
  font-size: 28px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: .25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button::before {
  opacity: .75;
  color: black;
}
