<div class="video-gallery-container">
    <div class="video-gallery carousel video_carousel__js" id="{{ video_gallery.ID }}">
        {% for video in videos %}
            <div class="carousel__item">
                {% include 'components-video' %}
            </div>
        {% endfor %}
    </div>
</div>
