@import "../../variables";

.video-gallery-container {
  margin: 0 -8px;
  padding: 0 20px;
  overflow: hidden;
  background-color: #f5f5f2;

  @include tablet-up {
    margin: 0;
    padding: 0 60px;
  }
}

.video-gallery {
  // position: relative;
  // width: 100%;
  overflow: visible;
  margin: 24px 0 12px;
  // margin: 32px 0 0 0; // for regular media element within article

  @include smartphone {
    // margin-top: 24px;
    // margin-bottom: 20px;
  }

  // flexbox
  .carousel__item {
    display: flex;
    flex-direction: column;
    margin: 0 4px;
  }
  .article-video__link { // :/
    display: flex;
    height: 100%;
  }

  .article-video {
    width: 100%;
    margin: 0;
    overflow: hidden; // so the rounded corners are "visible"
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .24);

    // flexbox
    display: flex;
    flex-direction: column;

    @include rounded-corners(2px);

    &:hover,
    &:active,
    &:focus {
      outline: none;
      background-color: #fafaf8;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .24);
    }
  }

  .image-figure__image-wrapper {
    &::before {
      padding-top: 56.25%;
      position: relative;
    }
  }

  .image-figure {
    &::before {
      content: none;
    }
  }

  .media-caption--video {
    background-color: #fefefd;
    padding: 8px 12px 16px;

    // flexbox
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    .media-caption__title {
      min-height: 60px;
      margin-bottom: 4px;
      font: 16px/24px $font-regular;
      letter-spacing: 0.5px;
      color: #22211d;

      flex: 1 0 auto; // flexbox
    }
  }

  // play icon
  .media-play__icon { // should this here be necessary?
    margin-bottom: 8px;
  }
  @include tablet-up {
    .media-play {
      width: 48px;
    }
  }

  .carousel__link--prev,
  .carousel__link--next {
    width: 56px;
    height: 101px;

    @include desktop-up {
      top: 27%;
    }

    @include tablet {
      top: 33%;
    }

    &:hover {
      background-color: #ebebe5;
      border-bottom-color: transparent;
    }

    &:active {
      background-color: #dadad2;
      border-bottom-color: transparent;
    }
  }

  .carousel__link--prev {
    left: -60px;
    background-image: url('../img/arrows/carousel_arrow_prev-no-background.svg');
    background-color: transparent;

    &:hover,
    &:active {
      border-width: 12px 12px 12px 0;
    }
  }
  .carousel__link--next {
    right: -60px;
    background-image: url('../img/arrows/carousel_arrow_next-no-background.svg');
    background-color: transparent;

    &:hover,
    &:active {
      border-width: 12px 0 12px 12px;
    }
  }
}
// end video-carousel overwrites

/* .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
} */

.slick-track {
  display: flex;
}

// Dots
.slick-dots {
  height: 16px;
  margin: 12px auto;
  text-align: center;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;

    &::before {
      content: none;
    }
  }

  button {
    width: 16px;
    height: 16px; // 16px ?
    font-size: 0;
    line-height: 0;
    border: 0;
    padding: 0;
    background: transparent;
    display: block;
    outline: none;
    cursor: pointer;
    float: left;

    &::before {
      content: '•';
      font-size: 28px;
      line-height: 10px;
      color: #333; // die Farben sind nicht zu erkennen :(
      opacity: .25;
    }

    &:hover, &:focus {
      outline: none;
      &::before {
        opacity: 1;
      }
    }
  }

  .slick-active button::before {
    opacity: .75;
  }
}
