<div class="people people--expanded">
  <div class="people__header js-people-header">
    <div class="people-icon">
      {% include 'atoms-image' with { 'styleModifier': 'image--circle' } %}
    </div>

    <div class="people-description">
      <h3 class="people-description__name">Tony Goodman</h3>
      <p class="people-description__function">Executive Producer</p>
    </div>

    {% include 'atoms-expand-icon' with { 'styleModifier': '' } %}
  </div>

  <div class="people__body">
    <p>Tony Goodman is an American video game executive and entrepreneur. He is the co-founder of Ensemble Studios and Robot Entertainment. The studios Goodman has founded have shipped more than 20 Million units.</p>

    <a src="http://www.ensemblestudios.com/">
      Webseite
    </a>
  </div>
</div>
