<div class="people js-people">
  <div class="people__header js-people-header" role="button" tabindex="0">
    <div class="people-icon">
      {% include 'atoms-image' with { 'styleModifier': 'image--circle' } %}
    </div>

    <div class="people-description">
      <h3 class="people-description__name">Tony Goodman</h3>
      <p class="people-description__function">Executive Producer</p>
    </div>

    <div class="people__expand-icon" role="presentation" aria-hidden="true">
      {% include 'atoms-expand-icon' with { 'styleModifier': 'expand-icon--red' } %}
    </div>

    <div class="h-offscreen people__a11y-text--open">Personenbox aufklappen</div>
    <div class="h-offscreen people__a11y-text--close">Personenbox zuklappen</div>
  </div>

  <div class="people__body js-people-body">
    <div class="people__content">
      <p>Tony Goodman is an American video game executive and entrepreneur. He is the co-founder of Ensemble Studios and Robot Entertainment. The studios Goodman has founded have shipped more than 20 Million units.</p>
    </div>

    <div class="people__link">
      {% include 'atoms-block-link' with {'styleModifier': ''} %}
    </div>
  </div>
</div>
