<a href="{{ hyperlink.url }}" class="block-link {{ styleModifier }}"{% if isExternal %} target="_blank"{% endif %}>
    {{ hyperlink.title }}
    {% if isExternal %}<span class="h-offscreen">{{ a11yInfo }}</span>{% endif %}
</a>
