<section class="listmodule">
    <h1 class="listmodule__title">{{articleText.title}}</h1>
    <ul class="listmodule__list">
        {% include 'listmodule-item-' ~ type ~ '.twig' %}
    </ul>
</section>
