<section class="listmodule-{{ type }}">
    <h1 class="listmodule-{{ type }}__title">{{articleText.title}}</h1>
    <ul class="listmodule-{{ type }}__list">
        {% include 'listmodule-element-' ~ type ~ '.html.twig' %}
    </ul>
</section>