.listmodule {margin:24px 0 24px}

.listmodule__title {font:normal 500 22px/28px $font-medium;letter-spacing:.3px;color:$color-text-default;margin:0 0 16px;padding:0 16px}

.listmodule__list {list-style-type:none;margin:0;padding:0}

.listmodule__item {margin:0;padding:0 16px;border-top:1px solid rgb(236,236,230);overflow:hidden}
.listmodule__item:last-of-type {border-bottom:1px solid rgb(236,236,230)}
.listmodule__item:before {display:none}

.listmodule__itemTextblock {margin-bottom:16px}
.listmodule__itemTitle {font:normal normal 18px/28px $font-regular;letter-spacing:.5px;color:$color-text-default;margin-top:12px;margin-bottom:8px}
.listmodule__itemBody {font:normal 300 18px/28px $font-light;letter-spacing:.5px;color:$color-text-default;margin:0 0 8px}

@include tablet-up {
  .listmodule {margin:32px 0 32px}
  .listmodule__title {font-size:24px;line-height:32px}
  .listmodule__itemTextblock {float:none;width:100%;margin-bottom:24px}
  .listmodule__itemTitle {font-size:20px;line-height:1.4;letter-spacing:.6px;margin-top:20px}
  .listmodule__itemBody {font-size:20px;line-height:1.4;letter-spacing:.6px;clear:none}
}