.podcast-details {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
}

.podcast-details__image {
  width: 112px;
  height: 112px;
  margin: 0 12px 16px 0;

  @include tablet-up {
    position: absolute;
    left: 0;
    margin: 0 24px 16px 0;
  }
}

.podcast-details__header {
  flex-basis: calc(100% - (112px + 24px));

  @include smartphone() {
    flex-basis: calc(100% - (112px + 12px));
  }
}

.podcast-details__content {
  margin-bottom: 16px;
  flex-basis: calc(100% - (112px + 24px));

  @include smartphone {
    flex-basis: 100%;
  }
}

.podcast-details__link {
  margin-bottom: 12px;
  font-family: $font-regular;
  display: block;

  &:hover {
    .svg-icon {
      filter: brightness(0.6);
    }
  }

  .svg-icon {
    position: relative;
    top: 7px;
    bottom: 7px;
  }
}

.podcast-details__title {
  font-family: $font-medium;
  @include fontSize(28);
  color: $color-srf-warmgrey-1100;
  margin-top: 0;
  margin-bottom: 8px;

  a {
    color: inherit;
  }

  @include smartphone {
    @include fontSize(24);
  }

  @include tablet {
    @include fontSize(24);
  }
}

.podcast-details__text {
  font-family: $font-light;
  @include fontSize(16);
  color: $color-srf-warmgrey-1100;
  margin-top: 0;
  margin-bottom: 16px;
  display: block;

  &:hover {
    color: inherit;
  }

  @include desktop {
    max-width: 578px;
  }

  @include desktop-wide {
    max-width: 756px;
  }
}

.podcast-details__categories {
  margin-bottom: 16px;
}

.podcast-details__actions {
  display: flex;
}

.podcast-details__actions__subscribe {
  background: $color-srf-warmgrey-10;
  border: solid 1px #eeeeee;
  padding: 0 8px 16px;
  margin-top: 12px;
}

.podcast-details__button {
  position: relative;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
  }

  //square that is rotated 45 degrees
  &::before {
    background: $color-srf-warmgrey-10;
    border: 1px solid #eeeeee;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    bottom: calc(-10px - 12px);
    margin-left: -10px;
  }

  //rectangle that hides the bottom half of the ::before-square --> triangle
  &::after {
    background: $color-srf-warmgrey-10;
    width: 26px;
    height: 12px;
    margin-left: -14px;
    bottom: calc(-13px - 12px);
  }
}
