.podcast-details {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
}

.podcast-details__image {
  width: 112px;
  height: 112px;
  margin: 0 12px 16px 0;

  @include tablet-up {
    position: absolute;
    left: 0;
    margin: 0 24px 16px 0;
  }
}

.podcast-details__header {
  flex-basis: calc(100% - (112px + 24px));

  @include smartphone() {
    flex-basis: calc(100% - (112px + 12px));
  }
}

.podcast-details__content {
  flex-basis: calc(100% - (112px + 24px));

  @include smartphone {
    flex-basis: 100%;
  }
}

.podcast-details__link {
  margin-bottom: 12px;
  font-family: $font-regular;
  display: block;

  &:hover {
    .svg-icon {
      filter: brightness(0.6);
    }
  }

  .svg-icon {
    position: relative;
    top: 7px;
    bottom: 7px;
  }
}

.podcast-details__title {
  font-family: $font-medium;
  @include fontSize(28);
  color: $color-srf-warmgrey-1100;
  margin-top: 0;
  margin-bottom: 8px;

  a {
    color: inherit;
  }

  @include smartphone {
    @include fontSize(24);
  }

  @include tablet {
    @include fontSize(24);
  }
}

.podcast-details__text {
  font-family: $font-light;
  @include fontSize(16);
  color: $color-srf-warmgrey-1100;
  margin-top: 0;
  margin-bottom: 16px;
  display: block;

  &:hover {
    color: inherit;
  }

  @include desktop {
    max-width: 578px;
  }

  @include desktop-wide {
    max-width: 756px;
  }
}

.podcast-details__categories {
  margin-bottom: 16px;
}

.podcast-details__actions {
  display: flex;
}

/*
.podcast-details__subscribe-actions {
  display: none;
}

.podcast-details__subscribe-actions--open {
  display: block;
}*/
