<ul class="legend legend--two-col">
    <li class="legend__item">
        <div class="legend__colorbox" style="background-color:#00d9ff;"></div>
        <p class="legend__description">Legende 1</p>
    </li>
    <li class="legend__item">
        <div class="legend__colorbox" style="background-color:#2ECC40;"></div>
        <p class="legend__description">Legende 2</p>
    </li>
    <li class="legend__item">
        <div class="legend__colorbox" style="background-color:#6a0b0c;"></div>
        <p class="legend__description">Legende 3</p>
    </li>
    <li class="legend__item">
        <div class="legend__colorbox" style="background-color:#42a3f1;"></div>
        <p class="legend__description">Legende 4</p>
    </li>
    <li class="legend__item">
        <div class="legend__colorbox" style="background-color:#003dff;"></div>
        <p class="legend__description">Legende 5</p>
    </li>
    <li class="legend__item">
        <div class="legend__colorbox" style="background-color:#cac8bf;"></div>
        <p class="legend__description">Legende 6</p>
    </li>
</ul>