/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
#sg-patterns {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5rem;
}

.demo-colors,
.demo-fonts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.demo-colors li,
.demo-fonts li {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  margin: 0 1rem 1rem 0;
  max-width: 50rem;
  border: 1px solid #ddd;
}

.demo-colors li {
  min-width: 5rem;
  max-width: 15rem;
}

.demo-swatch {
  display: block;
  margin: 0.5rem;
  height: 4rem;
}

.demo-text {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.demo-label {
  display: block;
  font-size: 80%;
  line-height: 1;
  padding: 0.5rem 1rem;
}

.demo-simulate-removed-html-elements .media-caption__title,
.demo-simulate-removed-html-elements .media-caption__description {
  display: none !important;
}