<div class="a2z__search">
  <div class="a2z__search-input">
    &#123;% include 'atoms-search' %&#125;
  </div>
  <div class="a2z__search-select">
    &#123;% include 'atoms-select-menu' %&#125;
  </div>
</div>

<div class="a2z__filter-bar">
  &#123;% include 'molecules-filter-bar' %&#125;
</div>

<div class="a2z__lists">
  <div class="a2z__lists-block"  data-block="a2z-#0-9" id="a2z-#0-9">
    <h2 class="a2z__lists-title">a2z__lists-title</h2>
    &#123;% include 'molecules-pseudo-table' %&#125;
  </div>
</div>
