.a2z-search {
  display: flex;
  flex-direction: column;

  @include tablet-up {
    flex-direction: row;
    margin-bottom: 24px;
  }
}

.a2z-search__input {
  @include smartphone {
    margin-bottom: 8px;
  }

  @include tablet-up {
    flex-basis: calc(100% - 300px);
    margin-right: 24px;
  }

  @include desktop-wide {
    margin-right: 32px;
  }
}

.a2z-search__select {
  @include smartphone {
    margin-bottom: 16px;
  }

  @include tablet-up {
    flex-basis: 300px;
    text-align: right;
  }
}

.a2z-nav-bar {
  margin-bottom: 60px;
}

.a2z-lists {
  
}

.a2z-lists__block {
  
}

.a2z-lists__title {
  font-family: $font-medium;
  @include fontSize(24);
  font-weight: 500;
  line-height: $emphasize-line-height-ratio;
  color: $color-srf-warmgrey-1100;
  margin: 0 0 12px 0;
  padding: 0;
  
  @include desktop-up {
    @include fontSize(28);
    margin-bottom: 16px;
  }
}
