<div class="a2z-search">
  <div class="a2z-search__input">
    &#123;% include 'atoms-search' %&#125;
  </div>
  <div class="a2z-search__select">
    &#123;% include 'atoms-select-menu' %&#125;
  </div>
</div>

<div class="a2z-filter-bar">
  &#123;% include 'molecules-filter-bar' %&#125;
</div>

<div class="a2z-lists">
  <div class="a2z-lists__block"  data-block="a2z-#0-9" id="a2z-#0-9">
    <h2 class="a2z-lists__title">a2z-lists__title</h2>
    &#123;% include 'molecules-pseudo-table' %&#125;
  </div>
</div>
