<div class="a2z-elem-group">
  <div class="a2z-elem-group__item">

    {# % include 'atoms-search' % #}

  </div>
  <div class="a2z-elem-group__item">

    {# % include 'atoms-select-menu' % #}

  </div>
</div>
