.media-play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.media-play__icon {
  margin-bottom: 8px;
}

.media-play__length {
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  font: 12px/18px $font-system;
  padding: 1px 8px;
}

.media-play--small {
  top: 50%;
  width: 40px;

  .media-play__length {
    display: none;
  }
}
