<p>John Perry Barlow ist heute 68 Jahre alt. Er hat volles Haar, einen verschmitzten Blick und trägt ein goldenes Amulett um den Hals.</p>
<p>Früher schrieb er Songtexte für <strong>The Grateful Dead</strong>, nahm LSD und züchtete Rinder in Wyoming.</p>
<h2>{{ articleText.title }}</h2>
<p>{{ articleText.text }} Dann kam <a href="http://www.srf.ch">das Intergenet</a>. John Perry Barlow benützte es bereits.</p>
<p>John Perry Barlow ist heute 68 Jahre alt. Er hat volles Haar, einen verschmitzten Blick und trägt ein goldenes Amulett um den Hals.</p>
<p>Früher schrieb er Songtexte für <strong>The Grateful Dead</strong>, nahm LSD und züchtete Rinder in Wyoming.</p>