<h3>Evolution of Batman</h3>

{% if smallparts|default(false) %}
    <div class="scrollable-img scrollable-img--small-parts">
        <img src="../../assets/img/bat1.png" />
        <img src="../../assets/img/bat2.png" />
        <img src="../../assets/img/bat3.png" />
    </div>
{% else %}
    <div class="scrollable-img">
        <img src="../../assets/img/batman.png" />
    </div>
{% endif %}
