<p>Die vier Jungen sollen mit Hilfe von Spezialtauchern die Tham-Luang-Höhle verlassen haben, teilte ein Vertreter des thailändischen Verteidigungsministeriums mit. Wie die thailändische Zeitung «Bangkok Post» berichtete, wurden die geretteten Jungen per Ambulanz und Helikopter sofort ins nächstgelegene Spital gebracht.</p>

<div class="scrollable-img">
    <img src="../../assets/img/cave_boys.png" />
</div>

<p>Zuvor hatte der Katastrophenschutz von sechs geretteten Jungen gesprochen, diese Zahl bestätigten die Behörden aber nicht.</p>

<p>Die Dauer der gesamten Rettungsaktion in Thailand ist aber nach Angaben des Leiters der Arbeiten, Provinzgouverneur Narongsak Osottanakorn, derzeit nicht absehbar. Die übrigen eingeschlossenen Jungen und ihr Trainer sollten ab Montag (Ortszeit) aus der Höhle befreit werden.</p>

<h2 class="content-heading">Riskante Entscheidung</h2>

<p>Die Einsatzkräfte hatten mit dem hoch riskanten Einsatz begonnen, weil die Zeit abzulaufen droht. Auf dem Weg ins Freie müssen die Kinder weite Strecken durch schlammiges Wasser tauchend zurücklegen.</p>

<p>«Die Operation heute lief sehr problemlos», sagte der Gouverneur. «Wir waren heute schneller als erwartet.» Er fügte hinzu, die Rettungsaktion werde in 10 bis 20 Stunden fortgesetzt. Die Taucher müssten nun die Atemluftvorräte auffrischen, die in der ersten Phase aufgebraucht worden seien.</p>

<p>Alle Jungen hätte Atemmasken getragen und seien von den Tauchern durch die Tunnel geleitet worden. «Ich bin froh, dass wir unsere Mission erfolgreich für die ersten vier abgeschlossen haben.»</p>
