.nav-bar-wrapper {
  background-color: $color-srf-warmgrey-25;
}

.nav-bar {
  /* dev only */
  max-width: 1200px;
  margin: 0 auto;
  height: 72px;

  display: flex;
  flex-direction: row;
  padding: 12px 0;
  overflow: scroll;

  @include desktop-up {
    justify-content: space-around;
    align-content: stretch;
  }

  .nav-bar__letter {
    display: flex;
    width: 100%;
    margin-right: 1px;
    border-radius: 2px;
    padding-right: 16px;
    padding-left: 16px;
    color: $color-srf-warmgrey-1100;
    white-space: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;

    @include desktop-up {
      margin-right: 2px;
      padding: 0;
    }

    &:not(span):focus,
    &:not(span):not(.nav-bar__letter--active):hover {
      background-color: $color-srf-warmgrey-50;
    }

    &:not(span):active {
      background-color: $color-srf-warmgrey-100;
    }
  }

  .nav-bar__letter--active {
    background-color: $color-srf-warmgrey-100;
  }

  .nav-bar__letter--inactive {
    color: $color-srf-warmgrey-1100a24;
  }

  li {
    flex: 1 0 auto;
    justify-content: center;

    display: flex;

    &:last-of-type .nav-bar__letter {
      margin-right: 0;
    }
  }
}
