<div class="nav-bar-wrapper">
  <ol class="nav-bar">
    <li>
      <span class="nav-bar__letter nav-bar__letter--active">Alle</span>
    </li>
    <li>
      <a class="nav-bar__letter" href="#09">#0-9</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#a">A</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#b">B</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#c">C</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#d">D</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#e">E</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#f">F</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#g">G</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#h">H</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#i">I</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#j">J</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#k">K</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#l">L</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#m">M</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#n">N</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#o">O</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#p">P</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#q">Q</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#r">R</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#s">S</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#t">T</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#u">U</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#v">V</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#w">W</a>
    </li>
    <li>
      <span class="nav-bar__letter nav-bar__letter--inactive">X</span>
    </li>
    <li>
      <a class="nav-bar__letter" href="#y">Y</a>
    </li>
    <li>
      <a class="nav-bar__letter" href="#z">Z</a>
    </li>
  </ol>
</div>
