{# <div class="l-main-wrapper"> #}
{% include 'molecules-header' %}
{% embed 'templates-article' %}

    {% block main_media_container %}
        {% include 'molecules-image-figure'  with {'styleModifier': 'image-figure--cropped-img demo-simulate-removed-html-elements'} %}
    {% endblock %}

    {% block article_content %}
        {% include 'molecules-sharing-bar' %}
        {% include 'atoms-content-header' %}
        {% include 'molecules-video-gallery' %}
        {% include 'atoms-article-text' %}
        {% include 'molecules-image-carousel' %}
        {% include 'molecules-image-figure' %}
        {% include 'atoms-article-text' %}
        {% include 'molecules-listmodule' with {'type' : 'listing'} %}
        {% include 'atoms-article-text' %}
        {% include 'molecules-listmodule' with {'type' : 'listicle'} %}
        {% include 'atoms-article-text' %}
        {% include 'atoms-text-list--unordered' %}
        {% include 'atoms-article-text' %}
        {% include 'molecules-blockquote' with {'styleModifier': 'blockquote--article-indentation'} %}
        {% include 'atoms-article-text' %}
        {% include 'molecules-textbox' with {'styleModifier': 'textbox--article-indentation'} %}
        {% include 'atoms-article-text' %}
        {% include 'atoms-text-list--ordered' %}
        {% include 'atoms-article-text' %}
        {% include 'molecules-linkbox' with {'title': 'Links zum Thema'}%}
        {% include 'atoms-article-text' %}
        {% include 'molecules-table-block' %}
        {% include 'atoms-content-header' %}
        {% include 'atoms-article-text' %}
        {% include 'molecules-video' %}
        {% include 'molecules-audio' %}
        {% include 'molecules-article-teaser' %}
        {% include 'molecules-ch-map' %}
        {% include 'molecules-audio-gallery' %}
        {% include 'molecules-video-gallery' %}
        {% include 'molecules-charts' %}
        {% include 'molecules-related-episodes' %}
        {% include 'molecules-image-slider' %}
        {% include 'molecules-ticker--closed' %}
        {% include 'molecules-form' %}
        {% include 'atoms-article-text' %}
        {% include 'atoms-article-author--short' %}
    {% endblock %}

    {% block comments_container %}
        {% include 'molecules-comments' %}
    {% endblock %}

    {% block footer_container %}
        {% include 'molecules-footer' %}
    {% endblock %}

{% endembed %}
{# </div> #}