{#% include 'molecules-header' %#}

<div class="l-main-wrapper l-card">

{% include 'atoms-breadcrumbs' %}

{% embed 'templates-article' %}
    
    {% block article_content %}
        {% include 'molecules-sharing-bar' %}
        {% include 'atoms-content-heading' %}
        {% include 'atoms-article-text' %}
        {% include 'molecules-video' %}
        {% include 'atoms-article-text' %}
        {% include 'atoms-article-author--short' %}
    {% endblock %}

{% endembed %}

</div>

{% include 'molecules-swipe-module' %}
{% include 'molecules-comments' %}

{#% include 'molecules-footer' %#}