<article class="article">
  <section class="article-content">
    {% include 'atoms-button' with {'buttonText' : 'Primary Button'} %}
    {% include 'atoms-button' with {'buttonText' : 'Senden'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--pending',   'buttonText' : 'Senden'} %}
    <div class="js-toggle-success-container">
      {% include 'atoms-button' with {'styleModifier' : 'button--success',   'buttonText' : 'Abgesendet'} %}
      <button class="js-toggle-success">Toggle Success</button>
    </div>
    {% include 'atoms-button' with {'styleModifier' : 'button--on-error',  'buttonText' : 'Fehlgeschlagen'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--retry',     'buttonText' : 'Senden'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--secondary', 'buttonText' : 'Secondary Button'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--inactive',  'buttonText' : 'Inactive Button'} %}
  </section>
</article>

<script>
  $(".js-toggle-success").on("click", function() {
      $(".js-toggle-success-container .button").toggleClass("button--success");
  });
</script>