<article class="article">
  <section class="article-content">
    {% include 'atoms-button' with {'buttonText' : 'Primary Button'} %}
    {% include 'atoms-button' with {'buttonText' : 'Senden'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--pending',   'buttonText' : 'Senden'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--success',   'buttonText' : 'Abgesendet'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--on-error',  'buttonText' : 'Fehlgeschlagen'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--retry',     'buttonText' : 'Senden'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--secondary', 'buttonText' : 'Secondary Button'} %}
    {% include 'atoms-button' with {'styleModifier' : 'button--inactive',  'buttonText' : 'Inactive Button'} %}
  </section>
</article>