    <article class="article">
      <section class="article-content">
        {% include 'molecules-listmodule-listing' %}
        {% include 'molecules-listmodule-listicle' %}
      </section>
    </article>
