.search-header {
  display: flex;
  flex-direction: column;
  padding: 16px;

  @include tablet-up {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 32px 16px;
  }
  
  @include desktop-up {
    padding: 24px 0 16px;
  }
}

.search-header__logo {
  
}

.search-header__search {
  margin: 18px -12px -16px;

  @include tablet-up {
    margin: -8px 0 0;
  }
}

.search-header__close {
  display: flex;
  align-items: center;

  @include smartphone {
    position: absolute;
    right: 16px;
  }

  @include tablet-up {
    margin-top: -8px;
  }
}

.search-header__closeText {
  display: none;
  font: 14px/1.5 $font-regular;
  letter-spacing: 0.4px;
  color: #4e4d47;

  @include tablet-up {
    display: inline-block;
  }
}
