<div class="search-header">
  <div class="search-header__logo">
    {% include 'atoms-main-logo' with {'styleModifier': 'main-logo--large'} %}
  </div>
  <div class="search-header__search">
    {% include 'atoms-search' with {'styleModifier': 'searchbox--transparent'} %}
  </div>
  <div class="search-header__close">X</div>
</div>