<div class="search-header">
  <div class="search-header__logo">
    {% include 'atoms-main-logo' with {'styleModifier': 'main-logo--large'} %}
  </div>
  <div class="search-header__search">
    {% include 'atoms-search' with {'styleModifier': 'searchbox--transparent'} %}
  </div>
  <button class="search-header__close js-close-modal">
    {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--close-dark'} %}
    <span class="search-header__closeText">Schliessen</span>
  </button>
</div>
