<div class="l-full-width-container">
    {% include 'components-image-figure'  with {'styleModifier': 'image-figure--cropped-img'} %}
</div>
{% include 'components-article-header' %}
<section class="article-content">
    {% include 'elements-article-text' %}
    {% include 'components-image-figure' %}
    {% include 'elements-article-text' %}
    {% include 'elements-text-list--unordered' %}
    {% include 'elements-article-text' %}
    {% include 'components-blockquote' %}
    {% include 'elements-article-text' %}
    {% include 'components-textbox' %}
    {% include 'elements-article-text' %}
    {% include 'elements-text-list--ordered' %}
    {% include 'elements-article-text' %}
    {% include 'components-linkbox' %}
    {% include 'elements-article-text' %}
    {% include 'components-video' %}
    {% include 'components-audio' %}
</section>