<div class="l-full-width-container l-main-media-container">
    {% include 'components-image-figure'  with {'styleModifier': 'image-figure--cropped-img demo-simulate-removed-html-elements'} %}
</div>
{% include 'components-article-header' %}
<section class="article-content">
    {% include 'elements-article-text' %}
    {% include 'components-image-figure' %}
    {% include 'elements-article-text' %}
    {% include 'elements-text-list--unordered' %}
    {% include 'elements-article-text' %}
    {% include 'components-blockquote' with {'styleModifier': 'blockquote--article-indentation'} %}
    {% include 'elements-article-text' %}
    {% include 'components-textbox' with {'styleModifier': 'textbox--article-indentation'} %}
    {% include 'elements-article-text' %}
    {% include 'elements-text-list--ordered' %}
    {% include 'elements-article-text' %}
    {% include 'components-linkbox' %}
    {% include 'elements-article-text' %}
    {% include 'elements-content-header' %}
    {% include 'components-table-block' %}
    {% include 'elements-article-text' %}
    {% include 'components-video' %}
    {% include 'components-audio' %}
    {% include 'components-audio-gallery' %}
    {% include 'components-video-gallery' %}
    {% include 'components-charts' %}
    {% include 'components-related-episodes' %}
    {% include 'components-image-slider' %}
    {% include 'components-ticker--closed' %}
</section>