<div class="l-full-width-container">
    {% include 'components-image' %}
</div>
{% include 'components-article-header' %}
{% include 'components-image' %}
{% include 'elements-article-text' %}
{% include 'components-blockquote' %}