/*
 * This file is also included in the critical css - please try to keep it small
 */

.spinner-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 22.5%;
  max-width: 64px;
  min-width: 36px;

  @include forceAspectRatio("1:1");
}

.spinner-container--bottom {
  position: relative;
  top: auto;
  bottom: 0;
}
