.spinner {
  width: 100%;
  height: 100%;
  animation: rotate360Animation 2s linear infinite;
}

.spinner__circle {
  stroke-width: 2;
  fill: none;
}

.spinner__circle--bg {
  stroke: #dadad2;
  opacity: .4;
}

.spinner__circle--dash {
  stroke: $color-srf-light;
  stroke-linecap: round;
  stroke-dasharray: 89, 200; // has to been set initially so IE11 at least shows an rotating «incomplete» circle (not quite the animation we want, but at least something is animating in IE11)
  stroke-miterlimit: 10;
  animation: spinnerDashAnimation 1.5s ease-in-out infinite;
}

.spinner--white-dash {
  .spinner__circle--dash {
    stroke: #fff;
  }
}

.spinner--loading-medium {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.spinner--size-medium {
  width: 40px;
  height: 40px;
}
