.article-audio {
  margin: 32px 0 24px;
  @include smartphone {
    margin: 24px -8px 20px;
  }
  background-color: $color-bg-caption;
  &:hover, &:active, &.played {
    background-color: #ebebe5;
  }

  &__wrapper {
    position: relative;
    width: 112px;
    height: 112px;
    float: left;
    overflow: hidden;

    @include smartphone {
      width: 80px;
      height: 80px;
      margin: 16px 0 16px 16px;
    }
    &:before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      height: 112px;
      width: 112px;
      @include smartphone {
        width: 80px;
        height: 80px;
      }
    }
    &.main-media {
      width: auto;
      height: auto;
      float: none;
      .article-audio__play-icon {
        width: 15%;
      }
    }
  }
  .image-figure__image {
    width: 215px;
    margin: -5% -50%;
    background-color: #dadad2;
    @include smartphone {
      width: 155px;
    }
  }
  &__play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64%;
    transform: translate(-50%, -50%);
    text-align: center;
    &:hover, &:active {
      background-image: url("../../assets/img/play-active.svg");
      background-size: 100%;
    }
  }
}