@import "../../variables";
@import "../../breakpoints";

.article-audio {
  background-color: $color-bg-caption;
  margin: 32px 0 32px 16px;
  display: inline-block;
  width: 100%;

  &:hover,
  &:active,
  &.played {
    background-color: #ebebe5;

    .article-audio__play-icon {
      background-image: url('../img/play-active.svg');
      background-size: 100%;
    }
  }

  @include smartphone {
    margin: 16px 0;

    &:not(.played) { // very ugly! (handling of touch states)
      background-color: $color-bg-caption;
    }
  }

  &:not(.audio--loading) { // samesame
    .spinner-container {
      display: none;
    }
    .spinner {
      animation: none;
    }
    .spinner__circle--dash {
      animation: none;
    }
  }

  .image-figure__image {
    width: 196px;
    height: 110px;
    object-fit: cover;

    // cropped and centered image
    @include smartphone {
      width: $image-size-preview;
      height: $image-size-preview;
    }
  }
}

.article-audio__wrapper {
  position: relative;
  float: left;

  @include smartphone {
    width: $image-size-preview;
    height: $image-size-preview;
    margin: 16px 0 16px 16px;
  }

  &::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    height: 110px;
    width: 196px;

    @include smartphone {
      width: $image-size-preview;
      height: $image-size-preview;
    }
  }
}

.article-audio__play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 68px;

  @include smartphone {
    width: 46px;
  }
}

.article-audio__link,
.article-audio__link:hover {
  border: 0;
}

.article-audio__player {
  height: 0;
  transition: height .4s;
}

.audio--loading,
.audio--playing {
  &.article-audio,
  &.article-audio:hover {
    background-color: $color-media-playing;
    cursor: default;
  }

  .article-audio__play-icon {
    display: none;
  }

  .article-audio__wrapper::after {
    // opacity: 0;
  }

  .media-caption__title {
    color: $color-bg-caption;
  }

  .media-caption__source,
  strong {
    color: $color-border;
  }

  .media-caption__title,
  .media-caption__source,
  strong {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.audio--loading {
  .article-audio__player {
    position: absolute;
  }

  .spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 42px;
    height: 42px;
    transform: translate(-50%, -50%);

    @include tablet-up {
      width: 63px;
      height: 63px;
    }
  }
}

.audio--playing {
  .article-audio__wrapper::before {
    opacity: 0;
  }

  .article-audio__player {
    height: 42px;
    padding: 8px;
    background-color: $color-text-default;
  }
}
