@import "../../variables";

.article-audio__link {
  margin: 24px 0;
  display: block;

  @include tablet-up {
    margin: 32px 0;
  }
}

.article-audio__link,
.article-audio__link:hover {
  border: 0;
}

.article-audio {
  background-color: $color-bg-caption;
  margin: 0;  // override Browser's figure-styling
  display: flex;
  flex-direction: row;

  &:hover,
  &:active,
  &.played {
    background-color: #ebebe5;

    .article-audio__play-icon {
      background-image: url('../img/play-active.svg');
      background-size: 100%;
    }
  }

  @include smartphone {
    &:not(.played) { // very ugly! (handling of touch states)
      background-color: $color-bg-caption;
    }
  }

  &:not('.audio--playing') { // samesame
    background-color: $color-bg-caption;
  }

  .image-figure__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.article-audio__wrapper {
  margin: 16px 0 16px 16px;
  height: 92px;
  width: 92px;
  flex-shrink: 0;
  position: relative; // so the play icon can be centered absolutely

  @include tablet-up {
    width: 196px;
    height: 110px;
    margin: 0;
  }

  // dimming overlay over the picture
  &::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    height: 100%;
    width: 100%;
  }
}

.article-audio__play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 68px;

  @include smartphone {
    width: 46px;
  }
}

.audio--playing {
  &.article-audio,
  &.article-audio:hover {
    background-color: $color-media-playing;
    cursor: default;
  }

  .article-audio__wrapper::before {
    opacity: 0;
  }

  .article-audio__play-icon {
    display: none;
  }

  .media-caption__title {
    color: $color-bg-caption;
  }

  .media-caption__source,
  strong {
    color: $color-border;
  }

  .media-caption__title,
  .media-caption__source,
  strong {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .article-audio__player {
    height: 42px;
    padding: 8px;
    background-color: $color-text-default;
  }
}
