@import "../../variables";
@import "../../mixins";

.sticky-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    transition: transform .2s ease-in-out;
    box-shadow: $shadow-elevation8;
    background-color: $color-srf-neutral-white;
    padding: 16px;

    @include tablet-up {
        padding: 0 32px 16px;
    }
}

.sticky-bar__inner-wrapper {
    max-width: $content-width;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    
    @include smartphone {
        flex-direction: row-reverse;
    }

    @include tablet-up {
        flex-wrap: wrap;
    }
}

.sticky-bar__title {
    flex: 1 1 auto;
    display: none;

    font-family: $font-medium;
    @include fontSize(24);
    line-height: 1.25;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    color: $color-srf-warmgrey-1100;

    @include tablet-up {
        display: block;
    }
}

.sticky-bar__content {
    flex: 1 1 auto;

    @include tablet-up {
        flex: 1 0 100%;
    }
}

.sticky-bar__close {
    flex: 0 0 auto;
    display: flex; // center button inside
}

/* Specfic Styles for related articles go below here */
.related-articles {
    display: flex;
}

// Mobile: 1 Teaser
// Tablet: 2 Teaser
// Desktop+: 3 Teaser
.related-article {
    flex: 1 1 0;
    margin-right: 8px;
    display: none;

    @include smartphone {
        &.related-article {
            margin-bottom: 0;
        }

        .teaser__medium-wrapper {
            display: none;
        }
    }

    &:first-child {
        display: block;
    }

    @include tablet-up {
        &:nth-child(2) {
            display: block;
        }
    }

    @include desktop-up {
        &:nth-child(3) {
            display: block;
        }
    }
}
