<div class="sticky-bar js-sticky-bar {{ styleModifier|default('') }}">
    <div class="sticky-bar__inner-wrapper">
        <div class="h-offscreen">{{ title|default('') }}</div>

        <div class="sticky-bar__title">
            {{ title|default('') }}
        </div>

        <a href="#" class="sticky-bar__close js-close-sticky-bar">
            {% include 'atoms-icon-button' with {
                'styleModifier': 'icon-button--collapsing-text-mobile',
                'iconStyleModifier': 'svg-icon--close-dark',
                'buttonText': 'Schliessen'
            } %}
        </a>

        <div class="sticky-bar__content related-articles">
            {% block content %}
                {% include 'molecules-teaser' with {
                    "styleModifier": "teaser--size-s teaser--no-medium-on-mobile related-article",
                    "teaser": collections[0].teasers[0]
                } %}

                <span class="vertical-separator related-articles__separator"></span>

                {% include 'molecules-teaser' with {
                    "styleModifier": "teaser--size-s teaser--no-medium-on-mobile related-article",
                    "teaser": collections[0].teasers[1]
                } %}

                <span class="vertical-separator related-articles__separator"></span>

                {% include 'molecules-teaser' with {
                    "styleModifier": "teaser--size-s teaser--no-medium-on-mobile related-article",
                    "teaser": collections[0].teasers[2]
                } %}
            {% endblock %}
        </div>
    </div>
</div>
