@import "../../variables";
@import "../../mixins";

.comments-header__expand-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px 0 20px 0;
  margin-right: 12px;

  @include tablet-up {
    margin-right: 20px;
  }
}

.expand-text--to-close {
  display: none;
}

.expandable--expanded {
  .expand-text--to-close {
    display: inline-block;
  }

  .expand-text--to-open {
    display: none;
  }
}

.comments-header__expand-switch > .expand-icon__text {
  color: $color-accentuation-red;
  font-family: $font-regular;
  @include fontSize(16);

  @include smartphone {
    display: none;
  }
}
