@import "../../variables";
@import "../../mixins";

@import "header-group";
@import "expand-switch";

@mixin replyToCommentsArea() {
  font-family: $font-light;
  @include fontSize(16);
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 12px 16px 0 16px;
  height: 108px;
}

.article-comments { // section
  opacity: 1; /* OVERRIDE CRITICAL CSS */
  position: relative;

  .spinner-container {
    position: relative;
    margin-top: 30px;
    display: none;
  }
}

.comments-header {
  background-color: $color-srf-warmgrey-10;
  position: relative;

  .form__validation--success p {
    margin: 0;
  }

  .comments-header__button {
    @include tablet {
      max-width: 624px;
    }
  }

  .reply-container,
  .form__validation--success {
    @include smartphone {
      margin: 0 16px 28px;
    }

    &::before {
      content: none;
    }
  }
}

.comments-header--top {
  background-color: $color-srf-warmgrey-10;
}

// Kommentare
.comments-header__title {
  @include fontSize(22);
  line-height: $emphasize-line-height-ratio;
  font-family: $font-medium;
  margin: 0;
  padding: 16px 16px 20px;

  @include tablet-up {
    padding: 24px 24px 20px;
  }
}

// login info
.comments-header__text,
// deactivation info
.comments-infobox__text,
.comments-header__info-text {
  @include fontSize(16);
  color: $color-srf-warmgrey-900;
  padding: 0 $article-offset-mobile;
  display: block;

  @include tablet-up {
    padding: 0 $article-offset;
  }
}

.comments-infobox__text {
  @include fontSize(16);
}

// login info
.comments-header__text {
  margin: 0 0 20px;

  a {
    @include text-link-defaults;
  }
}

.comments-header__text--reply {
  @include smartphone {
    padding: 0;
  }
}

// info: there are no comments yet ...
.comments-infobox {
  padding: 20px 0;
  background-color: $color-srf-neutral-offwhite;
  border-top: 1px solid $color-srf-warmgrey-50;
}

.comments-infobox__title,
.comments-header__info-title {
  font-family: $font-regular;
  @include fontSize(14);
  color: $color-srf-warmgrey-1100;
  padding: 0 $article-offset-mobile;
  margin: -4px 0 4px;

  @include tablet-up {
    margin: 0 0 4px;
    padding: 0 $article-offset;
  }
}

.comments-infobox__text,
.comments-header__info-text {
  margin: 0;
}

// no comments yet
.comments-header__info-text--padded {
  padding-bottom: 24px;
}

.comments-header__button-wrapper {
  padding: 0 16px;

  @include tablet-up {
    padding: 0 24px;
  }
}

.comments-header__button {
  font-family: $font-light;
  @include fontSize(16);
  color: $color-srf-warmgrey-800;
  padding: 12px;
  border: 1px solid $color-srf-warmgrey-300;
  border-radius: 2px;
  background: $color-srf-neutral-white;
  display: block;
  cursor: pointer;
  margin-bottom: 20px;

  @include tablet-up {
    margin-bottom: 24px;
  }

  &:hover {
    color: $color-srf-warmgrey-800;
    border-bottom: 1px solid $color-srf-warmgrey-300;
  }
}

.comments--shrink {
  @include tablet-up {
    margin-right: auto;
    margin-left: auto;
  }

  @include tablet {
    max-width: 654px;
  }

  @include desktop-up {
    max-width: 712px;
  }
}

.comments-header__placeholder .form__validation--success {
  margin: 0 16px 30px 16px;
}

.comments-header__border { // hack :(
  position: absolute;
  width: 100%;
  border-bottom: 1px solid $color-srf-warmgrey-50;
  border-width: 0 0 1px;
  margin: 0;
  bottom: 0;
  z-index: 0;
}

.comments { // ul & ul ul
  margin: 0;
  padding: 0;
  position: relative;
}

.comments--replies { // ul ul
  margin-left: 10px;

  @include tablet-up {
    margin-left: 64px;
  }
}

.comment { // ul li
  border-top: 1px solid $color-srf-warmgrey-50;
  padding: 0;
  margin: 0 $article-offset-mobile;
  position: relative;

  @include tablet-up {
    margin: 0;
    padding: 0 $article-offset;
  }

  .comment,
  .comment__link--expand-replies { // ul li li
    margin-right: 0;
    overflow: visible;

    &::before {
      content: '';
      position: absolute;
      height: 15px;
      width: 19px;
      left: -26px;
      top: -8px;
      background-image: url('../../../assets/img/icon/intendation.svg');

      @include tablet-up {
        left: -30px;
        top: 27px;
      }
    }
  }

  .comment__link--expand-replies {
    padding-left: 24px;

    @include tablet-up {
      padding-left: 0;
    }

    &::before {
      transform: rotate(180deg);
      background-image: url('../../../assets/img/linktypes/reply.svg');
      top: 0;
      left: 0;

      @include tablet-up {
        left: -26px;
      }
    }
  }

  .vertical-separator {
    margin-left: 9px;
    margin-right: 9px;
  }

  @include smartphone {
    .vertical-separator {
      margin-left: 6px;
      margin-right: 6px;
    }
  }
}

.comments--main,
.comments--popular { // ul
  margin-bottom: 13px;
  clear: both;

  @include tablet-up {
    margin: 0 auto 32px;
  }

  > .comment:first-child {
    border-top: 0;
    padding-top: 8px;
  }
}

.comment__user {
  font-family: $font-regular;
  @include fontSize(16);
  margin: 20px 0 2px;
  display: flex;

  @include tablet-up {
    margin-top: 24px;
  }
}

.comment__logo {
  height: 16px;
  width: 24px;
  margin-left: auto;

  svg {
    transform: scale(.45);
    transform-origin: 0 0;
  }
}

.comment__time {
  display: block;
  font-family: $font-regular;
  @include fontSize(12);
  line-height: $emphasize-line-height-ratio;
  color: $color-srf-warmgrey-800;
}

.comment__content {
  font-family: $font-light;
  @include fontSize(18);
  margin: 12px 0 16px;

  @include tablet-up {
    @include fontSize(20);
  }
}

.comment__clarification {
  display: flex;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 3px;

  font-family: $font-regular;
  @include fontSize(12);
  line-height: 1;
  color: $color-srf-blue-600;

  .svg-icon {
    margin-right: 8px;
  }
}

.comment__link {
  display: inline-block;
  border-bottom: 0;
  cursor: pointer; // why would this be necessary!?
  padding: 8px 0;
  margin-right: 0;
  margin-bottom: 24px;
  @include fontSize(14);
  line-height: $emphasize-line-height-ratio;
  font-family: $font-light;

  @include smartphone {
    @include fontSize(16);
  }

  @include tablet-up {
    margin-bottom: 24px;
    font-family: $font-light;
    @include fontSize(16);
    line-height: $default-line-height-ratio;
  }

  &:hover {
    border-bottom: 0;
  }

  .count b {
    font-family: $font-regular;
    font-weight: normal;
  }
}

.comment__link--reply {
  @include smartphone {
    opacity: .7;
    width: 30px;
    text-indent: -10000px;
    margin-left: -4px;
    position: relative;
  }
}

.comment__link--reply:after {
  // WOW, this is a beauty! Touch area should be 40x40, overlapping all boundries :O
  @include smartphone {
    content: '&nbsp;';
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    top: -3px;
    background: url('../../../assets/img/linktypes/reply.svg') no-repeat 10px center;
  }
}

.comment__link--reply:hover {
  @include smartphone {
    opacity: 1;
  }
}

.comment__link:visited,
.comment__link--clicked,
.comment__link--disabled,
.comment__link--disabled:hover,
.comment__link--disabled:active {
  color: $color-srf-warmgrey-800;
}

.tabs {
  height: 40px;
  padding: 0;
  margin-bottom: 0;
}

.tab-option {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;

  @include tablet-up {
    width: auto;
  }
}

.tab-option__link {
  height: 40px;
  width: 100%;
  @include fontSize(14);
  line-height: 1;
  font-family: $font-regular;
  color: $color-srf-warmgrey-800;
  border-bottom: 1px solid $color-srf-warmgrey-50;
  padding: 12px $article-offset-mobile 0;
  white-space: nowrap;
  display: inline-block;

  @include tablet-up {
    @include fontSize(16);
    padding: 12px $article-offset 0;
  }

  &:hover {
    color: $color-srf-warmgrey-800;
    border-bottom: 1px solid $color-srf-warmgrey-50;
  }
}

.tab-option__link--selected {
  color: $color-srf-red-600;
  border-bottom: 2px solid $color-srf-red-600;
  padding-bottom: 10px;

  &:hover {
    color: $color-srf-red-600;
    border-bottom: 2px solid $color-srf-red-600;
  }

  &:focus {
    outline: none;
  }
}

.comments__standalone-wrapper {
  padding: 0 16px;

  @include smartphone {
    padding: 0;
  }
}

/// replies (interactive commenting)
.reply-container { // form
  background: transparent;
  margin-bottom: 36px;
  position: relative;

  @include smartphone {
    margin: 0 0 36px 16px;
  }

  &::before {
    content: '';
    position: absolute;
    height: 15px;
    left: -26px;
    top: -7px;
    width: 19px;
    background-image: url('../../../assets/img/icon/intendation.svg');

    @include tablet-up {
      left: -46px;
      top: 17px;
    }
  }

  .button { // /: (submit buttons probably shouldn't have "defined" margins...)
    margin-top: 12px;

    @include tablet-up {
      margin-left: 16px;
    }
  }
}

.comment__placeholder {
  display: block;
  margin-left: 10px;

  @include tablet-up {
    margin-left: 65px;
  }
}

.comment--hide {
  display: none;
}

.reply { // fieldset
  border: 1px solid $color-srf-warmgrey-300;
  border-radius: 2px;
  padding: 0;
  background-color: $color-srf-neutral-white;
  position: relative;
  margin: 4px 0 16px 0;

  @include tablet-up {
    margin: 4px 16px 16px 16px;
  }
}

.reply--on-focus {
  border: 1px solid $color-srf-warmgrey-900;
}

.reply__textarea {
  width: calc(100% - 32px);
  color: $color-srf-warmgrey-1000;
  background-color: transparent;
  display: block;
  position: relative;
  z-index: 2;
  border: 0;
  padding: 0;
  resize: none; // :/
  box-shadow: none;

  @include replyToCommentsArea();

  &:focus {
    outline: none;

    + .reply-info .reply-info__count {
      position: static;
      opacity: 1;
    }
  }
}

.reply__label {
  display: block;
  @include fontSize(16);
  font-family: $font-regular;
  color: $color-srf-warmgrey-900;
  margin: 0;
  padding: 0;
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.reply__help {
  color: $color-srf-warmgrey-800;
  font-family: "SRG_SSR_Light", sans-serif;
  margin-top: 4px;
}

.reply__help--error-only {
  display: none;
  color: $color-srf-red-600;
}

.reply__form-row {
  margin-bottom: 20px;
}

.form__validation--error {
  .reply__label {
    color: $color-srf-red-600;
  }

  .reply__textfield {
    border-color: $color-srf-red-600;
  }

  .reply__help--error-only {
    display: block;
  }

  .checkbox-label::after {
    border: 1px solid $color-srf-red-600;
  }
}

.reply__textfield {
  width: 100%;
  @include fontSize(16);
  font-family: $font-light;
  color: $color-srf-warmgrey-1000;
  background-color: $color-srf-neutral-white;
  padding: 12px 44px 12px 16px;
  margin: 4px 0 2px;
  box-sizing: border-box;
  border: 1px solid $color-srf-warmgrey-300;
  border-radius: 2px;
  transition: border-color 0.2s ease-in-out;
}

.reply-info {
  @include fontSize(14);
  color: $color-srf-warmgrey-800;
  margin: 0 16px 10px;
  padding-top: 10px;
  height: 30px;
}

.reply-info__count {
  @include fontSize(14);
  color: $color-srf-warmgrey-800;
  float: right;
  position: absolute;
  opacity: 0;
}

.reply-info__count--warn {
  color: $color-srf-red-600;
}

// txt higlighting
.reply__highlights {
  color: transparent;
  position: absolute;
  overflow: hidden;
  z-index: 0;

  @include replyToCommentsArea();
}

// pink background
.reply--overboard {
  color: transparent;
  background-color: $color-srf-red-50;
}
