@import "../../variables";
@import "../../mixins";

$ticker-margin-top: 16px;
$ticker-margin-right: 0;
$ticker-margin-left: 7px;
$ticker-margin-bottom: 7px;
$ticker-margin-bottom-mobile: 20px;

$ticker-wrapper-padding: $article-offset;

$ticker-item-padding-horizontal-mobile: 16px;
$ticker-item-padding-horizontal-desktop: 32px;
$ticker-item-padding-bottom-mobile: 30px;
$ticker-item-padding-bottom-desktop: 30px;
$ticker-item-border-width: 1px;

.ticker {
  margin: $ticker-margin-top $ticker-margin-right $ticker-margin-bottom-mobile $ticker-margin-left;
  padding: 0;

  @include tablet-up {
    margin-top: 24px;
    margin-bottom: $ticker-margin-bottom;
  }
}

.ticker__wrapper {
  padding: 0 $ticker-wrapper-padding;

  ol,
  ul,
  ul:not([class]),
  ul[class=""] {
    padding: 0;
  }
}

.ticker__infobox {
  margin-top: -8px;
}

.ticker--scheduled,
.ticker--live,
.ticker--closed { // special borders
  .ticker-item:first-of-type::after {
    content: '';
    position: absolute;
    display: block;
    left: -1px;
  }
}

.ticker--closed { // fix overlapping border
  .ticker-item:first-of-type::after {
    top: 0;
    height: 3px;
    border-left: 1px solid $color-srf-neutral-white;
  }
}

.ticker--scheduled,
.ticker--live { // elongated border
  .ticker-item:first-of-type::after {
    top: -24px;
    height: 27px;
    border-left: 1px solid $color-srf-warmgrey-200;
  }
}

.ticker--live {
  .ticker-item--new::before { // red center
    left: -6px;
    border: 2px solid $color-srf-neutral-white;
    background-color: $color-srf-red-600;
    box-shadow: 0 0 0 1px $color-srf-warmgrey-200;
    box-sizing: border-box;
    transition: opacity 0.9s linear 0s;
  }
}

.ticker-item { // general
  position: relative;
  margin: -3px 0; // adjustment for last element (without border)
  padding: 0 $ticker-item-padding-horizontal-mobile $ticker-item-padding-bottom-mobile;
  border-left: $ticker-item-border-width solid $color-srf-warmgrey-200;

  @include tablet-up {
    padding: 0 $ticker-item-padding-horizontal-desktop $ticker-item-padding-bottom-desktop;
  }

  &::before { // grey circle
    content: '';
    position: absolute;
    height: 11px;
    width: 11px;
    top: 3px;
    left: -7px;
    background-color: $color-srf-neutral-white;
    border: 1px solid $color-srf-warmgrey-200;
    border-radius: 50%;
  }

  &:last-of-type { // no border for the last element
    border: 0;
    margin-left: 1px;
  }

  p {
    margin-top: 0;
  }

  .medium,
  > .image-figure,
  .table-block,
  .embed-inline,
  .carto-figure {
    left: 0;
    margin-top: 24px;

    @include smartphone {
      // fullwidth elements used to use 100vw which led to a bajillion problems due to scrollbars, especially on smaller
      // screen widths. Now we use 100% on size 1 and have to manually subtract the margins/paddings of the parents from
      // these nested elements. Fortunately there are not that many (see below, only 2/3 elements need to be considered)
      // ~pchr 22.2.18
      position: relative;
      width: auto;
      margin-left: -#{$ticker-margin-left + $ticker-wrapper-padding + $ticker-item-border-width + $ticker-item-padding-horizontal-mobile};
      margin-right: -#{$ticker-wrapper-padding + $ticker-item-padding-horizontal-mobile};
      margin-top: 10px;
      margin-bottom: 12px;

      border: 5px solid $color-srf-neutral-white;
      border-width: 5px 0;
      box-shadow: 0 0 10px 10px $color-srf-neutral-white; // like gradient
    }
  }

  .related-items-list__heading {
    display: none;
  }

  .related-items-list__item:hover .article-teaser,
  .blockquote {
    padding-left: 0;
  }

  .blockquote {
    margin: 24px 0 10px;
  }

  .related-items-list {
    margin-top: 24px;
    margin-bottom: 10px;
  }

  .related-items-list__item {
    margin-left: 0;
  }

  // html embeds special :(
  .embed-inline {
    background-color: $color-srf-neutral-white;

    @include tablet-up {
      justify-content: flex-start;
      margin: 24px 0 10px;
    }
  }

  .linkbox {
    width: 100%;
    left: 0;
    margin: 32px 0;
    padding: 0;
    background-color: $color-srf-neutral-white;

    @include smartphone {
      margin: 23px 0;
    }

    li {
      margin-left: 0;
      margin-right: -32px;
      padding-left: 8px;

      &:hover,
      &:active,
      &:focus {
        padding-left: 8px;
      }

      @include tablet-up {
        margin-right: 0;
      }
    }
  }

  .content-heading,
  .linkbox__title {
    padding: 0;
  }

  .linkbox__list {
    margin: 0;
  }

  .block-link {
    padding-left: 8px;
    background-position: right 8px center;
  }
}

.ticker-item__time {
  margin-bottom: 8px;

  font-family: $font-medium;
  @include fontSize(14);
  display: block;

  @include tablet-up {
    margin-bottom: 12px;
  }
}

.ticker-item__title {
  @include fontSize(20);

  font-family: $font-medium;
  margin: 8px 0 0;
}

.ticker__title {
  @include fontSize(22);
  font-family: $font-medium;
  line-height: $emphasize-line-height-ratio;
  margin: 32px 0 12px;

  @include smartphone {
    margin-top: 24px;
  }
}

.ticker__info {
  font-family: $font-regular;
  @include fontSize(12);
  line-height: $emphasize-line-height-ratio;
  color: $color-srf-warmgrey-800;
  background-color: $color-srf-neutral-white;
  box-shadow: 0 5px 10px 5px $color-srf-neutral-white; // like gradient
  position: relative;
  z-index: 1;

  margin: 32px 0 16px;

  @include tablet-up {
    margin: 40px 0 16px;
  }
}

.ticker__info--live {
  color: $color-srf-red-600;
  margin-bottom: 24px;
}
