{% import '_ticker.twig' as ticker %}

<div class="ticker__wrapper">
    <h2 class="ticker__title">Ticker closed</h2>
    {% include 'molecules-text-list--unordered' %}
    <p>Infos zum Ticker</p>
    <p class="ticker__info">Der Ticker ist abgeschlossen</p>
    <div><!-- div to override styling :( -->
        <ul class="ticker ticker--closed">
            <li class="ticker-item">{{ ticker.ticker_heading('10:23', 1) }}</li>
            <li class="ticker-item">{{ ticker.ticker_heading('10:21', 2) }}
                <div class="linkbox">
                    <ul class="linkbox__list">
                        <li>{% include 'atoms-block-link' with {'styleModifier': 'block-link--internal'} %}</li>
                    </ul>
                </div>
            </li>
            <li class="ticker-item">{{ ticker.ticker_heading('10:10', 5) }}{% include 'molecules-medium--vertical' %}</li>
            <li class="ticker-item">{{ ticker.ticker_heading('10:04', 3) }}{% include 'molecules-medium' %}</li>
        </ul>
    </div>
</div>