.ticker {
  margin: 30px 0 7px 7px;
  padding: 0;

  @include smartphone {
    margin-bottom: 20px;
  }
}

.ticker__wrapper {
  padding: 0 24px;

  @include tablet-up {
    padding: 0 16px;
  }

  ul {
    padding: 0;
  }
}

.ticker__infobox {
  margin-top: -8px;
}

.ticker--scheduled,
.ticker--live,
.ticker--closed { // special borders
  .ticker-item:first-of-type::after {
    content: "";
    position: absolute;
    display: block;
    left: -1px;
  }
}
.ticker--closed { // fix overlapping border
  .ticker-item:first-of-type::after {
    top: 0;
    height: 3px;
    border-left: 1px solid #fff;
  }
}
.ticker--scheduled,
.ticker--live { // elongated border
  .ticker-item:first-of-type::after {
    top: -30px;
    height: 33px;
    border-left: 1px solid $color-border;
  }
}
.ticker--live {
  .ticker-item--new::before { // red center
    left: -6px;
    border: 2px solid #fff;
    background-color: $color-accentuation-red;
    box-shadow: 0 0 0 1px $color-border;
    box-sizing: border-box;
    transition: opacity 0.9s linear 0s;
  }
}

.ticker-item { // general
  position: relative;
  margin: -3px 0; // adjustment for last element (without border)
  padding: 0 32px 30px;
  border-left: 1px solid $color-border;

  @include smartphone {
    padding: 0 16px 30px;
  }

  &::before { // grey circle
    content: '';
    position: absolute;
    height: 11px;
    width: 11px;
    top: 3px;
    left: -7px;
    background-color: #fff;
    border: 1px solid $color-border;
    border-radius: 50%;
  }

  &:last-of-type { // no border for the last element
    border: 0;
    margin-left: 1px;
  }

  p {
    margin-top: 0;
  }

  .medium,
  > .image-figure,
  .table-block,
  .embed-inline,
  .carto-figure {
    left: 0;
    margin-top: 24px;

    @include smartphone {
      @include fullwidth-element();
      margin-left: calc(-50vw - 4px); // in the wild, 4 more pixels are necessary to be removed

      margin-top: 10px;
      margin-bottom: 12px;

      border: 5px solid #fff;
      border-width: 5px 0;
      box-shadow: 0 0 10px 10px #fff; // like gradient
    }
  }

  .related-items-list__heading {
    display: none;
  }

  .related-items-list__item:hover .article-teaser,
  .blockquote {
    padding-left: 0;
  }

  .blockquote {
    margin: 24px 0 10px;
  }

  .related-items-list {
    margin-top: 24px;
    margin-bottom: 10px;
  }

  .related-items-list__item {
    margin-left: 0;
  }

  // html embeds special :(
  .embed-inline {
    background-color: #fff;

    @include tablet-up {
      justify-content: flex-start;
      margin: 24px 0 10px;
    }
  }

  .linkbox {
    width: 100%;
    left: 0;
    margin: 32px 0;
    padding: 0;
    background-color: #fff;

    @include smartphone {
      margin: 23px 0;
    }

    li {
      margin-left: 0;
      margin-right: -32px;
      padding-left: 8px;

      &:hover,
      &:active,
      &:focus {
        padding-left: 8px;
      }

      @include tablet-up {
        margin-right: 0;
      }
    }
  }

  .content-heading,
  .linkbox__title {
    padding: 0;
  }

  .linkbox__list {
    margin: 0;
  }

  .block-link {
    padding-left: 8px;
    background-position: right 8px center;
  }
}

.ticker-item__time {
  font: 14px/20px $font-regular;
  letter-spacing: .5px;
  display: block;
  margin-bottom: 12px;

  @include smartphone {
    margin-bottom: 8px;
  }
}

.ticker-item__title {
  font: 20px/30px $font-medium;
  letter-spacing: .3px;
  margin: 8px 0 0;

  @include smartphone {
    font-size: 18px;
    letter-spacing: .5px;
  }
}

.ticker__title {
  font: 22px/28px $font-medium;
  letter-spacing: .3px;
  margin: 32px 0 12px;

  @include smartphone {
    margin-top: 24px;
  }
}

.ticker__info {
  font-family: $font-system;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .2px;
  color: $color-text-light;
  border-bottom: 5px solid #fff;
  box-shadow: 0 5px 10px 8px #fff; // like gradient
  position: relative;
  z-index: 1;
}

.ticker__info--live {
  color: $color-accentuation-red;
}
