@import '../../_patterns/breakpoints';

* {
  box-sizing: border-box
}

html {
  overflow-x: hidden
}

body {
  font-family: "SRG_SSR_Light", sans-serif;
  background-color: #ebebe5;
  margin: 0;
}

html, body {
  line-height: $default-line-height-ratio;
}

a {
  text-decoration: none;
  color: #c91024;
}

.h-offscreen {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.h-element--hide {
  display: none !important
}

.l-content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;

  @include desktop {
    margin-left: 32px;
    margin-right: 32px;
  }
}
