@import '../../_patterns/variables';
@import '../../_patterns/breakpoints';
@import '../../_patterns/mixins';

/* sticky container */
@import '../../_patterns/20-molecules/sticky-container/sticky-container';

.masthead {
  height: 194px;

  position: relative;
  z-index: 100;
  box-shadow: $shadow-elevation8;
  padding: 8px 32px 0;
  background-color: $color-srf-neutral-white;

  @include smartphone {
    height: 164px;
    padding: 0 16px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 1;

    /* theme */
    background-color: var(--theme-color-gradient-1);
  }
}

.masthead__wrapper {
  max-width: $content-width;
  margin: 0 auto;
  position: relative;
}

.masthead--home {
  height: 112px;

  @include tablet-up {
    height: 72px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.masthead--compact {
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 0;

  .masthead__wrapper {
    @include tablet-up {
      padding: 8px 0;
    }
  }
}

.affix-placeholder--compact,
.masthead--compact {
  height: 56px;

  @include tablet-up {
    height: 72px;
  }
}

.masthead__universal {
  display: flex;
  align-items: center;
  min-height: 40px;

  @include smartphone {
    min-height: 56px;
  }
}

.masthead__logo {
  display: flex;
  flex: 0 0 auto;
}

.main-logo {
  width: 36px;
  height: 24px;
  background-color: $color-srf-red-700;
  display: inline-block;
  overflow: hidden;
  
  svg {
    transform: scale(.75);
    transform-origin: 0 0;
  }

  @include tablet-up {
    width: 48px;
    height: 32px;

    svg {
      transform: none;
    }
  }
}

.main-logo--large {
  @include tablet-up {
    width: 60px;
    height: 40px;
  }

  svg {
    transform: scale(1.25);
    transform-origin: 0 0;
  }
}

.masthead__portals {
  flex: 1 1 auto;
  margin-left: 10px;

  @include desktop-down {
    display: none;
  }

  .masthead--home & {
    @include tablet-up {
      display: flex;
    }
  }
}

.portalsnav {
  padding: 0;
  margin: 0;
  display: flex;

  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.portalsnav--large {
  .portalsnav__link {
    padding: 16px 10px;
    @include fontSize(18);
    line-height: $secondary-line-height-ratio;
  }
}

.portalsnav__link {
  display: inline-block;
  padding: 12px 10px;
  border-bottom: none;
  font-family: $font-bold;
  @include fontSize(14);
  line-height: 1.14;
  color: $color-srf-warmgrey-900;
}

.masthead__nav,
.masthead__button-wrapper {
  opacity: 0;
}

.masthead__button-wrapper {
  min-height: 56px;
}

.masthead__title {
  margin: 6px 0 4px -2px;
  @include fontSize(32);
  line-height: $emphasize-line-height-ratio;
  font-weight: 900;

  @include tablet-up {
    margin: 11px 0 13px -2px;
    @include fontSize(40);
  }
}

.masthead__title-link,
.masthead__title-link:hover,
.masthead__title-link:active,
.masthead__title-link:visited {
    text-decoration: none;
    color: $color-srf-warmgrey-1100;
}

.subnav__list {
  max-height: 56px;
  overflow: hidden;
}


/* THEME */

/* COMMON SETTINGS FOR ALL THEMES EXCEPT DEFAULT */
@supports (--foo: bar) {
  .masthead.masthead--theme-sport,
  .masthead.masthead--theme-meteo,
  .masthead.masthead--theme-kultur,
  .masthead.masthead--theme-dok,
  .masthead.masthead--theme-rtr_novitads,
  .masthead.masthead--theme-rtr_cultura,
  .masthead.masthead--theme-rtr_sport,
  .masthead.masthead--theme-rtr_uffants,
  .masthead.masthead--theme-rtr_archiv,
  .masthead.masthead--theme-rtr_aura,
  .masthead.masthead--theme-rtr_interpresa {
    .masthead__title-link,
    .portalsnav__link {
      color: $color-srf-neutral-white;
    }
  }
}

/* THEME-SPECIFIC SETTINGS */
.masthead.masthead--theme-sport {
  --theme-color-gradient-1: #{$theme-sport-color-1};
}

.masthead.masthead--theme-meteo,
.masthead.masthead--theme-rtr_aura {
  --theme-color-gradient-1: #{$theme-meteo-color-1};
}

.masthead.masthead--theme-kultur {
  --theme-color-gradient-1: #{$theme-kultur-color-1};
}

.masthead.masthead--theme-dok {
  --theme-color-gradient-1: #{$theme-dok-color-1};
}

.masthead.masthead--theme-rtr_novitads {
  --theme-color-gradient-1: #{$theme-rtr-novitads-color-1};
}

.masthead.masthead--theme-rtr_cultura {
  --theme-color-gradient-1: #{$theme-rtr-cultura-color-1};
}

.masthead.masthead--theme-rtr_sport {
  --theme-color-gradient-1: #{$theme-rtr-sport-color-1};
}

.masthead.masthead--theme-rtr_uffants {
  --theme-color-gradient-1: #{$theme-rtr-uffants-color-1};
}

.masthead.masthead--theme-rtr_archiv {
  --theme-color-gradient-1: #{$theme-rtr-archivar-color-1};
}

.masthead.masthead--theme-rtr_interpresa {
  --theme-color-gradient-1: #{$theme-rtr-interpresa-color-1};
}

.masthead.masthead--theme-radio_srf_1 {
  --theme-color-gradient-1: #{$theme-radio-srf-1-color-1};
}

.masthead.masthead--theme-radio_srf_2_kultur {
  --theme-color-gradient-1: #{$theme-radio-srf-2-color-1};
}

.masthead.masthead--theme-radio_srf_3 {
  --theme-color-gradient-1: #{$theme-radio-srf-3-color-1};
}

.masthead.masthead--theme-radio_srf_musikwelle {
  --theme-color-gradient-1: #{$theme-radio-srf-musikwelle-color-1};
}

.masthead.masthead--theme-radio_srf_virus {
  --theme-color-gradient-1: #{$theme-radio-srf-virus-color-1};
}
