.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .24);
}

.header-bar {
  min-height: 50px;
  background: linear-gradient(to bottom, #313131, #212121);

  @include tablet-up {
    min-height: 56px;
  }
}

.header + .l-card {
  margin-top: 50px;

  @include tablet-up {
    margin-top: 56px;
  }
}

.header-bar-wrapper,
.header-navigation {
  display: none;
}