/*! autoprefixer: off */

@import '../../_patterns/variables';
@import '../../_patterns/breakpoints';
@import '../../_patterns/mixins';
@import '../../_patterns/10-atoms/indicators/shimmer';
@import 'global';
@import 'header';
@import 'footer';

.masthead--compact {
  position: fixed;
  width: 100%;
  top: 0;
}

.article-main-media,
.article-content,
.article-comments,
.swipemod,
.related-items-list {
  opacity: 0;
  transition: opacity ease-out 1000ms, min-height ease-out 1000ms;
}

.breadcrumb__link {
  letter-spacing: -0.2px;
}

.article-author__date {
  display: none;
}

.article-author__shimmer {
  display: block;
  width: 120px;
}


.sharing-bar {
  margin-top: 26px;
  margin-bottom: 24px;
  width: 100%;
  background-color: transparent;
  text-align: center;

  @include smartphone {
    margin-top: 24px;
    margin-bottom: 32px
  }
}

.sharing-bar__container {
  padding: 0 12px;
  background-color: #fff;
  margin: 0 auto;
  display: inline-block;
  position: relative;

  @include smartphone {
    padding: 0 10px
  }
}

.sharing-bar__button {
  width: 40px;
  height: 40px;
  margin: 4px 6px;
  float: left;
  border-radius: 50%;
  color: transparent;

  @include smartphone {
    margin: 4px
  }
}

.sharing-bar__button,
.sharing-bar__summary {
  @include fontSize(12);
  line-height: $secondary-line-height-ratio;
}

.sharing-bar__button--facebook {
  background-color: #3464A5;
}
.sharing-bar__button--twitter {
  background-color: #5AA8DF;
}
.sharing-bar__button--comment {
  background-color: #4E4D47;
}
.sharing-bar__button--whatsapp {
  display: none;
  background-color: #4ECE5B;

  @include smartphone {
    display: inline-block
  }
}

.shimmer-box {
  margin: 36px 0;
  @include article-text-padding;
}


ul {
  margin: 12px 0 24px;
  list-style-type: none;
  counter-reset: item;
  padding: 0 24px
}

b, h1, h2, h3, h4, strong {
  font-weight: 400
}

img {
  border-style: none;
  display: block;
  height: auto;
  width: 100%
}


.l-content-wrapper__space {
  margin-left: 8px;
  margin-right: 8px;

  @include tablet {
    margin-left: 32px;
    margin-right: 32px;
  }

  @include desktop-up {
    margin-left: auto;
    margin-right: auto;
  }
}

.l-card {
  background-color: #fefefd;
  border-radius: 2px;
  box-shadow: $shadow-elevation1;
  margin-bottom: 16px;
  margin-top: -1px;
  padding-top: 1px;

  @include tablet-up {
    margin-bottom: 32px;
  }

  @include desktop-wide {
    margin-bottom: 40px;
  }
}

.article {
  margin: 0 auto;

  @include tablet {
    max-width: 720px;
    padding: 0 $article-offset;
  }

  @include desktop-up {
    max-width: 728px;
  }
}

.article-title {
  margin: 22px 0 0;

  @include smartphone {
    margin: 16px 0 0;
  }
}

.article-title__text {
  margin: 3px 0 18px;
  font-family: $font-medium;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 43px;
  color: #22211d;

  @include smartphone {
    margin: 0 0 13px;
    @include fontSize(32);
    line-height: $emphasize-line-height-ratio;
  }
}

.article-title__overline {
  margin: 0;
  font-family: $font-regular;
  @include fontSize(18);
  letter-spacing: 0;
  color: #c91024;
  display: block;

  @include tablet-up {
    margin-bottom: 3px;
    @include fontSize(16);
  }
}

.article-lead {
  margin: 18px 0 22px;
  @include fontSize(22);
  color: #4e4d47;
  font-family: $font-light;
  line-height: 1.45;

  @include smartphone {
    margin: 13px 0 17px;
    @include fontSize(20);
  }
}

.article-author {
  margin: 22px 0 20px;

  @include smartphone {
    margin: 17px 0 26px;
  }
}

.article-author__name {
  margin: 0;
  font-family: $font-regular;
  @include fontSize(14);
  color: #22211d;
}

.article-author__date {
  margin: 0;
  font-family: $font-regular;
  @include fontSize(12);
  line-height: $secondary-line-height-ratio;
  color: #6b6960;
}

ul {
  padding: 0 16px;

  @include smartphone {
    margin: 8px 0 20px
  }
}

.breadcrumb__link {
  @include fontSize(14);
  line-height: 1.14;
  font-family: $font-regular;
  background-color: #ebebe5;
  padding: 7px 23px 7px 12px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 10px;
  border: 8px solid transparent;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  color: #4e4d47;
  border-bottom: 8px solid transparent;
  -webkit-touch-callout: none;
  outline: 0
}

.breadcrumb__link::before {
  content: "";
  position: absolute;
  top: 11px;
  left: auto;
  right: 12px;
  height: 6px;
  width: 6px;
  border-bottom: 1px solid #6c6960;
  border-right: 1px solid #6c6960;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.horizontal-separator {
  margin: 24px -24px 20px;
  height: 1px;
  border: 0;
  background: #ebebe5 50% 0 no-repeat;

  @include smartphone {
    margin-top: 32px;
    margin-bottom: 24px
  }
}

.horizontal-separator--withcontent {
  position: relative;
  top: 25px;
  margin: 0;
}

.article-content {
  margin: 0 0 24px;
  font-family: $font-light;
  @include fontSize(20);
  color: #22211d;

  @include smartphone {
    @include fontSize(18);
  }
}


.article-content > h2 {
  padding: 0 $article-offset;
  margin: 32px 0 12px;
  font-family: $font-medium;
  @include fontSize(24);
  line-height: $emphasize-line-height-ratio;

  @include smartphone {
    margin: 24px 0 12px;
    @include fontSize(22);
    line-height: $emphasize-line-height-ratio;
  }
}

.article-content > p {
  padding: 0 $article-offset;
  margin: 12px 0 24px;

  @include smartphone {
    margin: 12px 0 20px;
  }
}

.article-header {
  padding: 0 $article-offset;
}


.breadcrumbs {
  margin: 16px 0 8px;
  padding: 0 $article-offset;
  white-space: nowrap;
  overflow-x: auto;

  @include tablet-up {
    margin: 24px 0 12px;
  }
}

.breadcrumbs__item {
  display: inline;
  margin: 0 -3px 0 -8px;
  padding: 0;
}

body::after {
  content: "";
  opacity: 0;
  height: 0;
  width: 0
}

.article-comments .spinner-container {
  display: none;
}

.comments-header__text,
.comments-infobox__text,
.comments-header__info-text,
.comment__content {
  letter-spacing: .5px;
}

.comment--initial-hide,
.comment__reply--initial-hide {
  display: none;
}

.carousel {
  max-width: 100%;
}

.media-preloading {
  height: 260px;
  position: relative;
}

.media-preloading--audio {
  height: 150px;
  background-color: #f5f5f2;
}

//TME
.medium--fullwidth-element {
  background: #f5f5f2;
  margin: 0;
  .medium__object {
    background: #111;
  }
  .media-still,
  .image {
    max-width: 1023px;
    @include desktop-up {
      max-width: 728px;
    }
    margin: 0 auto;
  }
  .media-still__image,
  .image-figure__image {
    opacity: 0;
    height: 0;
    padding-top: 56.25%;
  }
  .media-still__indicator {
    display: none;
  }
  .medium__caption {
    opacity: 0;
    min-height: 72px;
  }
}

.carousel-container--fullwidth-element {
  position: relative;
  overflow: hidden;
  background-color: #111;
  height: 0;
  padding-top: 56.25%;
  &::after {
    display: none;
  }
}
