/*! autoprefixer: off */
@import '../../_patterns/variables';
@import '../../_patterns/breakpoints';
@import '../../_patterns/mixins';
@import '../../_patterns/10-atoms/feedback/spinner';
@import '../../_patterns/40-templates/landingpage';

body.body--loading.body--loading {
  background-color: $color-srf-warmgrey-25;
  margin: 0;

  // prevent scrollbar from showing up during loading
  overflow: hidden;
  max-height: 100vh;
  
  * {
    box-sizing: border-box
  }

  .portalsnav__link,
  .masthead__title {
    font-family: $font-bold;
    font-feature-settings: "salt";
    font-weight: 400;
    @include font-smoothing;
  }

  .rlp-footer,
  .modal,
  .modal-flyout {
    display: none;
  }

  .a2z__search,
  .a2z__filter-bar,
  .a2z__lists,
  .onairnav-list,
  .pill-link-wrapper,
  .content-header__presenter-image,
  .error-page {
    visibility: hidden;
  }

  /* Loading animation */
  .loading-anim {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;  
    background: white;
    transition: opacity 0.3s linear;
  }

  .spinner {
    max-width: 100px;
  }
}
