/*! autoprefixer: off */
@import 'global';
@import 'header';
@import 'footer';
@import '../../_patterns/variables';
@import '../../_patterns/breakpoints';
@import '../../_patterns/mixins';
@import '../../_patterns/10-atoms/indicators/shimmer';
@import '../../_patterns/10-atoms/wrapper/ratio';
@import '../../_patterns/40-templates/landingpage';

body.body--loading.body--loading {
  .h-loading-only {
    display: block;
  }

  .collection {
    max-width: 100%;
    margin: $collection-gap 0 0;

    @include tablet-up {
      margin-top: $collection-gap-tablet-up;
    }

    @include desktop-wide {
      margin-top: $collection-gap-desktop-wide;
    }

    .collection__content-wrapper {
      max-width: $desktop-wide-size;
      margin: 0 auto;
      background-color: transparent;
      box-shadow: none;
    }
  }

  .collection--branded {
    background-size: cover;

    .collection__branding-wrapper {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    // no space between two branded collections
    & + .collection--branded {
      margin-top: 0;
    }

    // no space between header and an branded collection at first position
    &:first-child {
      margin-top: 0;
    }
  }

  .collection__branding-wrapper {
    max-width: $desktop-wide-size;
    margin-left: auto;
    margin-right: auto;
  }

  .collection__background-image {
    width: 100%;
    background-size: cover;
    background: #dadad2 no-repeat center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: calc(100% - 2px);
      left: 0;
      border-top: 1px solid rgba(0, 0, 0, .08);
      border-bottom: 1px solid rgba(0, 0, 0, .08);
    }

    @include forceAspectRatio("16:9");
    @include tablet-up {
      @include forceAspectRatio("3:1");
    }
    margin-bottom: -40px;

    @include desktop-wide {
      margin-bottom: -50px;
      border-radius: 3px;
    }

  }
    .collection__content-wrapper {
    display: flex;
    flex-direction: column;
  }

  .collection__teaser-list {
    display: flex;
    flex-direction: column;
    margin: 0 8px 12px;
    padding: 0;

    @include tablet-up {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      margin: 0 calc(32px - #{$teaser-col-gap-tablet-up}) -16px 32px;
    }

    @include desktop-wide {
      margin: 0 calc(40px - #{$teaser-col-gap-desktop-wide}) -20px 40px;
    }
  }

  .collection__teaser-item {
    display: flex;

    @include smartphone {
      margin: 0 0 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    @include tablet-up {
      flex-grow: 0;
      flex-shrink: 0;
      @include IESafeFlexBasis(33.3333334%);
      margin: 0;
      padding: 0 $teaser-col-gap-tablet-up 32px 0;
    }

    @include desktop-wide {
      padding: 0 $teaser-col-gap-desktop-wide 40px 0;
    }
  }

  .collection:not(.collection--swipeable) {
    .collection__teaser-item {
      @include smartphone {
        // teasers 2+ should be in S layout on mobile
        &:nth-child(n+2) {
          .teaser__main {
            flex-direction: row-reverse;
          }

          .teaser__medium-wrapper {
            padding-bottom: 0;
            width: 80px;
            height: 80px;
            margin: 16px 16px 16px 0;
            border-radius: 2px;
            overflow: hidden;
          }

          .teaser__medium {
            object-fit: cover;
          }
        }
      }
    }
  }

  .collection__title {
    display: block;
    margin: 16px 24px 12px;
    font-family: $font-medium;
    @include fontSize(24);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: $emphasize-line-height-ratio;
    color: $color-text-default;

    @include tablet-up {
      margin: 16px 32px 12px;
    }

    @include desktop-up {
      margin: 20px 32px 16px;
      @include fontSize(28);
    }

    @include desktop-wide {
      margin: 20px 40px 16px;
    }
  }

  .collection__lead {
    display: none;
  }

  .collection__title-text {
    display: none;
  }

  .collection__title-link {
    display: none;
  }

  .collection--hero {
    .collection__teaser-item {
      @include tablet-up {
        // First element: XL Teaser. Full width
        &:nth-child(1) {
          flex-basis: 100%;
        }
      }
    }
  }

  .collection--duo {
    .collection__teaser-item {
      @include tablet-up {
        flex-grow: 0;
        flex-shrink: 0;
        @include IESafeFlexBasis(33.3333334%);
        padding: 0 $teaser-col-gap-tablet-up 32px 0;

        &:nth-child(1),
        &:nth-child(2) {
          flex-basis: 50%;
        }
      }

      @include desktop-wide {
        padding: 0 $teaser-col-gap-desktop-wide 40px 0;
      }
    }
  }

  // Borderless: teasers + teaser-items take up 100% of the width, teaser-list has no gaps
  .collection--borderless {
    .collection__teaser-list {
      margin-left: 0;
      margin-right: 0;
    }

    .collection__teaser-item {
      width: 100%;
    }
    .collection__title,
    .collection__lead,
    .collection__links {
      display: none;
    }
  }

  .collection--compact,
  .collection--compact-swipeable {
    .collection__teaser-item {
      // Tablet + Desktop: 16px row gap, 24px column gap
      @include tablet-up {
        flex-grow: 0;
        flex-shrink: 0;
        @include IESafeFlexBasis(50%);
        padding: 0 $teaser-col-gap-tablet-up 16px 0;
      }

      // Desktop-wide: 20px row gap, 32px column gap
      @include desktop-wide {
        padding: 0 $teaser-col-gap-desktop-wide 20px 0;
      }

      .teaser__main {
        flex-direction: row-reverse;
      }

      .teaser__medium-wrapper {
        padding-bottom: 0;
        width: 80px;
        height: 80px;
        margin: 16px 16px 16px 0;
        border-radius: 2px;
        overflow: hidden;
      }

      .teaser__medium {
        object-fit: cover;
      }
    }

    // Exception when it has 3 teasers: then it's aligned in 3 columns on desktop+
    // Fancy CSS rules: style the first child that is also the 3rd last child
    // and then also style all following siblings of the first child that is also the 3rd last child.
    // --> apply styles to all children of a container that has exactly 3 children.
    .collection__teaser-item:first-child:nth-last-child(3),
    .collection__teaser-item:first-child:nth-last-child(3) ~ .collection__teaser-item {
      @include desktop-up {
        @include IESafeFlexBasis(33.3333334%);
        padding-right: $teaser-col-gap-tablet-up;
      }

      @include desktop-wide {
        padding-right: $teaser-col-gap-desktop-wide;
      }
    }
  }

  .collection--swipeable,
  .collection--compact-swipeable {
    .swipeable-area__wrapper {
      width: 100%;
      box-sizing: content-box;
      overflow: hidden;
      padding-top: 1px; // so that the items inside the wrapper can have a shadow
    }

    .collection__teaser-list {
      flex-wrap: nowrap;
      margin: 0;
      flex-direction: row;
    }

    .collection__teaser-item {
      padding-right: 8px;
      min-width: calc(100% - 40px);
      padding-bottom: 12px;
      margin: 0;
      width: auto;

      @include tablet-up {
        min-width: calc((100% - 32px - 44px) / 3.00001 ); // 32px: left gap between Collection and Teaser; 44px: visible part of the first 'overflowed' item
        padding-bottom: 16px;
        padding-right: 12px;
      }

      @include desktop-wide {
        min-width: calc((100% - 40px - 56px) / 3.00001 );
        padding-right: 16px;
        padding-bottom: 20px;
      }

      &:first-child {
        margin-left: 8px;

        @include tablet-up {
          margin-left: 32px;
        }

        @include desktop-wide {
          margin-left: 40px;
        }
      }
    }

    .teaser__main {
      flex-direction: column;
    }
  }

  // Selectable: Hide the selection element, show the first collection after it.
  // From that collection, only show the first 3 teasers
  .selectable {
    display: none;
  }

  .collection--selectable {
    display: none;
    margin-top: 0;

    .selectable-button {
      display: none;
    }
  }

  .selectable-wrapper {
    margin: $collection-gap 0 0;

    @include tablet-up {
      margin-top: $collection-gap-tablet-up;
    }

    @include desktop-wide {
      margin-top: $collection-gap-desktop-wide;
    }
  }

  .selectable-wrapper--branded {
    .collection--branded + &,
    .selectable-wrapper--branded + &,
    & + .collection--branded,
    &:first-child {
      // no space between:
      // * two branded selection wrappers
      // * a branded selection wrapper and a branded selection
      // * a branded selection and a branded selection wrapper
      // * header and a branded selection wrapper at first position
      margin-top: 0;
    }
  }

  // Selectable: show first 3 teasers of first collection:
  .selectable + .collection--selectable {
    display: block;

    .collection__teaser-item:nth-child(n+4) {
      display: none;
    }
  }

  .teaser {
    display: flex;
    flex-grow: 1;
    position: relative; // to position the pseudo elements
    border-radius: 2px;
    overflow: hidden; // to cut off image with border radius
    background-color: $color-bg-card;
    box-shadow: $shadow-elevation1;
    color: $color-text-default;
  }

  .teaser__medium-wrapper {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    position: relative; // for positioning ::pseudo elements

    &::after {
      position: absolute;
      pointer-events: none;
      content: '';
      width: 100%;
      height: 100%;
      background-color: #dadad2;
      top: 0;
      left: 0;
      box-sizing: border-box;
    }
    img {
      visibility: hidden; // not "display: none" because the lazy loading mechanism would fail
      width: 0; // visibility: hidden; will still let the image keep its size which breaks the loading state.
    }

  }

  .teaser__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .teaser__content {
    display: none;
  }

  .teaser__content-shimmer {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 16px 12px 16px 16px;

    @include desktop-wide {
      margin: 24px;
    }
  }

  .teaser__scoreboard,
  .teaser__opinion,
  .teaser__links,
  .media-still__indicator {
    display: none;
  }

  .ratio::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
  }

  .ratio::after {
    content: "";
    display: table;
    clear: both;
  }

  .ratio--16-9::before {
    padding-top: 56.25%;
  }

  .teaser--static {
    width: 100%;
  }

  .teaser--size-xl {
    @include tablet-up {
      .teaser__main {
        flex-direction: row;
      }
      .teaser__medium-wrapper {
        flex-basis: $teaser-xl-medium-ratio;
      }
    }
  }

  .teaser--longform {
    flex-direction: column;

    &::before {
      content: '';
      width: 100%;
      padding-top: 56.25%;
      background-color: #dadad2;
    }
  }

  .teaser__fullsize-link {
    display: none;
  }

  .teaser--longform.teaser--size-xl {
    @include tablet-up {
      flex-direction: row;

      .teaser__longform-medium {
        &::before {
          // enforce 16:9 ratio or higher (ONLY regarding the image, not the content)
          // 65.75% * 9/16 = 36.984375%
          padding-top: #{$teaser-xl-medium-ratio * 9 / 16};
          width: $teaser-xl-medium-ratio;
        }
      }
    }
  }

  .rlp-footer {
    display: none;
  }
}
