@import "../../mixins";

.related-items-list {
  opacity: 1; /* OVERRIDE CRITICAL CSS */
  color: $color-text-default;
  margin: 24px 0 32px;

  @include tablet-up {
    margin: 32px 0 40px;
  }
}

.related-items-list__heading {
  margin: 10px $article-offset;
  padding: 0;
  font-family: $font-regular;
  @include fontSize(14);
  line-height: 1.41;
  color: $color-text-light;
  text-transform: uppercase;
}

.related-items-list__list {
  padding: 0;
  margin: 12px 0 24px;

  @include smartphone {
    margin: 8px 0 20px;
  }
}

.related-items-list__item {
  margin: 0 0 0 $article-offset;
  padding: 0;
  border-top: 1px solid $color-bg-box;

  &:last-child {
    border-bottom: 1px solid $color-bg-box;
  }
}

.related-items-list__media-window {
  margin-left: #{-$article-offset};

  @include smartphone {
    margin-left: 0;
    padding-right: $article-offset;
  }
}

.related-items-list__content {
  &:hover,
  &:active,
  &:focus {
    margin-left: #{-$article-offset};
    margin-top: -1px;
    margin-bottom: -1px;
    padding-left: $article-offset;
    background-color: $color-link-bg-hover;
    border-top: 1px solid $color-bg-box;
    border-bottom: 1px solid $color-bg-box;
  }

  &:active {
    background-color: $color-link-bg-active;
  }
}
