<div><!-- this conforms to the cms display -->
    <ol class="audio-gallery">
        {% for audio in audios %}
            <li class="audio-gallery__item {{ styleModifierItem }}">
                {% include 'molecules-audio' with {
                  "audios": [audios],
                  "styleModifier": styleModifier
                } %}
            </li>
        {% endfor %}
    </ol>
</div>
