<div><!-- this conforms to the cms display -->
    <ol class="audio-gallery">
        {% for audio in audios %}
            <li class="audio-gallery__item {{ styleModifierItem }}">
                {% include 'molecules-medium' with { 'mediumType': 'audio', 'styleModifier': 'medium--compact', 'displayTinyStill': true } %}
            </li>
        {% endfor %}
    </ol>
</div>
