<ol class="audio-gallery">
    {% for audio in audios %}
        <li class="audio-gallery__item {{ styleModifierItem }}">
            {% include 'molecules-medium--audio-gallery' %}
        </li>
    {% endfor %}
</ol>