<div class="sharing-bar">
    <hr class="horizontal-separator" />
    <div class="sharing-bar__container">
        <div class="sharing-bar__button sharing-bar__button--facebook"
             data-tooltip-toggle="top"
             data-tooltip-content="Bei Facebook teilen">
        </div>
        <div class="sharing-bar__button sharing-bar__button--twitter"
             data-tooltip-toggle="top"
             data-tooltip-content="Bei Twitter teilen">
        </div>
        <div class="sharing-bar__button sharing-bar__button--whatsapp"
             data-tooltip-toggle="top"
             data-tooltip-content="Per WhatsApp versenden">
        </div>
        <div class="sharing-bar__button sharing-bar__button--comment"
             data-tooltip-toggle="top"
             data-tooltip-content="Kommentare anzeigen">36
        </div>
    </div>
    <div class="sharing-bar__summary">
        Dieser Artikel wurde <b>21</b>-mal geteilt
    </div>
</div>
