<div class="swipeable-area js-swipeable-area">
    <div class="swipeable-area__wrapper js-swipeable-area-wrapper">
        <ul>
            <li class="js-swipeable-area-item">Dies ist ein Item.</li>
            <li class="js-swipeable-area-item">Dies ist ein <br> höheres Item.</li>
            <li class="js-swipeable-area-item">Dies ist ein Item.</li>
        </ul>
    </div>
</div>