<div class="swipeable-area js-swipeable-area {{ styleModifier|default('') }}">
    <ul class="swipeable-area__wrapper js-swipeable-area-wrapper">
        <li class="swipeable-area__item js-swipeable-area-item">Dies ist ein Item.</li>
        <li class="swipeable-area__item js-swipeable-area-item">Dies ist ein <br> höheres Item.</li>
        <li class="swipeable-area__item js-swipeable-area-item">Dies ist ein Item.</li>
    </ul>

    <div class='js-swipeable-area-mask-left swipeable-area__mask swipeable-area__mask--left'></div>
    <div class='js-swipeable-area-mask-right swipeable-area__mask swipeable-area__mask--right'></div>

    <div class='swipeable-area__button-container swipeable-area__button-container--hidden js-swipeable-button-container'>
        {% include 'atoms-icon-button' with {
            'iconStyleModifier': 'svg-icon--arrow-left',
            'screenReaderText': 'Nach links scrollen',
            'styleModifier': 'js-swipeable-area-button-left swipeable-area__button swipeable-area__button--left swipeable-area__button--inactive'
        } %}
        {% include 'atoms-icon-button' with {
            'iconStyleModifier': 'svg-icon--arrow-right',
            'screenReaderText': 'Nach rechts scrollen',
            'styleModifier': 'js-swipeable-area-button-right swipeable-area__button swipeable-area__button--right'
        } %}
        <span class="swipeable-area__button-shadow swipeable-area__button-shadow--left"></span>
        <span class="swipeable-area__button-shadow swipeable-area__button-shadow--right"></span>
    </div>
</div>
