<div class="swipeable-area js-swipeable-area">
    <div class="swipeable-area__wrapper js-swipeable-area-wrapper">
        <ul>
            <li class="swipeable-area__item js-swipeable-area-item">Dies ist ein Item.</li>
            <li class="swipeable-area__item js-swipeable-area-item">Dies ist ein <br> höheres Item.</li>
            <li class="swipeable-area__item js-swipeable-area-item">Dies ist ein Item.</li>
        </ul>
        <div class='swipeable-area__button swipeable-area__button--left'><span></span></div>
        <div class='swipeable-area__button swipeable-area__button--right'><span></span></div>
        <div class='swipeable-area__mask swipeable-area__mask--left'></div>
        <div class='swipeable-area__mask swipeable-area__mask--right'></div>
    </div>
</div>
