.swipeable-area {
  position: relative;
  overflow: hidden;
}

.swipeable-area__wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  box-sizing: content-box;
  -webkit-overflow-scrolling: touch; // enable momentum scrolling on ios
  @include preventScrollbars();
}

.swipeable-area__mask {
  position: absolute;
  top: -1px;
  width: 120px;
  height: calc(100% - 40px + 20px);
}

.swipeable-area__mask--left {
  left: -80px;
  background: linear-gradient(90deg, var(--branded-background-color-start) 0%, var(--branded-background-color-start-transparent) 100%);
}

.swipeable-area__mask--right {
  right: -80px;
  background: linear-gradient(90deg, var(--branded-background-color-end-transparent) 0%, var(--branded-background-color-end) 100%);
}

.swipeable-area__button {
  position: absolute;
  border: 1px solid red;
  height: 40px;
  width: 40px;
  top: 50%;
}
