<div class="article-author">
    <p class="article-author__name"><span class="h-offscreen">{{ 'Autor: '|trans }}</span>{{ articleAuthor.name }}</p>
    <p class="article-author__date">{{ articleAuthor.date }}</p>
</div>