<h2>play-icon-ng</h2>
<div class="demo-play-icons__container">
    {% include 'atoms-play-icon-ng' %}
</div>
<h2>play-icon-ng--audio</h2>
<div class="demo-play-icons__container">
    {% include 'atoms-play-icon-ng' with { 'styleModifier' : 'play-icon-ng--audio' } %}
</div>