<h3>General Icons</h3>
<p>svg-icon--arrow-down-tiny</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--arrow-down-tiny'} %}

<p>svg-icon--arrow-down</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--arrow-down'} %}

<p>svg-icon--arrow-right</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--arrow-right'} %}

<p>svg-icon--arrow-left</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--arrow-left'} %}

<p>svg-icon--arrow-up</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--arrow-up'} %}

<p>svg-icon--burger-dark</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--burger-dark'} %}

<p>svg-icon--close-dark</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--close-dark'} %}

<p>svg-icon--search-dark</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--search-dark'} %}

<p>svg-icon--play-video-circle</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--play-video-circle'} %}

<p>svg-icon--play-video-circle (svg-icon--small)</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--play-video-circle svg-icon--small'} %}

<p>svg-icon--play-video-circle (svg-icon--tiny)</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--play-video-circle svg-icon--tiny'} %}

<p>svg-icon--play-video-circle-white (svg-icon--small)</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--play-video-circle-white svg-icon--small'} %}

<p>svg-icon--play-video-circle-white (svg-icon--tiny)</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--play-video-circle-white svg-icon--tiny'} %}

<p>svg-icon--play-audio-circle</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--play-audio-circle'} %}

<p>svg-icon--play-audio-dark</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--play-audio-dark'} %}


<p>svg-icon--play-audio-circle-white</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--play-audio-circle-white'} %}

<p>svg-icon--respond-blue (svg-icon--tiny)</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon-respond-blue svg-icon--tiny'} %}

<h3>Outline Icons</h3>
<p>svg-icon--outline-facebook-color</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--outline-facebook-color'} %}

<p>svg-icon--outline-instagram</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--outline-instagram'} %}

<p>svg-icon--outline-mail</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--outline-mail'} %}

<p>svg-icon--outline-phone</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--outline-phone'} %}

<p>svg-icon--outline-webcam</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--outline-webcam'} %}

<p>svg-icon--outline-webcam-active</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--outline-webcam-active'} %}

<p>svg-icon--outline-whatsapp</p>
{% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--outline-whatsapp'} %}

