
<p>Arrow-down-tiny</p>
{% include 'atoms-svg-icon' with {'path': 'img/icon/arrow-down-tiny.svg'} %}

<p>Arrow-down</p>
{% include 'atoms-svg-icon' with {'path': 'img/icon/arrow-down.svg'} %}

<p>Arrow-right</p>
{% include 'atoms-svg-icon' with {'path': 'img/icon/arrow-right.svg'} %}

<p>Burger-icon-dark</p>
{% include 'atoms-svg-icon' with {'path': 'img/icon/burger-icon-dark.svg'} %}

<p>Close-icon-dark</p>
{% include 'atoms-svg-icon' with {'path': 'img/icon/close-icon-dark.svg'} %}

<p>Search-icon-dark</p>
{% include 'atoms-svg-icon' with {'path': 'img/icon/search-icon-dark.svg'} %}

<p>Tv-radio-icon</p>
{% include 'atoms-svg-icon' with {'path': 'img/icon/tv-radio-icon.svg'} %}
