<h2>play-icon</h2>
<div class="demo-play-icons__container">
    {% include 'atoms-play-icon' %}
</div>
<h2>play-icon--audio</h2>
<div class="demo-play-icons__container">
    {% include 'atoms-play-icon' with { 'styleModifier' : 'play-icon--audio' } %}
</div>

<div class="demo-play-icons__container play-icon-container">
    {% include 'atoms-play-icon' %}
</div>
