@import "../../variables";

@mixin bg-settings {
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: content-box;
  box-sizing: border-box;
}

.play-icon {
  position: relative;
  height: 100%;
  width: 100%;
  outline: $play-button-border-size solid $color-srf-neutral-blacka00;
  border: 0;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: $shadow-elevation8;

  /* forcing 1:1 aspect ratio */
  @include forceAspectRatio("1:1");

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: $play-button-border-size solid $color-srf-neutral-white;
    border-radius: 50%;
    background: url("../../../assets/img/icon/play-video.svg"), $color-play-icon-normal;
    @include bg-settings;
  }

  &:hover {
    height: 100%;
    width: 100%;
    outline: none;
    border: $play-button-border-size hidden $color-play-icon-hover;
    border-radius: 50%;
    background: url("../../../assets/img/icon/play-video.svg"), $color-play-icon-hover;
    @include bg-settings;
    background-size: 102% auto;

    &::after {
      content: none;
    }
   }

  &:active {
    border-color: $color-play-icon-active;
    background-color: $color-play-icon-active;

    &::after {
      content: none;
    }
  }
}

.play-icon--audio {
  &:hover,
  &:active,
  &::after {
    background-image: url("../../../assets/img/icon/play-audio.svg");
  }
}

/* alternative image for windows high contrast mode */
@media screen and (-ms-high-contrast: active) {
  .play-icon,
  .play-icon--audio {
    &,
    &:hover,
    &:active,
    &::after {
      outline: none;
      background-image: url("../../../assets/img/icon/play-generic-high-contrast.svg");
    }
  }
}

// use case: see srf-medium-hover.js
.play-icon--hover {
  @extend .play-icon:hover;
}

.play-icon--audio.play-icon--hover {
  @extend .play-icon--audio:hover;
}
