
@mixin bg-settings {
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

$color-play-icon-normal: rgba(0, 0, 0, 0.32);
$color-play-icon-active: #f1434a;
$color-play-icon-hover:  #e31f2b;


.play-icon-ng {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  /* forcing 1:1 aspect ratio */
  @include forceSquareAspectRatio;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    border: 2px solid #FFF;
    border-radius: 50%;
    background: url("../img/icon/play-video.svg"), $color-play-icon-normal;
    @include bg-settings;
  }

  &:hover {
    &::after {
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: 2px solid $color-play-icon-hover;
      border-radius: 50%;
      background: url("../img/icon/play-video.svg"), $color-play-icon-hover;
      @include bg-settings;
      background-size: 104% auto, 100% auto;
    }
   }

  &:active {
    &::after {
      border-color: $color-play-icon-active;
      background-color: $color-play-icon-active;
    }
  }
}

.play-icon-ng--audio {
  &::after {
    background: url("../img/icon/play-audio.svg"), $color-play-icon-normal;
    @include bg-settings;
  }

  &:hover {
    &::after {
      background: url("../img/icon/play-audio.svg"), $color-play-icon-hover;
      @include bg-settings;
    }
  }

  &:active {
    &::after {
      border-color: $color-play-icon-active;
      background-color: $color-play-icon-active;
    }
  }
}

/* alternative image for windows high contrast mode */
@media screen and (-ms-high-contrast: active) {
  .play-icon-ng,
  .play-icon-ng--audio {
    &::after {
      background-image: url("../img/icon/play-generic-high-contrast.svg");
    }
  }
}

// use case: see srf-media-still.js
.play-icon-ng--hover {
  @extend .play-icon-ng:hover;
}
.play-icon-ng--audio.play-icon-ng--hover {
  @extend .play-icon-ng--audio:hover;
}
