.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.svg-icon--small {
  width: 16px;
  height: 16px;
}

.svg-icon--tiny {
  width: 12px;
  height: 12px;
}

.svg-icon--tiny-but-small-on-desktop-up {
  width: 12px;
  height: 12px;

  @include desktop-up {
    width: 16px;
    height: 16px;
  }
}

.svg-icon--arrow-red-down-tiny {
  @include caret('red', 'down', 'tiny');
}

.svg-icon--arrow-down-tiny {
  @include caret('grey', 'down', 'tiny');
}

.svg-icon--arrow-down {
  @include caret('grey', 'down', 'medium');
}

.svg-icon--arrow-right {
  @include caret('grey', 'right', 'medium');
}

.svg-icon--arrow-left {
  @include caret('grey', 'left', 'medium');
}

.svg-icon--arrow-red-up-tiny {
  @include caret('red', 'up', 'tiny');
}

.svg-icon--arrow-up {
  @include caret('grey', 'up', 'medium');
}

.svg-icon--searchmenu {
  background-image: url(../img/icon/searchmenu.svg);
  width: 35px;
}

.svg-icon--burger-dark {
  background-image: url(../img/icon/burger-dark.svg);
}

.svg-icon--close-white {
  background-image: url(../img/icon/close-white.svg);
}

.svg-icon--close-dark {
  background-image: url(../img/icon/close-dark.svg);
}

.svg-icon--search-dark {
  background-image: url(../img/icon/search-dark.svg);
}

.svg-icon--play-video-circle {
  background-image: url(../img/icon/play-video-circle.svg);

  &.svg-icon--small {
    background-image: url(../img/icon/play-video-circle-small.svg);
  }

  &.svg-icon--tiny {
    background-image: url(../img/icon/play-video-circle-tiny.svg);
  }
}

.svg-icon--play-video-circle-tiny-to-small {
  background-image: url(../img/icon/play-video-circle-tiny.svg);

  @include desktop-up {
    background-image: url(../img/icon/play-video-circle-small.svg);
  }
}

.svg-icon--play-video-circle-white {
  background-image: url(../img/icon/play-video-circle-white.svg);

  &.svg-icon--small {
    background-image: url(../img/icon/play-video-circle-white-small.svg);
  }

  &.svg-icon--tiny {
    background-image: url(../img/icon/play-video-circle-white-tiny.svg);
  }
}

.svg-icon--play-video-circle-white-tiny-to-small {
  background-image: url(../img/icon/play-video-circle-white-tiny.svg);

  @include desktop-up {
    background-image: url(../img/icon/play-video-circle-white-small.svg);
  }
}

.svg-icon--play-audio {
  background-image: url(../img/icon/play-audio-white-tiny.svg);
}

.svg-icon--play-audio-white {
  &.svg-icon--tiny {
    background-image: url(../img/icon/play-audio-white-tiny.svg);
  }
}

.svg-icon--play-audio-dark {
  background-image: url(../img/icon/play-audio-dark.svg);
}

.svg-icon--play-audio-circle {
  background-image: url(../img/icon/play-audio-circle.svg);
}

.svg-icon--play-audio-circle-white {
  background-image: url(../img/icon/play-audio-circle-white.svg);
}

.svg-icon--more {
  background-image: url(../img/icon/more.svg);
}

.svg-icon--respond-blue {
  &.svg-icon--tiny {
    background-image: url(../img/icon/respond-blue-tiny.svg);
  }
}

/* OUTLINE ICONS */
.svg-icon--outline-facebook-color {
  background-image: url(../img/icon/outline/facebook_color.svg);
}

.svg-icon--outline-instagram {
  background-image: url(../img/icon/outline/instagram.svg);
}

.svg-icon--outline-mail {
  background-image: url(../img/icon/outline/mail.svg);
}

.svg-icon--outline-phone {
  background-image: url(../img/icon/outline/phone.svg);
}

.svg-icon--outline-webcam {
  background-image: url(../img/icon/outline/webcam.svg);
}

.svg-icon--outline-webcam-active {
  background-image: url(../img/icon/outline/webcam_active.svg);
}

.svg-icon--outline-whatsapp {
  background-image: url(../img/icon/outline/whatsapp.svg);
}