.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
}

.svg-icon--arrow-down-tiny {
  @include caret('grey', 'down', 'tiny');
}

.svg-icon--arrow-down {
  @include caret('grey', 'down', 'medium');
}

.svg-icon--arrow-right {
  @include caret('grey', 'right', 'medium');
}

.svg-icon--arrow-left {
  @include caret('grey', 'left', 'medium');
}

.svg-icon--arrow-up {
  @include caret('grey', 'up', 'medium');
}

.svg-icon--burger-dark {
  background-image: url(../img/icon/burger-dark.svg);
}

.svg-icon--close-dark {
  background-image: url(../img/icon/close-dark.svg);
}

.svg-icon--search-dark {
  background-image: url(../img/icon/search-dark.svg);
}

.svg-icon--tv-radio {
  background-image: url(../img/icon/tv-radio.svg);
}
