<figure id="map-ID" class="chmap__wrapper" data-src="../../assets/demo/chmap-data.json" aria-hidden="true">
    <div id="loader"></div>
    {% include "elements-chmap.svg" %}

    {% include 'elements-media-caption-with-legend' with { 'styleModifier': 'media-caption--chmap', 'styleModifierContent': 'media-caption__content--chmap' } %}

    {% include 'elements-canton-select' %}
    <div id="infowindow-ID" class="chmap-infowindow"></div>
</figure>