<script src="../../assets/critical/onloadCSS.js"></script>
<script src="../../assets/critical/loadCSS.js"></script>

<a href="#"
   class="js-load-css"
   style="position: fixed; bottom: 48px; left: calc(50vw - 80px); width: 160px; padding: 8px 16px; z-index: 10000; border: 1px solid #666; background: rgba(255,255,255,.8)">
    LOAD FULL CSS
</a>

<script>
    $('.js-load-css').on('click', (e) => {
        var finalStyles = loadCSS("../../assets/css/main.css?{{ cacheBuster }}");
        onloadCSS( finalStyles, function() {
            window.setTimeout( function() { $('body').removeClass('body--loading'); } , 50);
        });
        $(event.currentTarget).hide();
    });
</script>
