{% embed 'templates-landingpage' %}
    {% block landingpage_content %}
        <div class="collection js-collection collection--duo">
            <div class="collection__branding-wrapper js-collection-branding-wrapper">
                <div class="collection__content-wrapper js-collection-content-wrapper">
                    <ul class="collection__teaser-list">
                        <li class="collection__teaser-item ">
                            <div class="teaser js-teaser teaser--size-l ">
                                <a class="teaser__main" href="#">
                                    <div class="ratio-wrapper teaser__medium-wrapper">
                                        <div class="ratio ratio--16-9"></div>
                                    </div>
                                    <div class="teaser__content-shimmer h-loading-only">
                                        <span class="shimmer shimmer--overline"></span>
                                        <span class="shimmer "></span>
                                        <span class="shimmer "></span>
                                        <span class="shimmer shimmer--short"></span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="collection__teaser-item ">
                            <div class="teaser js-teaser teaser--size-l ">
                                <a class="teaser__main" href="#">
                                    <div class="ratio-wrapper teaser__medium-wrapper">
                                        <div class="ratio ratio--16-9"></div>
                                    </div>
                                    <div class="teaser__content-shimmer h-loading-only">
                                        <span class="shimmer shimmer--overline"></span>
                                        <span class="shimmer "></span>
                                        <span class="shimmer "></span>
                                        <span class="shimmer shimmer--short"></span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="collection__teaser-item ">
                            <div class="teaser js-teaser teaser--size-m teaser--size-s-on-mobile ">
                                <a class="teaser__main" href="#">
                                    <div class="ratio-wrapper teaser__medium-wrapper">
                                        <div class="ratio ratio--16-9"></div>
                                    </div>
                                    <div class="teaser__content-shimmer h-loading-only">
                                        <span class="shimmer shimmer--overline"></span>
                                        <span class="shimmer "></span>
                                        <span class="shimmer "></span>
                                        <span class="shimmer shimmer--short"></span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="collection__teaser-item ">
                            <div class="teaser js-teaser teaser--size-m teaser--size-s-on-mobile ">
                                <a class="teaser__main" href="#">
                                    <div class="ratio-wrapper teaser__medium-wrapper">
                                        <div class="ratio ratio--16-9"></div>
                                    </div>
                                    <div class="teaser__content-shimmer h-loading-only">
                                        <span class="shimmer shimmer--overline"></span>
                                        <span class="shimmer "></span>
                                        <span class="shimmer "></span>
                                        <span class="shimmer shimmer--short"></span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="collection__teaser-item ">
                            <div class="teaser js-teaser teaser--with-medium js-medium-hover teaser--size-m teaser--size-s-on-mobile">
                                <a class="teaser__main" href="#">
                                    <div class="ratio-wrapper teaser__medium-wrapper">
                                        <div class="ratio ratio--16-9"></div>
                                    </div>
                                    <div class="teaser__content-shimmer h-loading-only">
                                        <span class="shimmer shimmer--overline"></span>
                                        <span class="shimmer "></span>
                                        <span class="shimmer "></span>
                                        <span class="shimmer shimmer--short"></span>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block demo_content %}
        {% include '_load-css-button.twig' %}
    {% endblock %}
{% endembed %}
