<div class="h">
  <div class="hw">
    <svg aria-hidden="true" aria-disabled="true" focusable="false"><use xlink:href="#srf-logo"></use></svg>
    <b>News</b>
    <b>Sport</b>
    <b>Meteo</b>
    <b>DOK</b>
  </div>
</div>

<b class="sw">
  <i class="s"></i>
  <i class="s"></i>
  <i class="s"></i>
  <i class="s"></i>
  <i class="s"></i>
</b>
