@import "../../variables";
@import "../../mixins";

$gap-to-window-mobile: 8px;

.table-block {
  overflow-x: auto;
  margin: 16px 0 32px;
  // enable inertia scrolling on ios devices
  -webkit-overflow-scrolling: touch;

  @include smartphone {
    margin: 16px 0px 24px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    @include smartphone {
      width: calc(100% - #{$gap-to-window-mobile});
      margin-left: $gap-to-window-mobile;
      // are you looking for the right gap? It's further down, in 'border-right-width'
    }
  }

  th {
    @include fontSize(14);

    font-family: $font-medium;
    text-align: left;
    text-transform: uppercase;
    color: $color-srf-warmgrey-1100;
    background: $color-srf-warmgrey-50;

    @include tablet-up {
      @include fontSize(16);
    }
  }

  // Adds a spacing on the right of every scrollable table-box (… 'cause of how CSS works with elements inside overflow-x)
  @include smartphone {
    thead th:last-of-type,
    tbody td:last-of-type {
      border-right-width: $gap-to-window-mobile;
    }
  }

  // if there is a thead, begin with a light bg-color
  thead + tbody tr:nth-child(even) {
    background-color: $color-srf-warmgrey-25;
  }

  thead + tbody tr:nth-child(odd) {
    background-color: $color-srf-warmgrey-10;
  }

  // otherwise begin with a dark bg-color
  tbody tr:nth-child(even) {
    background-color: $color-srf-warmgrey-10;
  }

  tbody tr:nth-child(odd) {
    background-color: $color-srf-warmgrey-25;
  }

  td {
    @include fontSize(14);

    @include tablet-up {
      @include fontSize(16);
    }
  }

  th,
  td {
    padding: 13px $article-offset-mobile 15px;

    border-style: solid;
    border-color: $color-srf-neutral-white;
    border-width: 0 1px 2px 0;
    vertical-align: top;

    @include tablet-up {
      padding: 11px $article-offset 13px;
    }
  }

  [data-align="right"] {
    text-align: right;
  }

  [data-align="left"] {
    text-align: left;
  }

  [data-align="center"] {
    text-align: center;
  }

  [data-bold="true"] {
    font-weight: bold;
  }

  [data-underline="true"] {
    text-decoration: underline;
  }

  [data-italic="true"] {
    font-style: italic;
  }
}

.table-block--legacy {
  tr[data-head="true"]:first-child td {
    @include fontSize(16);
    font-family: $font-medium;
    text-align: left;
    text-transform: uppercase;
    color: $color-srf-warmgrey-1100;
    background: $color-srf-warmgrey-50;

    @include smartphone {
      @include fontSize(14);
    }
  }
}
