<div class="form__validation {{ styleModifier }}">
    {% if styleModifier == 'form__validation--success' %}
        <img src="{{ frameworkAssetPath }}/img/btn-validation-success-copy.svg" width="58" height="58" alt="">
    {% endif %}
    <p>Hier steht die Fehlermeldung bzw. Erfolgsmeldung.</p>
</div>