@import "../../variables";
@import "../../mixins";
@import "../../breakpoints";

.button {
  width: 100%;
  padding: 13px 40px;
  text-transform: uppercase;
  font: 16px/20px $font-regular;
  letter-spacing: 1px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  border-radius: 2px;
  margin-top: 20px;
  display: block;
  // the following makes iOs display the button with css
  -webkit-appearance: none;
  background-color: $color-text-accentuation;
  box-shadow: $shadow-button-default;
  transition: background-color .2s ease-in-out,
              box-shadow .2s ease-in-out;

  .button-icon {
    width: 24px;
    height: 24px;
    margin: -6px 12px -6px -44px;
    display: none;
  }

  @include tablet-up {
    width: auto;

    .button-icon {
      margin: -6px 12px -6px 0;
    }
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $color-text-light;
    cursor: pointer;
    outline: none;
    box-shadow: $shadow-button-hover;
  }
}

.button--pending {

  &:hover,
  &:active,
  &:focus {
    cursor: default;
    background-color: $color-text-accentuation;
    box-shadow: $shadow-button-default;
    transition: none;
  }

  .button-icon {
    display: inline-block;
    @include spinner(1px, #fff, #7a7a7a);
  }
}


.button--alert,
.button--on-error {
  background: $color-accentuation-red;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-accentuation-red;
    cursor: default;
    box-shadow: $shadow-button-default;
    transition: none;
  }

  .button-icon {
    display: inline-block;
    background: url('../img/exclamation-mark.svg') no-repeat;
  }
}

.button--success {
  background: $color-button-success;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-button-success;
    cursor: default;
    box-shadow: $shadow-button-default;
    transition: none;
  }

  .button-icon {
    display: inline-block;
    background: url('../img/white_tick.svg') no-repeat;
  }
}

.button--secondary {
  color: $color-text-accentuation;
  background-color: $color-bg-box;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-bg-box-hover;
  }
}

.button--inactive {
  opacity: .48;

  &:hover,
  &:active,
  &:focus {
    cursor: default;
    background-color: $color-text-accentuation;
    box-shadow: $shadow-button-default;
    transition: none;
  }
}