<button class="button {{ styleModifier|default("") }}"
        aria-label="{{ ariaLabelText }}">
  <span class="button-icon"></span>
  <span class="button-text">{{ buttonText|default("Senden") }}</span>
</button>