@import "../../variables";
@import "../../mixins";

.checkbox {
  position: absolute;
  opacity: 0;

  // custom boxes (decorating the label)
  &:focus,
  &:active,
  &:checked {
    + .checkbox--with-bg:not(.checkbox--inactive) {
      background-color: $color-bg-box-hover;
    }
  }

  &:checked {
    &:focus,
    &:hover {
      + .checkbox--with-bg:not(.checkbox--inactive) {
        background-color: rgba(202,200,191,1);
      }
    }
  }

  &:checked,
  &:focus:checked {
    + :not(.checkbox--inactive) {
      &.checkbox-label {
        &::after {
          border-color: $color-accentuation-red;
        }

        &::before {
          content: url('../img/red_tick.svg');
          top: -2px;
          left: 4px;
        }
      }

      &.checkbox--with-bg {
        &::before {
          top: 13px;
          left: 20px;
        }
      }
    }
  }
}

.checkbox-label {
  position: relative;
  display: block;
  @include fontSize(16);
  font-family: $font-light;
  color: $color-media-playing;
  margin: 0 0 2px;
  padding: 0 0 0 32px;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::after {
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: solid 1px $color-button-active;
  }
}

.checkbox--with-bg {
  @include button-label;

  &::after {
    top: 17px;
    left: 16px;
  }
}

.checkbox--inactive {
  opacity: .48;
  cursor: default;
}

.checkbox--on-error {
  color: $color-accentuation-red;

  &::after {
    border-color: $color-accentuation-red;
  }
}
