@import "../../variables";

.checkbox {
  position: absolute;
  opacity: 0;

  // custom boxes (decorating the label)
  &:focus,
  &:active,
  &:checked {
    + .checkbox-label {
      background-color: $color-bg-box-hover;
    }
  }

  &:checked {
    &:focus,
    &:hover {
      + .checkbox-label {
        background-color: #cac8bf;
      }
    }
  }

  &:checked,
  &:focus:checked {
    + .checkbox-label {
      &::after {
        border-color: $color-accentuation-red;
      }

      &::before {
        content: url('../img/red_tick.svg');
        top: 13px;
        left: 20px;
      }
    }
    + .checkbox--inactive {
      &::after {
        border-color: $color-text-light;
      }

      &::before {
        color: $color-text-light;
      }
    }
  }
}

.checkbox-label {
  @include button-label;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::after {
    top: 17px;
    left: 16px;
    width: 16px;
    height: 16px;
    border: solid 1px $color-text-light;
  }

  &.checkbox--inactive:hover {
    background-color: $color-bg-box;
  }
}

.checkbox--inactive {
  opacity: .48;
}

.checkbox--on-error {
  color: $color-accentuation-red;

  &::after {
    border-color: $color-accentuation-red;
  }
}

// the "following" is about to move (e.g. become the standard)
// and will be cleaned up!
.checkbox--no-bg {
  & + .checkbox-label {
    font-family: $font-light;
    background-color: transparent;
    transition: none;
    padding: 0 0 0 32px;

    &:hover, &:active, &:focus {
      background-color: transparent !important; // this will go
    }

    &::after {
      top: 2px;
      left: 0;
    }
  }

  &:focus,
  &:active,
  &:checked {
    + .checkbox-label {
      background-color: transparent;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-touch-callout: none;
    }
  }

  &:checked,
  &:focus:checked {
    + .checkbox-label {
      &::before {
        top: -2px;
        left: 4px;
      }
    }
  }
}
