@import "../../variables";
@import "../../mixins";

$default-input-background: $color-srf-neutral-white;

.input-field {
  position: relative;
  display: block;
  font-family: $font-regular;
  @include fontSize(16);
  color: $color-srf-warmgrey-900;
  margin-top: 20px;
}

.input-field__text {
  width: 100%;
  @include fontSize(16);
  font-family: $font-light;
  color: $color-srf-warmgrey-1100;
  background-color: $default-input-background;
  padding: 13px 44px 13px 16px;
  margin: 4px 0 2px;
  line-height: $emphasize-line-height-ratio;
  box-sizing: border-box;
  border: 1px solid $color-srf-warmgrey-300;
  border-radius: 2px;
  transition: border-color 0.2s ease-in-out; // ??

  &:focus {
    border-color: $color-srf-warmgrey-900;
    color: $color-srf-warmgrey-1100;
    outline: none;
  }

  &[type=password] {
    @include fontSize(30);
    padding: 9px 44px 9px 16px;
  }

  &.input-field--on-error {
    background: $default-input-background url('../../../assets/img/exclamation-mark-red.svg') no-repeat right 16px center;

    &:focus {
      background: $default-input-background none;
    }
  }

  &.input-field--success {
    background: $default-input-background url('../../../assets/img/small_tick-blue.svg') no-repeat right 16px center;

    &:focus {
      background: $default-input-background none;
    }
  }

  &.input-field--icon-date {
    padding-left: 48px;
    background: $default-input-background url('../../../assets/img/icon/calendar.svg') no-repeat 12px 12px;

    &.input-field--on-error {
      background: url('../../../assets/img/icon/calendar.svg') no-repeat 12px 12px,
                  url('../../../assets/img/exclamation-mark-red.svg') no-repeat right 16px center,
                  $default-input-background;

      &:focus {
        background: $default-input-background url('../../../assets/img/icon/calendar.svg') no-repeat 12px 12px;
      }
    }
  }
}

.input-field-hint {
  @include fontSize(16);
  font-family: $font-light;
  color: $color-srf-warmgrey-800; // ???
}

.input-field--inactive {
  opacity: .48;
}

.input-field--on-error {
  border-color: $color-srf-red-600;
  color: $color-srf-red-600;
}

.input-field--success {
  border-color: $color-srf-blue-600;
}

