@import "../../variables";
@import "../../mixins";

$default-input-background: rgba(255,255,255,1);

.input-field {
  position: relative;
  display: block;
  font-family: $font-regular;
  @include fontSize(16);
  color: $color-text-accentuation;
  margin-top: 20px;
}

.input-field__text {
  width: 100%;
  @include fontSize(16);
  font-family: $font-light;
  color: $color-text-default;
  background-color: $default-input-background;
  padding: 12px 44px 12px 16px;
  margin: 4px 0 2px;
  box-sizing: border-box;
  border: 1px solid $color-form-field;
  border-radius: 2px;
  transition: border-color 0.2s ease-in-out; // ??

  &:focus {
    border-color: $color-text-accentuation;
    color: $color-text-default;
    outline: none;
  }

  &[type=password] {
    @include fontSize(30);
    padding: 9px 44px 9px 16px;
  }

  &.input-field--on-error {
    background: $default-input-background url('../img/exclamation-mark-red.svg') no-repeat right 16px center;

    &:focus {
      background: $default-input-background none;
    }
  }

  &.input-field--success {
    background: $default-input-background url('../img/small_tick-blue.svg') no-repeat right 16px center;

    &:focus {
      background: $default-input-background none;
    }
  }
}

.input-field-hint {
  @include fontSize(16);
  font-family: $font-light;
  color: $color-form-field-hint; // ???
}

.input-field--inactive {
  opacity: .48;
}

.input-field--on-error {
  border-color: $color-accentuation-red;
  color: $color-accentuation-red;
}

.input-field--success {
  border-color: $color-button-success;
}
