@import "../../variables";
@import "../../mixins";

.select-menu {
  // height: 48px;
  width: 100%;
  color: $color-text-accentuation;
  @include fontSize(16);
  font-family: $font-regular;
  letter-spacing: 0.8px; // Interactive, overriding default values
  text-indent: 16px;
  padding: 12px 0;
  border: 0;
  border-radius: 2px;
  background: rgba(235,235,229,1) url('../img/arrows/menu_arrow.svg') no-repeat right 16px center;
  box-shadow: $shadow-elevation2;
  transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;

  @include tablet-up {
    max-width: 300px;
  }

  &:hover {
    background-color: rgba(218,218,210,1);
    cursor: pointer;
  }

  &:active,
  &:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: rgba(202,200,191,1);
  }

  &:hover,
  &:active {
    box-shadow: $shadow-elevation8;
  }

  // hide default arrow
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $color-text-accentuation;
  }
}

select::-ms-expand {
  display: none;
}

// browserspecific indentations :/
// firefox only:
@-moz-document url-prefix() {
  .select-menu {
    text-indent: 8px;
  }
}

// ie11 & edge only:
_:-ms-lang(x),
.select-menu {
  padding-left: 8px;
}

.select-menu-label {
  position: relative;
  display: block;
  @include fontSize(16);
  font-family: $font-regular;
  color: $color-text-accentuation;
  margin: 20px 0 4px;
}

.select-menu--inactive {
  opacity: .48;
  transition: none;

  &:hover,
  &:active {
    background-color: rgba(235,235,229,1);
    box-shadow: $shadow-elevation2;
    cursor: default;
  }
}
