@import "../../variables";
@import "../../mixins";

.form__validation {
  @include fontSize(16);
}

.form__validation--hide {
  display: none;
}

.form__validation--success {
  color: $color-srf-neutral-white;
  background-color: $color-srf-blue-600;
  border-radius: 2px;
  padding: 28px 32px;
  height: 104px;
  margin-bottom: 30px;

  @include tablet-up {
    margin-right: auto;
    margin-left: auto;
  }

  @include tablet {
    max-width: 654px;
  }

  @include desktop-up {
    max-width: 712px;
  }

  @include smartphone {
    text-align: center;
    height: 204px;
    margin: 0 0 30px 16px;
    padding: 32px 16px;
  }
}

.form__validation--success p {
  margin: 0;
  @include smartphone {
    margin: 12px 0 0;
  }
}

.form__validation--error p {
  color: $color-srf-red-600;
  font-weight: 300;
}

.form__validation--success img {
  float: left;
  margin-right: 25px;
  width: 48px;
  height: 48px;

  @include smartphone {
    float: none;
    margin: 0 auto;
    width: 56px;
    height: 56px;
  }
}
