<ul>
  <li>
    <a href="https://www.srf.ch" class="js-popup">
      Open SRF in Popup (always)
    </a>
  </li>
  <li>
    <a href="https://www.srf.ch" class="js-popup" data-popup-width="320" data-popup-height="900">
      Open SRF in small Popup (always)
    </a>
  </li>
  <li>
    <a href="https://www.srf.ch" class="js-popup" data-popup-media-query="screen and (min-width: 1024px)">
      Open SRF in Popup (Desktop only)
    </a>
  </li>
</ul>
