{% macro ticker_heading(time, nr) %}
    <span class="ticker-item__time">{{ time }}</span>{% if nr %}<h3 class="ticker-item__title">Titel {{ nr|default(0) }}{% endif %}</h3>
{% endmacro %}
{% import _self as ticker %}
{% set ticker_text = '<p>Wegen <strong>Unregelmässigkeiten im Material des Reaktorbehälters</strong> wurde der Reaktor (<a href="https://www.google.ch">Link</a>) im März 2015 <i>vom Netz</i> genommen.</p>' %}

{% include 'components-ticker--scheduled' %}

{% include 'components-ticker--live' %}

{% include 'components-ticker--closed' %}
