<div class="menu__wrapper">
    <select class="menu">
        <option value="" selected="selected">Kanton wählen</option>
        <option value="AG">Aargau</option>
        <option value="AI">Appenzell Innerrhoden</option>
        <option value="AR">Appenzell Ausserrhoden</option>
        <option value="BE">Bern</option>
        <option value="BL">Basel-Land</option>
        <option value="BS">Basel-Stadt</option>
        <option value="FR">Freiburg</option>
        <option value="GE">Genf</option>
        <option value="GL">Glarus</option>
        <option value="GR">Graubünden</option>
        <option value="JU">Jura</option>
        <option value="LU">Luzern</option>
        <option value="NE">Neuenburg</option>
        <option value="NW">Nidwalden</option>
        <option value="OW">Obwalden</option>
        <option value="SG">St. Gallen</option>
        <option value="SH">Schaffhausen</option>
        <option value="SO">Solothurn</option>
        <option value="SZ">Schwyz</option>
        <option value="TG">Thurgau</option>
        <option value="TI">Tessin</option>
        <option value="UR">Uri</option>
        <option value="VD">Waadt</option>
        <option value="VS">Wallis</option>
        <option value="ZG">Zug</option>
        <option value="ZH">Zürich</option>
    </select>
</div>