<span class="carousel-counter">
    {% if accessibilityInfo is defined and accessibilityInfo != '' %}
        <span class="h-offscreen">{{ accessibilityInfo }} </span>
    {% endif %}
    {{ currentIndex|default(3) }} / {{ totalCount|default(10) }}
</span>
