.image-caption {
  padding: 12px 16px;
  border-bottom: 1px solid $separator-color;
  background-color: #f5f5f2;
  font: 14px/20px $font-light;
  letter-spacing: 0.5px;

  @include smartphone {
    padding: 12px 24px;
  }
}

.image-caption--no-bg {
  background-color: transparent;
}

.image-caption__title {

  display: block;
  color: #22211d;
  font-family: $font-medium;
}

.image-caption__description {
  display: block;
  color: #4e4d47;
}

.image-caption__source {
  display: block;
  padding-top: 8px;
  font: 12px/12px $font-system;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #888579;
  .small {
    text-transform: none;
  }
}

.image-caption__source_link {
  color: #555;
  font-weight: bold;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }
}