<button class="load-more">
    <img class="load-more__img" src="{{ frameworkAssetPath }}/img/arrows/red_arrow_down.svg" alt="{{ 'Mehr anzeigen'|trans }}">
    <span class="load-more__info" aria-hidden="true">{{ 'Mehr anzeigen'|trans }}</span>
</button>
