<figcaption class="media-caption {{ styleModifier }}">
    <img src="http://www.srf.ch/extension/srf_shared/design/standard/images/kantonswappen/30x30/bs.jpg" height="30" class="media-caption__image" />
    <div class="media-caption__content">
        <span class="media-caption__title">
            {{ images[0].caption.title }}
        </span>
        <span class="media-caption__description">
            {{ images[0].caption.description }}
        </span>
        <span class="media-caption__source">
            {{ images[0].caption.source }}
        </span>
    </div>
</figcaption>
