<div class="dev">
    <form id="ratings-ID" name="ratings" method="get" data-src="../../assets/demo/ratings-data.json" class="devWrap">
        <ol class="ratingstars ratingstars--toVote">
            <li class="ratingstars__elem">
                <input type="radio" id="star1" name="ratingStar[]" value="1" class="ratingstars__checkbox" />
                <label for="star1">
                    <svg class="ratingstars__star ratingstars__star--1" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M18.5,36.5 C8.55903448,36.5 0.5,28.4409655 0.5,18.5 C0.5,8.55903448 8.55903448,0.5 18.5,0.5 C28.4422069,0.5 36.5,8.55903448 36.5,18.5 C36.5,28.4409655 28.4422069,36.5 18.5,36.5 Z M18.5,7.94827586 L15.3965517,15.3965517 L7.32758621,15.3965517 L13.8038621,20.8486897 L11.0517241,29.6724138 L18.5,24.0862069 L25.9482759,29.6724138 L23.1961379,20.8486897 L29.6724138,15.3965517 L21.6034483,15.3965517 L18.5,7.94827586 Z"></path></svg>
                </label>
            </li>
            <li class="ratingstars__elem">
                <input type="radio" id="star2" name="ratingStar[]" value="2" class="ratingstars__checkbox" />
                <label for="star2">
                    <svg class="ratingstars__star ratingstars__star--2" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M18.5,36.5 C8.55903448,36.5 0.5,28.4409655 0.5,18.5 C0.5,8.55903448 8.55903448,0.5 18.5,0.5 C28.4422069,0.5 36.5,8.55903448 36.5,18.5 C36.5,28.4409655 28.4422069,36.5 18.5,36.5 Z M18.5,7.94827586 L15.3965517,15.3965517 L7.32758621,15.3965517 L13.8038621,20.8486897 L11.0517241,29.6724138 L18.5,24.0862069 L25.9482759,29.6724138 L23.1961379,20.8486897 L29.6724138,15.3965517 L21.6034483,15.3965517 L18.5,7.94827586 Z"></path></svg>
                </label>
            </li>
            <li class="ratingstars__elem">
                <input type="radio" id="star3" name="ratingStar[]" value="3" class="ratingstars__checkbox" />
                <label for="star3">
                    <svg class="ratingstars__star ratingstars__star--3" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M18.5,36.5 C8.55903448,36.5 0.5,28.4409655 0.5,18.5 C0.5,8.55903448 8.55903448,0.5 18.5,0.5 C28.4422069,0.5 36.5,8.55903448 36.5,18.5 C36.5,28.4409655 28.4422069,36.5 18.5,36.5 Z M18.5,7.94827586 L15.3965517,15.3965517 L7.32758621,15.3965517 L13.8038621,20.8486897 L11.0517241,29.6724138 L18.5,24.0862069 L25.9482759,29.6724138 L23.1961379,20.8486897 L29.6724138,15.3965517 L21.6034483,15.3965517 L18.5,7.94827586 Z"></path></svg>
                </label>
            </li>
            <li class="ratingstars__elem">
                <input type="radio" id="star4" name="ratingStar[]" value="4" class="ratingstars__checkbox" />
                <label for="star4">
                    <svg class="ratingstars__star ratingstars__star--4" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M18.5,36.5 C8.55903448,36.5 0.5,28.4409655 0.5,18.5 C0.5,8.55903448 8.55903448,0.5 18.5,0.5 C28.4422069,0.5 36.5,8.55903448 36.5,18.5 C36.5,28.4409655 28.4422069,36.5 18.5,36.5 Z M18.5,7.94827586 L15.3965517,15.3965517 L7.32758621,15.3965517 L13.8038621,20.8486897 L11.0517241,29.6724138 L18.5,24.0862069 L25.9482759,29.6724138 L23.1961379,20.8486897 L29.6724138,15.3965517 L21.6034483,15.3965517 L18.5,7.94827586 Z"></path></svg>
                </label>
            </li>
            <li class="ratingstars__elem">
                <input type="radio" id="star5" name="ratingStar[]" value="5" class="ratingstars__checkbox" />
                <label for="star5">
                    <svg class="ratingstars__star ratingstars__star--5" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M18.5,36.5 C8.55903448,36.5 0.5,28.4409655 0.5,18.5 C0.5,8.55903448 8.55903448,0.5 18.5,0.5 C28.4422069,0.5 36.5,8.55903448 36.5,18.5 C36.5,28.4409655 28.4422069,36.5 18.5,36.5 Z M18.5,7.94827586 L15.3965517,15.3965517 L7.32758621,15.3965517 L13.8038621,20.8486897 L11.0517241,29.6724138 L18.5,24.0862069 L25.9482759,29.6724138 L23.1961379,20.8486897 L29.6724138,15.3965517 L21.6034483,15.3965517 L18.5,7.94827586 Z"></path></svg>
                </label>
            </li>
        </ol>
        <p class="resultWording"><strong><span class="resultNumber--js">0.0</span> Sterne</strong> / Ihre Wertung: <span class="myNumber--js">0</span> Sterne</p>
    </form>
</div>



{#
<ol class="ratingstars ratingstars--toVote">
    <li class="ratingstars__elem"><input type="radio" id="" class="ratingstars__checkbox" /><label for="" class=""><svg class="ratingstars__star is-active" /></label></li>
    <li class="ratingstars__elem"><input type="radio" id="" class="ratingstars__checkbox" /><label for="" class=""><svg class="ratingstars__star is-active" /></label></li>
    <li class="ratingstars__elem"><input type="radio" id="" class="ratingstars__checkbox" /><label for="" class=""><svg class="ratingstars__star is-active" /></label></li>
    <li class="ratingstars__elem"><input type="radio" id="" class="ratingstars__checkbox" /><label for="" class=""><svg class="ratingstars__star" /></label></li>
    <li class="ratingstars__elem"><input type="radio" id="" class="ratingstars__checkbox" /><label for="" class=""><svg class="ratingstars__star" /></label></li>
</ol>
<ol class="ratingstars ratingstars--isVoted">
    <li class="ratingstars__elem"><svg class="ratingstars__star is-votedActive" /></li>
    <li class="ratingstars__elem"><svg class="ratingstars__star is-votedActive" /></li>
    <li class="ratingstars__elem"><svg class="ratingstars__star is-votedActive" /></li>
    <li class="ratingstars__elem"><svg class="ratingstars__star is-votedActive" /></li>
    <li class="ratingstars__elem"><svg class="ratingstars__star" /></li>
</ol>
#}