<div class="spinner-container">
    <svg class="spinner" viewBox="25 25 50 50">
        <circle class="spinner__circle spinner__circle--bg" cx="50" cy="50" r="20" />
        <circle class="spinner__circle spinner__circle--dash" cx="50" cy="50" r="20" />
    </svg>
</div>
