.submit-button {
  width: 100%;
  padding: 16px 40px;
  text-transform: uppercase;
  font: 16px/20px $font-regular;
  letter-spacing: 1px;
  color: #fff;
  border: 0;
  @include rounded-corners(2px);
  background-color: $color-text-accentuation;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24),
  0 0 2px 0 rgba(0, 0, 0, 0.12);
  @include tablet-up {
    width: auto;
    margin-left: 16px;
  }
  &:hover {
    background-color: #6b6960;
    cursor: pointer;
  } &:active {
      background-color: #888579;
    } &:hover, &:active {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24),
        0 0 8px 0 rgba(0, 0, 0, 0.12);
      }
}
.submit-button--error {
  background-color: $color-accentuation-red;
  // hover... ?
}
.submit-button--success {
  background-color: #1a7ac5;
  // hover... ?
}