.tooltip {
    position: relative;
    display: inline-block;
    padding: 6px 8px    ;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.4px;

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    background-color: #ffffff;
}

.tooltip-arrow {
    position: absolute;
    background-color: #ffffff;
    left: 50%;
    bottom: -0.4em;
    margin-left: -8px;

    border: 0.4em solid black;
    border-color: transparent transparent #ffffff #ffffff;

    box-shadow: -0.11em 0.11em 2px 0px rgba(0, 0, 0, 0.20);

    transform: rotate(-45deg);
}
