@import "../../variables";
@import "../../mixins";

.media-caption {
  padding: 12px $article-offset;
  font-family: $font-light;
  @include fontSize(16);
  color: $color-text-default;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.media-caption--with-image {
  flex-direction: row;
}

.media-caption--hover {
  transition: background 200ms $easing-in-out-standard;
  background-color: $color-bg-box;
}

.media-caption--with-separator {
  border-bottom: 1px solid #cac8bf;
}

.media-caption--in-box {
  padding-left: 0;
  padding-right: 0;
}

.media-caption--audio {
  padding-right: 16px;
  padding-left: 16px;
}

.media-caption__title {
  flex: 0 0 auto;
  margin-bottom: 4px;
  font-family: $font-medium;
  line-height: $emphasize-line-height-ratio;
  @include breakLongWords();

  @include tablet-up {
    margin-bottom: 8px;
  }
}

.media-caption__description {
  flex: 0 0 auto;
  margin-bottom: 8px;
  line-height: $secondary-line-height-ratio;
  color: $color-text-accentuation;
}

.media-caption__source {
  flex: 0 0 auto;
  font-family: $font-regular;
  @include fontSize(12);
  line-height: $secondary-line-height-ratio;
  text-transform: uppercase;
  color: $color-text-light;

  .small {
    text-transform: none;
  }
}

.media-caption__source_link {
  color: #555;
  font-weight: bold;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.media-caption__title--audio {
  color: $color-text-default;
  margin-bottom: 4px;
}

.media-caption__source--audio {
  margin-bottom: 4px;
  text-transform: none;

  .media-caption__source-title {
    color: $color-text-accentuation;
  }
}

.media-caption__source--video {
  margin-bottom: 4px;
  text-transform: none;

  .media-caption__source-title {
    color: $color-text-accentuation;
  }
}

.media-caption__image {
  height: 30px;
  width: auto;
  max-width: 100px;
  margin: 4px 12px 0 0;
}

.media-caption--chmap {
  padding: 12px 16px;
  border-bottom: 2px solid #fff;

  @include tablet-up {
    flex-direction: row;
    padding: 12px $article-offset
  }
}

.media-caption__content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.media-caption__content--chmap {
  @include tablet-up {
    width: 33%;
    float: left;
    margin-right: 16px;
  }
}

.media-caption--active {
  .media-caption__title {
    color: $color-bg-caption;
  }

  .media-caption__source,
  .media-caption__source-title {
    color: $color-border;
  }

  .media-caption__title,
  .media-caption__source,
  .media-caption__source-title {
    @include font-smoothing;
  }

  &.media-caption--hover {
    transition: none;
    background-color: transparent;
  }
}

.media-caption--compact {
  padding-top: 4px;
  padding-bottom: 4px;

  .media-caption__title {
    display: none;
  }

  .media-caption__description {
    display: none;
  }

  @include smartphone {
    display: none;
  }

}

.media-caption--related-items {
  padding: 0 12px 0 0;
  background-color: transparent;

  @include tablet-up {
    padding: 0 $article-offset;
  }

  &.media-caption--hover,
  &.media-caption--hover:active,
  &.media-caption--hover:focus {
    background-color: transparent;
  }

  .media-caption__title--video {
    color: $color-text-default;
    margin-bottom: 4px;
  }

  .media-caption__source--video {
    color: $color-text-light;
    text-transform: none;
  }
}
