<figcaption class="media-caption media-caption--video{{ styleModifier == 'RelatedEpisodes' ? '-related-episodes' : '' }}">
    <span class="h-offscreen">Video «</span>
    <div class="media-caption__title media-caption__title--video">{{ video.title }}</div>
    <div class="media-caption__source media-caption__source--video">Aus <strong class="media-caption__source-title">{{ video.show.title }}</strong> vom {{ video.show.date|date("d.m.Y") }}</div>
    <span class="h-offscreen">» abspielen, Video wird im Player abgespielt</span>
</figcaption>