<div class="filter-bar-wrapper">
  <ol class="filter-bar">
    <li>
      <a class="filter-bar__letter filter-bar__letter--active js-filter-bar-trigger" data-blockid="a2z-all" href="#a2z-all">Alle</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-#0-9" href="#a2z-#0-9">#0-9</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-a" href="#a2z-a">A</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-b" href="#a2z-b">B</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-c" href="#a2z-c">C</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-d" href="#a2z-d">D</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-e" href="#a2z-e">E</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-f" href="#a2z-f">F</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-g" href="#a2z-g">G</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-h" href="#a2z-h">H</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-i" href="#a2z-i">I</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-j" href="#a2z-j">J</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-k" href="#a2z-k">K</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-l" href="#a2z-l">L</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-m" href="#a2z-m">M</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-n" href="#a2z-n">N</a>
    </li>
    <li>
      <span class="filter-bar__letter filter-bar__letter--inactive">O</span>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-p" href="#a2z-p">P</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-q" href="#a2z-q">Q</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-r" href="#a2z-r">R</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-s" href="#a2z-s">S</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-t" href="#a2z-t">T</a>
    </li>
    <li>
      <span class="filter-bar__letter filter-bar__letter--inactive">U</span>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-v" href="#a2z-v">V</a>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-w" href="#a2z-w">W</a>
    </li>
    <li>
      <span class="filter-bar__letter filter-bar__letter--inactive">X</span>
    </li>
    <li>
      <span class="filter-bar__letter filter-bar__letter--inactive">Y</span>
    </li>
    <li>
      <a class="filter-bar__letter js-filter-bar-trigger" data-blockid="a2z-z" href="#a2z-z">Z</a>
    </li>
  </ol>
</div>
