.media-caption--poll {
  margin: 0;
  padding: 0;
  width: 100%;
}
.media-caption__description--poll {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin: 16px;
}

.poll-wrapper {
  .image-figure {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.poll {
  padding: 0;
  margin: 2px 0 0;
  overflow: hidden;
  // possibly / hopefully only temporary ...?
  .article-audio {
    // tmp:
    // overflow: hidden;
  }
  .article-audio__wrapper {
    /* float: none;
    height: auto;
    margin: 0;
    width: auto;
    // left: calc(50% - 16px);
    // transform: translate(-50%, 0);
    &:before {
      height: auto;
    } */
  }
  .image-figure__image {
    height: auto;
    width: 100%;
  }
  &.poll--with-media {
    @include tablet-up {
      margin-top: 8px;
    }
  }
}
.poll__submit { // submit button
  width: 100%;
  padding: 16px;
  // margin-top: 8px;
  font: 16px/20px $font-regular;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  @include rounded-corners(2px);
  background-color: #4e4d47;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  @include tablet-up {
    width: 174px;
    margin-left: 16px;
  }
}
.poll-option { // list element
  padding: 0;
  margin: 0 0 2px;
  &:last-of-type {
    margin-bottom: 8px;
  }
  &:before {
    content: none; // overwrite
  }
  .article-video, .article-audio { // overwrite
    // margin: 0;
  }

  &.poll-option--with-media {
  // experimental!!
    @include tablet-up {
      width: calc(50% - 4px);
      float: left;
      margin-bottom: 8px;
      &:nth-of-type(odd) {
        margin-right: 8px;
      }
      .image-figure {
        width: auto;
      }
    }
  }
}
.poll-option__radio {
  display: none;
}
.poll-option-label {
  position: relative;
  display: block;
  background-color: $color-bg-box;
  padding: 12px 24px;
  @include rounded-corners(2px);
  cursor: pointer;

  // custom radios
  &:before, &:after {
    content: "";
    position: absolute;
    @include rounded-corners(50%);
  }
  &:before {
    top: 16px;
    left: 20px;
    width: 14px;
    height: 14px;
    display: inline-block;
    background-color: $color-accentuation-red;
  }
  &:after {
    top: 12px;
    left: 16px;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    display: inline-block;
    background-color: $color-bg-box;
    border: solid 1px $color-text-light;
  }
  &:hover {
    background-color: $color-bg-box-hover;
  }
  &:hover:after, &--selected:after {
    border: solid 1px $color-accentuation-red;
    background-color: transparent;
  }
  // custom radios end here
}
.poll-option-label__title {
  // display: inline-block;
  font: 16px/20px $font-regular;
  letter-spacing: 0.5px;
  margin: 0 0 0 36px;
}
.poll-option-label__description {
  margin: 0 0 0 36px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .5px;
}

// rating / responses
.poll-option-rating {
  position: relative;
  // height: 56px;
  min-height: 56px;
  @include rounded-corners(2px);
  background-color: $color-bg-box;
  // overflow: hidden;
  display: none; // initial => to be changed in js ..
  &:hover {
    background-color: $color-bg-box-hover;
  }
}
.poll-option-rating__answer-copy {
  position: absolute;
  top: 50%;
  width: calc(100% - 88px); // 88 = 72 + 16
  font: 16px/20px $font-regular;
  letter-spacing: .5px;
  margin: 0;
  padding: 16px;
  transform: translate(0px, -50%);
}
.poll-option-rating__percent {
  position: absolute;
  min-width: 72px;
  // float: right;
  right: 16px;
  text-align: right;
  font: 24px/20px $font-light;
  letter-spacing: .3px;
  margin: 0 16px 0 0;
  top: 50%;
  transform: translate(0, -50%);
}
.poll-option-rating__bg-color {
  position: absolute;
  height: 100%;
  width: 0;
  opacity: 0;
  background-color: $color-accentuation-red; // #fff;
  // opacity: 0;
  // transition: all 5s;
}
.poll-option-rating__bg-color--animate {
  // width: 200px;
  // opacity: 1;
  // background-color: $color-accentuation-red;
  transition: all 2s ease-in;
}
.poll-roundup {
  height: 56px;
  margin: 0;
  padding: 16px;
  background-color: #f5f5f2;
  display: none;
  @include rounded-corners(2px);
}