@import "../../variables";

.article-media {
  margin: 0;

  &:hover,
  &:active {
    .article-media__play-icon {
      background-image: url('../img/play-active.svg');
      background-size: 100%;
    }
  }
}

.article-media__link {
  position: relative;
  display: block;
  // covering up the link
  border: 0;

  &:hover {
    border: 0;
  }

  &::before {
    // this is the only place that works (must be div or link or similar..)
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    height: 100%;
    width: 100%;
  }
}

.article-media--image {
  position: relative;

  &::after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  .image-figure__image {
    height: 100%;
    left: 0;
    min-width: 100%;
    object-fit: contain;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
  }
}

.poll--with-media {
  .media-play { // how many different play icons do we actually use???
    transform: translate(-50%, -34px);
  }

  .media-play__icon {
    margin-bottom: 4px; // not sure if this is right :/
  }
}

// img cropping ...
.poll--with-media.poll--submitted {
  .article-media {
    position: relative;
    width: $image-size-preview-gallery;
    height: $image-size-preview-gallery;
    right: 0;
    margin: 16px;
    float: right;
    z-index: 1; // ???
  }

  .article-media__link {
    height: 100%;
  }

  .image-figure__image {
    height: 100%;
    object-fit: cover;
  }

  .media-play {
    top: 50%;
    width: 40px;
  }

  .media-play__length {
    display: none;
  }
}
