{% set infolinesElem = infolinesElem ?: infolines.video %}
{% set infolineSource = infolineSource ?: false %}

<p class="infoline {{styleModifier}}">{{infolinesElem}}{% if infolineSource == 'true' %} <span class="infoline-source">{{infolines.source}}</span>{% endif %}</p>