{% set infolineElem = infolineElem ?: infolines.video %}
{% set infolineSource = infolineSource ?: false %}

<p class="infoline {{styleModifier}}">{{infolineElem}}{% if infolineSource == 'true' %} <span class="infoline-source">{{infolines.source}}</span>{% endif %}</p>