<blockquote class="quote">
    <span class="quote__sign">&laquo;</span>
    &nbsp;Test test test&nbsp;
    <span class="quote__sign">&raquo;</span>
    <footer>
        <cite class="quote__author">
            Hasan Kryeziu<br>
            <span class="quote__function">Test test</span>
        </cite>
    </footer>
</blockquote>