.horizontal-separator {
  margin: 24px 0 20px 0;
  height: 1px;
  border: 0;
  background: #ebebe5 50% 0 no-repeat;
}

.horizontal-separator--content-max-width {
  margin-left: -16px;
  margin-right: -16px;

  @include desktop-widest-down {
    @include fullwidth-element;
  }
}