.horizontal-separator {
  margin: 32px 0 24px;
  height: 1px;
  border: 0;
  background: #ebebe5 50% 0 no-repeat;

  @include smartphone {
    margin: 24px 0 20px;
  }
}

.horizontal-separator--content-max-width {
  margin-left: -16px;
  margin-right: -16px;

  @include desktop-widest-down {
    @include fullwidth-element;
  }
}