<figure class="image-figure {{ styleModifier }}">
    <div class="image-figure__image-wrapper">
        <img class="image-figure__image"
             alt=""
             sizes="100vw"
             srcset="
             {% for source in images[0].sources %}
                {{ source.src }} {{ source.width }}w,
             {% endfor %}
             "
             src="{{ images[0].sources.s8.src }}">
    </div>
    {% include 'elements-media-caption' with {'styleModifier': imageCaptionStyle } %}
</figure>
