<ol class="log">
    <li class="log__entry">
        <div class="log__time">09:53</div>
        <div class="log__title">Ferry Me Over</div>
        <div class="log__artist">Bo Katzman and the Cat</div>
    </li>
    <li class="log__entry">
        <div class="log__time">09:49</div>
        <div class="log__title">Money's Too Tight To Mention</div>
        <div class="log__artist">Simply Red</div>
    </li>
    <li class="log__entry">
        <div class="log__time">03:21</div>
        <div class="log__title">This Old Heart Of Mine</div>
        <div class="log__artist">Stefanie Heinzmann</div>
    </li>
    <li class="log__entry">
        <div class="log__time">01:42</div>
        <div class="log__title">In Our Lifetime</div>
        <div class="log__artist">Texas</div>
    </li>
    <li class="log__entry">
        <div class="log__time">23:11</div>
        <div class="log__title">Money's Too Tight To Mention</div>
        <div class="log__artist">Simply Red</div>
    </li>
</ol>
