@import "../../variables";
@import "../../mixins";

.listmodule {
  margin: 24px 0;

  @include tablet-up {
    margin: 32px 0;
  }
}

.listmodule__title {
  font-weight: 500;
  @include fontSize(22);
  font-family: $font-medium;
  line-height: $emphasize-line-height-ratio;
  color: $color-srf-warmgrey-1100;
  margin: 0 0 16px;
  @include article-text-padding;
}

.listmodule__list {
  padding: 0 $article-offset;
}
