.listmodule {
  margin: 24px 0;
  @include tablet-up {
    margin: 32px 0;
  }
}

.listmodule__title {
  font: normal 500 22px/28px $font-medium;
  letter-spacing: .2px;
  color: $color-text-default;
  margin: 0 0 16px;
  @include article-text-padding;
}
