@import "../../variables";
@import "../../mixins";

.linkbox {
  margin: 40px 0 24px;

  @include smartphone {
    margin-top: 32px;
  }
}

.linkbox__title {
  margin: 0 0 16px;
  font-family: $font-medium;
  @include fontSize(20);
  line-height: $emphasize-line-height-ratio;

  @include article-text-padding;

  @include smartphone {
    @include fontSize(18);
  }
}

.linkbox__list {
  padding: 0;
  margin: 0;

  > li {
    margin: 0 0 0 $article-offset;
    padding: 0;
    border-top: 1px solid $color-bg-box;

    &:hover,
    &:focus {
      background-color: $color-link-bg-hover;
    }

    &:active {
      background-color: $color-link-bg-active;
    }

    &:hover,
    &:focus,
    &:active {
      border-color: transparent;
      margin-left: 0;
      padding-left: $article-offset;

      // hide top border of the list item after the current one
      & + li {
        border-top-color: transparent;
      }
    }

    &:last-child {
      border-bottom: 1px solid $color-bg-box;
    }

  }
}

.linkbox--related {
  margin: 0 16px 16px 0;

  @include tablet-up {
    margin: 0 0 24px 180px;
    padding-right: 0;
  }

  .linkbox__list {
    > li {
      margin-left: 0;
      padding-left: 0;

      @include tablet-up {
        padding-left: 8px;
      }
    }
  }

  .linkbox__title {
    @include fontSize(14);
    margin: 0 0 8px 0;
    padding: 0;
    color: $color-text-light;
    font-family: $font-regular;

    @include tablet-up {
      padding-left: 8px;
    }
  }
}

//Special Case for Mobile view of HTML EMbeds
.linkbox.no-swear {
  margin: 40px 0;

  @include smartphone {
    margin: 32px 0;
    position: inherit;
    padding: 0;
  }

  .linkbox__list {
    margin-left: 0;
  }
}
