.rtv {
  margin: 16px 8px;

  @include tablet-up {
    margin: 16px 0;
  }
}

/* Headings */
.rtv-head {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 16px;

  @include tablet-up {
    margin-top: 48px;
    margin-bottom: 24px;
  }

  .rtv-title {
    font-family: $font-regular;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    margin: 0;
    align-self: baseline;

    @include tablet-up {
      font-size: 28px;
      line-height: 1;
    }
  }

  .rtv-morelink {
    font-family: $font-regular;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: .4px;
    color: #fff;
    align-self: baseline;
    white-space: nowrap;
  
    .svg-icon {
      margin-right: -5px;
      margin-bottom: -3px;
      width: 16px;
      height: 16px;
      filter: invert(100%) contrast(600%);
    }
  }
}

/* Lists */
.rtv-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 -16px;
  padding: 0;

  @include tablet-up {
    flex-direction: row;
  }

  @include tablet {
    margin: 0 -12px;
  }

  @include desktop-up {
    margin: 0 -16px;
  }

  li {
    flex: 0 1 100%;
    margin: 0;
    padding: 0;

    @include tablet {
      flex-basis: calc(33.3334% - 2 * 12px);
      margin: 0 12px;
    }

    @include desktop-up {
      flex-basis: calc(33.3334% - 2 * 16px);
      margin: 0 16px;
    }

    &:before {
      display: none;
    }
  }
}

.rtv-list--compact {
  flex-direction: row;
  margin-top: -1px;
  margin-bottom: -1px;

  @include tablet-up {
    margin-right: 0;
    margin-left: 0;
  }

  li {
    flex: 0 1 calc(33.3334% - 2 * 1px);
    margin: 1px;

    @include tablet {
      flex: 0 1 calc(16.6667% - 2 * 1px);
    }

    @include desktop-up {
      flex: 0 1 calc(11.1111% - 2 * 1px);
    }
  }
}

/* Link-Elements */
.rtv-link {
  display: block;
  height: 100%;
  border-radius: 2px;
  background-color: #22211d;
  color: #fff;
  margin: 1px 0;
  padding: 18px 16px;

  @include tablet-up {
    margin: 0;
  }

  &:hover,
  &:focus {
    background-color: rgba(255,255,255,.08);
    color: #fff;
  }

  &:active {
    background-color: rgba(255,255,255,.16);
    color: #fff;
  }
}

.rtv-list--arrow {
  .rtv-link {
    padding: 18px 56px 18px 16px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 8px;
      top: 50%;
      margin-top: -12px;
      width: 24px;
      height: 24px;
      background: url(../img/arrows/caret.svg);
      transform: rotate(-90deg);
      filter: invert(100%) contrast(600%);
    }
  }
}

.rtv-list--program {
  .rtv-link {
    margin-bottom: 12px;
    position: relative;
  }
}

/* LIVE-Badges */
.rtv-link__live {
  display: inline-block;
  margin-bottom: 12px;
  padding: 2px 8px;
  backdrop-filter: blur(2px);
  background-image: linear-gradient(319deg, #e31f2b, #f28b02);
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  font-family: $font-regular;
  color: #fff;
}

/* Link-Elements Title */
.rtv-link__title {
  display: block;
}

.rtv-list--program {
  .rtv-link__title {
    font-family: $font-medium;
  }
}

/* Progress-Bar */
.rtv-link__progress {
  appearance: none;
  border: none;
  background-color: #383732;
  color: #8d0614;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

.rtv-link__progress[value]::-webkit-progress-bar {
	background-color: #383732;
}

.rtv-link__progress[value]::-webkit-progress-value {
	position: relative;
	background-color: #8d0614;
}

/* Radio-Stations */
.rtv-radiologo {
  margin-bottom: 12px;
}

.rtv-radiostation {
  font-family: $font-regular;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.4px;
  color: #fff;
}
