<div class="rtv">
  <ul class="rtv-list">
    <li><a href="#">Play SRF</a></li>
    <li><a href="#">Sendungen A-Z</a></li>
    <li><a href="#">Podcasts</a></li>
  </ul>

  <div class="rtv-head">
    <h3 class="rtv-title">Livestreams</h3>
  </div>
  <ul class="rtv-list">
    <li><a href="#">Debatte über die Selbstbestimmungs-Initiative im Ständerat</a></li>
    <li><a href="#">Eishockey: Playoff-Viertelfinal, Fribourg - Lugano</a></li>
  </ul>

  <div class="rtv-head">
    <h3 class="rtv-title">Jetzt im TV</h3>
    <a class="rtv-morelink" href="#">TV-Programm <span class="svg-icon svg-icon--arrow-right"></span></a>
  </div>
  <ul class="rtv-list">
    <li><a href="#">Kreuzfahrt ins Glück: Hochzeitreise nach Bermuda</a></li>
    <li><a href="#">Chicago Fire</a></li>
    <li><a href="#">Auf und davon</a></li>
  </ul>

  <div class="rtv-head">
    <h3 class="rtv-title">Jetzt im Radio</h3>
    <a class="rtv-morelink" href="#">Radio-Programm <span class="svg-icon svg-icon--arrow-right"></span></a>
  </div>
  <ul class="rtv-list rtv-list--compact">
    <li><a href="#">Radio SRF 1</a></li>
    <li><a href="#">Radio SRF 2 Kultur</a></li>
    <li><a href="#">Radio SRF 3</a></li>
    <li><a href="#">Radio SRF Musikwelle</a></li>
    <li><a href="#">Radio SRF Virus</a></li>
    <li><a href="#">Radio Swiss Pop</a></li>
    <li><a href="#">Radio Swiss Classic</a></li>
    <li><a href="#">Radio Swiss Jazz</a></li>
  </ul>
</div>
