/* autoprefixer grid: on */
.canton-map {
  // Flex: Fallback if browser does not support CSS Grid -> iOS 10.2 and older, which are supported by SRF News App
  display: flex;
  flex-wrap: wrap;

  @supports (display: grid) {
    display: grid;
    grid-gap: 2px;
    grid-template:
            "aa ab ac ad ae af ag ah" 40px
            "ba bb bc bd be bf bg bh" 40px
            "ca cb cc cd ce cf cg ch" 40px
            "da db dc dd de df dg dh" 40px
            "ea eb ec ed ee ef eg eh" 40px
            "fa fb fc fd fe ff fg fh" 40px /
      40px 40px 40px 40px 40px 40px 40px 40px;
    margin-left: -22px;

    @include tablet-up {
      grid-gap: 4px;
      grid-template:
              "aa ab ac ad ae af ag ah" 42px
              "ba bb bc bd be bf bg bh" 42px
              "ca cb cc cd ce cf cg ch" 42px
              "da db dc dd de df dg dh" 42px
              "ea eb ec ed ee ef eg eh" 42px
              "fa fb fc fd fe ff fg fh" 42px /
      42px 42px 42px 42px 42px 42px 42px 42px;
      margin-left: 0;
    }
  }
}

.canton-map__link--bs {
  grid-area: ad;
}

.canton-map__link--sh {
  grid-area: af;
}

.canton-map__link--ju {
  grid-area: bc;
}

.canton-map__link--bl {
  grid-area: bd;
}

.canton-map__link--ag {
  grid-area: be;
}

.canton-map__link--zh {
  grid-area: bf;
}

.canton-map__link--tg {
  grid-area: bg;
}

.canton-map__link--ar {
  grid-area: bh;
}

.canton-map__link--ne {
  grid-area: cc;
}

.canton-map__link--so {
  grid-area: cd;
}

.canton-map__link--lu {
  grid-area: ce;
}

.canton-map__link--zg {
  grid-area: cf;
}

.canton-map__link--sg {
  grid-area: cg;
}

.canton-map__link--ai {
  grid-area: ch;
}

.canton-map__link--vd {
  grid-area: db;
}

.canton-map__link--fr {
  grid-area: dc;
}

.canton-map__link--be {
  grid-area: dd;
}

.canton-map__link--nw {
  grid-area: de;
}

.canton-map__link--sz {
  grid-area: df;
}

.canton-map__link--gl {
  grid-area: dg;
}

.canton-map__link--gr {
  grid-area: dh;
}

.canton-map__link--ge {
  grid-area: ea;
  @supports (grid-area: ea / ea / eb / eb) {
    grid-area: ea / ea / eb / eb;
  }
  justify-self: center;
}

.canton-map__link--vs {
  grid-area: ec;
  @supports (grid-area: ec / ec / ed / ed) {
    grid-area: ec / ec / ed / ed;
  }
  justify-self: center;
}

.canton-map__link--ow {
  grid-area: ee;
}

.canton-map__link--ur {
  grid-area: ef;
}

.canton-map__link--ti {
  grid-area: ff;
}

/* autoprefixer grid: off */

