<div class="media-still js-medium-hover">
    <div class="media-still__image">
        {% include 'atoms-image' with { 'styleModifier' : 'image--media-still' } %}
    </div>
    <div class="media-still__icon">
        {% include 'atoms-play-icon' with { 'styleModifier' : 'play-icon--audio' } %}
    </div>
</div>


