{% set mediumType = mediumType|default('video') %}
<div class="media-still media-still--dynamic {{ styleModifier }} js-medium-hover">
    <div class="media-still__image">
        {% include 'atoms-image' with { 'styleModifier' : 'image--media-still-dynamic' } %}
    </div>
    <div class="media-still__icon">
        {% include 'atoms-play-icon' with { 'styleModifier' : 'play-icon--' ~ mediumType } %}
    </div>
    <div class="media-still__indicator">
        {% include 'atoms-media-time-indicator' %}
    </div>
</div>
