.media-still {
  position: relative;
}

.media-still__image {
  height: 100%;

  &:hover {
    opacity: 0.9;
  }
}

// use case: see srf-medium-hover.js
.media-still__image--hover {
  @extend .media-still__image:hover;
}

// use case: see srf-medium-hover.js
.media-still__image--no-hover {
  &:hover {
    opacity: 1;
  }
}

.media-still__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22.45%; // 22.5% did cause subpixel rendering issues in some cases in firefox, but 22.45% works
  max-width: calc(64px + #{$play-button-border-size * 2});
  min-width: calc(36px + #{$play-button-border-size * 2});

  /* forcing 1:1 aspect ratio */
  @include forceAspectRatio("1:1");
}

.media-still__indicator {
  position: absolute;
  /* fallback */
  display: block;
  bottom: 8px;
  right: 8px;
  /* theme */
  @supports (--foo: bar) {
    display: var(--media-time-indicator-display, block);
    bottom: var(--media-time-indicator-bottom, 8px);
    right: var(--media-time-indicator-right, 8px);
  }
  line-height: 1;
}

.media-still--video,
.media-still--audio,
.media-still--compact {
  position: relative;

  /* forcing 16:9 aspect ratio of container */
  @include forceAspectRatio("16:9");

  //targeting the technical player's iframe
  iframe {
    position: absolute;
    height: 100%;
    top: 0;
  }

  &::after { /* to clear float */
    content: "";
    display: table;
    clear: both;
  }
}

.media-still--poll-submitted {
  .image {
    padding-bottom: 100%;
  }

  .media-still__indicator {
    display: none;
  }
}

// media-still--compact behaves like a media-still--video on desktop
// but results in a square still without time indicator on mobile
.media-still--compact {
  @include smartphone {
    position: relative;

    /* forcing 1:1 aspect ratio of container */
    &::before {
      padding-top: 100%;
    }

    .media-still__indicator {
      display: none;
    }
  }
}

.media-still--active {
  .media-still__icon,
  .media-still__indicator {
    transition: opacity 375ms $easing-in-out-standard;
    opacity: 0;
  }
}

.media-still--dynamic {
  position: absolute;
  height: 100%;
  width: 100%;
}
