.media-still {
  position: relative;
}

.media-still__image {
  transition: filter 200ms $easing-in-out-standard;
  transform: translateZ(0); // avoids blurring/jumping during transition for safari
  backface-visibility: hidden;

  &:hover {
    filter: brightness(0.9); // does not work in IE, but we accept that
  }
}

// use case: see srf-media-still.js
.media-still__image--hover {
  @extend .media-still__image:hover;
}

.media-still__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;

  @include smartphone {
    width: 40px;
    height: 40px;
  }
}

.media-still__indicator {
  position: absolute;
  bottom: 8px;
  right: 8px;
  line-height: 1;

  @include tablet-up {
    bottom: 16px;
    right: 16px;
  }
}

.media-still--video,
.media-still--compact {
  position: relative;

  /* forcing 16:9 aspect ratio of container */
  &::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 56.25%;
  }

  //targeting the technical player's iframe
  iframe {
    position: absolute;
    height: 100%;
    top: 0;
  }

  &::after { /* to clear float */
    content: "";
    display: table;
    clear: both;
  }

  .media-still__icon {
      width: 64px;
      height: 64px;
  }
}


// media-still--compact behaves like a media-still--video on desktop
// but results in a square still without caption and time indicator on mobile
.media-still--compact {

  @include smartphone {
    position: relative;

    /* forcing 1:1 aspect ratio of container */
    &::before {
      padding-top: 100%;
    }

    .media-still__indicator {
      display: none;
    }
  }
}
