<div class="media-still media-still--video {{ styleModifier }} js-medium-hover">
    <div class="media-still__image">
        {% include 'atoms-image' with { 'styleModifier' : 'image--media-still-video' } %}
    </div>
    <div class="media-still__icon">
        {% include 'atoms-play-icon' with { 'styleModifier' : '' } %}
    </div>
    <div class="media-still__indicator">
        {% include 'atoms-media-time-indicator' %}
    </div>
</div>