<div class="songlog">
  <div class="songlog__entry">
    <div class="songlog__time">09:53</div>
    <div class="songlog__title">Ferry Me Over</div>
    <div class="songlog__artist">Bo Katzman and the Cat</div>
  </div>
  <div class="songlog__entry">
    <div class="songlog__time">09:49</div>
    <div class="songlog__title">Money's Too Tight To Mention</div>
    <div class="songlog__artist">Simply Red</div>
  </div>
  <div class="songlog__entry">
    <div class="songlog__time">03:21</div>
    <div class="songlog__title">This Old Heart Of Mine</div>
    <div class="songlog__artist">Stefanie Heinzmann</div>
  </div>
  <div class="songlog__entry">
    <div class="songlog__time">01:42</div>
    <div class="songlog__title">In Our Lifetime</div>
    <div class="songlog__artist">Texas</div>
  </div>
  <div class="songlog__entry">
    <div class="songlog__time">23:11</div>
    <div class="songlog__title">Money's Too Tight To Mention</div>
    <div class="songlog__artist">Simply Red</div>
  </div>
</div>
