<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #ff0000 ;"></span>
        <span class="sg-label">#ff0000 </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #00ff00 ;"></span>
        <span class="sg-label">#00ff00 </span>
    </li>
</ul>
