<script src="../../assets/js/clmtrackr.js"></script>
<div class="seemore">
  <div class="seemore-video">
    <video class="seemore-video--element" width="400" height="300" preload="auto" loop playsinline autoplay></video>
    <canvas class="seemore-video--overlay" width="400" height="300"></canvas>
  </div>

  <div class="seemore-image">
    <div class="seemore-image--front"></div>
    <div class="seemore-image--back"></div>
    <div class="seemore-image--bg"></div>
  </div>
</div>