<div class="textbox {{ styleModifier }}">
    <h4 class="textbox__title">Viele richtige Voraussagen</h4>
    {% include 'components-image-figure' with { 'imageCaptionStyle': 'media-caption--no-bg', 'styleModifier' : 'image-figure--in-box'} %}
    <div class="textbox__content">
        <p>Barlow rief zusammen mit einem Softwaremillionär die «Electronic Frontier Foundation» ins Leben, die noch heute für freie Netze und gegen Überwachung kämpft.</p>
        {% include 'elements-text-list--unordered' %}
        <p>Barlow rief zusammen mit einem <strong>Softwaremillionär</strong> die «Electronic Frontier Foundation» ins Leben, die noch heute für freie Netze und gegen Überwachung kämpft.</p>
    </div>
</div>