/*
 * MASTHEAD THEME SETTINGS
 *
 * Theme settings are defined here at the masthead level and not on the page level because the
 * change of a value of a css custom property triggers a style recalculation for _all_ of its children
 * @see https://twitter.com/jonikorpi/status/865283047368818688
 */

/* DEFAULTS */

.masthead {
  --theme-color-gradient-1: #{$theme-default-color-1};
  --theme-color-gradient-2: #{$theme-default-color-2};
  --theme-color-title: #{$color-text-default};
  --theme-color-nav: #{$color-text-accentuation};
  --theme-color-bg-hover: #{$color-nav-bg-hover};
  --theme-color-bg-active: #{$color-nav-bg-active};
  --theme-color-active: #{$color-accentuation-red};
  --theme-color-nav-active-border: #f1434a;
  --theme-color-nav-hover-text: #{$color-text-default};
  --theme-color-pager-start: #{$theme-default-color-bg-pager-start};
  --theme-color-pager-start-transparent: #{$theme-default-color-bg-pager-start-transparent};
  --theme-color-pager-end: #{$theme-default-color-bg-pager-end};
  --theme-color-pager-end-transparent: #{$theme-default-color-bg-pager-end-transparent};
  --theme-icon-filter: none;
}

/* COMMON SETTINGS FOR ALL THEMES EXCEPT DEFAULT */
.masthead.masthead--theme-sport,
.masthead.masthead--theme-meteo,
.masthead.masthead--theme-kultur,
.masthead.masthead--theme-dok,
.masthead.masthead--theme-rtr_novitads,
.masthead.masthead--theme-rtr_cultura,
.masthead.masthead--theme-rtr_sport,
.masthead.masthead--theme-rtr_uffants,
.masthead.masthead--theme-rtr_archiv,
.masthead.masthead--theme-rtr_aura,
.masthead.masthead--theme-rtr_interpresa,
.masthead.masthead--theme-radio-srf-2-kultur,
.masthead.masthead--theme-radio-srf-3,
.masthead.masthead--theme-radio-srf-musikwelle {
  --theme-color-bg-hover: rgba(255, 255, 255, 0.12);
  --theme-color-bg-active: rgba(255, 255, 255, 0.24);
  --theme-color-title: #FFF;
  --theme-color-nav: #FFF;
  --theme-color-active: #FFF;
  --theme-color-nav-active-border: #FFF;
  --theme-color-nav-hover-text: #FFF;
  --theme-icon-filter: invert(100%) contrast(600%);
  --theme-item-opacity: 1;
  --theme-grayscale-filter: grayscale(100%);

  @include font-smoothing;

  .masthead__title-link {
    //only browsers that support css custom properties (and therefore themes) should add a text-shadow
    @supports (--foo: bar) {
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
    }
  }
}

/* THEME-SPECIFIC SETTINGS */
.masthead.masthead--theme-sport {
  --theme-color-gradient-1: #{$theme-sport-color-1};
  --theme-color-gradient-2: #{$theme-sport-color-2};
  --theme-color-pager-start: #{$theme-sport-color-bg-pager-start};
  --theme-color-pager-start-transparent: #{$theme-sport-color-bg-pager-start-transparent};
  --theme-color-pager-end: #{$theme-sport-color-bg-pager-end};
  --theme-color-pager-end-transparent: #{$theme-sport-color-bg-pager-end-transparent};
}

.masthead.masthead--theme-meteo,
.masthead.masthead--theme-rtr_aura {
  --theme-color-gradient-1: #{$theme-meteo-color-1};
  --theme-color-gradient-2: #{$theme-meteo-color-2};
  --theme-color-pager-start: #{$theme-meteo-color-bg-pager-start};
  --theme-color-pager-start-transparent: #{$theme-meteo-color-bg-pager-start-transparent};
  --theme-color-pager-end: #{$theme-meteo-color-bg-pager-end};
  --theme-color-pager-end-transparent: #{$theme-meteo-color-bg-pager-end-transparent};
}

.masthead.masthead--theme-kultur {
  --theme-color-gradient-1: #{$theme-kultur-color-1};
  --theme-color-gradient-2: #{$theme-kultur-color-2};
  --theme-color-pager-start: #{$theme-kultur-color-bg-pager-start};
  --theme-color-pager-start-transparent: #{$theme-kultur-color-bg-pager-start-transparent};
  --theme-color-pager-end: #{$theme-kultur-color-bg-pager-end};
  --theme-color-pager-end-transparent: #{$theme-kultur-color-bg-pager-end-transparent};
}

.masthead.masthead--theme-dok {
  --theme-color-gradient-1: #{$theme-dok-color-1};
  --theme-color-gradient-2: #{$theme-dok-color-2};
  --theme-color-pager-start: #{$theme-dok-color-bg-pager-start};
  --theme-color-pager-start-transparent: #{$theme-dok-color-bg-pager-start-transparent};
  --theme-color-pager-end: #{$theme-dok-color-bg-pager-end};
  --theme-color-pager-end-transparent: #{$theme-dok-color-bg-pager-end-transparent};
}


.masthead.masthead--theme-rtr_novitads {
  --theme-color-gradient-1: #{$theme-rtr-novitads-color-1};
  --theme-color-gradient-2: #{$theme-rtr-novitads-color-2};
  --theme-color-pager-start: #{$theme-rtr-novitads-color-bg-pager-start};
  --theme-color-pager-start-transparent: #{$theme-rtr-novitads-color-bg-pager-start-transparent};
  --theme-color-pager-end: #{$theme-rtr-novitads-color-bg-pager-end};
  --theme-color-pager-end-transparent: #{$theme-rtr-novitads-color-bg-pager-end-transparent};
}

.masthead.masthead--theme-rtr_cultura {
  --theme-color-gradient-1: #{$theme-rtr-cultura-color-1};
  --theme-color-gradient-2: #{$theme-rtr-cultura-color-2};
  --theme-color-pager-start: #{$theme-rtr-cultura-color-bg-pager-start};
  --theme-color-pager-start-transparent: #{$theme-rtr-cultura-color-bg-pager-start-transparent};
  --theme-color-pager-end: #{$theme-rtr-cultura-color-bg-pager-end};
  --theme-color-pager-end-transparent: #{$theme-rtr-cultura-color-bg-pager-end-transparent};
}

.masthead.masthead--theme-rtr_sport {
  --theme-color-gradient-1: #{$theme-rtr-sport-color-1};
  --theme-color-gradient-2: #{$theme-rtr-sport-color-2};
  --theme-color-pager-start: #{$theme-rtr-sport-color-bg-pager-start};
  --theme-color-pager-start-transparent: #{$theme-rtr-sport-color-bg-pager-start-transparent};
  --theme-color-pager-end: #{$theme-rtr-sport-color-bg-pager-end};
  --theme-color-pager-end-transparent: #{$theme-rtr-sport-color-bg-pager-end-transparent};
}

.masthead.masthead--theme-rtr_uffants {
  --theme-color-gradient-1: #{$theme-rtr-uffants-color-1};
  --theme-color-gradient-2: #{$theme-rtr-uffants-color-2};
  --theme-color-pager-start: #{$theme-rtr-uffants-color-bg-pager-start};
  --theme-color-pager-start-transparent: #{$theme-rtr-uffants-color-bg-pager-start-transparent};
  --theme-color-pager-end: #{$theme-rtr-uffants-color-bg-pager-end};
  --theme-color-pager-end-transparent: #{$theme-rtr-uffants-color-bg-pager-end-transparent};
}

.masthead.masthead--theme-rtr_archiv {
  --theme-color-gradient-1: #{$theme-rtr-archivar-color-1};
  --theme-color-gradient-2: #{$theme-rtr-archivar-color-2};
  --theme-color-pager-start: #{$theme-rtr-archivar-color-bg-pager-start};
  --theme-color-pager-start-transparent: #{$theme-rtr-archivar-color-bg-pager-start-transparent};
  --theme-color-pager-end: #{$theme-rtr-archivar-color-bg-pager-end};
  --theme-color-pager-end-transparent: #{$theme-rtr-archivar-color-bg-pager-end-transparent};
}

.masthead.masthead--theme-rtr_interpresa {
  --theme-color-gradient-1: #{$theme-rtr-interpresa-color-1};
  --theme-color-gradient-2: #{$theme-rtr-interpresa-color-2};
  --theme-color-pager-start: #{$theme-rtr-interpresa-color-bg-pager-start};
  --theme-color-pager-start-transparent: #{$theme-rtr-interpresa-color-bg-pager-start-transparent};
  --theme-color-pager-end: #{$theme-rtr-interpresa-color-bg-pager-end};
  --theme-color-pager-end-transparent: #{$theme-rtr-interpresa-color-bg-pager-end-transparent};
}

.masthead.masthead--theme-radio-srf-1 {
  --theme-color-gradient-1: #{$theme-radio-srf-1-color-1};
  --theme-color-gradient-2: #{$theme-radio-srf-1-color-2};
  --theme-color-pager-start: #{$theme-radio-srf-1-color-bg-pager-start};
  --theme-color-pager-start-transparent: #{$theme-radio-srf-1-color-bg-pager-start-transparent};
  --theme-color-pager-end: #{$theme-radio-srf-1-color-bg-pager-end};
  --theme-color-pager-end-transparent: #{$theme-radio-srf-1-color-bg-pager-end-transparent};
  --theme-color-active: #000;
  --theme-color-nav-active-border: #000;
}

.masthead.masthead--theme-radio-srf-2-kultur {
  --theme-color-gradient-1: #{$theme-radio-srf-2-color-1};
  --theme-color-gradient-2: #{$theme-radio-srf-2-color-2};
  --theme-color-pager-start: #{$theme-radio-srf-2-color-bg-pager-start};
  --theme-color-pager-start-transparent: #{$theme-radio-srf-2-color-bg-pager-start-transparent};
  --theme-color-pager-end: #{$theme-radio-srf-2-color-bg-pager-end};
  --theme-color-pager-end-transparent: #{$theme-radio-srf-2-color-bg-pager-end-transparent};
}

.masthead.masthead--theme-radio-srf-3 {
  --theme-color-gradient-1: #{$theme-radio-srf-3-color-1};
  --theme-color-gradient-2: #{$theme-radio-srf-3-color-2};
  --theme-color-pager-start: #{$theme-radio-srf-3-color-bg-pager-start};
  --theme-color-pager-start-transparent: #{$theme-radio-srf-3-color-bg-pager-start-transparent};
  --theme-color-pager-end: #{$theme-radio-srf-3-color-bg-pager-end};
  --theme-color-pager-end-transparent: #{$theme-radio-srf-3-color-bg-pager-end-transparent};
}

.masthead.masthead--theme-radio-srf-musikwelle {
  --theme-color-gradient-1: #{$theme-radio-srf-musikwelle-color-1};
  --theme-color-gradient-2: #{$theme-radio-srf-musikwelle-color-2};
  --theme-color-pager-start: #{$theme-radio-srf-musikwelle-color-bg-pager-start};
  --theme-color-pager-start-transparent: #{$theme-radio-srf-musikwelle-color-bg-pager-start-transparent};
  --theme-color-pager-end: #{$theme-radio-srf-musikwelle-color-bg-pager-end};
  --theme-color-pager-end-transparent: #{$theme-radio-srf-musikwelle-color-bg-pager-end-transparent};
}

.masthead.masthead--theme-radio-srf-virus {
  --theme-color-gradient-1: #{$theme-radio-srf-virus-color-1};
  --theme-color-gradient-2: #{$theme-radio-srf-virus-color-2};
  --theme-color-pager-start: #{$theme-radio-srf-virus-color-bg-pager-start};
  --theme-color-pager-start-transparent: #{$theme-radio-srf-virus-color-bg-pager-start-transparent};
  --theme-color-pager-end: #{$theme-radio-srf-virus-color-bg-pager-end};
  --theme-color-pager-end-transparent: #{$theme-radio-srf-virus-color-bg-pager-end-transparent};
  --theme-color-active: #000;
  --theme-color-nav-active-border: #000;
}