
<h3>Masthead, default </h3>
{% include 'organisms-masthead' %}

<h3>Masthead, Theme Sport</h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-sport'} %}

<h3>Masthead, Theme Meteo</h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-meteo'} %}

<h3>Masthead, Theme Kultur</h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-kultur'} %}

<h3>Masthead, Theme Dok</h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-dok'} %}

<h3>Masthead, Theme TV/Radio</h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-tvradio'} %}

<br>
<br>
<br>
<br>