
<h3>Masthead, default </h3>
{% include 'organisms-masthead' %}

<h3>Masthead, Theme Sport</h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-sport'} %}

<h3>Masthead, Theme Meteo</h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-meteo'} %}

<h3>Masthead, Theme Kultur</h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-kultur'} %}

<h3>Masthead, Theme Dok</h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-dok'} %}

<br>
<br>
<br>
<br>


<h3>Masthead, Theme Radio SRF 1 </h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-radio_srf_1'} %}

<h3>Masthead, Theme Radio SRF 2 Kultur </h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-radio_srf_2_kultur'} %}

<h3>Masthead, Theme Radio SRF 3 </h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-radio_srf_3'} %}

<h3>Masthead, Theme Radio SRF 4 News </h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-radio_srf_4_news'} %}

<h3>Masthead, Theme Radio SRF Musikwelle </h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-radio_srf_musikwelle'} %}

<h3>Masthead, Theme Radio SRF Virus </h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-radio_srf_virus'} %}

<br>
<br>
<br>
<br>

<h3>Masthead, Theme RTR Novitads</h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-rtr_novitads'} %}

<h3>Masthead, Theme RTR Cultura</h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-rtr_cultura'} %}

<h3>Masthead, Theme RTR Sport</h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-rtr_sport'} %}

<h3>Masthead, Theme RTR Uffants</h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-rtr_uffants'} %}

<h3>Masthead, Theme RTR Archivar</h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-rtr_archivar'} %}

<h3>Masthead, Theme RTR Interpresa</h3>
{% include 'organisms-masthead' with {'themeStyleModifier': 'masthead--theme-rtr_interpresa'} %}

<br>
<br>
<br>
<br>