{% embed 'organisms-masthead' %}

    {% block headertag %}
        <header class="masthead js-masthead masthead--home masthead--longportalnames">
    {% endblock %}

    {% block logo %}
        {% include 'atoms-main-logo' with {'styleModifier': 'main-logo--large'} %}
    {% endblock %}

    {% block portalsnav %}
        {% include 'molecules-portalsnav--portallongnames' with {'styleModifier': 'portalsnav--large'} %}
    {% endblock %}

    {% block subnavigation %}
        <div class="masthead__nav {{ mastheadNavModifier|default('') }}">
            {% include 'molecules-subnav' with {
                "styleModifier": "subnav--portals",
                "masthead": {
                    "subnavi": [
                        {
                            "name": "Novitads",
                            "url": "/novitads"
                        },{
                            "name": "Cultura",
                            "url": "/cultura"
                        },{
                            "name": "Sport",
                            "url": "/sport"
                        },{
                            "name": "Uffants",
                            "url": "/uffants"
                        },{
                            "name": "Archivar",
                            "url": "/archivar"
                        },{
                            "name": "Aura",
                            "url": "/aura"
                        }
                    ]
                }
            } %}
        </div>
    {% endblock %}
{% endembed %}
