<header class="masthead js-masthead masthead--home masthead--longportalnames">
    <div class="masthead__wrapper">
        <div class="masthead__universal">
            <div class="masthead__logo">
                {% include 'atoms-main-logo' with {'styleModifier': 'main-logo--large'} %}
            </div>
            <div class="masthead__portals">
                {% include 'molecules-portalsnav--portallongnames' with {'styleModifier': 'portalsnav--large'} %}
            </div>
            <div class="masthead__button-wrapper">
                <button class="masthead__button masthead__button--search" data-modal-id="modal-search">
                    {% include 'atoms-icon-button' with {'iconStyleModifier': 'svg-icon--search-dark', 'buttonText': 'Tschertga'} %}
                </button>
                <button class="masthead__button" data-modal-id="modal-onairnav">
                    {% include 'atoms-icon-button' with {'iconStyleModifier': 'svg-icon--tv-radio', 'buttonText': 'Radio/TV'} %}
                </button>
                <button class="masthead__button" data-modal-id="modal-menu">
                    {% include 'atoms-icon-button' with {'iconStyleModifier': 'svg-icon--burger-dark', 'buttonText': 'Menu', 'styleModifier': 'icon-button--collapsing-text-tablet icon-button--spaceless-right-tablet'} %}
                </button>
            </div>
        </div>
        <div class="masthead__nav">
            {% include 'molecules-subnav' with {
                "styleModifier": "subnav--portals",
                "masthead": {
                    "subnavi": [
                        {
                            "name": "News",
                            "url": "/news",
                        },{
                            "name": "Sport",
                            "url": "/sport"
                        },{
                            "name": "Meteo",
                            "url": "/meteo"
                        },{
                            "name": "Kultur",
                            "url": "/kultur"
                        },{
                            "name": "Dok",
                            "url": "/dok"
                        }
                    ]
                }
            } %}
        </div>
    </div>
</header>
