<header class="masthead">
  <div class="masthead__global">
    {% include 'molecules-globalnav' %}
  </div>
  <div class="masthead__scrollwrap">
    <h1 class="masthead__title">News</h1>
    <div class="masthead__nav">
      {% include 'molecules-subnav' %}
    </div>
  </div>
</header>
