<header class="masthead js-masthead masthead--home masthead--longportalnames">
    <div class="masthead__wrapper">
        <div class="masthead__universal">
            <div class="masthead__logo">
                {% include 'atoms-main-logo' with {'styleModifier': 'main-logo--large'} %}
            </div>
            <div class="masthead__portals">
                {% include 'molecules-portalsnav--portallongnames' with {'styleModifier': 'portalsnav--large'} %}
            </div>
            <div class="masthead__button-wrapper">
                <button class="masthead__button" data-modal-id="modal-onairnav" aria-haspopup="false" aria-expanded="false">
                    {% include 'atoms-icon-button' with {'iconStyleModifier': 'svg-icon--play-video-circle', 'buttonText': 'Radio/TV'} %}
                </button>
                <button class="masthead__button" data-modal-id="modal-menu" aria-haspopup="false" aria-expanded="false">
                    {% include 'atoms-icon-button' with {'iconStyleModifier': 'svg-icon--burger-dark', 'buttonText': 'Menu', 'styleModifier': 'icon-button--collapsing-text-tablet icon-button--spaceless-right-tablet'} %}
                </button>
            </div>
        </div>
        <div class="masthead__nav">
            {% include 'molecules-subnav' with {
                "styleModifier": "subnav--portals",
                "masthead": {
                    "subnavi": [
                        {
                          "name": "Novitads",
                          "url": "/novitads"
                        },{
                          "name": "Cultura",
                          "url": "/cultura"
                        },{
                          "name": "Sport",
                          "url": "/sport"
                        },{
                          "name": "Uffants",
                          "url": "/uffants"
                        },{
                          "name": "Archivar",
                          "url": "/archivar"
                        },{
                          "name": "Aura",
                          "url": "/aura"
                        }
                    ]
                }
            } %}
        </div>
    </div>
</header>
