<header class="masthead js-masthead {{ themeStyleModifier }}">
  <div class="masthead__wrapper">
    <div class="masthead__universal">
      <div class="masthead__logo">
        {% include 'atoms-main-logo' %}
      </div>

      <div class="masthead__portals">
        {% include 'molecules-portalsnav' with {'styleModifier': ''} %}
      </div>
      <div class="masthead__button-wrapper">
        <button class="masthead__button" data-modal-id="modal-onairnav" aria-haspopup="false" aria-expanded="false">
          {% include 'atoms-icon-button' with {'iconStyleModifier': 'svg-icon--play-video-circle', 'buttonText': 'TV/Radio'} %}
        </button>
        <button class="masthead__button" data-modal-id="modal-menu" aria-haspopup="false" aria-expanded="false">
          {% include 'atoms-icon-button' with {'iconStyleModifier': 'svg-icon--searchmenu', 'buttonText': 'Menü', 'styleModifier': 'icon-button--collapsing-text-tablet icon-button--spaceless-right-tablet'} %}
        </button>
      </div>
    </div>
    <div class="masthead__title">
      <a href="/news" class="masthead__title-link">
        <span class="h-offscreen">Zur Portalübersicht</span>
        News
      </a>
    </div>
    <div class="masthead__nav">
      {% include 'molecules-subnav' %}
    </div>
  </div>
</header>
