{% embed 'organisms-masthead' %}

    {% block headertag %}
        <header class="masthead js-masthead masthead--home {{ themeStyleModifier }} masthead--{{ variantModifier }}">
    {% endblock %}

    {% block logo %}
        {% include 'atoms-main-logo' with {'styleModifier': ''} %}
    {% endblock %}

    {% block portalsnav %}
        {% include 'molecules-portalsnav' with {'styleModifier': 'portalsnav--large'} %}
    {% endblock %}

    {% block subnavigation %}
        <div class="masthead__nav {{ mastheadNavModifier|default('') }}" aria-hidden="true" role="presentation">
            {% include 'molecules-subnav' with {
                "styleModifier": "subnav--portals",
                "headerType": headerType,
                "masthead": {
                    "subnavi": [
                        {
                            "name": "News",
                            "url": "/news",
                        },{
                            "name": "Sport",
                            "url": "/sport"
                        },{
                            "name": "Meteo",
                            "url": "/meteo"
                        },{
                            "name": "Kultur",
                            "url": "/kultur"
                        },{
                            "name": "Dok",
                            "url": "/dok"
                        }
                    ]
                }
            } %}
        </div>
    {% endblock %}
{% endembed %}
