@import "../../variables";
@import "../../breakpoints";
@import "../../mixins";
@import "masthead-theme-settings";


.masthead {
  height: auto; /* OVERRIDE CRITICAL CSS */
  position: relative;
  z-index: 100;
  box-shadow: $shadow-elevation8;
  padding: 8px 32px 0;

  /* fallback */
  background: linear-gradient(
    117deg,
    $theme-default-color-1,
    $theme-default-color-1 20%,
    $theme-default-color-2 40%,
    $theme-default-color-2
  );

  @include smartphone {
    padding: 0 16px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 1;

    /* fallback */
    background: linear-gradient(
      120deg,
      $theme-default-color-1,
      $theme-default-color-1 15%,
      $theme-default-color-2 40%,
      $theme-default-color-2
    );

    @include smartphone {
      padding: 0 16px;

      /* theme */
      @supports (--foo: bar) {
        background: linear-gradient(
          120deg,
          var(--theme-color-gradient-1),
          var(--theme-color-gradient-1) 15%,
          var(--theme-color-gradient-2) 60%,
          var(--theme-color-gradient-2)
        );
      }
    }

    @include tablet {
      /* theme */
      @supports (--foo: bar) {
        background: linear-gradient(
          120deg,
          var(--theme-color-gradient-1),
          var(--theme-color-gradient-1) 10%,
          var(--theme-color-gradient-2) 40%,
          var(--theme-color-gradient-2)
        );
      }
    }

    @include desktop-up {
      /* theme */
      @supports (--foo: bar) {
        background: linear-gradient(
          120deg,
          var(--theme-color-gradient-1),
          var(--theme-color-gradient-1) calc(50% - 400px),
          var(--theme-color-gradient-2) calc(50% - 100px),
          var(--theme-color-gradient-2)
        );
      }
    }
  }
}

.masthead__wrapper {
  max-width: $content-width;
  margin: 0 auto;
  position: relative;

  @include tablet-up {
    padding: 8px 0;
  }
}

.masthead__title {
  margin: 6px 0 4px -2px;
  font-family: $font-bold;
  font-feature-settings: "salt";
  @include fontSize(32);
  line-height: $emphasize-line-height-ratio;
  font-weight: normal; /* OVERRIDE CRITICAL CSS */
  @include customPropWithFallback('color', '--theme-color-title', $color-text-default);


  @include tablet-up {
    margin: 11px 0 13px -2px;
    font-size: 40px;
  }
}

.masthead__title-link,
.masthead__title-link:hover,
.masthead__title-link:active,
.masthead__title-link:visited {
    text-decoration: none;

    @include customPropWithFallback('color', '--theme-color-title', $color-text-default);
}

.masthead__universal {
  min-height: 0; /* OVERRIDE CRITICAL CSS */
  display: flex;
  align-items: center;
}

.masthead__logo {
  flex: 1 0 auto;
  display: flex;

  @include desktop-up {
    flex-grow: 0;
  }
}

.masthead__portals {
  flex: 1 1 auto;
  margin-left: 10px;
  font-weight: normal; /* OVERRIDE CRITICAL CSS */

  @include desktop-down {
    display: none;
  }
}

.masthead__search {
  margin-right: 32px;

  @include desktop-down {
    display: none;
  }
}

.masthead__button-wrapper {
  /* OVERRIDE CRITICAL CSS */
  opacity: 1;
  min-height: 0;
  /***/
  display: block;
  font-size: 0; // removes space between inline-block child elements
  margin-right: -16px;

  @include desktop-up {
    margin-right: 0;
  }
}

.masthead__button {
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer; // firefox needs the cursor definition directly on a button element - it's not working when it's on a child
  height: 56px;
}

.masthead__button--search {
  @include desktop-down {
    display: none;
  }
}

.masthead__nav {
  opacity: 1; /* OVERRIDE CRITICAL CSS */
  width: calc(100% + 64px);
  margin: 0 -32px;

  @include smartphone {
    width: calc(100% + 48px);
    margin: 0 0 0 -32px;
  }
}

.masthead--compact {
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 0;
}

.masthead--home {
  position: fixed;
  width: 100%;
  top: 0;

  @include smartphone {
    .masthead__portals {
      display: none;
    }
  }
  @include tablet-up {
    padding-top: 12px;
    padding-bottom: 12px;

    .masthead__logo {
      flex-grow: 0;
    }

    .masthead__portals {
      display: flex;
      @include fontSize(18);
      margin-left: 12px;
    }

    .masthead__nav {
      display: none;
    }
  }
}

/* This one allows for long portal names (like at RTR.ch). It extends the singleline-portal-navigation-design from smartphone-only to smartphone-and-tablet.  */
.masthead--longportalnames {
  @include desktop-down {
    .masthead__portals {
      display: none;
    }
  }
  @include tablet-up {
    .masthead__nav {
      display: block;
    }

    .masthead__logo {
      flex-grow: 1;
    }
  }
  @include desktop-up {
    .masthead__portals {
      display: flex;
    }

    .masthead__logo {
      flex-grow: 0;
    }
  }
}

.masthead--home.masthead--longportalnames {
  @include tablet-up {
    padding-top: 0;
    padding-bottom: 0;
  }

  @include desktop-up {
    padding-top: 12px;
    padding-bottom: 12px;

    .masthead__nav {
      display: none;
    }
  }
}
