<header class="masthead js-masthead">
  <div class="masthead__wrapper">
    <div class="masthead__universal">

      <div class="masthead__logo">
        {% include 'atoms-main-logo' %}
      </div>

      <ul class="masthead__portals">
        {% for portal in masthead.portals %}
          <li>
            <a class="masthead__portal-link" href="{{ portal.url }}">{{ portal.name }}</a>
          </li>
        {% endfor %}
      </ul>

      <div class="masthead__search">
        {% include 'atoms-search' with {'styleModifier': 'searchbox--expandable searchbox--transparent'} %}
      </div>

      <button class="masthead__button">
        {% include 'atoms-icon-button' with {'imagePath': 'img/icon/tv-radio-icon.svg', 'buttonText': 'TV/Radio'} %}
      </button>

      <button class="masthead__button">
        {% include 'atoms-icon-button' with {'imagePath': 'img/icon/burger-icon-dark.svg', 'buttonText': 'Menu', 'styleModifier': 'icon-button--collapsing-text-tablet'} %}
      </button>

    </div>

    <div class="masthead__scrollwrap">
      <h1 class="masthead__title">News</h1>
      <div class="masthead__nav">
        {% include 'molecules-subnav' %}
      </div>
    </div>
  </div>
</header>
