@import "../../variables";
@import "../../breakpoints";

.masthead {
  background-image: linear-gradient(134deg, #fefefd, #fafaf8);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

.masthead__wrapper {
  max-width: $content-width;
  margin: 0 auto;
}

.masthead__title {
  font-family: $font-regular;
  font-size: 32px;
  line-height: 1.25;
  color: inherit;
  
  @include tablet-up {
    font-size: 40px;
    line-height: 1.2;
  }
}

.masthead__universal {
  display: flex;
  align-items: center;
}

.masthead__logo {
  flex: 1 0 auto;

  @include desktop-up {
    flex-grow: 0;
  }
}

.masthead__portals {
  display: none;
  flex: 1 1 auto;
  
  @include desktop-up {
      display: block;
  }
}

.masthead__search {
  margin-right: 32px;
  display: none;

  @include desktop-up {
    display: block;
  }
}

.masthead__button {
  background-color: transparent;
  color: inherit;
  border: none;
}
