@mixin box-default {
  margin: 0;
  padding: 8px 0 0;
}

@mixin box-media-container {
  margin: 0 -24px 24px -24px;
}

/* default styling for lists in text content */
@mixin list-styles-default() {
  & > ul,
  & > ol {
    padding-left: 0;
    margin-bottom: 16px;

    & > li {
      list-style: none;
      padding: 5px 0 5px 25px;
      & > strong {
        font-family: 'SRG_SSR_Medium', sans-serif;
        font-weight: normal;
      }
      &:first-of-type {
        padding-top: 0;
      }
      &:last-of-type {
        padding-bottom: 0;
      }
      &:before {
        color: $link-default-color;
        left: 24px;
        position: absolute;
        content: url("/web/assets/img/bullet-point.svg");
      }
    }
  }

  & > ol {
    counter-reset: amp-list-counter;
    li:before {
      content: counter(amp-list-counter) ".";
      counter-increment: amp-list-counter;
      font-family: $font-medium;
    }
  }
}

@mixin mobile-small {
  @media screen and (max-width: #{$small-phone-width}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}