/*** COLORS ***/
$separator-color: rgba(0, 0, 0, 0.1);
$button-color: #cac8bf;
$primary-font-color: #4e4d47;
$secondary-font-color: #222;
$link-default-color: #e31f2b;
$link-hover-color: #555;
$link-active-color: #555;
$red-color: $link-default-color;

/*** FONTS ***/
$font-medium: 'SRG_SSR_Medium', sans-serif;
$font-light: 'SRG_SSR_Light', sans-serif;
$font-serif: 'SRG_SSR_Serif_Regular', serif;

// for mobile system font stack details, see https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",  sans-serif;

$small-phone-width: 320px;
$tablet-width: 640px;
$desktop-width: 769px;


