.article-video {
  margin: 32px 0 24px;
  @include smartphone {
    margin: 24px -8px 20px;
  }

  &__link {
    position: relative;
    display: block;

    &-meta {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 15%;
      text-align: center;
    }
  }
  &__length {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font: 12px/18px $font-medium;
    padding: 1px 8px;
  }
  &__play-icon {
    &:hover, &:active {
      background-image: url(../../assets/img/play-active.svg);
      background-size: 100%;
    }
  }
}