.article-video {
  margin: 32px 0;
  @include smartphone {
    margin: 24px -8px;
  }

  &__wrapper {
    position: relative;
    float: left;

    @include smartphone {
      width: 80px;
      height: 80px;
      margin: 16px 0 16px 16px;
    }
    &:before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      height: 112px;
      width: 112px;
      @include smartphone {
        width: 80px;
        height: 80px;
      }
    }

    // cropped and centered image
    .image-figure__image {
      width: 112px;
      height: 112px;
      object-fit: cover;
      @include smartphone {
        width: 80px;
        height: 80px;
      }
    }

    .article-video__play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 68px;
      @include smartphone {
        width: 46px;
      }
    }
  }
  &:hover, &:active {
    .article-video__play-icon,
    .media-play__icon {
      background-image: url(../../assets/img/play-active.svg);
      background-size: 100%;
    }

    .media-caption--video {
      background-color: $color-bg-box;
    }
  }

  &__link {
    position: relative;
    display: block;
    border-bottom: 0 !important; // temporary (videos are about to change slightly)!

    &-meta {
      position: absolute;
      top: 55%;
      left: 50%;
      width: 68px;
      transform: translate(-50%, -34px);
      text-align: center;
      z-index: 1;
    }
  }
  &__length {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font: 12px/18px $font-medium;
    padding: 2px 8px;
  }
  .image-figure {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    &__image-wrapper:before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      height: 100%;
      width: 100%;

    }
  }
}

// animations preparation
.article-video {
  transition: background-color 0.4s;
}

.media-caption__title,
.media-caption__source,
strong {
  transition: color 0.4s;
}

.image-figure__image-wrapper::before {
  transition: opacity 0.4s;
}

.media-play__icon,
.media-play__length {
  opacity: 1;
  transition: opacity 0.4s;
}

// end animations preparation

.article-video__player {
  background-color: #000;
}

.video--playing {
  overflow: hidden;
  &.article-video, &.article-video:hover {
    background-color: $color-media-playing;
    cursor: default;
  }
  .media-caption, .media-caption:hover { // :/
    background-color: $color-media-playing;
  }
  .image-figure__image-wrapper::before,
  .media-play__icon,
  .media-play__length {
    opacity: 0;
  }
  .media-caption__title {
    color: $color-bg-caption;
  }
  .media-caption__source, strong {
    color: $color-border;
  }

  .article-video__player {
    margin: 0 -2px;
    &::before {
      content: "";
      display: block;
      padding-top: 56%;
    }
    iframe {
      position: absolute;
      top: 0;
      left: -1px;
      right: -1px;
      width: calc(100% + 2px);
    }
  }
}

.article-video__link {
  outline: none;
}