.article {
  margin: 0 auto;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  @include tablet {
    max-width: 720px;
    padding: 0 32px;
  }

  @include desktop-up {
    padding: 0 40px;
    max-width: 792px;
  }
}
