.article {
    margin: 0 auto;

  @include tablet {
    max-width: 720px;
    padding: 0 32px;
  }

  @include desktop {
    padding: 0 40px;
    max-width: 792px;
  }

  @include desktop-wide {
    padding: 0 40px;
    max-width: 870px;
  }

}
