<div class="affix-placeholder affix-placeholder--compact"></div>

{% include 'organisms-masthead--compact' with {"themeStyleModifier": themeStyleModifier} %}

{% include 'molecules-medium--tme' %}

<div class="l-card l-card--with-fullwidth-elements">
    <article class="article">
        {% include 'atoms-breadcrumbs' %}
        {% include 'molecules-article-header' %}
        {% include 'molecules-sharing-bar' %}
        {% include 'atoms-shimmer-box' %}

        <section class="article-content">
            {% block article_content %}
                [-- ARTICLE CONTENT --]
            {% endblock %}
        </section>

    </article>
</div>

{% block demo_content %}{% endblock %}

{% include 'molecules-comments' %}
{% include 'molecules-swipe-module' %}

{% include 'organisms-rlp-footer' %}

{% include 'organisms-modal-menu' %}
{% include 'organisms-modal-onairnav' %}
{% include 'organisms-modal-search' %}