<div class="l-main-wrapper l-card">
    <article class="article">
        <section class="article-content">
            {% block article_content %}
                [-- ARTICLE CONTENT --]
            {% endblock %}
        </section>
    </article>
</div>