<article class="article">
    
    {% include 'molecules-article-header' %}

    <section class="article-content">
        {% block article_content %}
            [-- ARTICLE CONTENT --]
        {% endblock %}
    </section>

</article>