<main class="l-card l-card--with-fullwidth-elements">
    <article class="article">
        {% block article_header %}
            <header class="article-header"></header>
        {% endblock %}
        <section class="article-content">
            {% block article_content %}
                [-- ARTICLE CONTENT --]
            {% endblock %}
        </section>
    </article>
</main>
{% block demo_content %}{% endblock %}