{% include 'molecules-header' %}

<div class="l-main-wrapper l-card l-card--with-fullwidth-elements">
    <article class="article">

        {% include 'atoms-breadcrumbs' %}
        {% include 'molecules-article-header' %}
        {% include 'molecules-sharing-bar' %}

        <section class="article-content">
            {% block article_content %}
                [-- ARTICLE CONTENT --]
            {% endblock %}
        </section>
        {% include 'atoms-breadcrumbs' %}
    </article>
</div>

{% include 'molecules-comments' %}
{% include 'molecules-swipe-module' %}

{% include 'molecules-footer' %}
