<article class="article">
    
    {#<div class="l-full-width-container l-main-media-container">
        {% block main_media_container %}
            [-- MAIN MEDIA CONTAINER --]
        {% endblock %}
    </div>#}

    {% include 'molecules-article-header' %}

    <section class="article-content">
        {% block article_content %}
            [-- ARTICLE CONTENT --]
        {% endblock %}
    </section>

</article>