<div class="l-main-wrapper">
    <div class="l-main-wrapper__space l-card">
        <div class="l-card-column-default">
            {% block card_content %}{% endblock %}
        </div>
        <div class="l-card-alternative-background">
            <div class="l-card-column-default">
                {% block card_content_alternative %}{% endblock %}
            </div>
        </div>
    </div>
</div>
