<div class="affix-placeholder" data-smart-affix-placeholder></div>
<div class="sticky-container affix-top" data-smart-affix>
    {% include 'organisms-masthead' %}
</div>

<div class="l-main-wrapper l-card l-card--with-fullwidth-elements">
    <article class="article">

        {% include 'atoms-breadcrumbs' %}
        {% include 'molecules-article-header' %}
        {% include 'molecules-sharing-bar' %}

        <section class="article-content">
            {% block article_content %}
                [-- ARTICLE CONTENT --]
            {% endblock %}
        </section>

    </article>
</div>

{% include 'molecules-comments' %}
{% include 'molecules-swipe-module' %}

{% include 'molecules-footer' %}

{% include 'organisms-modal' with {'id': 'modal-menu', 'animation': 'fade-in-out', 'styleModifier': '', 'title': 'Menu'} %}
{# TODO: Flyout- and Search-Modal, e.g. via modifier or as their own organisms #}
{% include 'organisms-modal' with {'id': 'modal-flyout', 'animation': 'fade-in-out', 'styleModifier': '', 'title': 'Radio-TV-Flyout'} %}
{% include 'organisms-modal' with {'id': 'modal-search', 'animation': 'fade-in-out', 'styleModifier': '', 'title': 'Suche'} %}
