{% set headerType = headerType|default("") %}

<div class="affix-placeholder affix-placeholder--{{ headerType }}"></div>

{% if headerType == "compact" %}
    {% include 'organisms-masthead--compact' with {"themeStyleModifier": themeStyleModifier} %}
{% elseif headerType == "home" %}
<div class="sticky-container sticky-container--{{ headerType }} affix-top js-affix">
    {% include 'organisms-masthead--home' with {"themeStyleModifier": themeStyleModifier} %}
</div>
{% else %}
<div class="sticky-container affix-top js-affix">
        {% include 'organisms-masthead' with {"themeStyleModifier": themeStyleModifier} %}
</div>
{% endif %}

<section class="landingpage">
    {% block landingpage_content %}
        [-- LANDINGPAGE CONTENT --]
    {% endblock %}
</section>

{% include 'organisms-rlp-footer' %}

{% include 'organisms-modal-menu' %}
{% include 'organisms-modal-onairnav' %}
{% include 'organisms-modal-search' %}
