<div class="article-teaser">
  <a href="#" class="article-teaser__image-container">
    <img src="{{ images[0].sources.s8.src }}" width="80px" height="80px" alt="" class="article-teaser__image" />
  </a>

  <div class="article-teaser__content">
    <h4 class="article-teaser__kicker">Schwinger im Joggeli</h4>

    <a href="#">
      <h3 class="article-teaser__title">Artikel-Titel</h3>
    </a>

    <p class="article-teaser__date">Mittwoch, 15. Februar 2017, 16:03 Uhr, aktualisiert um 17:57 Uhr</p>
  </div>
</div>