

.article-teaser {
  margin-top: 24px;
  margin-bottom: 20px;

  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  padding: 16px;
  display: inline-block;
  width: 100%;

  @include tablet-up {
    margin-top: 32px;
    margin-bottom: 24px;
  }

  &:hover, &:focus {
    background-color: $color-link-bg-hover;
  }
  &.active {
    background-color: $color-bg-caption;
  }
}

.article-teaser__image-container {
  float: left;
  border: none;
  margin-right: 12px;

  @include tablet-up {
    margin-right: 16px;
  }
}

.article-teaser__content {
  margin-left: 10px;
}

.article-teaser__image {
  width: 80px;
  height: 80px;

  @include tablet-up {
    width: 142px;
  }
}

.article-teaser__kicker {
  font-family: $font-regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: $color-accentuation-red;
  margin: 0 0 4px;
}

.article-teaser__title {
  font-family: $font-regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #1a1916;
  margin: 0 0 4px;
}

.article-teaser__date {
  font-family: $font-system;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: $color-text-light;
  margin: 0;
}