<blockquote class="article-blockquote">
    <span class="article-blockquote__sign">&laquo;</span>
    &nbsp;{{ blockquote.text }}&nbsp;
    <span class="article-blockquote__sign">&raquo;</span>
    <footer>
        <cite class="article-blockquote__author">
            {{ blockquote.author }}<br>
            <span class="article-blockquote__function">{{ blockquote.function }}</span>
        </cite>
    </footer>
</blockquote>