.blockquote {
  @include article-text-padding;
  @include article-element-margin();
  font-family: $font-serif;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.3px;
  color: #4e4d47;
  @include smartphone {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.3px;
  }
}

.blockquote__quote {
  display: inline-block;
}

.blockquote__text {
  padding-right: 16px;
  position: relative;
}

.blockquote__text::after {
  position: absolute;
  right: 0;
  content: "»";
  color: #bd0016;
}

.blockquote__quote::before {
  display: inline-block;
  padding-right: 2px;
  content: "«";
  color: #bd0016;
}

.blockquote__author {
  display: block;
  margin-top: 12px;
  font-family: $font-medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #22211d;
}
.blockquote__function {
  font-family: $font-system;
  font-size: 12px;
  line-height: 12px;
  color: #888579;
}
