<blockquote class="blockquote">
    <span class="blockquote__sign">&laquo;</span>
    &nbsp;{{ blockquote.text }}&nbsp;
    <span class="blockquote__sign">&raquo;</span>
    <footer>
        <cite class="blockquote__author">
            {{ blockquote.author }}<br>
            <span class="blockquote__function">{{ blockquote.function }}</span>
        </cite>
    </footer>
</blockquote>