.onairnav {
  margin-top: 16px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 24px;

  @include tablet-up {
    margin-right: 0;
    margin-left: 0;
  }

  @include tablet {
    margin-bottom: 32px;
  }

  @include desktop-up {
    margin-bottom: 40px;
  }
}

.onairnav-list-wrapper {
  margin: 0 0 24px;

  @include tablet-up {
    margin: 0 32px 48px;
  }

  @include desktop-wide {
    margin: 0 40px 56px;
  }

  .modal--theme-dark & {
    margin: 0 0 24px 0;

    @include tablet-up {
      margin: 0 32px 32px;
    }

    @include desktop-wide {
      margin: 0 40px 32px;
    }
  }
}

.onairnav-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0 8px;

  @include smartphone {
    overflow-x: scroll;
    overflow-y: hidden;
    @include preventScrollbars;
  }

  &::after {
    content: '';
    display: block;
    background-color: transparent;
    flex: 0 0 8px;
  }

  @include tablet-up {
    flex-direction: row;
    padding: 0;

    &::after {
      display: none;
    }
  }

  .modal--theme-dark & {
    margin: 0 -16px;
    flex-wrap: wrap;

    @include smartphone {
      overflow-x: visible;
      overflow-y: visible;
    }

    @include tablet {
      margin: 0 -12px;
    }

    @include desktop-up {
      margin: 0 -16px;
    }
  }

  .onairnav-list__element {
    flex: 0 1 auto;
    margin: 0;
    padding: 0;

    @include tablet-up {
      display: flex;
      flex-direction: column;
    }

    @include tablet {
      flex-basis: calc(33.3334% - 2 * 12px);
      margin: 0 12px;
    }

    @include desktop-up {
      flex-basis: calc(33.3334% - 2 * 16px);
      margin: 0 16px;
    }
  }
}

.onairnav-list--teaser {
  .onairnav-list__element {
    @include smartphone {
      margin-bottom: 8px;
    }
  }
}

.onairnav-list--compact {
  flex-direction: row;
  margin-top: -1px;
  margin-bottom: -1px;

  @include tablet-up {
    margin-right: 0;
    margin-left: 0;
  }

  .onairnav-list__element {
    display: flex;
    flex-direction: column;
    flex: 1 0 #{80px + 24px + 2px};
    margin: 0 2px 0 0;

    @include tablet-up {
      flex-basis: calc(80px + 16px + 2px);
    }

    @include desktop-up {
      flex-basis: calc((100% / 9) - 24px);
    }

    &:last-of-type {
      margin-right: 0;
    }

    .modal--theme-dark & {
      flex-grow: 0;
      flex-basis: calc(33.3334% - 2 * 1px);
      margin: 1px;
      padding: 0;
      max-width: calc(33.3334% - 2 * 1px);

      &:last-of-type {
        margin-right: 1px;
      }

      @include tablet {
        flex-basis: calc(16.6667% - 2 * 1px);
      }

      @include tablet-up {
        max-width: auto;
      }

      @include desktop-up {
        flex-basis: calc(11.1111% - 2 * 1px);
      }
    }
  }

  .onairnav-link {
    flex-grow: 1;
  }
}
