<div class="onairnav">
  <h3 class="h-offscreen">Sendungen</h3>
  <ul class="onairnav-list">
    <li class="onairnav-list__element">
      {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--arrow', 'title': 'Play SRF' } %}
    </li>
    <li class="onairnav-list__element">
      {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--arrow', 'title': 'Sendungen A-Z' } %}
    </li>
    <li class="onairnav-list__element">
      {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--arrow', 'title': 'Podcasts' } %}
    </li>
  </ul>

  {% include 'atoms-onairnav-head' with { 'title': 'Livestreams schauen' } %}
  <ul class="onairnav-list onairnav-list--teaser">
    <li class="onairnav-list__element">
      {% include 'molecules-teaser' with {
          'styleModifier': 'teaser--size-m teaser--size-s-on-mobile teaser--no-translate teaser--theme-dark teaser--hoverable',
          'teaser': collections[0].teasers[1],
          'styleModifierLive': 'teaser-status-live--live',
          'labelWording': 'Live'
      } %}
    </li>
    <li class="onairnav-list__element">
      {% include 'molecules-teaser' with {
          'styleModifier': 'teaser--size-m teaser--size-s-on-mobile teaser--no-translate teaser--theme-dark teaser--hoverable',
          'teaser': collections[0].teasers[1],
          'styleModifierLive': 'teaser-status-live--live',
          'labelWording': 'Live'
      } %}
    </li>
  </ul>

  {% include 'atoms-onairnav-head' with { 'title': 'TV schauen', 'url': '#', 'morelink': 'TV-Programm' } %}
  <ul class="onairnav-list">
    <li class="onairnav-list__element">
      {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--program', 'media': '/img/stationlogos/tv-srf-1.svg', 'title': 'Kreuzfahrt ins Glück: Hochzeitreise nach Bermuda', 'progress': '58' } %}
    </li>
    <li class="onairnav-list__element">
      {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--program', 'media': '/img/stationlogos/tv-srf-zwei.svg', 'title': 'Chicago Fire', 'progress': '21' } %}
    </li>
    <li class="onairnav-list__element">
      {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--program', 'media': '/img/stationlogos/tv-srf-info.svg', 'title': 'Auf und davon', 'progress': '78' } %}
    </li>
  </ul>

  {% include 'atoms-onairnav-head' with { 'title': 'Radio hören', 'url': '#', 'morelink': 'Radio-Programm' } %}
  <ul class="onairnav-list onairnav-list--compact">
    <li class="onairnav-list__element">
      {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact', 'url': '/radio-srf-1', 'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-srf-1-square.svg','title': 'Radio SRF 1', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
    </li>
    <li class="onairnav-list__element">
      {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact', 'url': '/radio-srf-2', 'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-srf-2-square.svg','title': 'Radio SRF 2 Kultur', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
    </li>
    <li class="onairnav-list__element">
      {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact', 'url': '/radio-srf-3', 'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-srf-3-square.svg','title': 'Radio SRF 3', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
    </li>
    <li class="onairnav-list__element">
      {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact', 'url': '/radio-srf-4-news', 'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-srf-4-square.svg','title': 'Radio SRF 4 News', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
    </li>
    <li class="onairnav-list__element">
      {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact', 'url': '/radio-srf-musikwelle', 'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-srf-musikwelle-square.svg','title': 'Radio SRF Musikwelle', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
    </li>
    <li class="onairnav-list__element">
       {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact','url': '/radio-srf-virus',  'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-srf-virus-square.svg','title': 'Radio SRF Virus', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
    </li>
    <li class="onairnav-list__element">
       {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact','url': '/radio-swiss-pop',  'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-swiss-pop-square.svg','title': 'Radio Swiss Pop', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
    </li>
    <li class="onairnav-list__element">
       {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact','url': '/radio-swiss-classic',  'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-swiss-classic-square.svg','title': 'Radio Swiss Classic', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
    </li>
    <li class="onairnav-list__element">
       {% include 'atoms-onairnav-link' with { 'styleModifier': 'onairnav-link--compact','url': '/radio-swiss-jazz',  'styleModifierMedia': 'onairnav-link__media--radiologo', 'media': '/img/stationlogos/radio-swiss-jazz-square.svg','title': 'Radio Swiss Jazz', 'styleModifierTitle': 'onairnav-link__title--radiostation' } %}
    </li>
  </ul>
</div>
