<h3 class="h-offscreen">{{ 'Infobox' }}</h3>
<div class="textbox {{ styleModifier }}">
    <h4 class="textbox__title">Viele richtige Voraussagen</h4>
    {% include 'molecules-image-figure' with { 'imageCaptionStyle': 'media-caption--no-bg media-caption--with-separator media-caption--in-box', 'styleModifier' : 'image-figure--in-box'} %}
    <div class="textbox__content">
        <p>Barlow rief zusammen mit einem Softwaremillionär die <a href="https://www.eff.org/de" target="_blank">«Electronic Frontier Foundation»</a> ins Leben, die noch heute für freie Netze und gegen Überwachung kämpft.</p>
        {% include 'molecules-text-list--unordered' %}
        <p>Barlow rief zusammen mit einem <strong>Softwaremillionär</strong> die «Electronic Frontier Foundation» ins Leben, die noch heute für freie Netze und gegen Überwachung kämpft.</p>
        {% include 'molecules-text-list--ordered' %}
    </div>
</div>
