.textbox {
  margin: 48px 0;
  background-color: $color-bg-box;
  overflow: hidden;
  font-size: 18px;

  @include smartphone {
    margin: 32px 8px;
    padding: 0 8px;
    font-size: 16px;
  }
}

.textbox--article-indentation {
  @include article-element-indentation;

  .textbox__title {
    padding: 0 24px;

    @include smartphone {
      padding: 0 8px;
    }
  }
  .textbox__content {
    & > h4 {
      padding: 0 24px;
      @include smartphone {
        padding: 0 8px;
      }
    }
  }
}

.textbox__title {
  padding: 0 8px;
  margin: 24px 0 12px;
  font-family: $font-medium;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: .3px;

  @include smartphone {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: .5px;
  }
}

.textbox__content {
  & > p {
    padding: 0 24px;
    margin: 8px 0 16px;
    line-height: 28px;
    &:last-of-type {
      margin-bottom: 24px;
    }
    @include smartphone {
      padding: 0 8px;
      line-height: 24px;
    }
  }

  & > ul {
    // @extend used here to apply the DRY principle while coping with ezxml's missing classes for html elements
    // tip: always be careful with @extend
    @extend .text-list;
    @extend .text-list--unordered;

    padding: 0 8px;

    @include tablet-up {
        padding: 0 24px;
    }

    li::before {
      top: 9px;

      @include tablet-up {
          top: 11px; // font size is bigger
      }
    }
  }

  & > ol {
    // @extend used here to apply the DRY principle while coping with ezxml's missing classes for html elements
    // tip: always be careful with @extend
    @extend .text-list;
    @extend .text-list--ordered;

    padding: 0 8px;

    @include tablet-up {
      padding: 0 24px;
    }
  }
  & > h4 {
    padding: 0 8px;
    margin: 16px 0 8px;
    font-family: $font-medium;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.5px;

    @include smartphone {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.5px;
    }

  }
}
