@import "../../variables";


.textbox__title {
  flex: 1 0 auto;
  margin: 0;
  font-family: $font-medium;
  font-size: 18px;
  line-height: $default-line-height-ratio;
  letter-spacing: .5px;

  @include tablet-up {
    font-size: 20px;
  }
}
