<div class="content-header">
    <div class="content-header__background-wrapper"></div>
    <div class="content-header__wrapper">
        <div class="content-header__slot content-header__slot--first">
            <div class="content-header__slot-wrapper">
                <div class="content-header__station-logo">
                    <img src="{{ frameworkAssetPath }}/img/stationlogos/radio-srf-1-square.svg"
                         alt="Logo Radio SRF 1"
                         aria-hidden="true" role="presentation" />
                </div>
                {% include 'molecules-simple-teaser' with {
                    'styleModifier': '',
                    'kicker': 'Jetzt auf Sendung',
                    'title': 'Treffpunkt',
                    'lead': 'So sieht der Traum vom Auswandern in Wirklichkeit aus'
                }%}
            </div>
        </div>
        <div class="content-header__slot content-header__slot--second">
            <a href="#" class="content-header__slot-wrapper">
                <div class="simple-teaser">
                    <div class="simple-teaser__content">
                        <div class="simple-teaser__kicker">Gespielte Musik&nbsp;{% include 'atoms-svg-icon' with {'styleModifier': 'simple-teaser__kicker-icon svg-icon--small svg-icon--arrow-right-red'} %}</div>
                        {% include 'molecules-log'  with { 'styleModifierLog': 'log--compact' } %}
                    </div>
                </div>
            </a>
        </div>
        <div class="content-header__slot content-header__slot--third">
            <div class="content-header__slot-wrapper">
                {% include 'molecules-simple-teaser' with {
                    'styleModifier': '',
                    'kicker': 'Am Mikrofon',
                    'lead': 'Marietta Tomaschett'
                }%}
                <div class="content-header__presenter-image">
                    {% include 'atoms-image' with { 'styleModifier': 'image--circle image--profile-picture-presenter' } %}
                </div>
            </div>
        </div>
        <div class="content-header__buttonbar content-header__buttonbar--primary">
            {% include 'atoms-pill-button' with {
                'styleModifier': 'pill-button--primary pill-button--themed pill-button--theme-radio-srf-1 content-header__button',
                'buttonIcon': 'svg-icon--play-audio-dark',
                'buttonText': 'Jetzt hören'
            }%}
            {% include 'atoms-pill-button' with {
                'styleModifier': 'pill-button--icon-only content-header__button',
                'buttonIcon': 'svg-icon--outline-webcam'
            }%}
        </div>
        <div class="content-header__buttonbar content-header__buttonbar--secondary">
            {% include 'atoms-pill-button' with {
                'styleModifier': 'content-header__button',
                'buttonText': 'Kontakt ins Studio',
                'additionalAttributes': 'data-modal-id="test-modal-1"'
            }%}
            {% include 'atoms-pill-button' with {
                'styleModifier': 'pill-button--icon-only content-header__button',
                'buttonIcon': 'svg-icon--outline-facebook-color'
            }%}
            {% include 'atoms-pill-button' with {
                'styleModifier': 'pill-button--icon-only content-header__button',
                'buttonIcon': 'svg-icon--outline-instagram'
            }%}
        </div>
        {% embed 'organisms-modal-flyout'  with { 'styleModifier': 'js-modal', 'flyoutId': 'test-modal-1', 'flyoutTitle': 'Kontakt ins Studio' } %}
            {% block flyout_content %}
                {% embed 'molecules-menu-list' %}
                    {% block list_content %}
                        <li class="menu-list__item">
                            {% include 'atoms-menu-link' with {'styleModifier': '', 'text': 'Mail ins Studio', 'iconStyleModifier': 'svg-icon--outline-mail'} %}
                        </li>
                        <li class="menu-list__item">
                            {% include 'atoms-menu-link' with {'styleModifier': '', 'text': '0848 80 80 80', 'iconStyleModifier': 'svg-icon--outline-phone'} %}
                        </li>
                        <li class="menu-list__item">
                            {% include 'atoms-menu-link' with {'styleModifier': '', 'text': 'WhatsApp', 'iconStyleModifier': 'svg-icon--outline-whatsapp'} %}
                        </li>
                        <li class="menu-list__item">
                            {% include 'atoms-menu-link' with {'styleModifier': '', 'text': 'Kontaktformular', 'iconStyleModifier': 'svg-icon--outline-mail'} %}
                        </li>
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    </div>
</div>
