<div class="content-header">
    <div class="content-header__background-wrapper"></div>
    <div class="content-header__wrapper">
        <div class="content-header__slot content-header__slot--first">
            <div class="h-loading-only">
                <div class="shimmer shimmer--overline"></div>
                <div class="shimmer shimmer--short"></div>
                <div class="shimmer shimmer--short"></div>
            </div>
            <div class="content-header__station-logo">
                <img src="{{ frameworkAssetPath }}/img/stationlogos/radio-srf-1-square.svg"
                     alt="Logo Radio SRF 1"
                     aria-hidden="true" role="presentation" />
            </div>
            {% include 'molecules-simple-teaser' with {
                'styleModifier': '',
                'kicker': 'Jetzt auf Sendung',
                'title': 'Treffpunkt',
                'lead': 'So sieht der Traum vom Auswandern in Wirklichkeit aus'
            }%}
        </div>
        <div class="content-header__slot content-header__slot--second">
            <div class="h-loading-only">
                <div class="shimmer shimmer--overline"></div>
                <div class="shimmer shimmer--short"></div>
                <div class="shimmer shimmer--short"></div>
            </div>
            {% include 'molecules-simple-teaser' with {
                'styleModifier': '',
                'kicker': 'Gespielte Musik',
                'lead': '09:58 Lalalalala'
            }%}
        </div>
        <div class="content-header__slot content-header__slot--third">
            <div class="h-loading-only">
                <div class="shimmer shimmer--overline"></div>
                <div class="shimmer shimmer--short"></div>
            </div>
            {% include 'molecules-simple-teaser' with {
                'styleModifier': '',
                'kicker': 'Am Mikrofon',
                'lead': 'Marietta Tomaschett'
            }%}
            <div class="content-header__presenter-image">
                {% include 'atoms-image' with { 'styleModifier': 'image--circle image--profile-picture-presenter' } %}
            </div>
        </div>
        <div class="content-header__buttonbar content-header__buttonbar--primary">
            {% include 'atoms-pill-button' with {
                'styleModifier': 'pill-button--primary pill-button--themed pill-button--theme-radio_srf_1 content-header__button',
                'buttonIcon': 'svg-icon--play-audio-dark',
                'buttonText': 'Jetzt hören'
            }%}
            {% include 'atoms-pill-button' with {
                'styleModifier': 'pill-button--icon-only content-header__button',
                'buttonIcon': 'svg-icon--outline-webcam'
            }%}
        </div>
        <div class="content-header__buttonbar content-header__buttonbar--secondary">
            {% include 'atoms-pill-button' with {
                'styleModifier': 'content-header__button',
                'buttonText': 'Kontakt ins Studio'
            }%}
            {% include 'atoms-pill-button' with {
                'styleModifier': 'pill-button--icon-only content-header__button',
                'buttonIcon': 'svg-icon--outline-facebook-color'
            }%}
            {% include 'atoms-pill-button' with {
                'styleModifier': 'pill-button--icon-only content-header__button',
                'buttonIcon': 'svg-icon--outline-instagram'
            }%}
        </div>
    </div>
</div>