<div class="content-header">
    <div class="content-header__background-wrapper"></div>
    <div class="content-header__wrapper">
        <div class="content-header__slot content-header__slot--first">First Slot<br><br></div>
        <div class="content-header__slot content-header__slot--second">Second Slot<br><br></div>
        <div class="content-header__slot content-header__slot--third">Third Slot<br><br></div>
        <div class="content-header__buttonbar content-header__buttonbar--primary">
            {%  include 'atoms-pill-button' with {
                    'styleModifier': 'pill-button--primary pill-button--themed pill-button--theme-radio-srf-1',
                    'buttonIcon': 'svg-icon--play-audio-dark',
                    'buttonText': 'Jetzt hören'
                }
            %}
            {%  include 'atoms-pill-button' with {
                    'styleModifier': 'pill-button--icon-only',
                    'buttonIcon': 'svg-icon--outline-webcam'
                }
            %}
        </div>
        <div class="content-header__buttonbar content-header__buttonbar--secondary">
            {%  include 'atoms-pill-button' with {
                    'buttonText': 'Kontakt ins Studio'
                }
            %}
            {%  include 'atoms-pill-button' with {
                    'styleModifier': 'pill-button--icon-only',
                    'buttonIcon': 'svg-icon--outline-facebook-color'
                }
            %}
            {%  include 'atoms-pill-button' with {
                    'styleModifier': 'pill-button--icon-only',
                    'buttonIcon': 'svg-icon--outline-instagram'
                }
            %}
        </div>
    </div>
</div>