<div class="content-header">
    <div class="content-header__background-wrapper"></div>
    <div class="content-header__wrapper">
        <div class="content-header__slot content-header__slot--first">First Slot<br><br></div>
        <div class="content-header__slot content-header__slot--second">Second Slot<br><br></div>
        <div class="content-header__slot content-header__slot--third">Third Slot<br><br></div>
        <div class="content-header__buttonbar content-header__buttonbar--primary">Primary Buttonbar</div>
        <div class="content-header__buttonbar content-header__buttonbar--secondary">Secondary Buttonbar</div>
    </div>
</div>