.checkbox {
  position: absolute;
  opacity: 0;
  // custom boxes (decorating the label)
  &:focus, &:active, &:checked {
    + .checkbox-label {
      background-color: $color-bg-box-hover;
    }
  }
  &:checked, &:focus:checked {
    + .checkbox-label {
      &:after {
        border-color: $color-accentuation-red;
      }
      &:before {
        content: url(../img/red_tick.svg);
        top: 13px;
        left: 20px;
      }
    }
    + .checkbox--inactive {
      &:after {
        border-color: $color-text-light;
      }
      &:before {
        color: $color-text-light;
      }
    }
  }
}

.checkbox-label {
  @include button-label;

  &:before, &:after {
    content: "";
    position: absolute;
  }
  &:after {
    top: 17px;
    left: 16px;
    width: 16px;
    height: 16px;
    border: solid 1px $color-text-light;
  }
  &.checkbox--inactive:hover {
      background-color: $color-bg-box;
  }
}

.checkbox--inactive {
  opacity: .48;
}
.checkbox--on-error {
  color: $color-accentuation-red;
  &:after {
    border-color: $color-accentuation-red;
  }
}