<input type="radio" id="{{ fieldID|default('radio-button-ID') }}" class="radio-button" name="radio-button"{% if styleModifier == 'radio-button--inactive' %} disabled="true"{% endif %}>
<label for="{{ fieldID|default('radio-button-ID') }}" class="radio-button-label {{ styleModifier }}">{{ buttonText|default("meine Wahl") }}</label>