.submit-button {
  width: 100%;
  padding: 12px 40px;
  text-transform: uppercase;
  font: 16px/20px $font-regular;
  letter-spacing: 1px;
  color: #fff;
  border: 0;
  margin-top: 20px;
  display: block;
  // the following makes iOs display the button with css
  -webkit-appearance: none;
  @include rounded-corners(2px);
  background-color: $color-text-accentuation;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24),
              0 0 2px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s ease-in-out;
  @include tablet-up {
    width: auto;
    // margin-left: 16px;
  }
  &:hover {
    background-color: #6b6960;
    cursor: pointer;
  } &:active, &:focus {
      background-color: $color-text-light;
      outline: none;
  } &:hover, &:active {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24),
                    0 0 8px 0 rgba(0, 0, 0, 0.12);
  }
}

.submit-button--on-error {
  background-color: $color-accentuation-red;
  &:hover {
    background-color: $color-accentuation-red;
  }
}
.submit-button--success {
  background: $color-button-success url("../img/white_tick.svg") no-repeat 40px;
  padding-left: 73px;
  &:hover {
    background-color: $color-button-success;
  }
}
.submit-button--secondary {
  color: $color-text-accentuation;
  background-color: $color-bg-box;
  &:hover {
    background-color: $color-bg-box-hover;
  }
  &:active, &:focus {
    background-color: $color-border;
  }
}