.form__validation {
  display: none;
  background-color: #1a7ac5;
  color: white;
  margin: 0 auto 30px;
  border-radius: 2px;
  padding: 20px 32px;

  @include tablet {
    max-width: 654px;
  }

  @include desktop-up {
    max-width: 712px;
  }

  @include desktop-wide {
    max-width: 790px;
  }

  .form__validation-success {
    height: 56px;

    @include smartphone {
      height: 140px;
    }
  }

  .form__success-icon {
    float: left;
    margin-right: 20px;
    width: 56px;
    height: 56px;

    @include smartphone {
      float: none;
      margin: 0 auto;
    }
  }

  .form__success-message {
    display: block;
    padding: 7px 0;

    @include smartphone {
      text-align: center;
    }
  }
}