.form__validation-success {
  display: none;
  background-color: #1a7ac5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: white;
  margin: 16px 16px 20px;
  border-radius: 2px;
  padding: 32px 40px;

  @include smartphone {
    text-align: center;
    padding: 32px 16px;
  }

  .form__success-message {
    display: block;
    @include smartphone {
      padding-top: 12px;
    }
  }

  .form__success-icon {
    float: left;
    margin-right: 25px;
    width: 48px;
    height: 48px;

    @include smartphone {
      width: 56px;
      height: 56px;
      float: none;
      margin: 0 auto;
    }
  }
}

.form__validation-error {
  display: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-top: 10px;
  color: #c91024;
  font-weight: 300;
}