<div class="form__validation">
    <div class="form__validation-success">
        <img class="form__success-icon" src="{{ frameworkAssetPath }}/img/btn-validation-success-copy.svg" width="56" height="56" alt="">
        <span class="form__success-message">{{ 'Wir haben Ihren Kommentar erhalten und werden ihn nach Prüfung einschalten.'|trans }}</span>
    </div>
</div>
