<div class="form__validation-success comments--shrink">
    <img class="form__success-icon" src="{{ frameworkAssetPath }}/img/btn-validation-success-copy.svg" width="58" height="58" alt="">
    <span class="form__success-message">{{ 'Wir haben Ihren Kommentar erhalten und werden ihn nach Prüfung freischalten.'|trans }}</span>
</div>
