.button-group {
  display: flex;
  flex-direction: column;

  @include tablet-up {
    flex-direction: row;
  }
}

.button-group__item--gap-inbetween-horizontal-on-mobile {
  @include smartphone {
    margin-bottom: 12px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.button-group__item--gap-inbetween-vertical-on-tablet-up {
  @include tablet-up {
    margin-right: 24px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.button-group--center-aligned {
  justify-content: center;
}

.button-group--right-aligned {
  justify-content: flex-end;
}
