@import "../../variables";
@import "../../mixins";

.video-gallery {
  overflow: visible;
  margin: 0;
  padding-top: 24px;
  position: relative;

  a {
    display: flex;
    height: 100%;
    flex: 1;
  }

  // img carousel overwrites
  @include tablet-up {
    .carousel__link--prev,
    .carousel__link--next {
      width: 56px;
      height: 101px;
      top: 50%;
      transform: translate(0, calc(-50% - 2px));
      background-size: 16px;
      background-position: 20px;

      &:hover,
      &:active {
        border-bottom-color: transparent;
      }

      &:hover {
        background-color: rgba(235,235,229,1);
      }

      &:active,
      &:focus {
        outline: none;
        background-color: rgba(218,218,210,1);
      }

      &.slick-disabled {
        display: none !important; // Slick sets an inline-style for display, even in newest version
      }
    }

    .carousel__link--prev {
      left: -58px;
      background-image: url('../img/carousel/previous_no_bg.svg');
    }

    .carousel__link--next {
      right: -58px;
      background-image: url('../img/carousel/next_no_bg.svg');
    }
  }

  @include smartphone {
    .carousel__link--prev,
    .carousel__link--next {
      display: none !important;
    }
  }
  // end img carousel overwrites

  .slick-track {
    display: flex;
    flex-direction: row;
  }

  @include tablet-up {
    .slick-list {
      overflow: hidden; // cut off the rightmost img
    }
  }
}

.video-gallery__item {
  margin-bottom: 12px;
  display: flex;
  align-items: stretch;

  @include smartphone {
    width: calc(100vw - 40px);
  }

  @include tablet {
    width: 270px;
    margin-right: 4px;
  }

  @include desktop-up {
    width: 199px;
    margin-right: 4px;
  }
}

.video-gallery__item a {
  margin: 0 4px;
  border-radius: 2px;
  overflow: hidden; // so the rounded corners are "visible"
  box-shadow: $shadow-elevation2;
  transition: box-shadow .2s ease-in-out;
  height: 100%;

  &:hover,
  &:active {
    box-shadow: $shadow-elevation4;
  }

  @media all and (-ms-high-contrast: none) {
    display: block; /* IE11 */
  }

  // Override <a> styles
  &,
  &:hover,
  &:focus,
  &:active {
    border: 0;
  }
}

// dots
.slick-dots {
  height: 16px;
  margin: 0 auto;
  text-align: center;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
  }

  button {
    width: 16px;
    height: 16px;
    font-size: 0;
    line-height: 0;
    border: 0;
    padding: 0;
    background: transparent;
    display: block;
    outline: none;
    cursor: pointer;
    float: left;

    &::before {
      content: '•';
      font-family: $font-system;
      @include fontSize(28);
      line-height: 10px;
      color: rgba(0,0,0,1);
      opacity: .2;
    }

    &:hover,
    &:focus {
      outline: none;

      &::before {
        opacity: .6;
      }
    }
  }

  .slick-active button::before {
    opacity: .6;
  }
}
