@import "../../variables";

.breadcrumbs {
  margin: 16px auto 16px 0;
  padding: 0 24px;
  white-space: nowrap;
  overflow-x: auto;

  @include tablet-up {
    max-width: 624px;
    margin: 24px auto 12px;
    padding: 0;
  }

  @include desktop-up {
    max-width: 680px;
  }
}

.breadcrumbs__item {
  display: inline;
  // reacting to "rounded corners"
  margin: 0 -3px 0 -8px;
  padding: 0;
}

.breadcrumb__link {
  font: 14px/1.14 $font-regular;
  letter-spacing: 0.2px;
  background-color: #ebebe5;
  padding: 7px 23px 7px 12px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 2px;
  margin: $breadcrumb-touch-area-expansion;
  background-clip: padding-box;
  border: 0;

  &:hover {
    background-color: #dadad2;
    border-bottom: 0;
  }

  &:active,
  &:focus {
    background-color: #cac8bf;
    border-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 11px;
    left: auto;
    right: 12px;
    height: 6px;
    width: 6px;
    border-bottom: 1px solid #6c6960;
    border-right: 1px solid #6c6960;
    transform: rotate(-45deg);
  }
}

.breadcrumb__link,
.breadcrumb__link:hover,
.breadcrumb__link:active,
.breadcrumb__link:focus {
  color: #4e4d47;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  outline: none;
}
