<ol class="breadcrumbs {{ styleModifier|default("") }}">
    {% for crumb in breadcrumbs %}
    <li class="breadcrumbs__item">
        <a class="breadcrumb__link" href="{{ crumb.url|default("#") }}"><span>{{ crumb.name|default("click me!") }}</span></a>
    </li>
    {% endfor %}
</ol>