@import "../../variables";
@import "../../mixins";

.breadcrumbs {
  margin: 16px auto 8px;
  padding: 0 $article-offset;
  white-space: nowrap;
  overflow-x: auto;

  @include tablet-up {
    margin: 24px auto 12px;
  }
}

.breadcrumbs__item {
  display: inline;
  // reacting to "rounded corners"
  margin: 0 -3px 0 -8px;
  padding: 0;
}

.breadcrumb__link {
  @include fontSize(14);
  line-height: 1.14;
  font-family: $font-regular;
  background-color: $color-srf-warmgrey-50;
  padding: 7px 23px 7px 12px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 2px;
  margin: $breadcrumb-touch-area-expansion;
  background-clip: padding-box;
  border: 0;

  &:hover {
    background-color: $color-srf-warmgrey-100;
    border-bottom: 0;
  }

  &:active,
  &:focus {
    background-color: $color-srf-warmgrey-200;
    border-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 11px;
    left: auto;
    right: 12px;
    height: 6px;
    width: 6px;
    border-bottom: 1px solid $color-srf-warmgrey-800;
    border-right: 1px solid $color-srf-warmgrey-800;
    transform: rotate(-45deg);
  }
}

.breadcrumb__link,
.breadcrumb__link:hover,
.breadcrumb__link:active,
.breadcrumb__link:focus {
  color: $color-srf-warmgrey-900;
  -webkit-tap-highlight-color: $color-srf-neutral-blacka00;
  -webkit-touch-callout: none;
  outline: none;
}
