<ol class="breadcrumbs {{ styleModifier|default("") }}" aria-label="Breadcrumb">
    {% for crumb in breadcrumbs %}
    <li class="breadcrumbs__item">
        <a class="breadcrumb__link" href="{{ crumb.url|default("#") }}"><span>{{ crumb.name|default("click me!") }}</span></a>
    </li>
    {% endfor %}
    <li class="breadcrumbs__item">
        <a href="#skiplink__contentlink" class="h-offscreen js-skiplink" data-skiplink="true" aria-current="page" tabindex="-1">Aktueller Artikel</a>
    </li>
</ol>
