{% set canton = canton is defined and canton is not empty ? canton : {'url': '#', 'name': 'Zürich', 'shortcut': 'zh'} %}

<a class="canton-navpoint canton-navpoint--{{ canton.shortcut|lower() }}" href="{{ canton.url }}" title="{{ canton.name }}">
    {{ canton.shortcut|upper() }}
</a>
