@import "../../variables";
@import "../../mixins";

$cantonBorderWidth: 42px;

.canton-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $cantonBorderWidth;
  height: $cantonBorderWidth;
  border-radius: 2px;
  background-color: $color-bg-box;
}

.canton-nav__link {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: $cantonBorderWidth;
  color: $color-text-default;
  font-family: $font-regular;
  @include fontSize(18);
  @include font-smoothing();
}
