<h2 class="demo-heading">Default - fills up container</h2>
{% include 'atoms-search' with {'styleModifier': ''} %}

<h2 class="demo-heading">Naivgation - max widths and centered</h2>
{% include 'atoms-search' with {'styleModifier': 'searchbox--navigation'} %}

<h2 class="demo-heading">Expandable - expands on click/focus and floats right</h2>
{% include 'atoms-search' with {'styleModifier': 'searchbox--expandable'} %}

<h2 class="demo-heading">Expandable & Header - as seen in the header bar in the responsive article</h2>
{% include 'atoms-search' with {'styleModifier': 'searchbox--header searchbox--expandable'} %}