<h2 class="demo-heading">Default - fills up container</h2>
{% include 'atoms-search' with {'styleModifier': ''} %}

<h2 class="demo-heading">Navigation - max widths and centered</h2>
{% include 'atoms-search' with {'styleModifier': 'search--legacy-navigation'} %}

<h2 class="demo-heading">Legacy - best effort approximation of old RA/WV design</h2>
{% include 'atoms-search' with {'styleModifier': 'search--legacy'} %}
