<h2>Long Text, no image</h2>
{% include 'atoms-navigation-link' with {
  'text': "Radio Swiss Pop with some long text that breaks the line even on wide screens because the text is so long that it cant't be contained in one line",
  'url': 'http://www.radioswisspop.ch/de',
  'styleModifier': 'demo-navigation-link'}
%}

<h2>Long Text, image</h2>
{% include 'atoms-navigation-link' with {
  'text': "Radio Swiss Pop with some long text that breaks the line even on wide screens because the text is so long that it cant't be contained in one line",
  'url': 'http://www.radioswisspop.ch/de',
  'img': '/img/radiologos/radio-swiss-pop.png',
  'imgRetina': '/img/radiologos/radio-swiss-pop-hd.png',
  'alt': '',
  'styleModifier': 'demo-navigation-link'}
%}

<h2>Short Text, no image</h2>
{% include 'atoms-navigation-link' with {
  'text': "Radio XYZ",
  'url': 'http://www.radioswisspop.ch/de',
  'styleModifier': 'demo-navigation-link'}
%}

<h2>Short Text, image</h2>
{% include 'atoms-navigation-link' with {
  'text': "Radio XYZ",
  'url': 'http://www.radioswisspop.ch/de',
  'img': '/img/radiologos/radio-swiss-pop.png',
  'imgRetina': '/img/radiologos/radio-swiss-pop-hd.png',
  'alt': '',
  'styleModifier': 'demo-navigation-link'}
%}

<h2>Long Text, image</h2>
{% include 'atoms-navigation-link' with {
  'text': "Radio Swiss Pop with some long text that breaks the line even on wide screens because the text is so long that it cant't be contained in one line",
  'url': 'http://www.radioswisspop.ch/de',
  'img': '/img/play_srf_logo.svg',
  'alt': '',
  'styleModifier': 'demo-navigation-link',
  'styleModifierImg': 'navigation-link__img--wide'}
%}

<h2>Short Text, Long image</h2>
{% include 'atoms-navigation-link' with {
  'text': "Radio XYZ",
  'url': 'http://www.radioswisspop.ch/de',
  'img': '/img/play_srf_logo.svg',
  'alt': '',
  'styleModifier': 'demo-navigation-link',
  'styleModifierImg': 'navigation-link__img--wide'}
%}

<h2>Short Text, no Image, Expand Button</h2>
{% include 'atoms-navigation-link' with {
  'text': "Radio XYZ",
  'url': 'http://www.radioswisspop.ch/de',
  'styleModifier': 'demo-navigation-link navigation-link--expandable'}
%}