{% include 'atoms-skiplink' %}

Benutze den Tabulator um den Skiplink sichtbar zu machen.<br>

<a href="#">Link before</a><br>
<a href="#">Link before</a><br>
<a href="#">Link before</a><br>
<br>

Hier befindet sich das versteckte Skiplink-Ziel:
{% include 'atoms-skiplink-target' %}
<h1>Überschrift</h1>

<a href="#">Link after</a><br>
<a href="#">Link after</a><br>
<a href="#">Link after</a><br>