// @import "../../variables";

.expand-arrow {
  width: 17px;
  height: 9px;
  display: inline-block;
  vertical-align: baseline;
  background: transparent url("../img/arrows/menu_arrow_white.svg") no-repeat 0 0 / 17px;
  margin-left: 8px;
  transition: transform 0.4s ease;
}

.expand-arrow--open {
  transform: rotate(180deg);
}