<span class="expand-arrow {{ styleModifier|default("") }}">
    <span class="h-offscreen">Navigation
        <span class="js-expand-info"
              data-text-open="aufklappen"
              data-text-close="zuklappen">aufklappen</span>
    </span>
</span>