<span class="expand-arrow {{ styleModifier|default("") }}">
  <span class="expand-arrow__a11y-open h-offscreen">Navigation aufklappen</span>
  <span class="expand-arrow__a11y-close h-offscreen">Navigation zuklappen</span>
</span>