<span class="expand-icon {{ styleModifier|default("") }}">
  <span class="expand-icon__a11y-open h-offscreen">{{ textOpen|default("Navigation aufklappen") }}</span>
  <span class="expand-icon__a11y-close h-offscreen">{{ textClose|default("Navigation zuklappen") }}</span>
</span>