.expand-icon {
  width: 17px;
  height: 9px;
  display: inline-block;
  vertical-align: baseline;
  background: transparent url("../img/arrows/menu_arrow_white.svg") no-repeat 0 0 / 17px;
  margin-left: 8px;
  transition: transform 0.4s ease;
}

.expand-icon--open {
  transform: translateZ(0) rotate(180deg); // HACK: «translateZ(0)» is because of 1px-jumping-bug in Safari (rechstst)
}

.expand-icon--open {
  .expand-icon__a11y-open  { display: none; }
  .expand-icon__a11y-close { display: block; }
}

.expand-icon__a11y-open  { display: block; }
.expand-icon__a11y-close { display: none; }
