<a class="menu-handle" href="#" aria-haspopup role="combobox">
    <div class="menu-handle__info {{ styleModifier|default("") }}">Menü
        <span class="h-offscreen"
              data-menu-show="anzeigen"
              data-menu-close="schliessen">anzeigen</span>
    </div>
</a>