<a class="menu-handle" href="#" aria-haspopup="true">
    <div class="menu-handle__info {{ styleModifier }}">{{ header.menu|default("Menü") }}
        <span class="h-offscreen"> {{ header.show|default("anzeigen") }}</span>
    </div>
</a>