@import "../../variables";
@import "../../mixins";

.menu-handle {
  float: right;
  padding: 17px;
  line-height: 0;

  @include tablet-up {
    padding: 20px 8px;
  }
}

.menu-handle,
.menu-handle:hover,
.menu-handle:active,
.menu-handle:focus {
  border-bottom: 0;
}

.menu-handle__info {
  text-indent: 26px;
  background: transparent url("../img/hamburger_sprite.svg") no-repeat;
  background-position: -15px -16px;
  background-size: 48px;

  @include smartphone {
    width: 18px;
    height: 16px;
    overflow: hidden;
  }

  @include tablet-up {
    @include fontSize(14);
    font-family: $font-regular;
    line-height: 1.14;
    color: $color-srf-warmgrey-100;
    text-transform: uppercase;
    // hamburger:
    background-position: -13px -14px;
    background-size: 42px;
    @include font-smoothing;
  }
}

.menu-handle:hover,
.menu-handle:focus,
.menu-handle--active {
  // there's no other way as the menu-handle has/gets a bg (gradient) also
  .menu-handle__info {
    color: $color-srf-neutral-white;
    background-position: -15px -64px;

    @include tablet-up {
      background-position: -13px -56px;
    }
  }
}

.menu-handle--active {
  background-image: linear-gradient(to bottom, rgba(46,46,46,1), rgba(51,51,51,1));
  border-left: 1px solid $color-srf-neutral-white;
}
