<a href="{{ url|default("#") }}" class="nav-item {{ styleModifier|default("") }}"
        {% if 'nav-item--expandable' in styleModifier %} aria-haspopup="false" aria-expanded="false"{% endif %}>
    {{ content|default("Item") }}

    {% if 'nav-item--expandable' in styleModifier %}
        <span class="nav-item__icon"></span>
    {% endif %}
</a>
