@import "../../variables";
@import "../../breakpoints";
@import "../../mixins";

.nav-item {
  display: inline-block;
  padding: 18px 16px 14px;
  border-bottom: 2px solid transparent;
  font-family: inherit;
  @include fontSize(18);
  line-height: $emphasize-line-height-ratio;
  border-radius: 2px;
  transition: background-color .2s ease-in-out;

  /* fallback */
  color: $color-srf-warmgrey-900;

  /* theme */
  @supports (--foo: bar) {
    color: var(--theme-color-nav, $color-srf-warmgrey-900);
  }

  @include smartphone {
    padding: 18px 12px 16px;
    @include fontSize(16);
  }

  &:hover {
    border-bottom: 2px solid transparent;

    /* fallback */
    background-color: $color-srf-warmgrey-300a12;
    color: $color-srf-warmgrey-900;

    /* theme*/
    @supports (--foo: bar) {
      background-color: var(--theme-color-bg-hover,$color-srf-warmgrey-300a12);
      color: var(--theme-color-nav, $color-srf-warmgrey-900);
    }
  }

  &:active {
    border-bottom: 2px solid transparent;

    /* fallback */
    background-color: $color-srf-warmgrey-300a24;
    color: $color-srf-warmgrey-900;

    /* theme */
    @supports (--foo: bar) {
      background-color: var(--theme-color-bg-active, $color-srf-warmgrey-300a24);
      color: var(--theme-color-nav, $color-srf-warmgrey-900);
    }
  }
}

.nav-item--active,
.nav-item--active:hover,
.nav-item--active:active {
  background: none;
  opacity: 1;
  border-radius: 0; // if this one would not be overwritten, little red pixels will be displayed on the top corners (like ears)

  /* fallback */
  border-bottom-color: $color-srf-red-400;
  color: $color-srf-red-600;

  /* theme */
  @supports (--foo: bar) {
    border-bottom-color: var(--theme-color-nav-active-border, $color-srf-red-400);
    color: var(--theme-color-active, $color-srf-red-600);
  }
}

.nav-item--expandable {
  display: inline-flex;
  align-items: center;
  padding-top: 16px;
  padding-right: 4px;
  padding-bottom: 14px;
  position: relative; // prevents the icon to move relative to the nav-item's parent (see SRFCMSAL-1901 if you want to have a chuckle)

  @include tablet-up {
    padding-top: 17px;
    padding-right: 8px;
    padding-bottom: 13px;
  }

  .nav-item__icon {
    filter: none; /* fallback */
    filter: var(--theme-icon-filter, none);
    margin-top: -1px;
    margin-bottom: 1px;
    // prevents us from having to check click-events on the icon
    pointer-events: none;
    @include caret('grey', 'down', 'tiny');
    // sass-lint:disable indentation
    transition: transform .2s ease-in-out,
                margin .2s ease-in-out;
    // sass-lint:enable indentation

    &.expand-icon--open {
      margin: 0;
    }
  }
}

.nav-item--third-level {
  width: 100%;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  @include fontSize(16);

  @include smartphone {
    flex-direction: column;
  }

  // Override Theming for 3rd level Nav
  &,
  &:hover,
  &:active,
  &:focus {
    color: $color-srf-warmgrey-900;
  }

  &:hover {
    background-color: $color-srf-warmgrey-300a12;
  }

  &:active {
    background-color: $color-srf-warmgrey-300a24;
  }

  .nav-item--third-level__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    margin-right: -8px;
    filter: var(--theme-grayscale-filter, none);
    background-image: url(../img/icon/check-red.svg);

    @include smartphone {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }
}

.nav-item--third-level--active,
.nav-item--third-level--active:hover {
  background-color: $color-srf-warmgrey-300a24;
}

.nav-item--home {
  color: $color-srf-warmgrey-1100;
}
