<a href="{{ url|default("#") }}" class="nav-item {{ styleModifier|default("") }}">
    {{ content|default("Item") }}

    {% if 'nav-item--expandable' in styleModifier %}
        <span class="nav-item__icon"></span>
    {% endif %}
</a>
