.nav-group {
    .nav-group__list {
        display: none;
        transform-origin: top;
    }
}

.nav-group__wrapper {
    position: fixed;
    overflow: hidden;
    padding: 0 0 8px;

    @include smartphone {
        left: 0;
        width: 100%;
    }

    @include tablet-up {
        margin-left: -16px;
        padding: 0px 8px 8px;
    }
}

.nav-group--open {
    .nav-group__list {
        display: flex;
        flex-direction: column;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: #fefefd;
        margin: 1px 0 0;
        padding: 8px 0;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,.24), 0 0 8px 0 rgba(0,0,0,.12);
        min-width: 200px;
        border-top: rgba(0, 0, 0, 0.08);
        opacity: 0;
        animation: fadeInNavGroup .2s forwards;
    }
}

@keyframes fadeInNavGroup {
    0% {
        transform: scaleY(0);
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}
