@import "../../variables";
@import "../../mixins";

.navigation-link {
  display: flex;
  padding: 12px;
  cursor: pointer;
  border-bottom: 0;
  height: 100%;
  border-radius: 2px;
  
  @include tablet-up {
    padding: 12px 14px;
  }

  &:hover {
    background-color: #444;
  }

  &:active,
  &:focus {
    background-color: #555;
  }

  &:hover,
  &:active {
    border-bottom: 0;
  }
}

.navigation-link--dark {
  
  @include tablet-up {
    padding: 12px 16px;
  }
  
  &:hover {
    background-color: #333;
  }

  &:active,
  &:focus {
    background-color: #444;
  }
}

.navigation-link__img {
  flex: 0 0 auto;
  align-self: center;
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.navigation-link__img--wide {
  width: 72px;
}

.navigation-link__text {
  flex: 1 0 0%;
  align-self: center;
  @include fontSize(16);
  font-family: $font-regular;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  margin: 4px 0;
}

.navigation-link__icon {
  flex: 0 0 auto;
  align-self: center;
}
