@import "../../mixins";
@import "../../variables";

.onairnav-head {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 16px;

  @include tablet-up {
    margin-top: 48px;
    margin-bottom: 24px;
    padding: 0 16px;
  }
}

.onairnav-head__title {
  font-family: $font-medium;
  @include fontSize(24);
  font-weight: 500;
  line-height: 1;
  color: $color-srf-neutral-white;
  margin: 0;
  align-self: baseline;
  @include font-smoothing;

  @include tablet-up {
    @include fontSize(28);
  }
}

.onairnav-head__morelink {
  font-family: $font-regular;
  @include fontSize(16);
  font-weight: 300;
  line-height: 1;
  color: $color-srf-neutral-white;
  align-self: baseline;
  white-space: nowrap;
  transition: opacity .2s ease-in-out;
  @include font-smoothing;

  &:hover,
  &:focus,
  &:active {
    color: $color-srf-neutral-white;
  }

  &:hover,
  &:focus {
    opacity: .8;
  }

  &:active {
    opacity: .6;
  }
}

.onairnav-head__morelink-icon {
  @include caret('white', 'right', 'tiny');
  margin-bottom: -8px;
}
