.onairnav-head {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 16px;

  @include tablet-up {
    margin-top: 48px;
    margin-bottom: 24px;
    padding: 0 16px;
  }
}

.onairnav-head__title {
  font-family: $font-medium;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  margin: 0;
  align-self: baseline;
  @include font-smoothing;

  @include tablet-up {
    font-size: 28px;
    line-height: 1;
  }
}

.onairnav-head__morelink {
  font-family: $font-regular;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: .4px;
  color: #fff;
  align-self: baseline;
  white-space: nowrap;
  transition: opacity .2s ease-in-out;
  @include font-smoothing;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
  }

  &:hover,
  &:focus {
    opacity: .8;
  }

  &:active {
    opacity: .6;
  }
}

.onairnav-head__morelink-icon {
  position: relative;
  top: 3px;
  right: -5px;
  margin-left: -5px;
}
