@import "../../variables";
@import "../../mixins";

.onairnav-link {
  display: block;
  position: relative; // to position the pseudo elements
  height: 100%;
  border-radius: 2px;
  background-color: $color-srf-warmgrey-25;
  color: $color-srf-warmgrey-1100;
  margin: 1px 0;
  padding: 18px 16px;
  transition: background .2s ease-in-out;

  @include tablet-up {
    margin: 0;
    flex-grow: 1;
  }

  /* OnAirNav-Links have (as Teasers do) an invisible layer on top that gets sligthly opaque when active/focused */
  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;

    /* theme */
    @include customPropWithFallback('background-color', '--teaser-background-link-hover', $color-srf-neutral-blacka08);

    // performance improvement: Don't animate the background-color, but the opacity
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  &:hover,
  &:focus {
    color: $color-srf-warmgrey-1100;

    &::after {
      opacity: 1;
    }
  }

  &:active {
    color: $color-srf-warmgrey-1100;

    &::after {
      /* theme */
      @include customPropWithFallback('background-color', '--teaser-background-link-active', $color-srf-neutral-blacka12);

      opacity: 1;
    }
  }

  .modal--theme-dark & {
    background-color: $color-srf-warmgrey-1100;
    color: $color-srf-neutral-white;

    &::after {
      /* theme */
      @include customPropWithFallback('background-color', '--teaser-background-link-hover', $color-srf-neutral-whitea08);
    }

    &:hover,
    &:focus {
      color: $color-srf-neutral-white;
    }

    &:active {
      color: $color-srf-neutral-white;

      &::after {
        /* theme */
        @include customPropWithFallback('background-color', '--teaser-background-link-active', $color-srf-neutral-whitea12);
      }
    }
  }
}

.onairnav-link--arrow {
  padding: 18px 56px 18px 16px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    background: url(../../../assets/img/arrows/caret.svg);
    transform: rotate(-90deg);
    filter: invert(100%) contrast(600%);
  }
}

.onairnav-link--program {
  margin-bottom: 12px;
  padding-bottom: 24px;
  position: relative;

  @include tablet-up {
    margin-bottom: 0;
  }
}

.onairnav-link--compact {
  padding-bottom: 8px;

  @include tablet-up {
    padding-bottom: 12px;
  }
}

/* Logos and LIVE-Badge */
.onairnav-link__media {
  margin-bottom: 12px;
  max-height: 24px;
  width: auto;
}

.onairnav-link__media--live {
  display: inline-block;
  padding: 4px 8px;
  backdrop-filter: blur(2px);
  background-color: $color-srf-red-500;
  @include fontSize(16);
  line-height: 1;
  font-weight: 500;
  font-family: $font-medium;
  text-transform: uppercase;
  color: $color-srf-neutral-white;
  max-height: auto;
  animation: pulsatingLiveAnimation 3s infinite ease-in-out;
  @include font-smoothing;
}

.onairnav-link__media--radiologo {
  width: 80px;
  height: 80px;
  max-height: 80px;

  @include desktop-up {
    width: 100%;
    height: auto;
    max-height: none;
  }

  .modal--theme-dark & {
    @include desktop-up {
      width: 80px;
      height: 80px;
      max-height: 80px;
    }
  }
}

.onairnav-link__media--rtr-radiologo {
  max-height: 52px;
}

/* Link-Elements Title */
.onairnav-link__title {
  display: block;
  font-family: $font-regular;
  font-weight: 500;
  line-height: $secondary-line-height-ratio;
  @include fontSize(18);
  @include font-smoothing;
}

.onairnav-link--program {
  .onairnav-link__title {
    font-family: $font-medium;
  }
}

.onairnav-link__title--radiostation {
  font-family: $font-regular;
  @include fontSize(14);
  line-height: 1.15;
}

.onairnav-link__title--rtr-radiostation {
  font-family: $font-regular;
  @include fontSize(18);
  line-height: 1.15;
}



/* Progress-Bar */
.onairnav-link__progress {
  appearance: none; /* Needed for WebKit/Blink */
  border: none; /* Needed for Firefox */
  background-color: $color-srf-warmgrey-1000;
  color: $color-srf-red-800; /* For IE10 */
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

.onairnav-link__progress[value]::-webkit-progress-bar { /* Needed for WebKit/Blink */
  background-color: $color-srf-warmgrey-1000;
}

.onairnav-link__progress[value]::-webkit-progress-value { /* Needed for WebKit/Blink */
  position: relative;
  background-color: $color-srf-red-800;
}

.onairnav-link__progress[value]::-moz-progress-bar { /* Needed for Firefox */
  position: relative;
  background-color: $color-srf-red-800;
}
