// @import "../../variables";

.searchbox {
  padding: 16px 16px 8px;

  @include tablet-up {
    position: absolute;
    width: 240px;
    top: -59px;
    right: 48px;
    padding: 13px 24px 0;
  }

  @include desktop-up {
    right: 81px;
  }
  /* closing x icon */
  .close-search {
    position: absolute;
    text-decoration: none;
    float:right;
    padding-top: 10px;
    padding-right: 10px;
    border: 0px;
    img {
      width: 15px;
      height: 15px;
    }
  }
}


.searchbox__input {
  display: none; // visible on document.ready to prevent problems with events firing before document.ready
  width: 100%;
  height: 40px;
  font: 16px/1.1 $font-light; // line-height 1 cuts off "bottom parts of letters"
  letter-spacing: .6px;
  color: $color-bg-box-hover;
  background: #555 url("../img/search-sprite.svg") no-repeat scroll 6px 0 / 28px auto;
  padding: 10px 4px 8px 40px; // adjusting from 11 4 9 40 to line-height above
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:focus, &:not(:placeholder-shown) {
    color: $color-text-accentuation;
    background-color: $color-bg-box;
    background-position: 6px -35px;
    outline: none;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }

  &:focus::placeholder { // this cannot be combined with the above
    opacity: 0;
  }

  &::-webkit-input-placeholder {
    color: $color-bg-box-hover;
    line-height: 21px; // safari needs it's own line-height
    opacity: 1; // and opacity :)
  }

  @include tablet-up {
    height: 36px; // safari has a problem with paddings :/
    padding: 0 6px 0 36px; // adjusting from 6 6 6 36 to line-height above
    background-size: 23px;
    background-position: 6px 2px;

    &:focus, &:not(:placeholder-shown) {
      background-position: 6px -28px;
    }
  }
}


.searchbox ul {
  position: absolute;
  z-index:1000;
  margin-top: 0px;
  padding-top: 1px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #fafaf8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36);

  li {
    display: block;
    background-image: none;
    border-bottom: 0px;
    margin: 0px;
    padding: 0px;
    &:before {
      display: none;
    }
  }
  a {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: left;
    color: #22211d;
    text-decoration: none;
    border: 0px;
    padding: 11px 16px 5px 13px;

    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #22211d;
    @include tablet-up {
      padding-left: 24px;
    }
  }
  a:hover, li.active a, .typeahead-suggestion.active a {
    background-color: #ecece6;
  }
}

/* footer variant */
.searchbox.search--variant {
  position: relative;
  width: 100%;
  top: auto;
  right: auto;
  max-width: 458px;
  margin: auto;
  padding:  13px 24px 0;

  @include desktop-up {
    max-width: 500px;
  }

}

.search--variant .searchbox__input {
  height: 40px;
  background-size: auto;
  background-position: auto;
}