<form autocomplete="off"
      class="search {{ styleModifier|default("") }} js-search"
      data-typeahead-url="/assets/demo/typeahead_search.json"
      data-referrer-track="srf_suchfeld=''"
      data-suggestion-history="true"
      action="suche"
      role="search">

    <div class="search-wrapper">
        <div class="search__input--wrapper">
            <div class="search__icon"></div>

            <label class="search__label">
                <span class="h-offscreen">Suchen</span>
                <input class="search__input js-search-input"
                    name="q"
                    type="text"
                    placeholder="Suchen"
                    data-result-alert-text="Resultate für">
            </label>

            <a href="#" class="search__close js-search-close" aria-hidden="true" tabindex="-1">
                <img src="{{ frameworkAssetPath }}/img/close.svg" title="Suchfeld schliessen" width="10" height="10" alt="Suchfeld schliessen" />
            </a>

            <button type="submit"
                    class="h-offscreen"
                    tabindex="-1"
                    aria-hidden="true">Suchen</button>
        </div>

        <ul class="search__results js-search-results"
            aria-live="polite"
            aria-relevant="additions">
        </ul>
    </div>
</form>
