@import "../../variables";
@import "../../mixins";

.search {
  position: relative;
  height: 48px;
  overflow: visible;
}

.search__close {
  display: none;
  text-decoration: none;
  padding: 16px;

  img {
    position: relative;
    width: 16px;
    height: 16px;
  }
}

.search-wrapper {
  /* fallback */
  background-color: #fefefd;
  border: 1px solid rgba(0,0,0,.08);
  border-bottom: 0;

  /* theme */
  @supports (--foo: bar) {
    background-color: var(--theme-color-bg-search, #fefefd);
    border: var(--theme-search-border, 1px solid rgba(0,0,0,.08));
    border-bottom: var(--theme-search-border-bottom, 0);
  }

  border-radius: 2px;
  transition: box-shadow .2s ease-in-out;
}

.search--active {
  .search-wrapper {
    box-shadow: $shadow-elevation4;
    background-color: #fefefd;
    border: 1px solid rgba(0,0,0,.08);
    border-bottom: 0;
    position: relative;
    z-index: 1;
  }
}

.search__input--wrapper {
  display: flex;
  border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}

.search__icon {
  background-image: url(../img/search-sprite.svg);
  background-position: 10px -32px;
  background-size: 28px;
  background-repeat: no-repeat;
  width: 48px;
  flex-shrink: 0;

  /* fallback */
  filter: none;

  /* theme */
  @supports (--foo: bar) {
    filter: var(--theme-icon-filter, none);
  }
}

.search--active {
  .search__icon {
    filter: none;
  }
}

.search__label {
  flex: 1 0 auto;
}

.search__input {
  display: none; // visible on document.ready to prevent problems with events firing before document.ready
  height: 100%;
  width: calc(100% + 48px);
  @include fontSize(16);
  font-family: $font-light;
  line-height: 1.1; // line-height 1 cuts off "bottom parts of letters"
  letter-spacing: .6px;
  color: $color-text-light;
  background: transparent;
  border: 0;
  padding: 14px 48px;
  margin: 0 -48px;
  @include font-smoothing;

  &:focus::placeholder {
    opacity: 0;
  }

  // safari needs it's own line-height and opacity
  &::-webkit-input-placeholder {
    color: $color-text-light;
    line-height: 21px;
    opacity: 1;
  }

  &::placeholder {
    @supports (--foo: bar) {
      color: var(--theme-color-text-search, $color-text-light);
    }
  }

  // Remove IE closing x icon because (we do the same for all browsers)
  &::-ms-clear {
    display: none;
  }
}

.search__input--loaded {
  display: inline;
}

.search--active {
  .search__input {
    color: $color-text-default;
  }
}

.search__results {
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.typeahead-suggestion {
  display: block;
  background-image: none;
  border-bottom: 0px;
  margin: 0;
  padding: 0;

  opacity: 0;
  max-height: 0;
  overflow: hidden;

  animation-name: fadeInTypeaheadAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  @for $i from 1 through 7 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i*0.05}s;
    }
  }

  &:last-child {
    padding-bottom: 8px;
  }

  &:first-child {
    padding-top: 8px;
  }

  a {
    display: block;
    width: 100%;
    @include fontSize(16);
    font-weight: 300;
    text-align: left;
    color: $color-text-default;
    text-decoration: none;
    padding: 12px 24px;

    @include tablet-up {
      padding-left: 24px;
    }

    // Override <a> styles
    &:hover,
    &:focus,
    &:active {
      color: $color-text-default;
    }
  }

  &.typeahead-suggestion--no-animation {
    animation-name: nullAnimation;
    animation-delay: 0s;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    max-height: none;
  }
}

.search-result__link {
  &:hover {
    background-color: $color-bg-button-hover;
  }

  &:active,
  &:focus {
    background-color: $color-bg-button-focus;
  }
}

// Transition period: use this modifier for an approximation of the old styling (RA/WV)
.search--legacy-navigation {
  position: relative;
  width: 100%;
  top: auto;
  right: auto;
  max-width: 458px;
  margin: 0 auto 32px;
  padding: 0 12px;
  height: 40px;

  .search-wrapper {
    // sass-lint:disable indentation
    transition: width .2s ease-in-out,
                box-shadow .2s ease-in-out,
                background-color .2s ease-in-out;
    // sass-lint:enable indentation
    background-color: #555555;
  }

  @include smartphone {
    margin: 16px auto 8px;
  }

  @include desktop-up {
    max-width: 458px;
  }

  .search__input {
    padding: 12px 48px;
    height: auto;
  }

  .search__input,
  .search__input::placeholder {
    color: $color-bg-box-hover;
  }

  .search__icon {
    background-position-y: 0px;
    background-position-x: 8px;
    width: 40px;
  }

  &.search--active {
    .search__icon {
      background-position-y: -36px;
    }

    .search-wrapper {
      width: 100%;
      background-color: $color-bg-caption;
      border: 0;
    }

    .search__input,
    .search__input::placeholder {
      color: $color-text-accentuation;
    }
  }

  .search__close {
    padding: 12px;
  }
}

// Transition period: use this modifier for an approximation of the old styling (RA/WV)
.search--legacy {
  display: flex;
  justify-content: flex-end;
  height: 40px;

  .search-wrapper {
    // sass-lint:disable indentation
    transition: width .2s ease-in-out,
                box-shadow .2s ease-in-out;
    // sass-lint:enable indentation
    width: 180px;
    background-color: #555555;
  }

  .search__label {
    flex-shrink: 1;
  }

  .search__results {
    background-color: #fafaf8;
    margin-top: -1px;
    box-shadow: $shadow-elevation4;
  }

  .search__input--wrapper {
    border-bottom: 0;
  }

  .search__input {
    padding: 10px 48px;
  }

  .search__input,
  .search__input::placeholder {
    color: $color-bg-box-hover;
  }

  .search__icon {
    background-position-y: 0px;
    background-position-x: 8px;
    width: 40px;
  }

  .search__close {
    padding: 12px;
  }

  &.search--active {
    .search__icon {
      background-position-y: -36px;
    }

    .search-wrapper {
      width: 100%;
      background-color: $color-bg-caption;
      border: 0;
    }

    .search__input,
    .search__input::placeholder {
      color: $color-text-accentuation;
    }
  }

  @include smartphone {
    margin: 16px 12px 0;
    z-index: 1;

    .search-wrapper {
      width: 100%;
    }
  }
}
