<form class="searchbox" role="search">{# todo: translate! #}
    <label for="search" class="h-offscreen">Suchen</label>
    <input class="searchbox__input" type="text" id="search" placeholder="Suche">
    <button type="submit" class="h-offscreen">Suchen</button>
</form>