<form class="searchbox" role="search">
    <label for="search" class="h-offscreen">{{ header.searching|default("Suchen") }}</label>
    <input class="searchbox__input" id="search" type="text" placeholder="{{ header.search|default("Suche") }}">
    <button type="submit" class="h-offscreen" tabindex="-1">{{ header.searching|default("Suchen") }}</button>
</form>