.swipemod {
  background: $color-bg-box;
  padding: 24px 8px;
  overflow-x: hidden;
  
  @include tablet-up {
    padding: 24px 32px;
  }
}

.swipemod-container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 16px 16px 4px;
  background: $color-bg-caption;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.24), 0 0 2px 0 rgba(0,0,0,.12);
}

.swipemod-titlecontainer {
  display: flex;
  justify-content: space-between;
}
  
.swipemod-title {
  flex: 0 1 auto;
  margin: 0;
  font-family: $font-regular;
  font-size: 22px;
  line-height: 1.27;
  letter-spacing: .2px;
  color: $color-text-accentuation;
}

.swipemod-showall {
  flex: 0 1 auto;
  font-size: 16px;
  line-height: 1;
  letter-spacing: .5px;
  border-bottom: none;
  top: 3px;
  padding: 0 24px 0 0;
  position: relative;
    
  &:hover,
  &:active,
  &:focus {
    border: none; // overwrite of global a-stlyes :rolling-eyes:
  }

  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: auto;
    right: 4px;
    height: 12px;
    width: 12px;
    border-bottom: 1px solid #c91024;
    border-right: 1px solid #c91024;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
}

.swipemod-swipecontainer {
  display: flex;
  overflow-x: scroll;
  margin:0 -28px;
  padding:0 24px;
  
  @include tablet {
    margin: 0 -48px;
    padding: 0 48px;
  }
  
  @include desktop-up {
    margin: 0 -16px;
    padding: 0 14px;
  }
}

.swipemod-item {
  flex: none;
  margin: 12px 4px;
  width: 240px;
  background: $color-bg-card;
  border-radius: 2px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  
  @include tablet {
    width: 312px;
  }
  
  @include desktop {
    width: 289px;
  }
  
  @include desktop-wide {
    width: 356px;
  }
  
  &:hover,
  &:active,
  &:focus {
    border: none; // overwrite of global a-stlyes :rolling-eyes:
  }
}

.swipemod-item--single {
  width: calc(100% - 8px); // 100% minus double 4px margin
  max-width: 330px;
}

.swipemod-item--duo {
  @include tablet-up {
    width: auto;
    max-width: 330px;
    flex: 0 1 auto;
  }
}

.swipemod-item__title {
  margin: 0;
  padding: 16px;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .2px;
  color: $color-text-default;
}

.swipemod-item__overline {
  margin: 0 0 4px 0;
  font-family: $font-regular;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: .2px;
  color: $color-accentuation-red;
  display: block;
}

.swipemod-image {
  width: 100%;
  height: 135px;
  object-fit: cover;
  
  @include tablet {
    height: 175px;
  }
  
  @include desktop {
    height: 164px;
  }
  
  @include desktop-wide {
    height: 200px;
  }
}

.swipemod-item--single {
  .swipemod-image {
    height: 153px;
    
    @include tablet-up {
      height: 185px;
    }
  }
}

.swipemod-item--duo {
  .swipemod-image {
    height: 185px;
  }
}