/*** LAYOUT ***/
$outher-padding-small: 8px;
$outher-padding: 32px;
$inner-outher-padding: 16px;

/*** SPACING ***/
$gutter-padding-small: 8px;
$gutter-padding: 12px;
$half-gutter-padding-small: 4px;
$half-gutter-padding: 6px;

/*** UI ***/
$swipe-remains-small: 48px;
$swipe-remains: 52px;
$swipe-remains-large: 92px;
$row-count-tablet: 2;
$row-count-desktop: 3;
$item-max-width: 400px;

.swipemod {
  background: $color-bg-box;
  padding: 24px $outher-padding-small;
  overflow-x: hidden;
  
  @include tablet-up {
    padding: 24px $outher-padding;
  }
}

.swipemod-container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 16px 16px 4px;
  background: $color-bg-caption;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.24), 0 0 2px 0 rgba(0,0,0,.12);
  position: relative;
  
  @include tablet {
    background-color: gray;
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 100% 100%;
  }
  @include desktop-up {
    background-color: gray;
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 66.67% 66.67%;
  }
}

.swipemod-titlecontainer {
  display: flex;
  justify-content: space-between;
}
.swipemod-title {
  flex: 0 1 auto;
  margin: 0;
  font-family: $font-regular;
  font-size: 22px;
  line-height: 1.27;
  letter-spacing: .2px;
  color: $color-text-accentuation;
}
.swipemod-showall {
  flex: 0 1 auto;
  font-size: 16px;
  line-height: 1;
  letter-spacing: .5px;
  border-bottom: none;
  top: 3px;
  padding: 0 24px 0 0;
  position: relative;

  &:hover,
  &:active,
  &:focus {
    border: none; // overwrite of global a-stlyes :rolling-eyes:
  }

  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: auto;
    right: 4px;
    height: 12px;
    width: 12px;
    border-bottom: 1px solid #c91024;
    border-right: 1px solid #c91024;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
}

.swipemod-swipecontainer {
  display: flex;
  overflow-x: auto;
  margin: 0 calc((8px + 16px + 4px) * -1);
  padding: 0 calc(8px + 16px);

  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 50% 50%;
  
  @include tablet {
    margin: 0 calc((12px + 32px + 4px) * -1);
    padding: 0 calc((#{$inner-outher-padding} - #{$half-gutter-padding}) + #{$outher-padding});
  }
  
  @include desktop-up {
    margin: 0 calc(16px * -1);
    padding: 0 calc(#{$inner-outher-padding} - #{$half-gutter-padding});
  }
}
.swipemod-container--2ormore .swipemod-swipecontainer {
  &::after {
    content: "";
    flex: 0 0 calc(#{$outher-padding-small} + #{$inner-outher-padding});
    
    @include tablet {
      flex: 0 0 calc((#{$outher-padding} + #{$inner-outher-padding})  - #{$half-gutter-padding});
    }
    
    @include desktop-up {
      flex: 0 0 calc(#{$inner-outher-padding} - #{$half-gutter-padding});
    }
  }
}
/*.swipemod-container--3ormore .swipemod-swipecontainer {
  @include desktop-up {
    overflow-x: hidden;
  }
}
.swipemod-container--4ormore .swipemod-swipecontainer {
  overflow-x: scroll;
}*/

.swipemod-item {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  margin: 12px $half-gutter-padding-small;
  max-width: $item-max-width;
  background: $color-bg-card;
  border-radius: 2px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);

  -webkit-scroll-snap-coordinate: 50% 50%;
  
  @include tablet {
    margin: 12px $half-gutter-padding;
    max-width: calc((100% / #{$row-count-tablet}) - #{$gutter-padding});
  }
  
  @include desktop-up {
    margin: 12px $half-gutter-padding;
    max-width: calc((100% / #{$row-count-desktop}) - #{$gutter-padding});
  }
  
  &:hover,
  &:active,
  &:focus {
    border: none; // overwrite of global a-stlyes :rolling-eyes:
  }
}
.swipemod-container--2ormore .swipemod-item {
  flex: 1 0 calc(100% - #{$swipe-remains-small} + #{$gutter-padding-small});
  
  @include tablet-up {
    flex: 1 0 calc(100% - (#{$swipe-remains-small} + #{$outher-padding}) + #{$gutter-padding});
  }
}
.swipemod-container--3ormore .swipemod-item {
  @include tablet {
    max-width: calc((100% / #{$row-count-tablet}) - #{$swipe-remains} + (2 * #{$gutter-padding}));
  }
}
.swipemod-container--4ormore .swipemod-item {
  @include desktop-up {
    max-width: calc((100% / #{$row-count-desktop}) - #{$swipe-remains} + 28px);
  }
  
  @include desktop-wide {
    max-width: calc((100% / #{$row-count-desktop}) - #{$swipe-remains-large} + 56px);
  }
}

.swipemod-item__title {
  margin: 0;
  padding: 16px;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .2px;
  color: $color-text-default;
}
.swipemod-item__overline {
  margin: 0 0 4px 0;
  font-family: $font-regular;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: .2px;
  color: $color-accentuation-red;
  display: block;
}

.swipemod-imagecontainer {
  background-color: #000;
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}
.swipemod-image {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

/* TODO: unify with video gallery! */
.swipemod-button {
  position: absolute;
  width: 56px;
  height: 100%;
  top: 0;
  background-size: 16px;
  background-position: 20px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  display: none;
}
.swipemod-container--2ormore .swipemod-button {
  display: block;
}


.swipemod-button__left {
  left: -38px;
  background-image: url('../img/carousel/previous_no_bg.svg');
}

.swipemod-button__right {
  right: -38px;
  background-image: url('../img/carousel/next_no_bg.svg');
}