@import "../../variables";
@import "../../mixins";

/*** LAYOUT ***/
$outer-padding-small: 8px;
$outer-padding: 32px;
$inner-outer-padding: 16px;

/*** SPACING ***/
$gutter-padding-small: 8px;
$gutter-padding: 12px;
$half-gutter-padding-small: $gutter-padding-small / 2;
$half-gutter-padding: $gutter-padding / 2;

/*** UI ***/
$swipe-remains-small: 48px;
$swipe-remains: 52px;
$swipe-remains-large: 92px;
$row-count-tablet: 2;
$row-count-desktop: 3;
$item-max-width: 400px;

.swipemod {
  opacity: 1; /* OVERRIDE CRITICAL CSS */
  background: $color-bg-box;
  overflow-x: hidden;

  @include desktop-up {
    overflow-x: visible;
  }

  > .l-card {
    background: $color-bg-caption;
    margin-bottom: 32px;

    @include tablet-up {
      margin-bottom: 40px;
    }

    @include desktop-wide {
      overflow-x: hidden;
    }
  }
}

.swipemod-container {
  padding: 0 16px 4px;
  position: relative;
}

.swipemod-showall {
  display: flex;
  justify-content: space-between;
  padding: 20px 16px 12px;
  color: $color-link-default;

  &,
  &:hover,
  &:active,
  &:focus {
    border: 0; // overwrite of global a-styles
  }

  &:hover,
  &:focus {
    color: $color-link-hover;
  }

  &:active {
    color: $color-link-active;
  }
}

.swipemod-showall__title {
  flex: 1 1 auto;
  margin: 0;
  font-family: $font-regular;
  @include fontSize(22);
  line-height: $emphasize-line-height-ratio;
  color: $color-text-accentuation;
}

.swipemod-showall__title--extended {
  @include smartphone {
    @include offscreen-non-focusable;
  }
}

.swipemod-showall__title--collapsed {
  @include tablet-up {
    display: none;
  }
}

.swipemod-showall__text {
  flex: 0 1 auto;
  @include fontSize(16);
  font-family: $font-regular;
  line-height: 1;
  align-self: center;

  @include smartphone {
    display: none;
  }
}

.swipemod-showall__icon {
  @include caret('red', 'right', 'medium');
  margin-right: -8px;
  margin-top: 2px;
}

.swipemod-swipecontainer {
  list-style-type: none; // overwrite global li-styles :-/
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0 -#{$outer-padding-small + $inner-outer-padding + $half-gutter-padding-small};
  padding: 0 #{$outer-padding-small + $inner-outer-padding};

  @include tablet {
    margin: 0 -#{$inner-outer-padding + $outer-padding};
    padding: 0 #{$inner-outer-padding - $half-gutter-padding + $outer-padding};
  }

  @include desktop {
    margin: 0 -#{$inner-outer-padding + $outer-padding};
    padding: 0 #{$inner-outer-padding - $half-gutter-padding + $outer-padding};
  }

  @include desktop-wide {
    margin: 0 -#{$inner-outer-padding};
    padding: 0 #{$inner-outer-padding - $half-gutter-padding};
  }

  // Browser-specific way to disable scrollbars - non-trivial with flex layout otherwise!
  &::-webkit-scrollbar {
    display: none;
  }

  .swipemod-item {
    box-shadow: $shadow-elevation2;
    &:hover,
    &:focus,
    &:active {
      box-shadow: $shadow-elevation8;
    }
    &:hover,
    &:focus {
      background-color: #fafaf8;
    }

    &:active {
      background-color: #f5f5f2;
    }

  }
}

.swipemod-container--2ormore .swipemod-swipecontainer {
  &::after {
    content: "";
    flex: 0 0 #{$outer-padding-small + $inner-outer-padding};

    @include tablet-up {
      flex: 0 0 #{$outer-padding + $inner-outer-padding - $half-gutter-padding};
    }

    @include desktop-wide {
      flex: 0 0 #{$inner-outer-padding - $half-gutter-padding};
    }
  }
}

.swipemod-item {
  flex: 1 0;
  display: flex;
  margin: 0 $half-gutter-padding-small 8px;
  padding-left: 0; // overwrite global li-styles :-/
  max-width: $item-max-width;
  background: $color-bg-card;
  border-radius: 2px;
  border: 0;

  min-width: $smartphone-size - 2 * $outer-padding-small - 2 * $inner-outer-padding; //272px = 320 - 2*8 - 2*16

  @include tablet {
    margin: 0 $half-gutter-padding 8px;
    max-width: calc((100% / #{$row-count-tablet}) - #{$gutter-padding});

    min-width: ($tablet-size - 2 * $outer-padding - 2 * $inner-outer-padding - $gutter-padding) / 2; //306px = (720 - 2*32 - 2*16 - 12) / 2
  }

  @include desktop-up {
    margin: 0 $half-gutter-padding 8px;
    max-width: calc((100% / #{$row-count-desktop}) - #{$gutter-padding});

    min-width: ($desktop-size - 2 * $outer-padding - 2 * $inner-outer-padding - 2 * $gutter-padding) / 3; //301.3px = (1024 - 2*32 - 2*16 - 2*12) / 3
  }

  @include desktop-wide {
    min-width: ($content-width - 2 * $inner-outer-padding - 2 * $gutter-padding) / 3; //381.3px = (1200 - 2*16 - 2*12) / 3
  }

  > a { // overwrite global a-styles
    border: none;
    width: 100%;

    &:hover,
    &:active,
    &:focus {
      border: none;
    }
  }
}

.swipemod-container--2ormore .swipemod-item {
  flex: 1 0 calc(100% - #{$swipe-remains-small} + #{$gutter-padding-small});

  min-width: $smartphone-size - 2 * $outer-padding-small - $inner-outer-padding - $swipe-remains-small; //240px = 320 - 2*8 - 16 - 48

  @include tablet-up {
    flex: 1 0 calc(100% - #{$swipe-remains-small + $outer-padding} + #{$gutter-padding});
  }
}

@mixin maxWidthCalculator($count: $row-count-desktop, $remains: $swipe-remains-large) {
  max-width: calc(((100% - #{$gutter-padding}) - #{$remains - $inner-outer-padding} - (#{($count - 1) * $gutter-padding})) / #{$count});
}

.swipemod-container--3ormore .swipemod-item {
  @include tablet {
    @include maxWidthCalculator($row-count-tablet, $swipe-remains);

    min-width: ($tablet-size - 2 * $outer-padding - $inner-outer-padding - $gutter-padding - $swipe-remains) / 2; //288px = (720 - 2*32 - 16 - 12 - 52) / 2
  }
}
.swipemod-container--4ormore .swipemod-item {
  @include desktop-up {
    @include maxWidthCalculator($row-count-desktop, $swipe-remains);

    min-width: ($desktop-size - 2 * $outer-padding - $inner-outer-padding - 2 * $gutter-padding - $swipe-remains) / 3; //289px = (1024 - 2*32 - 16 - 2*12 - 52) / 3
  }

  @include desktop-wide {
    @include maxWidthCalculator($row-count-desktop, $swipe-remains-large);

    min-width: ($content-width - $inner-outer-padding - 2 * $gutter-padding - $swipe-remains-large) / 3; //356px = (1200 - 16 - 2*12 - 92) / 3
  }
}

.swipemod-item__title {
  margin: 0;
  padding: 16px;
  font-family: $font-regular;
  @include fontSize(16);
  color: $color-text-default;

  @include breakLongWords();
}

.swipemod-item__overline {
  margin: 0 0 4px 0;
  font-family: $font-regular;
  @include fontSize(14);
  line-height: 1.14;
  color: $color-accentuation-red;
  display: block;
}

.swipemod-imagecontainer {
  background-color: #000;
  width: 100%;
  position: relative;
}

.swipemod-imagecontainer__inner {
  padding-bottom: 56.25%;
}

.swipemod-image {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.swipemod-button {
  position: absolute;
  width: 100px;
  top: 0;
  bottom: 12px;
  display: none;
  border: 0;
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 108px;
    width: 56px;
    transform: translateY(-50%);
    background-size: 32px;
    background-position: 16px 32px;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 2px;
  }

  &:hover,
  &:focus {
    &::after {
      background-color: rgba(0, 0, 0, 0.48);
    }
  }

  &:active {
    &::after {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.swipemod-container--2ormore .swipemod-button {
  @include tablet-up {
    display: block;
    cursor: pointer;

    &::after {
      opacity: 0;
    }

    &:hover,
    &:active,
    &:focus {
      &::after {
        opacity: 1;
      }
    }
  }
}

.swipemod-button__left {
  left: -32px;

  @include desktop-wide {
    left: 0;
  }

  &::after {
    left: 0;
    background-image: url('../img/carousel/previous.svg');
    background-position: 8px 32px;
  }
}

.swipemod-button__right {
  right: -32px;

  @include desktop-wide {
    right: 0;
  }

  &::after {
    right: 0;
    background-image: url('../img/carousel/next.svg');
  }
}
